<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Firstname: <%= @params["first_name"] %></p>
  <p>Lastname: <%= @params["last_name"] %></p>
  <p>Mobile.: <%= @params["mobile"] %></p>
  <p>Email: <%= @params["email"] %></p>
  <p>Gender: <%= @params["gender"] %></p>
  <p>BirthDate: <%= @params["birthdate"] %></p>
  <p>Country: <%= @params["country"] %></p>
  <p>City: <%= @params["city"] %></p>
  <p>Address: <%= @params["address"] %></p>
  <p>Bio: <%= @params["tell_us_about_yourself"] %></p>
  <p>Contact Person In Case of Emergency: <%= @params["emergency_contact_name"] %></p>
  <p>Contact Number In Case of emergency: <%= @params["emergency_contact_number"] %></p>
</body>
</html>
