<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Firstname: <%= @params['first_name'] %></p>
  <p>Lastname: <%= @params['last_name'] %></p>
  <p>Phone no.: <%= @params['mobile'] %></p>
  <p>email: <%= @params['email'] %></p>
  <p>fb_page: <%= @params['fb_page'] %></p>
  <p>Website: <%= @params['website'] %></p>
  <p>Destination: <%= @params['destination'] %></p>
  <p>Itinerary: <%= @params['itinerary'] %></p>
  <p>Platform: <%= @params['organizer_application_platform'] %></p>
</body>
</html>
