<!DOCTYPE html>
<html lang="en">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table thead{
background-color: #f8f8f8;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tbody tr {
  background-color: #f1f1f1;
   }
</style>
</head>
<body>
<h1><strong>Trip Details</strong></h1>
<table>
  <thead>
    <th>Trip</th>
    <th>From</th>
    <th>To</th>
    <th>Rate</th>
    <th>Slots left</th>
  </thead>
  <tbody>
  <tr>
    <td><%= @event.name %></td>
    <td><%= @event.start_at.strftime("%B %d, %Y") %></td>
    <td><%= @event.end_at.strftime("%B %d, %Y") %></td>
    <td><%= @event.rate %></td>
    <td><%= @event.slots_left %></td>
  </tr>
  </tbody>
</table>
<br>
<h1><strong>Joiner Details</strong></h1>
<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Contact</th>
    <th>Payment mode</th>
  </thead>
  <tbody>
  <tr>
    <td><%= @joiner.full_name %></td>
    <td><%= @joiner.email %></td>
    <td><%= @joiner.gender %></td>
    <td><%= @joiner.address %></td>
    <td><%= @joiner.mobile %></td>
    <td><%= @payment.mode %></td>
  </tr>
  </tbody>
</table>
<%= display_invited_joiners(@payment.event_membership) %>
</body>
</html>
