<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tripkada : Trip Request</title>
</head>
<style>
  p{ margin-top: 0 }
</style>
<body>
  <label><strong>Firstname:</strong></label>
  <p><%= @params['fname'] %></p>
  <label><strong>Lastname:</strong></label>
  <p><%= @params['lname'] %></p>
  <label><strong>Cellphone Number</strong></label>
  <p><%= @params['number'] %></p>
  <label><strong>E-mail Address</strong></label>
  <p><%= @params['email'] %></p>
  <label><strong>Message</strong></label>
  <p><%= @params['message'] %></p>
  <label><strong>Platform</strong></label>
  <p><%= @params['registration_platform'] %></p>
</body>
</html>
