<!DOCTYPE html>
<html lang="en">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<%= stylesheet_link_tag("notification_mailer") %>
</head>
<body>
  <div class="logo-container">
    <div class="logo"></div>
    <p class="name">Tripkada</p>
  </div>
  <div class="email-wrapper">
    <header class="welcome-email">
      <p class="greetings">MABUHAY!</p>
    </header>
    <div class="content-container invite-joiner">
      <div class="welcome-note">
        <p>Hey Explorer!</p>
        <p><span class="highlight-text"><%= @params['referrer'] %></span> invited you to join him/her to explore the philippines with Tripkada</p>
      </div>
      <div class="welcome-note bottom">
        <p>Hop in! to explore exciting adventures and meeting new friends!</p>
        <p>Please Login using your Facebook account with using provided link below</p>
        <p>
          <%= link_to "LOGIN HERE".html_safe, user_facebook_omniauth_authorize_url(role: "from_referral", url: @params['url'], referrer_uid: @params['referrer_uid']), target: "_blank", class: 'link' %>
        </p>
      </div>
      <div class="welcome-note bottom">
        <p>For more info visit us on <a href="https://www.tripkada.com" class="link">www.tripkada.com</a></p>
        <p>Follow us on facebook! Share the fun!</p>
      </div>
    </div>
  </div>
  <footer class="footer small">
    <div class="social-links-grp">
      <p>Explore wih us through:</p>
      <ul class="links">
        <li><%= link_to image_tag("Facebook.png"),  "https://www.facebook.com/JoinTripkada/" %></li>
        <li><%= link_to image_tag("Twitter.png"),  "#" %></li>
        <li><%= link_to image_tag("Instagram.png"),  "https://www.instagram.com/tripkada/" %></li>
        <li><%= link_to image_tag("Snapchat.png"),  "#" %></li>
      </ul>
    </div>
  </footer>
</body>
</html>
