<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
  <p>Email: <%= @user.email %></p>
</body>
</html>
