<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tripkada : Trip Request</title>
</head>
<style>
  p{ margin-top: 0 }
</style>
<body>
  <label><strong>Firstname:</strong></label>
  <p><%= @params['fname'] %></p>
  <label><strong>Lastname:</strong></label>
  <p><%= @params['lname'] %></p>
  <label><strong>Cellphone Number</strong></label>
  <p><%= @params['number'] %></p>
  <label><strong>E-mail Address</strong></label>
  <p><%= @params['email'] %></p>
  <label><strong>Not sure where? Tell us what you want to do!</strong></label>
  <p><%= @params['itinerary'] %></p>
  <label><strong>When would you like to go? Departing, Returning</strong></label>
  <p><%= @params['start_end_at'] %></p>
  <label><strong>How much are you willing to spend on your accommodation?</strong></label>
  <p><%= @params['budget'] %></p>
  <label><strong>How many people are in your group? or are you traveling solo?</strong></label>
  <p><%= @params['pax'] %></p>
  <label><strong>Where are you based?</strong></label>
  <p><%= @params['address'] %></p>
  <label><strong>Device Platform</strong></label>
  <p><%= @params['platform'] %></p>
</body>
</html>
