<%= simple_form_for(@promo_code) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.label :code, "Code:", class: "input-label" %>
  <%= f.input :code, placeholder: "e.g. TR!PK4D4", label: false %>
  <p></p>
  <%= f.label :value, "Value:", class: "input-label" %>
  <%= f.input :value, placeholder: "e.g. 500", label: false %>
  <p></p>
  <%= f.label :usage_limit, "Limit:", class: "input-label"%>
  <%= f.input :usage_limit, placeholder: "e.g. 10", label: false %>
  <div class="activation">
  <p>Activate code</p>
    <div class="switch tiny">
      <%= f.check_box :active, checked: true, id: "promoCodeAvailability", class: "switch-input" %>
      <label class="switch-paddle" for="promoCodeAvailability">
        <span class="show-for-sr">Activate the code?</span>
        <span class="switch-active" aria-hidden="true">Yes</span>
        <span class="switch-inactive" aria-hidden="true">No</span>
      </label>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= f.button :submit, "Save", class: "button" %>
</div>
<% end %>
