<% if @promo_codes.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
<table class="promo-code-list">
  <thead>
    <tr>
      <th>Promo Code</th>
      <th>Value</th>
      <th>Status</th>
      <th>Usage</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @promo_codes.decorate.each do |promo_code| %>
      <tr>
        <td><%= promo_code.code %></td>
        <td><%= promo_code.value %></td>
        <td><%= promo_code.status %></td>
        <td><%= promo_code.usage_over_limit %></td>
        <td>
          <div class="button-group margin-0">
            <%= link_to icon('user'), promo_code_path(promo_code), class: "button info" %>
            <%= link_to icon('pencil'), edit_promo_code_path(promo_code), class: "button success" %>
            <%= link_to icon('trash'), promo_code, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
