<% provide(:title, "Update Promo Code") %>


<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, promo_codes_path %>
  <h1>EDIT PROMO CODE</h1>
</div>

<%= render 'form' %>
