<% provide(:title, "Promo Codes") %>

<div class="header">
  <h1>PROMO CODES</h1>
  <%= form_tag promo_codes_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off %>
  <% end %>
</div>

<div id="promoCodeLists">
  <%= render "promo_codes" %>
</div>

<div id="paginator">
  <%= paginate @promo_codes, remote: true %>
</div>

<div class="remove-file-text">
  <%= link_to 'ADD PROMO CODE', new_promo_code_path, class: "promo-code-btn new" %>
  <%= form_tag import_promo_code_path,  multipart: true do %>
    <label for="file", class="label_import">
      <span class="ion-android-upload upload-file-btn">
        <%= file_field_tag :file, id: "file_input", title: "Select CSV FILE" %>
      </span>
      <%= submit_tag "IMPORT PROMO CODE", class: "promo-code-btn import new hide", id: "import_promo", data: { disable_with: "Importing Promo Codes....." }%>
  </label>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $("#q").keyup(function() {
    $(this).closest("form").submit();
  });
</script>
