<% provide(:title, "New Promo Code") %>

<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, promo_codes_path %>
  <h1>NEW PROMO CODE</h1>
</div>

<%= render 'form' %>
<div class="remove-file-text">
  <%= form_tag import_promo_code_path, multipart: true do %>
    <label for="file">
      <span class="ion-android-upload upload-file-btn">
        <%= file_field_tag :file, id: "file_input", title: "Select CSV FILE" %>
      </span>
    <%= submit_tag "IMPORT PROMO CODE", class: "promo-code-btn import new hide", id: "import_promo", data: { disable_with: "Importing Promo Codes....." }%>
  </label>
  <% end %>
</div>
