<% provide(:title, "View Promo Code") %>

<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, promo_codes_path %>
  <h1>PROMO CODES</h1>
</div>

<div class="promo-code-usage">
  <p>
    <span>Promo Code:</span>
    <span><%= @promo_code.code %></span>
  </p>   
  <p>
    <span>Value:</span>
    <span><%= @promo_code.value %></span>
  </p>
  
  <%= link_to 'Edit', edit_promo_code_path(@promo_code), class: "promo-code-btn edit" %> 

<table>
  <thead>
    <tr>
      <th>Joiner</th>
      <th>Trip Name</th>
      <th>Rate</th>
      <th>Rate with Deduction</th>
    </tr>
  </thead>
  <tbody>
    <% @memberships.each do |em| %>
    <tr>
      <td data-tooltip class="has-tip left pointer no-border" title="<%= em.member.full_name %>">
        <%= link_to em.member.facebook_url, target: "_blank" do %>
        <div class="avatar" style="background-image:url('<%= em.member.avatar %>')"></div>
        <% end %>
      </td>
      <td><%= em.event.name %></td>
      <td><%= currency_format em.event.rate,"PHP " %></td>
      <td><%= currency_format em.payment.rate_with_promo_code_deduction,"PHP " %></td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>
