@import 'default-colors.scss';
@import 'default-font-sizes.scss';
@import 'default-mixin.scss';
@import 'ionic-icon.scss';
@import 'global.scss';

@font-face {
  font-family: "Winter Brush";
  src: font-url('Winter-Brush-Demo.otf');
}

.landing-page {
  @at-root #{&}__wrapper {
    padding: 1rem 0;
    &--fit-in-view { @extend .whole-viewport-height }
    &--no-padding { padding: 0 }
    &--bottom { @extend .half-viewport }
    &--top {
      min-height: calc(100vh - 100px);
      width: 100vw;
    }
    &--blue-background { @extend .blue-background }
    &--white-font { color: $default-white }
    &--live-your-passion { @include background-style($img: 'live-your-passion.svg') }
    &--tripkada-staff { 
      @include background-style($img: 'tripkada-staff.png');
      &--mobile { background-position-x: 80% }
    }
    &--we-grow-together { 
      @include background-style($img: 'we-grow-together.svg');
      &--mobile {
        min-height: unset;
        height: 40vh;
      }
    }
    &--flex { @extend .flex }
    @at-root #{&}__header {
      width: 100%;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &--centered { @extend .centered-text }
      @at-root #{&}__copy {
        font-weight: bold;
        margin: 0;
        &--blue { color: $default-blue }
        &--staff { 
          padding: 0 10px;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
    @at-root #{&}__content {
      @include default_page_padding;
      &--mobile {
        @include default-page-padding-mobile;
        flex-direction: column;
      }
      &--viewport-width-fit { width :100vw }
      &--viewport-fit { min-height: calc(100vh - 8rem) }
      &--column-flex {
        @extend .flex;
        justify-content: space-around;
      }
      &--no-padding { padding: 0 }
      &--row-flex {
        @extend .flex;
        flex-direction: row;
        justify-content: center;
      }
      &--with-top-margin { margin-top: 2rem }
      @at-root #{&}__container {
        width: 100vw;
        &--auto-width { width: auto }
        &--mobile {
          @include default-page-padding-mobile;
        }
        &--center { @extend .centered-text }
        &--col { 
          flex-direction: column;
          @extend .whole-viewport-width;
        }
        &--column-flex {
          @extend .flex;
          justify-content: space-between;
          text-align: center;
        }
        &--we-build-together {
          @include background-style($img: 'we-build-together.png');
          background-color: $default-blue;
        }
        &--blue-background { @extend .blue-background }
        &--two-col { width: 50vw }
        &--bottom {
          height: 370px;
          @extend .flex;
          &--mobile { 
            width: 100vw;
            height: 300px;
          }
        }
        &--with-top-bottom-margin { margin: 10px 0 1rem 0 }
        &--with-top-bottom-padding { padding: 2rem 0 }
        &--gray-background { background-color: $background-light-gray }
        &--organizer-slider {
          .slick-list { margin: 0 auto }
          .slick-arrow {
            line-height: 0;
            position: absolute;
            top: 50%;
            display: block;
            width: 40px;
            height: 40px;
            margin-top: -10px;
            cursor: pointer;
            outline: none;
            z-index: 999;
            @extend .fa-attr;
            &:before {
              font-size: 2rem;
              color: $default-white;
              -webkit-font-smoothing: antialiased; 
            }
            &.slick-next {
              right: 10px;
              &:before {
                content: '\f054';
              }
            }
            &.slick-prev {
              left: 10px;
              &:before {
                content: '\f053';
              }
            }
            &.slick-disabled:before { color: $default-light-gray }
          }
          .slick-list,
          .slick-track,
          .slick-slide {
            width: 100%;
            max-height: 300px;
          }
          @at-root #{&}__image-container {
            margin: 0 1rem;
            @at-root #{&}__image {
              width: auto; 
              &--mobile { max-height: 300px }
            }
          }
        }
        @at-root #{&}__destinations-slider {
          overflow: hidden;
          width: 60vw;
          .slick-list,
          .slick-track,
          .slick-slide {
            height: 100%;
          }
          .slick-dots {
            display: flex;
            margin: 0 auto;
            justify-content: flex-start; 
            color: transparent;
            padding: 0 1rem;
            li {
              &.slick-active button:before { color: $default-blue }
              button{
                &:before {
                  font-size: 40px;
                  content: '•';
                  text-align: center;
                  color: $default-gray;
                  -webkit-font-smoothing: antialiased;
                }
              }
            }
          }
          &--mobile {
            margin-top: 2.5rem;
            width :100vw;
            .slick-dots {
              justify-content: center; 
              margin-top: 2rem;
            }
          }
          @at-root #{&}__image-container {
            outline: none;
            @at-root #{&}__image {
              margin: 0 0.5rem;
              @include background-style;
              height: 300px;
              @extend .flex;
              border-radius: 5px;
              @at-root #{&}__label {
                margin: 0 auto;
                color: $default-white;
                font-weight: bold;
                font-family: 'Winter Brush', sans-serif;
                font-size: 2rem;
              }
            }
          }
        }
        @at-root #{&}__image {
          height: 400px;
          &--align-right { float: right }
        }
        @at-root #{&}__body {
          width: 70vw;
          margin: 0 auto;
          &--mobile { 
            width: auto;
            text-align: center;
          }
        }
        @at-root #{&}__details {
          margin-bottom: 2rem;
          &--with-top-bottom-margin { margin: 2rem 0 }
          &--destinations-copy { 
            width: 40vw;
            text-align: left;
          }
          &--destinations-copy-mobile { 
            @extend .whole-viewport-width;
            @extend .centered-text;
          }
          &--single-col {
            color: $default-white;
            @include default-page-padding;
            margin: 0;
            @at-root #{&}__header { font-weight: bold }
            @at-root #{&}__copy { margin: 2rem 0 }
            &--mobile { @include default-page-padding-mobile }
            &--mobile-with-padding {
              padding-top: 2rem;
              padding-bottom: 2rem;
            }
          }
          &--three-col {
            width: 30vw;
            min-height: 260px;
            max-height: 300px;
            &--mobile { 
              width: auto;
              min-height: unset;
              max-height: unset;
            }
            @at-root #{&}__features-container {
              margin-bottom: 2rem;
              @at-root #{&}__image { height: 7rem }
              @at-root #{&}__label { font-weight: bold }
              @at-root #{&}__copy {
                min-width: 80%;
                max-width: 90%;
                margin: 0 auto;
              }
            }
          }
          @at-root #{&}__header-copy {
            line-height: 2rem;
            &--mobile { margin: 0 }
            &--bold { font-weight: bold }
            &--blue-font { color: $default-blue }
          }
          @at-root #{&}__text-container {
            margin: 2rem 0;
            @at-root #{&}__copy { 
              margin-bottom: 0; 
              &--black-font { color: $default-black }
            }
          }
        }
        @at-root #{&}__join-btn-container {
          @at-root #{&}__link {
            background-color: $default-btn;
            outline: none;
            width: 15rem;
            font-weight: bold;
            margin-bottom: 0;
            border-radius: 7px;
            &:hover, &:visited { 
              background-color: $default-btn-hover;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
