<% unless @events.blank? %>
  <table class="payment-table">
    <thead>
      <tr>
        <th></th>
        <th>Trips Name</th>
        <th>Trip Start Date</th>
        <th>Trip End Date</th>
        <th class="center">Featured Trips</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each_with_index do |event, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to event.name, get_event_path(event) %></td>
        <td><%= month_day_year_format event.start_at %></td>
        <td><%= month_day_year_format event.end_at %></td>
        <td class="center"><%= check_box_tag "featured_#{event.id}", 'yes', (true unless event.featured_at.nil?) , onclick: "featureAction(this);"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span class="alert label">No found match.</span>
<% end %>
