<table class="trip-members">
  <thead>
    <th>Joiners</th>
    <th>Payment Mode</th>
    <th>Proof of Payment</th>
    <th>Invited Joiners</th>
    <th>Payment Mode</th>
    <th>Promo Code</th>
    <th>Transaction ID</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @members.each_with_index do |em, i| %>
      <tr>
        <td><span class="item-no"><%= i + 1 %></span><%= link_to "#{em.member.decorate.full_name}", user_info_path(:user => em.member.id), remote: true %></td>
        <td class="<%= em.payment.made %>"><%= em.payment.made %></td>
        <td class="has-100px-width">
          <% em.payment.payment_photos.each do |p|%>
            <%= link_to image_tag(p.image.url(:thumb)), p.image.url(:xlarge), "data-lightbox" => "image-#{em.member.uid}" %>
          <% end %>
        </td>
        <td class="has-20vw-width">
          <% em.invited_members.each do |member| %>
            <span><%= member.decorate.full_name %></span>
          <% end %>
        </td>
        <td>
          <%= em.payment.mode %>
        </td>
        <td>
          <%= em.payment.promo_code_in_words %>
        </td>
        <td>
          <%= em.payment.transaction_id %>
        </td>
        <td>
          <%= link_to "#", "data-open" => "confirmDelete#{em.id}", title: "Remove Joiner" do |x| %>
            <span class="trash-event ion-trash-b remove-btn"></span>
          <% end %>
          <div class="reveal custom-modal-with-header tiny delete-trip-modal" id="confirmDelete<%= em.id %>" data-reveal>
            <h5>REMOVE</h5>
            <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
            <p>Are you sure you want to remove this joiner?</p>
            <%= link_to remove_joiner_path(id: em), method: :delete do %>
              <button class="remove-joiner"></span> CONFIRM
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    <div id="userInfoPopUp"></div>
  </tbody>
</table>
