<% provide(:title, "Admin View Trip") %>
<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, root_path %>
  <h1>Trips</h1>
</div>
<div class="trip-detail-container">
  <strong>Details</strong>
  <table class="trip-detail">
    <tr>
      <td>Organizer:</td>
      <td><%= @event.owner.decorate.full_name %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <td>From:</td>
      <td><%= month_day_year_format @event.start_at.localtime %></td>
    </tr>
    <tr>
      <td>To:</td>
      <td><%= month_day_year_format @event.end_at.localtime %></td>
    </tr>
    <tr class="trip-images">
      <td>Images:</td>
      <% @event.photos.each do |photo| %>
        <td class="image-container"><%= image_tag(photo.image(:xlarge), class: "image") %></td>
      <% end %>
    </tr>
    <tr>
      <td>URL:</td>
      <td colspan="4">
        <span><%= trip_view_url(@event) %></span>
      </td>
    </tr>
    <% if @event.sponsors.present? %>
      <tr class="trip-images">
        <td>Sponsored By:</td>
        <td class="image-container">
          <span><%= image_tag(@event.decorate.brand_sponsor_logo_url, class: "image") %></span>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="actions">
    <%= link_to "EDIT", organizer_trip_edit_path(@event), class: "button primary actions__edit-btn" %>
    <%= button_tag "DELETE", class: "button alert actions__delete-btn", "data-open" => "confirmDelete" %>
  </div>
  <% if @members.blank? %>
    <span class="alert label">No joiners found.</span>
  <% else %>
    <%= render "joiners" %>
  <% end %>
</div>
<div class="reveal custom-modal-with-header tiny delete-trip-modal" id="confirmDelete" data-reveal>
  <h5>DELETE</h5>
  <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
  <p>Are you sure you want to delete this trip?</p>
  <%= button_to organizer_trips_path(@event), method: :delete, class: "delete-btn", data: { disable_with: "Processing request...." } do %>
    <span class="delete-btn__icon trash-event ion-trash-b"></span> CONFIRM
  <% end %>
</div>
