<% provide(:title, "Admin Dashboard") %>


<div class="header">
  <h1>TRIPS</h1>
  <%= form_tag admin_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>

<div id="eventLists">
  <%= render "events" %>
</div>

<div id="paginator">
  <%= paginate @events, remote: true %>
</div>
