<footer class="main-footer">
  <div>
  <%=render_navigation(context: :footer, expand_all: true) %>
  <p class="copy"><%= icon "copyright" %> 2016 Tripkada, Part of FlipTrip Travels, Inc.</p>
  </div>
  <div class="social-links-grp">
    <p>Explore wih us through:</p>
    <ul class="links">
      <li><%= link_to icon("facebook"),  "https://www.facebook.com/JoinTripkada/" %></li>
      <li><%= link_to icon("twitter"),  "#" %></li>
      <li><%= link_to icon("instagram"),  "https://www.instagram.com/tripkada/" %></li>
    </ul>
  </div>
</footer>
