<nav class="main-nav">
  <div class="logo-grp">
    <%= link_to root_url do %>
      <%= image_tag "tripkada-logo-new.png" %>
    <% end %>
  </div>
  <%= render_navigation(context: :main, expand_all: true) %>
</nav>
<% if user_signed_in? %>
  <%= render partial: 'shared/edit_profile_form', locals: { reveal_id: 'editDetailModal' } %>

  <%= render partial: 'shared/referral_modal' %>
<% else %>
  <div class="reveal tiny tripkada-modal tripkada-login" id="loginModal" data-reveal>
    <%= generate_login_signup_link_home(label: "LOGIN") %>
  </div>
  <div class="reveal tiny tripkada-modal tripkada-login" id="sign-upModal" data-reveal>
    <%= generate_login_signup_link_home(label: "SIGN UP") %>
  </div>
<% end %>
