<nav class="mobile-nav">
  <div class="logo">
    <%= link_to root_url do %>
      <%= image_tag "tripkada-logo-new.png" %>
    <% end %>
  </div>
  <div class="notification-alert-main" id="notification-count-main" <%= "hidden" if users_notification_empty? %>>
    <%= link_to users_notification_count_string, notifications_path %>
  </div>
   <div class="collapsible-container main-mobile" data-responsive-toggle="nav-content" data-hide-for="xxlarge">
    <button class="menu-icon toggle-btn" type="button" data-toggle data-open="content-modal"></button>
  </div>
</nav>
<div class="content-modal reveal" id="content-modal" data-reveal>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <ul id='content-modal'>
    <%=render_navigation(context: :main, expand_all: true) %>
  </ul>
</div>

<% if user_signed_in? %>
  <%= render partial: 'shared/edit_profile_form', locals: { reveal_id: 'editDetailModal' } %>
  <%= render partial: 'shared/referral_modal' %>
<% else %>
  <div class="reveal tiny login-modal tripkada-login" id="loginModal" data-reveal>
    <%= generate_login_signup_link_home(label: "LOGIN") %>
  </div>
  <div class="reveal tiny login-modal tripkada-login" id="sign-upModal" data-reveal>
    <%= generate_login_signup_link_home(label: "SIGN UP") %>
  </div>
<% end %>
