<% provide(:title, "Error 404") %>
<div class="custom-error-wrapper">
  <div class="custom-error-container">
    <div class="custom-error-content mobile">
      <div class="tripkada-logo-container">
        <%= image_tag "new-logo.png", class: "logo-tripkada" %>
        <p class="tripkada-text">Tripkada</p>
      </div>
      <div class="error-container">
        <%= image_tag "logo-404.png", class: "logo-404" %>
        <p class="error-description">Something's wrong here....</p>
        <p class="error-description">head back to <%= link_to "home.", root_path, class: 'home-link'%></p>
      </div>
    </div>
  </div>
</div>