<div class="notice-avatar-container">
  <div class="joiner-avatar-container">
    <ul class="joiner">
      <% event.first_three_members.each do |u| %>
        <li><div style="background-image: url(<%= avatar_url_for(u) %>)"></div></li>
      <% end %>
      <li>
        <div class="reveal custom-modal-with-header event-member-list tiny" id="membersOfTrip<%= event.slug %>" data-reveal>
          <header>
            <span>Joiner</span>
            <button class="close-button" data-close aria-label="Close modal" type="button"></button>
          </header>
          <ul>
            <% event.valid_memberships.each do |membership| %>
              <li>
              <div class="avatar" style="background-image: url(<%= avatar_url_for(membership.member) %>"></div>
                <div class="name-and-status">
                  <p><%= membership.member.full_name %></p>
                  <%= status_with_icon membership %>
                </div>
                <span class="ion-chatbox"></span>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
    <%= generate_event_details(event) %>
  </div>
</div>
