<nav class="top-nav">
  <div class="logo-col">
    <%=tabs_tag do |tab| %>
      <%=tab.home "#{image_tag('tripkada-logo-new-2.png',class: 'logo')}".html_safe, root_path %>
    <% end %>
  </div>
  <div class="header-link-col">
    <%=render_navigation(context: :event, expand_all: true) %>
    <% if user_signed_in? %>
      <%= render partial: 'shared/edit_profile_form', locals: { reveal_id: 'editDetailModal' } %>
    <% end %>
  </div>
</nav>
<div class='reveal fb-login-modal custom-modal-with-header' id='loginModal' data-reveal>
  <header class='login-header'>
    <span>LOGIN</span>
    <button class='close-button ion-android-close' data-close aria-label='Close modal' type='button'></button>
  </header>
  <p>To proceed on joining the trip, login with</p>
  <p>your Facebook account</p>
  <center>
    <%= link_to "<span class='ion-social-facebook'></span><span class='text'>LOGIN WITH FACEBOOK</span>".html_safe, user_facebook_omniauth_authorize_path(role: "joiner", url: request.url), class: 'fb-login' %>
  </center>
</div>
