<% provide(:title, "Filters") %>
<div class="messenger">
  <p class="messenger__bubble messenger__bubble--top-left messenger__bubble--top-right messenger__bubble--bottom-right">Hi <%=@fbuser_obj.fetch('first_name') %>!, where do you want to go on your next trip?</p>
  <div class="messenger__container">
    <h3 class="messenger__filter_title">Destination</h3>
    <div class="messenger__input_container">
      <ul class="messenger__input_menu">
        <% @destinations.each do |destination| %>
        <li>
          <label for="destination_id_<%=destination.id%>">
            <span class="messenger__circle_box"></span>
            <input type="checkbox" class= "destination-chkbox" name="destination_ids[]" value="<%=destination.id%>" id="destination_id_<%=destination.id%>" >
            <span><%=destination.name%></span>
            <span class="ion-android-star input_menu_icon"></span>
          </label>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="messenger__bottom_buttons">
    <button class="messenger__filter_submit">Search <span class="ion-android-send"></span></button>
  </div>

</div>
<script type='text/javascript'>
var fbObjectId = "<%= params[:fbuser_obj_id]%>";
var fbObject = null;
window.extAsyncInit = function() {
  // the Messenger Extensions JS SDK is done loading
  console.log("success messenger extension initialization");
  MessengerExtensions.getUserID(function success(uids) {
    // User ID was successfully obtained.
    fbObjectId = uids.psid;
    var fb_params = { access_token: "<%= ENV['FB_PAGE_ACCESS_TOKEN'] %>" }
    FB.api('/'+fbObjectId, 'GET', fb_params, function(response) {
      if(response.error) {
        alert(response.error["message"]);
      }else {
        //$('#user_first_name').html(response.first_name);
      }
    });
  }, function error(err, errorMessage) {
    // Error handling code
  });
};

//Messenger extension SDK
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));

window.fbAsyncInit = function() {
  FB.init({
    appId            : <%= ENV['FB_APP_ID'] %>,
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v2.10'
  });
  FB.AppEvents.logPageView();
};

//FB SDK
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type='text/javascript'>
  $(".destination-chkbox").change(function() {
    var span_circle = $(this).prev(".messenger__circle_box");
    span_circle.toggleClass( "messenger__circle_box--uncheck", this.checked );

    var span_star = $(this).next("span").next(".input_menu_icon");

    span_star.toggleClass("ion-android-star ion-android-star-outline");
  }).change();

  $(".messenger__filter_submit").one( "click", function() {
    var queryString = "";

    //destination
    $(":input.destination-chkbox:checked").each(function(){
      queryString += ('&destination_ids[]=' + $(this).val());
    });

    //global var fbObjectId here is in the messenger_extension.js.erb
    queryString += '&fbuser_obj_id=' + fbObjectId;
    console.log(queryString);
    $.ajax({
      type: "GET",
      url: "/messenger_webview/filtered_events?" + queryString,
      beforeSend: function () {
        MessengerExtensions.requestCloseBrowser(function success() {}, function error(err) {});
      },
      success: function(){
        MessengerExtensions.requestCloseBrowser(function success() {}, function error(err) {});
      }
    });

  });
</script>
