<% provide(:title, "Filters") %>
<div class="messenger">
  <div class="messenger__container">
    <h3 class="messenger__filter_title">Months</h3>
    <div class="messenger__input_container messenger__container--flex">
      <span class="messenger__indicator">From</span>
      <input type="text" id="start_date" name="start_date" readonly class="monthPicker month-select start messenger__input_text messenger__input_text--date" value="<%=@first_upcoming_event.digit_start_date%>"/>
      <span class="messenger__indicator">To</span>
      <input type="text" id="end_date" name="end_date" readonly class="monthPicker month-select end messenger__input_text messenger__input_text--date" value="<%=@last_upcoming_event.digit_start_date%>" />
    </div>
  </div>

  <div class="messenger__container">
    <h3 class="messenger__filter_title">Price</h3>
    <div class="messenger__input_container">
      <div class="messenger__selection_tabs">
        <input type="radio" name="price" id="price-none" value="" checked><label for="price-none" class="label_active"> None</label>
        <input type="radio" name="price" id="price-low" value="low"><label for="price-low"> Low</label>
        <input type="radio" name="price" id="price-high" value="high"><label for="price-high"> High</label>
      </div>
    </div>
  </div>

  <div class="messenger__container">
    <h3 class="messenger__filter_title">Activiy</h3>
    <div class="messenger__input_container">
      <ul class="messenger__input_menu">
        <% @categories.each do |category| %>
        <li>
          <label for="category_id_<%=category.id%>">
            <span class="messenger__circle_box"></span>
            <input type="checkbox" class= "category-chkbox" name="category_ids[]" value="<%=category.id%>" id="category_id_<%=category.id%>" >
            <span><%=category.name%></span>
            <span class="ion-android-star input_menu_icon"></span>
          </label>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="messenger__container">
    <h3 class="messenger__filter_title">Destination</h3>
    <div class="messenger__input_container">
      <ul class="messenger__input_menu">
        <% @destinations.each do |destination| %>
        <li>
          <label for="destination_id_<%=destination.id%>">
            <span class="messenger__circle_box"></span>
            <input type="checkbox" class= "destination-chkbox" name="destination_ids[]" value="<%=destination.id%>" id="destination_id_<%=destination.id%>" >
            <span><%=destination.name%></span>
            <span class="ion-android-star input_menu_icon"></span>
          </label>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="messenger__container">
    <h3 class="messenger__filter_title">Cost Range</h3>
    <div class="messenger__input_container">
      <div class="messenger__input_range">
        <div class="messenger__indicator--clear">
          <span class="range_min">P <%= @min_cost %></span> - <span class="range_max">P <%= @max_cost %></span>
        </div>
        <div class="rangeslider cost-range">
            <input class="min" name="min_cost_range" type="range" min="<%= @min_cost %>" max="<%= @max_cost %>" value="<%= @min_cost %>" />
            <input class="max" name="max_cost_range" type="range" min="<%= @min_cost %>" max="<%= @max_cost %>" value="<%= @max_cost %>" />
            <span class="range_min left">P <%= @min_cost %></span>
            <span class="range_max right">P <%= @max_cost %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="messenger__container">
    <h3 class="messenger__filter_title">Days Range</h3>
    <div class="messenger__input_container">
      <div class="messenger__input_range">
        <div class="messenger__indicator--clear">
          <span class="range_min">P <%= @min_days %></span> - <span class="range_max">P <%= @max_days %></span>
        </div>
        <div class="rangeslider days-range">
            <input class="min" name="min_days_range" type="range" min="<%= @min_days %>" max="<%= @max_days %>" value="<%= @min_days %>" />
            <input class="max" name="max_days_range" type="range" min="<%= @min_days %>" max="<%= @max_days %>" value="<%= @max_days %>" />
            <span class="range_min left">P <%= @min_days %></span>
            <span class="range_max right">P <%= @max_days %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="messenger__bottom_buttons">
    <button class="messenger__filter_submit">Search <span class="ion-android-send"></span></button>
  </div>

</div>

<script type='text/javascript'>
var fbObjectId = "<%= params[:fbuser_obj_id]%>";
var fbObject = null;
window.extAsyncInit = function() {
  // the Messenger Extensions JS SDK is done loading
  console.log("success messenger extension initialization");
  MessengerExtensions.getUserID(function success(uids) {
    // User ID was successfully obtained.
    fbObjectId = uids.psid;
    var fb_params = { access_token: "<%= ENV['FB_PAGE_ACCESS_TOKEN'] %>" }
    FB.api('/'+fbObjectId, 'GET', fb_params, function(response) {
      if(response.error) {
        alert(response.error["message"]);
      }else {
        //$('#user_first_name').html(response.first_name);
      }
    });
  }, function error(err, errorMessage) {
    // Error handling code
  });
};

//Messenger extension SDK
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));

window.fbAsyncInit = function() {
  FB.init({
    appId            : <%= ENV['FB_APP_ID'] %>,
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v2.10'
  });
  FB.AppEvents.logPageView();
};

//FB SDK
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript">

function rangeInputChangeEventHandler(e){
  var rangeGroup = $(this).prop('name'),
      minBtn = $(this).parent().children('.min'),
      maxBtn = $(this).parent().children('.max'),
      top_range_min = $(this).parent().prev('div').children('.range_min'),
      top_range_max = $(this).parent().prev('div').children('.range_max'),
      range_min = $(this).parent().children('.range_min'),
      range_max = $(this).parent().children('.range_max'),
      minVal = parseInt($(minBtn).val()),
      maxVal = parseInt($(maxBtn).val()),
      origin = $(this).context.className;

  // var minBtnVal = minBtn.val()/100;
  // var maxBtnVal = minBtn.val()/100;
  // $(this)
  //   .css('background', "-moz-linear-gradient(left,  #9ba3a9 0%, #9ba3a9 "+ minBtnVal +"%, #1787FB "+ maxBtnVal +"%, #9ba3a9 100%)")
  //   .css('background', "-webkit-gradient(linear, left top, right top, color-stop(0%,#9ba3a9), color-stop("+ minBtnVal +"%,#9ba3a9), color-stop("+ maxBtnVal +"%,#1787FB), color-stop(100%,#9ba3a9))")
  //   .css('background', "-webkit-linear-gradient(left,  #9ba3a9 0%,#9ba3a9 "+ minBtnVal +"%,#1787FB "+ maxBtnVal +"%,#9ba3a9 100%)")
  //   .css('background', "-o-linear-gradient(left,  #9ba3a9 0%,#9ba3a9 "+ minBtnVal +"%,#1787FB "+ maxBtnVal +"%,#9ba3a9 100%)")
  //   .css('background', "-ms-linear-gradient(left,  #9ba3a9 0%,#9ba3a9 "+ minBtnVal +"%,#1787FB "+ maxBtnVal +"%,#9ba3a9 100%)")
  //   .css('background', "linear-gradient(to right,  #9ba3a9 0%,#9ba3a9 "+ minBtnVal +"%,#1787FB "+ maxBtnVal +"%,#9ba3a9 100%)");

  var difference = $(this).prop('max') * .001;
  if(origin === 'min' && minVal > maxVal-difference){
    $(minBtn).val(maxVal-difference);
  }
  var minVal = parseInt($(minBtn).val());
  $(top_range_min).html("P "+minVal);
  $(range_min).html("P "+minVal);

  if(origin === 'max' && maxVal-difference < minVal){
     $(maxBtn).val(difference+ minVal);
  }
  var maxVal = parseInt($(maxBtn).val());
  $(top_range_max).html("P "+maxVal);
  $(range_max).html("P "+maxVal);
}

$('input[type="range"]').on( 'input', rangeInputChangeEventHandler);
</script>

<script type='text/javascript'>
  $(".category-chkbox").change(function() {
    var span_circle = $(this).prev(".messenger__circle_box");
    span_circle.toggleClass( "messenger__circle_box--uncheck", this.checked );

    var span_star = $(this).next("span").next(".input_menu_icon");

    span_star.toggleClass("ion-android-star ion-android-star-outline");
  }).change();

  $(".destination-chkbox").change(function() {
    var span_circle = $(this).prev(".messenger__circle_box");
    span_circle.toggleClass( "messenger__circle_box--uncheck", this.checked );

    var span_star = $(this).next("span").next(".input_menu_icon");
    span_star.toggleClass("ion-android-star ion-android-star-outline");
  }).change();

  //Price
  $('input[name=price]:radio').change(function() {
    $('input[name=price]:radio').each(function () {
      $(this).next().removeClass( "label_active" );
    });

    $(this).next().addClass( "label_active" );
  });


  //Month Picker
  var minDate = "<%= @first_upcoming_event.digit_start_date %>",
      maxDate = "<%= @last_upcoming_event.digit_start_date %>";

  $(".monthPicker").datepicker({
    format: 'mm/dd/yyyy',
    startDate: minDate,
    endDate: maxDate,
    autoHide: true,
  });

  $(".messenger__filter_submit").one( "click", function() {
    var queryString = "";
    //month
    var startMonth = $(":input.month-select.start").val();
    var endMonth = $(":input.month-select.end").val();
    if(startMonth) { queryString += ('&start_date=' + startMonth); }
    if(endMonth) { queryString += ('&end_date=' + endMonth); }

    //price
    var price = $("input[name=price]:checked").val();
    if(price) { queryString += ('&price=' + price); }

    //activity
    $(":input.category-chkbox:checked").each(function(){
      queryString += ('&category_ids[]=' + $(this).val());
    });

    //destination
    $(":input.destination-chkbox:checked").each(function(){
      queryString += ('&destination_ids[]=' + $(this).val());
    });

    //costs
    var minCost = $("input[name=min_cost_range]").val();
    var maxCost = $("input[name=max_cost_range]").val();
    queryString += ('&min_cost=' + minCost);
    queryString += ('&max_cost=' + maxCost);

    //days
    var minDays = $("input[name=min_days_range]").val();
    var maxDays = $("input[name=max_days_range]").val();
    queryString += ('&min_days=' + minDays);
    queryString += ('&max_days=' + maxDays);

    //global var fbObjectId here is in the messenger_extension.js.erb
    queryString += '&fbuser_obj_id=' + fbObjectId;
    console.log(queryString);
    $.ajax({
      type: "GET",
      url: "/messenger_webview/filtered_events?" + queryString,
      beforeSend: function () {
        MessengerExtensions.requestCloseBrowser(function success() {}, function error(err) {});
      },
      success: function(){
        MessengerExtensions.requestCloseBrowser(function success() {}, function error(err) {});
      }
    });

  });
</script>
