<% provide(:title, "Filters") %>
<div class="messenger">
  <p class="messenger__bubble messenger__bubble--top-left messenger__bubble--top-right messenger__bubble--bottom-right">Hi <%=@fbuser_obj.fetch('first_name') %>!, when are you planning to have your next trip?</p>
  <div class="messenger__container">
    <h3 class="messenger__filter_title">Months</h3>
    <div class="messenger__input_container messenger__container--flex">
      <span class="messenger__indicator">From</span>
      <input type="text" id="start_date" name="start_date" readonly class="monthPicker month-select start messenger__input_text messenger__input_text--date" value="<%=@first_upcoming_event.digit_start_date%>"/>
      <span class="messenger__indicator">To</span>
      <input type="text" id="end_date" name="end_date" readonly class="monthPicker month-select end messenger__input_text messenger__input_text--date" value="<%=@last_upcoming_event.digit_start_date%>" />
    </div>
  </div>

  <div class="messenger__bottom_buttons">
    <button class="messenger__filter_submit">Search <span class="ion-android-send"></span></button>
  </div>

</div>
<script type='text/javascript'>
  var fbObjectId = "<%= params[:fbuser_obj_id]%>";
  var fbObject = null;
  window.extAsyncInit = function() {
    // the Messenger Extensions JS SDK is done loading
    console.log("success messenger extension initialization");
    MessengerExtensions.getUserID(function success(uids) {
      // User ID was successfully obtained.
      fbObjectId = uids.psid;
      var fb_params = { access_token: "<%= ENV['FB_PAGE_ACCESS_TOKEN'] %>" }
      FB.api('/'+fbObjectId, 'GET', fb_params, function(response) {
        if(response.error) {
          alert(response.error["message"]);
        }else {
          //$('#user_first_name').html(response.first_name);
        }
      });
    }, function error(err, errorMessage) {
      // Error handling code
    });
  };

  //Messenger extension SDK
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));

  window.fbAsyncInit = function() {
    FB.init({
      appId            : <%= ENV['FB_APP_ID'] %>,
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  //FB SDK
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<script type='text/javascript'>
  //Month Picker
  var minDate = "<%= @first_upcoming_event.digit_start_date %>",
      maxDate = "<%= @last_upcoming_event.digit_start_date %>";

  $(".monthPicker").datepicker({
    format: 'mm/dd/yyyy',
    startDate: minDate,
    endDate: maxDate,
    autoHide: true,
  });

  $(".messenger__filter_submit").one( "click", function() {
    var queryString = "";
    //month
    var startMonth = $(":input.month-select.start").val();
    var endMonth = $(":input.month-select.end").val();
    if(startMonth) { queryString += ('&start_date=' + startMonth); }
    if(endMonth) { queryString += ('&end_date=' + endMonth); }

    //global var fbObjectId here is in the messenger_extension.js.erb
    queryString += '&fbuser_obj_id=' + fbObjectId;
    console.log(queryString);
    $.ajax({
      type: "GET",
      url: "/messenger_webview/filtered_events?" + queryString,
      beforeSend: function () {
        MessengerExtensions.requestCloseBrowser(function success() {}, function error(err) {});
      },
      success: function(){
        MessengerExtensions.requestCloseBrowser(function success() {}, function error(err) {});
      }
    });

  });
</script>
