<footer class="footer">
  <div class="social-links-grp">
    <p>Explore wih us through:</p>
    <ul class="links">
      <li><%= link_to image_tag("Facebook.png"),  "https://www.facebook.com/JoinTripkada/" %></li>
      <li><%= link_to image_tag("Twitter.png"),  "#" %></li>
      <li><%= link_to image_tag("Instagram.png"),  "https://www.instagram.com/tripkada/" %></li>
      <li><%= link_to image_tag("Snapchat.png"),  "#" %></li>
    </ul>
  </div>
</footer>
