<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY, <%= @organizer.first_name %>!</p>
        <p class="info">Congratulations! You got a booking for <span class="highlight-bold"><%= @event.name %></span> this coming</p>
        <p class="info"><span class="highlight-bold"><%= @event.start_month_day_year %></span>.</p>
        <p>Thank you for traveling with Tripkada!</p>
      </header>
      <div class="content-container">
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">JOINER DETAILS</h3>
            <p>Your Joiner, <span class="highlight-text highlight-bold"><%= @joiner.decorate.full_name %></span></p>
            <p>Will meet you at <span class="highlight-text highlight-bold"><%= @event.meeting_place %></span></p>
            <p>On <span class="highlight-text highlight-bold"><%= @event.start_month_day_year %></span></p>
            <p>At <span class="highlight-text highlight-bold"><%= @event.start_time %></span>.</p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">PAYMENT</h3>
            <p>
              S/he has deposited the downpayment of 
              <span class="highlight-bold highlight-text">
                <%= number_to_currency(@payment.calculate_payment_made, unit: "Php") %>
              </span>
              <%= with_invited_joiners(@payment) %>
            </p>
            <p>This will be deposited to your registered bank account on <span class="highlight-bold highlight-text">Php</span> <span class="highlight-text highlight-bold"><%= @event.remittance_date %></span></p>
          </div>
          <div class="trip-info">
            <p>You will receive the remaining balance of <span class="highlight-text highlight-bold"><%= number_to_currency(@payment.remaining_balance, unit: "Php") %></span> upon meetup.</p>
            <%= with_promo_code(@payment) %>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">IMPORTANT REMINDER</h3>
            <p>Don’t forget to share your travels and use the hashtag <span class="highlight-hashtag">#Tripkada</span>, to spread some</p>
            <p>FOMO-inducing good vibes!</p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">CANCELLATION POLICY</h3>
            <p>Your down-payment is the joiner’s commitment to not be a flaker. This is very important to us</p>
            <p>travelers! BUT if it is absolutely necessary for him/her to cancel his/her trip, the</p>
            <p>down-payment is NON-REFUNDABLE. It is, however, TRANSFERRABLE at least 48 hours</p>
            <p>prior to the departure time of the trip.</p>
          </div>
          <div class="trip-info">
            <p>In the event of a transfer of slot, Tripkada will notify you of the details for your new joiner.</p>
          </div>
          <div class="trip-info">
            <p>No-Shows automatically forfeit their downpayment.</p>
          </div>
          <div class="trip-info">
            <p>In the event that there are outside factors beyond the Trip Organizer’s control, such as </p>
            <p>weather, calamities, political instability, and security threats, prevent the group from</p>
            <p>continuing with the trip, please notify Tripkada ASAP via email.</p>
          </div>
        </div>
        <div class="info-bottom">
          <div class="info">
            <p>For any further questions, suggestions, and/or concerns, please feel free to</p>
            <p>contact #Tripkada. You may reach us via the email (join@tripkada.com) or via </p>
            <p>call/text (+63 977 256 5410 or +63 999 601 1444). You also check out our FAQ</p>
            <p>FAQ for more details.</p>
          </div>
          <div class="info">
            <p>With that, maraming salamat for traveling with Tripkada! Happy travels!</p>
          </div>
          <div class="info">
            <p>#Tripkada</p>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
