<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY, <%= @joiner.first_name %>!</p>
        <p class="info">Congratulations! Your reservation for <span class="highlight-bold"><%= @event.name %></span> this coming</p>
        <p class="info"><span class="highlight-bold"><%= @event.start_month_day_year %></span>  has been confirmed.</p>
        <p>Thank you for traveling with Tripkada!</p>
      </header>
      <div class="content-container">
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">TRIP DETAILS</h3>
            <p>Your Trip Organizer, <span class="highlight-text highlight-bold"><%= @event.owner.decorate.full_name %></span></p>
            <p>Will meet you at <span class="highlight-text highlight-bold"><%= @event.meeting_place %></span></p>
            <p>On <span class="highlight-text highlight-bold"><%= @event.start_month_day_year %></span></p>
            <p>At <span class="highlight-text highlight-bold"><%= @event.start_time %></span>.</p>
          </div>
          <div class="trip-info">
            <p>Late comers and no-shows will have to waive their payment for the trip.</p>
            <p>Trips must leave on-time.</p>
          </div>
          <div class="trip-info">
            <p>If you have any questions for your Trip Organizer, You can contact him/her by call/text via <%= @event.owner.mobile %></p>
          </div>
          <div class="trip-info">
            <p>
              You have deposited the down-payment of 
              <span class="highlight-bold highlight-text">
                <%= number_to_currency(@payment.calculate_payment_made, unit: "Php") %>
              </span> 
              <%= with_invited_joiners(@payment) %>
            </p>
            <p>
              You must settle the remaining balance of 
              <span class="highlight-text highlight-bold">
                <%= number_to_currency(@payment.remaining_balance, unit: "Php") %>
              </span>
              <%= with_invited_joiners(@payment) %>
            </p>
              <%= with_promo_code(@payment) %>
            <p>directly with the Trip Organizer upon meet-up.</p>
          </div>
          <div class="trip-info">
            <p>If you have any questions for your Trip Organizer,</p>
            <p>You can contact him/her by call/text via <span class="highlight-text"><%= @event.owner.mobile %></span></p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">PAYMENT</h3>
            <p>Your remaining balance must be settled in <span class="highlight-text highlight-bold">CASH</span> directly to the Trip Organizer</p>
            <p>upon meet up.</p>
          </div>
          <div class="trip-info">
            <p>No payment, no trip.</p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">IMPORTANT REMINDER</h3>
            <p>Don’t forget to share your travels and use the hashtag <span class="highlight-hashtag">#Tripkada</span>, to spread some</p>
            <p>FOMO-inducing good vibes!</p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">CANCELLATION POLICY</h3>
            <p>Your down-payment is your commitment to not be a flaker. This is very important to us</p>
            <p>travelers! BUT if it is absolutely necessary for you to cancel your trip, your</p>
            <p>down-payment is NON-REFUNDABLE. It is, however, TRANSFERRABLE at least 24 hours</p>
            <p>prior to the departure time of the trip. It’s very important to fulfill the down-payment,</p>
            <p>because this will ensure that arrangements for the whole group can be secured by the</p>
            <p>Trip Organizer. You may follow the instructions here <%= link_to "Request to Transfer Slot", "#", class: "link" %> to transfer your slot.</p>
          </div>
          <div class="trip-info">
            <p>No-Shows automatically forfeit their down-payment.</p>
          </div>
          <div class="trip-info">
            <p>In the event that there are outside factors beyond the Trip Organizer’s control, such as </p>
            <p>weather, calamities, political instability, and security threats, prevent the group from</p>
            <p>continuing with the trip, it will be under the prerogative of the Trip Organizer to</p>
            <p>determine if the Trip should be canceled or not.</p>
          </div>
          <div class="trip-info">
            <p>Please note that you are contracting with the Trip Organizer in respect of your </p>
            <p>reservation, and not with Tripkada. Tripkada is facilitating your contract with the Trip</p>
            <p>Organizer through use of its booking system.</p>
          </div>
          <div class="trip-info">
            <p>You may review the complete details of our Cancellation Policies here <%= link_to "FAQ", "#", class: "link" %>.</p>
          </div>
        </div>
        <div class="info-bottom">
          <div class="info">
            <p>You may check out more of your trip details on the attached file and via the Trip</p>
            <p>Page on this link: <a href="https://www.tripkada.com/trips" class="trips">TRIP PAGE</a></p>
          </div>
          <div class="info">
            <p>For any further questions, suggestions, and/or concerns, please feel free to</p>
            <p>contact #Tripkada. You may reach us via the email (join@tripkada.com) or via </p>
            <p>call/text (+63 977 256 5410 or +63 999 601 1444). You also check out our FAQ</p>
            <p>FAQ for more details.</p>
          </div>
          <div class="info">
            <p>With that, maraming salamat for traveling with Tripkada! Happy travels!</p>
          </div>
          <div class="info">
            <p>#Tripkada</p>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
