<!DOCTYPE html>
<html lang="en">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<%= stylesheet_link_tag("notification_mailer") %>
</head>
<body>
  <div class="logo-container">
    <div class="logo"></div>
    <p class="name">Tripkada</p>
  </div>
  <div class="email-wrapper">
    <header class="welcome-email">
      <p class="greetings">MABUHAY!</p>
    </header>
    <div class="content-container invite-joiner">
      <div class="welcome-note">
        <p>Hey Explorer  <span class="highlight-text"><%= @recipient_name %></span></p>
        <p>Tripkada trip organizer <%= @organizer_name %> invited you to join in  his/her upcoming trip <span class="highlight-text"><%= @event.name %></span></p>
      </div>
      <div class="welcome-note bottom">
        <p>Hop in! to explore exciting adventures and meeting new friends!</p>
        <p>Choose prefered link to submit your proof of payment:</p>
        <p><%= link_to "Paymaya", generate_event_payment_url(@event, "", "paymaya"), class: "link" %></p>
        <p><%= link_to "Bank", generate_event_payment_url(@event, "", "bank"), class: "link" %></p>
        <p><%= link_to "Paypal", generate_event_payment_url(@event, "", "paypal"), class: "link" %></p>
      </div>
      <div class="welcome-note bottom">
        <p>For more info visit us on <a href="https://www.tripkada.com" class="link">www.tripkada.com</a></p>
        <p>Follow us on facebook! Share the fun!</p>
      </div>
    </div>
  </div>
  <%= render "shared/mailer/footer" %>
</body>
</html>
