<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY, <%= @member.decorate.full_name %>!</p>
        <p class="info">
          Hey Explorer! How's your last trip? Tripkada is excited to hear your stories and feedback about it, We hope you had so much fun!
        </p>
        <p>Your thoughts are highly valuable. Please review your Organizer <%= link_to "here", profile_url(@event.owner), class: "link" %> to help us create more amazing trips for you and your barkada.</p>
      </header>
      <div class="content-container">
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">TRIP DETAILS</h3>
            <p>
              Trip Name <%= link_to @event.name.titleize.html_safe, trip_view_url(@event), class: "link" %>
            </p>
            <p>Trip Organizer, <span class="highlight-text highlight-bold"><%= @event.owner.decorate.full_name %></span></p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">IMPORTANT REMINDER</h3>
            <p>Don’t forget to share your travels and use the hashtag <span class="highlight-hashtag">#Tripkada</span>, to spread some</p>
            <p>FOMO-inducing good vibes!</p>
          </div>
        </div>
        <div class="info-bottom">
          <div class="info">
            <p>You may check out more of your trip details on the attached file and via the Trip</p>
            <p>Page on this link: <a href="https://www.tripkada.com/trips" class="trips">TRIP PAGE</a></p>
          </div>
          <div class="info">
            <p>For any further questions, suggestions, and/or concerns, please feel free to</p>
            <p>contact #Tripkada. You may reach us via the email (join@tripkada.com) or via </p>
            <p>call/text (+63 977 256 5410 or +63 999 601 1444). You also check out our FAQ</p>
            <p>FAQ for more details.</p>
          </div>
          <div class="info">
            <p>With that, maraming salamat for traveling with Tripkada! Happy travels!</p>
          </div>
          <div class="info">
            <p>#Tripkada</p>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
