<!DOCTYPE html>
<html lang="en">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<%= stylesheet_link_tag("notification_mailer") %>
</head>
<body>
  <div class="logo-container">
    <div class="logo"></div>
    <p class="name">Tripkada</p>
  </div>
  <div class="email-wrapper">
    <header class="welcome-email">
      <p class="greetings">MABUHAY!</p>
    </header>
    <div class="content-container">
      <div class="welcome-note">
        <p>Welcome to the Tripkada Travel Community! Thank you so much for choosing to join our little trip “barkada”,</p>
        <p>and for taking a step towards to experiencing more adventures in the Philippines with us!</p>
      </div>
      <div class="welcome-note">
        <p>Barkada is a Filipino term for a group.</p>
      </div>
      <div class="welcome-note">
        <p>Our goal is to make travel in the Philippines easier, convenient, and more affordable for you, so that we can</p>
        <p>help small communities to grow through sustainable and responsible travel together.</p>
      </div>
      <div class="welcome-note">
        <p>Let’s explore the country, and visit destinations big and small. From quick day trips, to overnight trips, and</p>
        <p>even expeditions. Beaches, mountains, caves, rivers, whatever you want! Just don’t ask for snow...yet!</p>
      </div>
      <div class="welcome-note">
        <p>We hope you’ll find what you’re looking for. And if you don’t, feel free to send us a message at</p>
        <p><a href="https://www.tripkada.com" class="link">www.tripkada.com</a> , and we’ll help you think of a destination, plan your trip, or even just talk about places,</p>
        <p>things to do, or anything about travel. You’re part of our barkada now. ;)</p>
      </div>
      <div class="welcome-note">
        <p>Once again, maraming maraming salamat for traveling with us!</p>
      </div>
      <div class="email-footer">
        <p>April Cuenca</p>
        <p>CEO of Tripkada</p>
      </div>
    </div>
  </div>
  <%= render "shared/mailer/footer" %>
</body>
</html>
