<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="welcome-email">
        <p class="greetings">MABUHAY!</p>
      </header>
      <div class="content-container invite-joiner">
        <div class="welcome-note">
          <p>Hey Explorer  <span class="highlight-text"><%= @recipient_name %></span></p>
          <p>Tripkada trip joiner <span class="highlight-text"><%= @inviter_name %></span> invited you to join him/her in his/her upcoming joined trip <span class="highlight-text"><%= @event.name %></span></p>
        </div>
        <div class="welcome-note bottom">
          <p>Hop in! to explore exciting adventures and meeting new friends!</p>
          <p>Please Login using your Facebook account in the link below to view this trip</p>
          <%= link_to "LOGIN HERE".html_safe, user_facebook_omniauth_authorize_url(role: "invitee", url: trip_view_url(@event), uid: @uid), target: "_blank", class: 'link' %>
        </div>
        <div class="welcome-note bottom">
          <p>For more info visit us on <a href="https://www.tripkada.com" class="link">www.tripkada.com</a></p>
          <p>Follow us on facebook! Share the fun!</p>
        </div>
      </div>
    </div>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
