<% @notifications.each do |notification| %>
  <div class="notifications-row <%="unread" if !notification.read %>">
    <div class="notification-icon-container mobile">
      <%= link_to image_tag(notification.cover_photo(:large), class: "notification-image mobile"), "#", class: "notification-link display-notification #{"active" if !notification.read}", data: notification_data(notification) %>
    </div>
    <div class="notification-link-container">
      <%= link_to "#", class: "notification-link display-notification", data: notification_data(notification) do %>
        <div class="notification-details-container small-10">
          <div class="notification-header mobile">
            <h6 class="<%= notification_class(notification) %>"><%= notification.type %></h6>
            <h6 class="notification-date mobile"> <%= date_time_format(notification.created_at) %> </h6>
        </div>
          <p>
            <%= notification.truncated_message_mobile %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="reveal notification-modal" id="notificationModal" data-reveal>
  <div class="notification-modal__header">
    <button id="removeNotificationContent" class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
