<% partial = mobile_device? ? 'notifications.mobile.erb' : 'notifications' %>
$("#notifications").html( "<%= escape_javascript (render partial: partial) %>" )
$("#paginator").html("<%= escape_javascript(paginate(@notifications, remote: true)) %>");
