<% provide(:title, "Notifications") %>
<div class="my-notifications-container mobile">
  <div class="my-notifications">
    <h4 class="notification-label">Notifications</h4>
  </div>
  <div id="notifications">
    <%= render 'notifications' %>
  </div>
  <div id="paginator">
    <%= paginate @notifications, remote: true, params: { mobile_ajax: true } %> 
  </div>
</div>
