<% provide(:title, "Notifications") %>
<div class="my-notifications-container">
  <div class="my-notifications">
    <h3 class="notification-label">Notifications</h3>
  </div>
  <div id="notifications">
    <%= render 'notifications' %>
  </div>
  <div id="paginator">
    <%= paginate @notifications, remote: true %>
  </div>
</div>
