<% if @most_active_joiners.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
  <table class="payment-table">
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <th>Booking Count</th>
        <th>Frequent Book</th>
      </tr>
    </thead>
    <tbody>
      <% @most_active_joiners.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.full_name %></td>
          <td>
            <p class="booking-count">
              <span><%= user.booking_count_definition %></span>
              <span class="booking-count__content">
                <%= user.approved_memberships_count %>
              </span>
            </p>
          </td>
          <td><%= user.booking_status %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
