<div class="empty-trips-container">
  <%= image_tag "no-trip.png", class: "no-trip-image" %>
  <p class="title">
    <%= generate_title_for_empty(type) %>
  </p>
  <p class="message">
    <%= generate_content_for_empty(type) if current_user_is?(@user) %>
  </p>
  <%= generate_button_for_empty(type) if current_user_is?(@user) %>
</div>
