<%= generate_instagram_photos(@client, @user) %>
<% if @user.joined_events.empty? %>
  <% if @user.joiner? %>
  <div class="upcoming-events-container">
    <div class="title-container">
      <p>JOINED TRIPS</p>
    </div>
    <div class="event-container my-trips trips event-page">
      <%= render 'events', events: @upcoming, type: "joined" %>
    </div>
  </div>
  <% else %>
  <div class="upcoming-events-container">
    <div class="title-container">
      <p>ORGANIZED TRIPS</p>
    </div>
    <div class="event-container my-trips trips event-page">
      <%= render 'events', events: @upcoming, type: "upcoming" %>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="upcoming-events-container">
    <div class="title-container">
      <p>UPCOMING JOINED TRIPS</p>
      <p class="right"><%= generate_link_to_trips(@user, "upcoming") unless @upcoming.blank? %></p>
    </div>
    <div class="event-container my-trips trips event-page">
      <%= render 'events', events: @upcoming, type: "upcoming" %>
    </div>
  </div>

  <div class="past-organized-events-container">
    <div class="title-container">
      <p>PAST JOINED TRIPS</p>
      <p class="right"><%= generate_link_to_trips(@user, "past") unless @past.blank? %></p>
    </div>
    <div class="event-container my-trips trips event-page">
      <%= render 'events', events: @past, type: "past" %>
    </div>
  </div>
<% end %>
<%= render 'photos' %>
