<% events.each do |event| %>
  <div class="small-12 columns" >
    <%= link_to trip_view_path(event) do %>
      <div class="event-bg-container-front" style="background-image:url(<%= event.cover_photo_url(:large) %>)">
        <%= image_tag "gradient.png", class: "mask" %>
        <div class="details-wrapper">
          <p class="departure-date"><%= event.travel_dates.upcase %></p>
          <div class="trip-title-container">
            <h1 class="title"><%= event.name %></h1>
          </div>
        </div>
      </div>
      <%= render 'event/event_details', event: event %>
    <% end %>
  </div>
<% end %>
