<% reviews.each do |r| %>
  <div class="review">
    <div class="head">
      <div class="avatar" style="background-image:url(<%= r.reviewer.avatar %>)"></div>
      <div class="details">
        <%= link_to r.reviewer.full_name, profile_path(r.reviewer.slug) %>
        <div><%= month_day_year_format r.created_at %></div>
      </div>
      <div class="rating" data-rating="<%= r.rating %>"></div>
    </div>
    <div class="body">
      <div class="message"><%= r.message %></div>
    </div>
  </div>
  <hr>
<% end %>
<div class="pagination-links">
  <%= paginate reviews, remote: true, params: {controller: 'users', action: "reviews", format: "js"} %>
</div>
