<% reviews.each do |r| %>
  <div class="review">
    <div class="avatar" style="background-image:url(<%= r.reviewer.avatar %>)"></div>
    <div class="content">
      <p class="name"><%= link_to r.reviewer.full_name, profile_path(r.reviewer.slug) %></p>
      <span><%= month_day_year_format r.created_at %></span>
      <p class="message"><%= r.message %></p>
    </div>
    <div class="rating" data-rating="<%= r.rating %>"></div>
  </div>
  <hr>
<% end %>
