<div class="reviews">
  <div class="text-center"><%= "No reviews yet.<hr>".html_safe if reviews.empty? %></div>
  <% reviews.each do |r| %>
  <div class="review">
    <div class="head">
      <div class="avatar" style="background-image:url(<%= r.reviewer.avatar %>)"></div>
      <div class="details">
        <%= link_to r.reviewer.full_name, profile_path(r.reviewer.slug) %>
        <div><%= month_day_year_format r.created_at %></div>
      </div>
      <div class="rating" data-rating="<%= r.rating %>"></div>
    </div>
    <div class="body">
      <div class="message"><%= r.message %></div>
    </div>
  </div>
  <hr>
  <% end %>
</div>
<% unless current_user_is?(@user) || current_user.nil?%>
  <a data-open="addReviewModal" href="#" aria-controls="addReviewModal" aria-haspopup="true" tabindex="0">
    <span class="review-btn ion-plus-round f-right"></span>
  </a>
<% end %>
