<div class="user-info-modal">
  <div class="user-info-body">
  <header>
      <h6 class="title"><%= @user_info.full_name %></h6>
  </header>
  <p class="details">Email: <%= @user_info.email %> | Contact no: <%= @user_info.mobile %></p>
  <p class="details">Address: <%= "#{@user_info.city} , #{@user_info.country}" %></p>
  <p class="details"><%="Joined Tripkada since #{@user_info.created_at.strftime("%B %d %Y")}" %></p>
  <p class="details"><%="Gender: #{@user_info.gender.capitalize}" %></p>
  <p class="details"><%="Birthdate: #{@user_info.birthdate}" %></p>
  <p class="details"><%="Emergency Contact Person: #{@user_info.emergency_contact_name}" %></p>
  <p class="details"><%="Emergency Contact No.: #{@user_info.emergency_contact_number}" %></p>
  <p class="details"><%="Tell Us About Yourself" %></p>
  <p class="details"><%=@user_info.tell_us_about_yourself %></p>
  </div>
</div>
