<% if @users.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
  <table class="payment-table">
    <thead>
      <tr>
        <th></th>
        <th>Fullname</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Role</th>
        <th>Statistics</th>
      </tr>
    </thead>
    <tbody>
      <% @users.decorate.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to "#{user.full_name}", user_info_path(:user => user.id), remote: true %></td>
          <td><%= user.mobile  %></td>
          <td><%= user.email  %></td>
          <td>
            <%= select_tag "role", options_for_select(UserDecorator.role_options, user.role), {"data-path" => update_role_path(user.id), class: "clear-select" } %>
          </td>
          <td><%= link_to "EXPORT",
          export_stats_organizer_path(format: :csv,
          :user => user.id)  unless user.joiner? %></td>
        </tr>
      <% end %>
      <div id="userInfoPopUp"></div>
    </tbody>
  </table>
<% end %>
<script type="text/javascript" charset="utf-8">
  $("[data-path]").on("change", function(){
    var path = this.getAttribute('data-path');
    var role    = this.value;
    $.ajax({
        type: 'PUT',
        url: path,
        data: {user: {role: role}},
        success: function(data, xhr, status) {
          popupNotification("success", "Successfully changed " + data.full_name + "'s" + " " +"role to " + data.role + ".")
        }
    });
  });
</script>
