<% provide(:title, "Edit Profile") %>

<%= simple_form_for @user, url: profile_update_path(@user.slug), method: :put, html: { class: "profile-form", multipart: true } do |f| %>
<div class="cover-photo edit" style="background-image: url('<%= @user.cover_photo_url %>')">
  <%= image_tag "gradient.png", class: "mask" %>
  <input id="cover_photo" onchange="event_readURL(this)" type="file" name="user[cover_photo][image]">
  <label for="cover_photo"><span class="edit-cover ion-ios-camera f-right"></span></label>
  <p class="cover-photo-label"><%= @user.cover_photo.label if !@user.cover_photo.nil?%></p>
  <div class="edit-profile">
    <p class="full-name"><%= @user.full_name %></p>
    <div class="avatar" style="background-image:url(<%= @user.avatar_url(:medium) %>)">
      <input id="avatar" onchange="event_readURL(this)" type="file" name="user[avatar][image]">
      <label for="avatar"><span class="edit-avatar ion-ios-camera f-right"></span></label>
    </div>

  </div>
</div>

<div class="edit-user-details">
  <div class="edit-form">
    <div class="form-field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "First Name" %>
    </div>
    <div class="form-field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>
    <div class="form-field">
      <%= f.label :gender %>
      <%= f.select :gender, User.genders.keys.map{|gender| [gender.titleize, gender]}, {include_blank: "Select a gender"}, {class: "form-control" } %>
    </div>
    <div class="form-field with-icon calendar">
      <%= f.label :birthdate %>
      <%= f.text_field :birthdate, value: date_picker_format(f.object.birthdate), placeholder: "Birthdate", "data-date-picker" => "" %>
    </div>
    <div class="form-field">
      <%= f.label :country %>
      <%= f.select :country, options_for_select(generate_country_options, "PH") %>
    </div>
    <div class="form-field">
      <%= f.label :city %>
      <%= f.select :city, options_for_select(generate_city_options, "Manila")%>
    </div>
    <div class="form-field">
      <%= f.label :mobile %>
      <%= f.text_field :mobile, placeholder: "Mobile" %>
    </div>
    <div class="form-field">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email"  %>
    </div>
    <div class="form-field">
      <%= f.label :emergency_contact_name %>
      <%= f.text_field :emergency_contact_name, placeholder: "Emergency Contact Name"  %>
    </div>
    <div class="form-field">
      <%= f.label :emergency_contact_number %>
      <%= f.text_field :emergency_contact_number, placeholder: "Emergency Contact Number" %>
    </div>
    <div class="form-field">
      <%= f.label :tell_us_about_yourself %>
      <%= f.text_field :tell_us_about_yourself, placeholder: "Tell us about yourself" %>
    </div>
  </div>
</div>

<div class="photos-container">
  <p>My Photos</p>
  <%= generate_profile_photos_input_file_tag_for(@user)  %>
</div>

<div class="reveal profile_photo_modal with-icon trash" id="profilePhotoModal" data-reveal>
  <div class="with-icon">
    <img src="" alt="Error">
    <span class="more ion-more" data-toggle="more-dropdown"></span>

    <div class="dropdown-pane" id="more-dropdown" data-dropdown data-auto-focus="true">
      <div class="with-icon">
        <span class="close ion-close" data-toggle="more-dropdown"></span>
      </div>
        <p class="icon ion-image">Make Cover Photo</p>
        <p class="icon ion-edit">Edit Caption</p>
        <p class="icon ion-trash-b">Delete Photo</p>
    </div>

  </div>
  <div class="edit-container">
    <label></label>
    <div class="edit-details">
      <input type="text" placeholder="Type here"/>
      <div class="buttons">
        <button id="edit_save">Save</button>
        <button id="edit_clear">Clear</button>
      </div>
    </div>
  </div>
</div>

<div class="submit-btn">
  <%= submit_tag "SUBMIT" %>
</div>
<% end %>
