<% headers = ['User', 'Booking Count Status', 'Booking Count', 'Frequent Book'] %>
<%= CSV.generate_line(headers).strip %>
<% @users.each do |user| %>
  <% 
    row = [
      user.full_name, user.booking_count_definition, 
      user.approved_memberships_count, 
      user.booking_status
    ] 
  %>
  <%= CSV.generate_line(row).strip.html_safe %>
<% end%>
