<% headers = ['First Name', 'Last Name', 'Role', 'Email', 'Mobile Number', 'Facebook-uid'] %>
<%= CSV.generate_line(headers).strip %>
<% @users.each do |user| %>
  <% row = [user.first_name, user.last_name, user.role.capitalize, user.email, user.mobile, user.uid] %>
  <%= CSV.generate_line(row).strip.html_safe %>
<% end%>
