<% provide(:title, "Users") %>
<div class="header">
  <h1>USERS</h1>
  <span class="export-btn">
    <%= link_to export_users_path(format: :csv), class: "export-link", title: "Export Users Information" do %>
      <span class="export-icon ion-ios-download-outline"> Export</span>
    <% end %>
  </span>
  <%= form_tag users_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off %>
  <% end %>
</div>
<div id="userLists">
  <%= render "users" %>
</div>
<div id="paginator">
  <%= paginate @users, remote: true %>
</div>
<script type="text/javascript" charset="utf-8">
  $("#q").keyup(function() {
    $(this).closest("form").submit();
  });
</script>