<% provide(:title, "Request For Organizer") %>
<div class="header">
  <h1>REQUEST FOR ORGANIZER</h1>
  <%= form_tag organizer_applicants_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off %>
  <% end %>
</div>
<div id="userLists">
  <%= render "users" %>
</div>
<div id="paginator">
  <%= paginate @users, remote: true %>
</div>
<%= link_to 'EXPORT APPLICANTS', organizer_applicants_path(format: :csv), class: "promo-code-btn new" %>
<%= link_to 'EXPORT ALL', export_all_organizers_path(format: :csv), class: "promo-code-btn new" %>
