requestOnce = true;
$(".pagination-event-loading").hide();
<% partial = "paginated_events#{'.mobile.erb' if is_mobile?}" %>
$('.event-container').append('<%= j(render partial, :events => @trips, :action => "trips" ) %>');
$('#paginationLinks').html("<%= j(paginate @trips, remote: true, params: {controller: 'users', action: 'paginated_trips', format: 'js', type: @type}) %>")
