requestOnce = true;
$(".pagination-event-loading").hide();
<% partial = "paginated_reviews#{'.mobile.erb' if is_mobile?}" %>
$('.users-reviews').append('<%= j(render partial, :reviews => @reviews) %>');
$('#paginationLinks').html("<%= j(paginate @reviews, remote: true, params: {controller: 'users', action: 'paginated_reviews', format: 'js' }) %>")
$('.rating').raty({
  readOnly: true,
  starType: 'i',
  half: true,
  starHalf: 'ion-android-star-half',
  starOff: 'ion-android-star off',
  starOn: 'ion-android-star',
  score: function(){
    return $(this).attr('data-rating');
  }
});

$('.rating-input').raty({
  starType: 'i',
  half: true,
  precision: true,
  hints: ['bad', 'neutral', 'good', 'great', 'fantastic'],
  starHalf: 'ion-android-star-half',
  starOff: 'ion-android-star-outline',
  starOn: 'ion-android-star',
  scoreName: 'review[rating]',
  click: function(rating, evt) {
    $('.rating-form').raty('score', rating);
  }
});
