<% provide(:title, "#{@user.full_name}'s reviews") %>

<div class="reviews-container all-reviews" id="filteredEventsContainer">
  <div class="title-container">
    <p>REVIEWS</p>
  </div>
  <div class="reviews users-reviews">
    <%= "No reviews yet.<hr>".html_safe if @reviews.empty? %>
    <%= render 'paginated_reviews', reviews: @reviews %>
    <% unless current_user_is?(@user) || current_user.nil? %>
      <a data-open="addReviewModal" href="#" aria-controls="addReviewModal" aria-haspopup="true" tabindex="0">
        <span class="review-btn ion-plus-round f-right"></span>
      </a>
    <% end %>
  </div>
  <div class="pagination-links" id="paginationLinks">
    <%= paginate @reviews, remote: true, params: {controller: 'users', action: "paginated_reviews", format: 'js'} %>
  </div>
  <div class="reveal update-details review-modal-with-header" id="addReviewModal" data-reveal>
    <header>
      <h5 class="registration">Add Review</h5>
      <p class="fields">Rate <%= @user.joiner? ? 'Joiner' : 'Organizer' %></p>
    </header>
    <%= simple_form_for Review.new, url: profile_review_path(@user.slug), method: :post, html: { class: "review-form" } do |f| %>
      <div class="rating-input" id="review_rating"></div>
      <div class="form-field">
        <%= f.text_field :message, placeholder: "Write a review here" %>
      </div>
      <div class="submit-btn">
        <%= submit_tag "SUBMIT" %>
      </div>
    <% end %>
  </div>
  <%= render "shared/pagination_loader" %>
</div>
