<% provide(:title, "Segments") %>
<div class="header">
  <h1>SEGMENTS</h1>
  <span class="export-btn">
    <%= link_to export_users_segmentation_path(format: :csv), class: "export-link", title: "Export Csv" do %>
    <span class="export-icon ion-ios-download-outline">
      Export</span>
    <% end %>
  </span>
  <%= form_tag user_segmentations_path, method: :get, remote: true do %>
  <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off %>
  <% end %>
</div>
<div id="userLists">
  <%= render "active_joiners" %>
</div>
<div id="paginator">
  <%= paginate @most_active_joiners, remote: true %>
</div>
<script type="text/javascript" charset="utf-8">
  $("#q").keyup(function () {
    $(this).closest("form").submit();
  });
  $(document).on('click', 'a', function () {
    popupNotification("info", "Processing Request...Please Wait");
  });
</script>
