<% provide(:title, "#{@user.full_name}") %>

<div class="cover-photo" style="background-image: url('<%= @user.cover_photo_url %>')">
  <%= image_tag "gradient.png", class: "mask" %>
  <% if @user == current_user %>
    <%= link_to profile_edit_path(@user.slug), title: "Edit Profile" do |x|%>
      <span class="edit-profile ion-edit f-right"></span>
    <% end %>
  <% end %>

  <div class="profile-details">
    <div class="avatar" style="background-image:url(<%= @user.avatar_url(:medium) %>)"></div>
    <div class="details">
      <p class="full-name"><%= @user.full_name %>
      <div class="rating-follow-container">
        <div class="rating" data-rating="<%= @user.total_rating %>"></div>
        <%= generate_follow_button(@user) %>
      </div>
    </div>
  </div>
</div>
<div class="about-container">
  <div class="additional-info">
    <% unless @user.joiner? %>
      <div class="count">
        <%= image_tag "Trips-bag.png" %><div><%= @user.organized_events.count %> trips</div>
      </div>
      <div class="count">
        <%= image_tag "Followers.png" %><div><%= @user.followers.count %> followers</div>
      </div>
      <%= generate_review_details(@user) %>
    <% end %>
    <%= generate_social_accounts_icons_for(@user.model) %>
  </div>
  <p class="bio">
    <%= @user.tell_us_about_yourself %>
  </p>
</div>

<%= render 'joined_trips' %>

<hr class="review">

<div class="reviews-container">
  <div class="title-container">
    <p>REVIEWS</p>
    <p class="right"><%= link_to 'See All', profile_reviews_path, class: 'more' if @reviews.any? %></p>
  </div>
  <%= render 'reviews', reviews: @reviews %>
</div>

<div class="reveal update-details review-modal-with-header" id="addReviewModal" data-reveal>
  <header>
    <h5 class="registration">Add Review</h5>
    <p class="fields">Rate <%= @user.joiner? ? 'Joiner' : 'Organizer' %></p>
  </header>
  <%= simple_form_for Review.new, url: profile_review_path(@user.slug), method: :post, html: { class: "review-form" } do |f| %>
    <div class="rating-input" id="review_rating"></div>
    <div class="form-field">
      <%= f.text_field :message, placeholder: "Write a review here" %>
    </div>
    <div class="submit-btn">
      <%= submit_tag "SUBMIT" %>
    </div>
  <% end %>
</div>

<div class="reveal profile_photo_modal" id="profilePhotoModal" data-reveal>
  <img src="" alt="">
  <label></label>
</div>
