<% provide(:title, generate_tab_title_for(@user, @type)) %>

<div class="title-container">
  <p><%= generate_title_for(@type) %></p>
</div>
<div class="row event-container trips-page-mobile">
  <%= render 'paginated_events', :events => @trips, :action => "trips" %>
</div>
<div class="pagination-links" id="paginationLinks">
  <%= paginate @trips, remote: true, params: {controller: 'users', action: 'paginated_trips', format: "js", type: @type} %>
</div>
<%= render "shared/pagination_loader" %>
