<div class="input-wrapper">
  <div class="input-header">
    <p>Joiner <%= fieldCount %></p>
    <a id="removeFields"><span class="ion-ios-close"></span></a>
  </div>
  <div class="input-container">
    <label for="name_<%= fieldCount %>">Name</label>
    <input type="text" id = "name_<%= fieldCount %>"
    name="name_<%= fieldCount %>" required=true placeholder="Type name here">
  </div>
  <div class="input-container">
    <label for="email_<%= fieldCount %>">Email</label>
    <input type="email" id="email_<%= fieldCount %>"
    name="email_<%= fieldCount%>"
    required=true placeholder="Type email here" data-email-for="invitee"
    autocomplete="off">
  </div>
</div>
