<div class="free-trip-notif">
  <p class="free-trip-notif__copy">
    Congratulations you get a <%= text %> using your promo code, Please Click the button to proceed.
  </p>
  <form action="<%= url %>" method="POST">
   <input name="authenticity_token" value="<%= token %>" type="hidden">
   <input name="code" value="<%= code %>" type="hidden">
   <input name="mode" value="<%= mode %>" type="hidden">
   <input class="free-trip-notif__btn" type="submit" value="JOIN TRIP">
 </form>
</div>
