<%= form_for @app_version do |f| %>
  <ul class="inline-flex-form-group">
    <li>
      <%= f.label :version_code, "Version Code" %>
      <%= f.text_field :version_code, required: true %>
    </li>
    <li>
      <%= f.label :created_by, "Created By" %>
      <%= f.text_field :created_by, required: true %>
    </li>
    <li>
      <%= f.label :platform, "Platform" %>
      <%= f.select :platform, @version_platforms, include_blank: "Please select a platform", required: true %>
    </li>
    <li>
      <%= f.label :category, "Category" %>
      <%= f.select :category, @version_categories, include_blank: "Please select a category", required: true %>
    </li>
  </ul>
  <h4>FEATURES</h4>
  <button class="button small" id="add-more-features">Add Features</button>
  <div class="features-wrapper" id="features-wrapper">
    <%= f.fields_for :features do |builder| %>
      <div class="features__container">
        <div class="features__container__input features__container__input--align-top">
          <%= builder.label :title, "Title" %>
          <%= builder.text_field :title, required: true %>
        </div>
        <div class="features__container__input">
          <%= builder.label :details, "Details" %>
          <%= builder.text_area :details, required: true, class: "features__container__input__details" %>
        </div>
      </div>
    <% end %>
  </div>
    <%= submit_tag "Submit", class: "button" %>
<% end %>

