<% provide(:title, "App Versions") %>
<div class="header">
  <h1>APP VERSIONS</h1>
  <%= form_tag app_versions_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>
<%= render "form" %>
<div id="appVersionLists">
  <%= render "version_list" %>
</div>

<div id="paginator">
  <%= paginate @app_versions, remote: true %>
</div>
