<% provide(:title, "App Version Details") %>
<div class="header">
  <h1>APP VERSIONS</h1>
</div>
<div class="app-version-details">
  <%= link_to "Back", app_versions_path, class: "button button-primary small" %>
  <p>
    <span class="app-version-details__label">
      VERSION CODE:
    </span>
    <%= @app_version.version_code&.upcase %>
  </p>
  <p>
    <span class="app-version-details__label">
      PLATFORM:
    </span>
    <%= @app_version.platform&.upcase %>
  </p>
  <p>
    <span class="app-version-details__label">
      CATEGORY:
    </span>
    <%= @app_version.category&.titleize %>
  </p>
  <p>
    <span class="app-version-details__label">
      CREATED BY:
    </span>
    <%= @app_version.created_by&.titleize %>
  </p>
  <hr></hr>
  <div class="app-version-details__features">
    <h5>FEATURES</h5>
    <% @app_version.features.each do |feature| %>
      <p>
        <span class="app-version-details__features__label">
          TITLE: 
        </span>
        <%= feature.title.titleize %>
      </p>
      <p>
        <span class="app-version-details__features__label">
          DETAILS: 
        </span>
        <%= feature.details %>
      </p>
    <% end %>
  </div>
  <hr>
  <%= link_to "Edit", edit_app_version_path(@app_version), class: "primary button" %>
  <%= link_to "Delete", "#", class: "alert button", "data-open" => "confirmDelete" %>
</div>
<div class="reveal custom-modal-with-header tiny delete-trip-modal" id="confirmDelete" data-reveal>
  <h5>DELETE</h5>
  <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
  <p>Are you sure you want to delete this App Version?</p>
  <%= button_to app_version_path(@app_version), method: :delete, class: "delete-btn", data: { disable_with: "Processing request...." } do %>
    <span class="delete-btn__icon trash-event ion-trash-b"></span> CONFIRM
  <% end %>
</div>
