<%= javascript_include_tag "facebook-optin" %>
<div class="reveal update-details custom-settings-modal-with-header" id="<%= reveal_id %>" data-reveal>
  <header>
    <h5 class="registration">REGISTRATION</h5>
    <p class="fields">
    All fields must be completed for the form to be accepted.
    </p>
  </header>
  <div class="registration-form">
    <%= form_for current_user, url: profile_update_path(current_user.slug), method: :put do |f| %>
      <%= hidden_field_tag(:checkout, reveal_id == 'bookEditDetailModal', id: "proceed_checkout") %>
      <div class="form-field">
        <%= f.text_field :first_name, value: flash[:registration].try(:[], "first_name") || f&.object&.first_name, placeholder: "First Name", required: true %>
      </div>
      <div class="form-field">
        <%= f.text_field :last_name, value: flash[:registration].try(:[], "last_name") || f&.object&.last_name, placeholder: "Last Name", required: true %>
      </div>
      <div class="form-field">
        <%= f.select :gender, User.genders.keys.map{|gender| [gender.titleize, gender]}, {include_blank: "Select a gender"}, {class: "form-control" } %>
      </div>
      <div class="form-field with-icon calendar">
        <%= f.text_field :birthdate, value: date_picker_format(f.object.birthdate) , placeholder: "Birthdate", "data-date-picker" => "" %>
      </div>
      <div class="form-field">
        <%= f.select :country, options_for_select(generate_country_options, "PH") %>
      </div>
      <div class="form-field">
        <%= f.select :city, options_for_select(generate_city_options, "Manila")%>
      </div>
      <div class="form-field">
        <%= f.text_field :mobile, value: flash[:registration].try(:[], "mobile") || f&.object&.mobile, placeholder: "Mobile", required: true %>
      </div>
      <div class="form-field">
        <%= f.text_field :email, placeholder: "Email", value: flash[:registration].try(:[], "email") || f&.object&.email, required: true, type: "email"  %>
      </div>
      <div class="form-field">
        <%= f.text_field :emergency_contact_name, value: flash[:registration].try(:[], "emergency_contact_name") || f&.object&.emergency_contact_number, placeholder: "Emergency Contact Name", required: true  %>
      </div>
      <div class="form-field">
        <%= f.text_field :emergency_contact_number, value: flash[:registration].try(:[], "emergency_contact_number") || f&.object&.emergency_contact_number, placeholder: "Emergency Contact Number", required: true %>
      </div>
      <div class="form-field">
        <%= f.text_field :tell_us_about_yourself, value: flash[:registration].try(:[], "tell_us_about_yourself") || f&.object&.tell_us_about_yourself, placeholder: "Tell us about yourself", required: true %>
      </div>
      <%= check_box_tag "terms_#{reveal_id}", nil, false, class: "custom-circle-check-box without-label" %>
      <%= label_tag "terms_#{reveal_id}", "I agree with the #{ link_to "Terms & Conditions","#"}".html_safe %>
      <% if check_messenger_user_for(f&.object).empty? %>
      <div class="messenger-container">
        <p class="messenger-text">
          Never miss an Announcement or Update! Get your Booking notifications and announcements directly via your <b>FB Messenger!</b>
        </p>
        <div class="messenger-button", style="margin_left = 110px;">
          <div class="fb-send-to-messenger" messenger_app_id="<%= generate_fb_app_id %>"
            page_id="<%= generate_fb_page_id %>"
            data-ref="registration_form_ref=page_id:<%= generate_fb_page_id %>/user_id:<%=f.object.id%>"
            color="blue" size="large">
          </div>
        </div>
      </div>
      <% end %>
      <p class="submit">
      <%= f.submit "SUBMIT" %>
      </p>
    <% end %>
  </div>
</div>
