<script type="text/javascript" charset="utf-8">
  window.onload = function () {
    <% if flash[:notice].present? %>
      popupNotification("success", '<%= flash[:notice] %>')
    <% end %>
    <% if flash[:alert].present? %>
      popupNotification("alert", '<%= flash[:alert] %>')
    <% end %>
  }
</script>
