<nav class="top-nav">
  <div class="logo-col">
    <%=tabs_tag do |tab| %>
    <%=tab.home "#{image_tag('tripkada-logo-new-2.png', class: 'logo')}".html_safe, root_path %>
    <% end %>
  </div>
  <div class="wrapper-nav">
    <% if user_signed_in? %>
    <div class="title-bar collapsible-container" data-responsive-toggle="nav-content" data-hide-for="xxlarge">
      <button class="menu-icon toggle-btn" type="button" data-toggle data-open="content-modal"></button>
    </div>
    <ul class="dropdown menu menu-mobile" data-dropdown-menu>
      <li class="notification-alert <%= 'hidden' if users_notification_empty? %>" id="notification-count">
        <%= link_to content_tag(:span, users_notification_count_string), notifications_path %>
      </li>
      <li class="dropdown-arrow">
        <a href="#" class="user-logout logged-user">
          <div style="background-image:url(<%= current_user.decorate.avatar_url(:thumb) %>)"></div>
        </a>
        <ul class="menu vertical hide-mobile">
          <li><%= link_to "Notifications", notifications_path %></li>
          <li><%=link_to "My Profile", profile_path(current_user.slug)%></li>
          <li>
            <%=link_to "Settings", "#", "data-open"=> "editDetailModal" %>
            <%= render partial: 'shared/edit_profile_form', locals: { reveal_id: 'editDetailModal' } %>
          </li>
          <li>
            <%=link_to "My Credits", "#", "data-open"=> "referralModal" %>
            <%= render partial: 'shared/referral_modal' %>
          </li>
          <li>
            <%=link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>
  <% else %>
    <%= generate_download_button %>
    <div class="title-bar collapsible-container" data-responsive-toggle="nav-content" data-hide-for="xxlarge">
      <button class="menu-icon toggle-btn" type="button" data-toggle data-open="content-modal"></button>
    </div>
    <% end %>
  </div>
  <div class="content-modal reveal" id="content-modal" data-reveal>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul id='content-modal'>
      <%=render_navigation(context: :event, expand_all: true) %>
    </ul>
  </div>
  <div class="reveal tiny login-modal tripkada-login" id="loginModal" data-reveal>
    <%= generate_login_signup_link_home(label: "LOGIN") %>
  </div>
  <div class="reveal tiny login-modal tripkada-login" id="sign-upModal" data-reveal>
    <%= generate_login_signup_link_home(label: "SIGN UP") %>
  </div>
</nav>
