<nav class="top-nav">
  <div class="logo-col">
    <%=tabs_tag do |tab| %>
    <%=tab.home "#{image_tag('tripkada-logo-new-2.png',class: 'logo')}".html_safe, root_path %>
    <% end %>
  </div>
  <div class="header-link-col">
    <%=render_navigation(context: :event, expand_all: true) %>
    <% if user_signed_in? %>
    <%= render partial: 'shared/edit_profile_form', locals: { reveal_id: 'editDetailModal' } %>
    <%= render partial: 'shared/referral_modal' %>
    <% end %>
  </div>
</nav>
<div class='reveal tiny tripkada-modal tripkada-login' id='sign-upModal' data-reveal>
  <%= generate_login_signup_link_home(label: "SIGN UP") %>
</div>
<div class='reveal tiny tripkada-modal tripkada-login' id='loginModal' data-reveal>
  <%= generate_login_signup_link_home(label: "LOGIN") %>
</div>
