<div class="reveal referral-modal-with-header mobile" id="referralModal" data-reveal>
  <header>
    <button class="close-button" data-close aria-label="Close modal" type="button"></button>
    <div class="title">Free Trips</div>
    <hr>
    <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
      <li class="tabs-title is-active">
        <a href="#referral-modal-tab-invite" aria-selected="true">Invite</a>
      </li>
      <li class="tabs-title">
        <a href="#referral-modal-tab-credits">My Travel Credits</a>
      </li>
    </ul>
    <div class="tabs-content" data-tabs-content="collapsing-tabs">
      <div class="tabs-panel is-active" id="referral-modal-tab-invite">
        <div class="referral-image">
          <%= image_tag 'referral-invite.png' %>
          <div class="referral-image-label referral-image-label--mobile">
            <p class="referral-image-label__text">Share your</p>
            <p class="referral-image-label__text">love of</p>
            <p class="referral-image-label__text referral-image-label__text--big">Travel</p>
          </div>
        </div>
        <div class="invite-container">
          <p class="small">When a friend joins a trip on Tripkada, you earn
            <b>PHP100</b>
            in travel credits for your next trip!</p>
          <label for="">
            <b>Enter Email Addresses</b>
          </label>
          <%= form_tag send_referral_email_invitations_path do %>
          <%= text_field_tag 'emails', nil, placeholder: "Emails", id: "email-tags" %>
          <div class="button-container">
            <%= submit_tag "SEND INVITES" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tabs-panel" id="referral-modal-tab-credits">
        <%= image_tag 'referral-credits.png', class: 'credits' %>
        <div class="button-container">
          <p class="content">
            You have
            <span class="bold"><%= currency_format(credit_promo_code_available_credits) %></span>
            travel credits
          </p>
          <p class="content">
            Your promo code is:
            <span class="bold"><%= credit_code %></span>
          </p>
        </div>
      </div>
    </div>
  </header>
</div>
