<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY, <%= @referrer_full_name %>!</p>
        <p class="info">Congratulations! You have earned referral incentive from Tripkada for success referral booking of joiner <span class="highlight-bold"><%= @joiner_full_name %></span></p>
      </header>
      <div class="content-container">
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">BOOKING DETAILS</h3>
            <p>
              <span class="highlight-bold">Joiner Name:</span>
              <span class="highlight-text highlight-bold"><%= @joiner_full_name %></span>
            </p>
            <p>
              <span class="highlight-bold">Membership Date:</span>
              <span class="highlight-text highlight-bold"><%= @joiner_membership_date  %></span>
            </p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">INCENTIVE</h3>
            <p>
              <span class="highlight-text highlight-bold"><%= @referrer_role %></span>
              You will receive trip credits worth of
            <span class="highlight-text highlight-bold"> <%= currency_format @referral_incentive, 'P' %></span> incentive from TRIPKADA.
          </div>
        </div>
        <div class="info-bottom">
          <div class="info">
            <p>For any further questions, suggestions, and/or concerns, please feel free to</p>
            <p>contact #Tripkada. You may reach us via the email (join@tripkada.com) or via </p>
            <p>call/text (+63 977 256 5410 or +63 999 601 1444). You also check out our FAQ</p>
            <p>for more details.</p>
          </div>
          <div class="info">
            <p>Happy travels!</p>
          </div>
          <div class="info">
            <p>#Tripkada</p>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
