<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY !</p>
        <p class="info">Tripkada 
          <span class="highlight-text"><%= @referrer_role %></span> 
          <span class="highlight-text"><%= @referrer_full_name %></span>
           earned referral incentive from successful referral booking of joiner
           <span class="highlight-bold"><%= @joiner_full_name %></span>
        </p>
      </header>
      <div class="content-container">
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">TRIP DETAILS</h3>
            <p>
              <span class="highlight-bold">Trip Name:</span>
              <span class="highlight-text highlight-bold"><%= @event.name.titleize %></span>
            </p>
            <p>
              <span class="highlight-bold">Start:</span>
              <span class="highlight-text highlight-bold"><%= @event.short_start_month_day_year.upcase %></span>
            </p>
            <p>
              <span class="highlight-bold">End:</span>
              <span class="highlight-text highlight-bold"><%= @event.short_end_month_day_year %></span>
            </p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">BOOKING DETAILS</h3>
            <p>
              <span class="highlight-bold">Joiner Name:</span>
              <span class="highlight-text highlight-bold"><%= @joiner_full_name  %></span>
            </p>
            <p>
              <span class="highlight-bold">Membership Date:</span>
              <span class="highlight-text highlight-bold"><%= @joiner_membership_date  %></span>
            </p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">INCENTIVE</h3>
            <p>Tripkada 
              <span class="highlight-text highlight-bold"><%= @referrer_role %></span>
              <span class="highlight-text highlight-bold"><%= @referrer_full_name %></span>
              will receive trip credits worth of
            <span class="highlight-text highlight-bold"> <%= currency_format @referral_incentive, 'P' %></span> incentive from TRIPKADA.
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
