<div class="manage-trips-container">
  <h4 class="header">OVERVIEW</h4>
  <p class="greetings">Welcome, <%= current_user.first_name %>!</p>
  <div class="flex-container overview">
    <div class="inline-content">
      <p class="label-with-icon plain"><span>TRIPS VIEW</span></p>
      <div class="details-wrapper bordered">
        <%= trip_views_chart %>
      </div>
    </div>
    <div class="inline-content">
      <p class="label-with-icon plain"><span>TRIPS BOOKED</span></p>
      <div class="details-wrapper bordered">
        <%= booked_trips_chart %>
      </div>
    </div>
  </div>
  <div class="flex-container overview">
    <div class="inline-content">
      <p class="label-with-icon plain"><span>TRIPS CREATED</span></p>
      <div class="details-wrapper bordered">
        <%= monthly_trips_chart %>
      </div>
    </div>
    <div class="inline-content">
      <p class="label-with-icon plain"><span>TRIPS BOOKING COUNT</span></p>
      <div class="details-wrapper bordered">
        <%= monthly_book_count_chart %>
      </div>
    </div>
 </div>
  <div class="flex-container overview">
    <div class="inline-content">
      <p class="label-with-icon"><span class="ion-ios-location-outline"></span>YOUR UPCOMING TRIPS</p>
      <div class="details-wrapper">
        <% @upcoming_events.each do |event| %>
          <div class="details">
            <p class="date"><%= event.short_start_month_day %></p>
            <p class="name"><%= event.name %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="inline-content">
      <p class="label-with-icon"><span class="ion-ios-location-outline"></span>YOUR MOST BOOKED TRIPS</p>
      <div class="details-wrapper">
        <% @most_booked_events.each do |event| %>
          <div class="details">
            <p class="date"><%= event.short_start_month_day %></p>
            <p class="name"><%= event.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex-container overview">
    <div class="inline-content">
      <p class="label-with-icon"><span class="ion-ios-location-outline"></span>YOUR MOST VIEWED TRIPS</p>
      <div class="details-wrapper">
        <% @most_viewed_events.each do |event| %>
          <div class="details">
            <p class="name"><%= event.name %></p>
            <p class="date"><%= event.number_of_views %> views</p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="inline-content">
      <p class="label-with-icon"><span class="ion-ios-person-outline"></span>YOUR MOST ACTIVE JOINERS</p>
      <div class="details-wrapper">
        <% @active_joiners.each do |joiner| %>
          <div class="details">
            <div class="avatar" style="background-image:url(<%= joiner.avatar_url(:thumb) %>)"></div>
            <p class="name"><%= joiner.full_name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
