<div class="manage-trips-container">
  <h4 class="header">OVERVIEW</h4>
  <div class="flex-container empty">
    <div class="image-container"></div>
    <div class="greetings-content">
      <p class="content greetings">Welcome, <%= current_user.first_name %>!</p>
      <p class="content">Get started</p>
      <%= link_to "CREATE TRIP", create_trip_path, class: "link" %>
    </div>
  </div>
</div>