<div class="trip-label">
  <p class="title waitlist">JOINERS NAME</p>
  <p class="title waitlist date">DATE REQUESTED</p>
  <p class="title waitlist action">ACTION</p>
</div>
<% @event_waitlists.each do |waitlist| %>
  <% unless waitlist.paid? %>
    <div class="trip-details waitlist">
      <p class="users-name"><%= waitlist.user.full_name %></p>
      <p class="date"><%= month_day_year_format(waitlist.created_at) %></p>
      <p class="action">
        <%= select_tag :status, options_for_select(@waitlist_options, "#{waitlist.status}"),
        { class: "select-status has-70-percent-width clear-select", id: "waitlist-dropdown",
        data: { path: update_waitlist_path, select: "waitlist_status", waitlist_id: waitlist.id, event_id: @event.id, current_status: waitlist.status } } %>
      </p>
    </div>
  <% end %>
<% end %>
