<div class="trip-label">
  <p class="title_blank_space"></p>
  <p class="title">JOINERS NAME</p>
  <p class="title">MOBILE NUMBER</p>
  <p class="title manage-trips-email">EMAIL</p>
  <p class="title">BOOKING CODE</p>
  <p class="title">BALANCE</p>
  <p class="title">CONFIRM PAYMENT</p>
  <p class="title no-show center-text">NO SHOW</p>
</div>
<% @event_joiners.each do |member| %>
  <div class="trip-details">
    <div class="avatar" style="background-image:url(<%= member.member.avatar_url(:thumb) %>)"></div>
    <p class="users-name"><%= member.member.full_name %></p>
    <p class="date"><%= member.member.mobile %></p>
    <p class="date manage-trips-email email-content"><%= member.member.email %></p>
    <p class="date"><%= member.payment.promo_code_in_words %></p>
    <p class="date"><%= member.payment.balance %></p>
    <p class="date">
      <%= select_tag "status", options_for_select(payment_status_options,
        "#{member.payment.status}"),
        {"data-payment-url" => payment_path(member.payment), class: "select-status has-70-percent-width clear-select" } %>
    </p>

    <p class="date no-show"><%= check_box_tag "noshow_#{member.event_membership.id}", 1,
      member.event_membership.no_show, onclick: "noShowAction(this, #{@event.id})", class: 'manage-trips-check-box' %>
      <label for="noshow_<%= member.event_membership.id %>" class="manage-trips">NO SHOW</label>
    </p>

  </div>
<% end %>
