
<div class="flex-container joiner base">
  <button class="add-btn" data-link-collapse="add-joiner" data-tooltip aria-haspopup="true" class="has-tip" title="Invite Joiners">
    <span class="ion-plus"/>
  </button>
</div>
<div class="flex-container base">
  <div class="trip-details-container">
    <div class="trip-label">
      <p class="title joiner">NAME</p>
      <p class="title joiner">TRIP JOINED</p>
      <p class="title joiner">CONTACT #</p>
      <p class="title joiner">EMAIL</p>
      <p class="title joiner">PAYMENT</p>
      <p class="title joiner">BOOKING CODE</p>
    </div>
    <% @organized_event_joiners.each do |membership| %>
      <div class="trip-details">
        <p class="details"><%= membership.member.decorate.full_name %></p>
        <p class="details"><%= membership.event.name %></p>
        <p class="details"><%= membership.member.mobile %></p>
        <p class="details"><%= membership.member.email %></p>
        <p class="details"><%= membership.payment.mode %></p>
        <p class="details"><%= membership.payment.decorate.promo_code %></p>
      </div>
    <% end %>
  </div>
</div>
