<ul class="dropdown menu menu-mobile" data-dropdown-menu>
  <li class="dropdown-arrow">
    <a href="#" class="user-logout logged-user"></a>
    <ul class="menu vertical hide-mobile">
      <li><%= link_to 'Overview', manage_trips_path , class: "custom-icon overview" %></li>
      <li><%=link_to  'Trips', manage_trips_my_trips_path, class: "custom-icon trips"%></li>
      <li><%= link_to 'Joiner', manage_trips_joiner_path, class: "custom-icon joiner" %></li>
      <li><%=link_to 'Payments', manage_trips_payments_path, class: "custom-icon payment"%></li>
      <li><%=link_to  'Funds', manage_trips_funds_path, class: "custom-icon funds"%></li>
    </ul>
  </li>
</ul>
