<div class="flex-container trips">
  <div class="trip-details-container">
    <div class="trip-label">
      <p class="title">TRIP NAME</p>
      <p class="title indent-label">DATE</p>
      <p class="title">DESTINATIONS</p>
      <p class="title">JOINERS</p>
      <p class="title">STATUS</p>
      <p class="title">WAITLIST</p>
      <p class="title">CANCEL TRIP</p>
    </div>
    <% @organized_events.each do |event| %>
      <div class="trip-details">
        <p class="name"><%= link_to event.name, manage_trips_waitlist_path(event) %></p>
        <p class="date"><%= event.start_month_day_year %></p>
        <p class="destination"><%= list_destinations(event.destinations) %></p>
        <p class="joiner"><%= event.valid_memberships.count %></p>
        <%= validate_status_of(event) %>
        <p class="waitlist"><%= link_to event.waitlists.count, manage_trips_waitlist_path(event), class: ("zero-waitlist" if event.zero_waitlist?), title: 'View waitlist' %></p>
        <%= generate_cancel_trip_options_for(event) %>
      </div>
    <% end %>
  </div>
  <div id="paginator">
    <%= paginate @organized_events, remote: true , params: {format: "js"} %>
  </div>
</div>
