<div class="flex-container">
  <div class="trip-details-container">
    <div class="trip-label">
      <p class="title payment">NAME</p>
      <p class="title payment">TRIP JOINED</p>
      <p class="title payment center">DATE</p>
      <p class="title payment center">PAYMENT MODE</p>
      <p class="title payment center">BOOKING CODE</p>
    </div>
    <% @organized_event_joiners.each do |membership| %>
      <div class="trip-details">
        <p class="details payment"><%= membership.member.decorate.full_name %></p>
        <p class="details payment"><%= membership.event.name %></p>
        <p class="details payment center"><%= membership.event.decorate.start_month_day_year %></p>
        <p class="details payment center"><%= membership.payment.mode %></p>
        <p class="details payment center"><%= membership.payment.decorate.promo_code_in_words %></p>
      </div>
    <% end %>
  </div>
  <div id="paginator">
    <%= paginate @organized_event_joiners, remote: true, params: {format: "js"} %>
  </div>
</div>
