<div class="funds-details-container">
  <div class="trip-label">
    <p class="title">TRIP NAME</p>
    <p class="title center">DATE</p>
    <p class="title amount center">AMOUNT TO COLLECT</p>
    <p class="title center">DATE OF REMITTANCE</p>
  </div>
  <% @upcoming_organized_events.each do |event| %>
    <div class="funds-details set-font-size">
      <p class="name bold"><%= event.name %></p>
      <p class="date center"><%= event.start_month_day_year %></p>
      <p class="destination center"><%= amount_remitted_for(event) %></p>
      <p class="destination center"><%= date_of_remittance_for(event) %></p>
    </div>
  <% end %>
</div>
