<% if mobile_device? %>
  $('#upcomingTripsLists').html('<%= escape_javascript(render partial: "upcoming_trips_lists.mobile.erb") %>');
  $('#previousTripsLists').html('<%= escape_javascript(render partial: "previous_trips_lists.mobile.erb") %>');
<% else %>
  $("#upcomingTripsLists").html("<%= escape_javascript(render("upcoming_trips_lists")) %>");
  $("#previousTripsLists").html("<%= escape_javascript(render("previous_trips_lists")) %>");
<% end %>
  $("#upcomingTripsPaginator").html("<%= escape_javascript(paginate(@upcoming_organized_events, remote: true, param_name: 'upcomingTripsPaginator')) %>");
  $("#previousTripsPaginator").html("<%= escape_javascript(paginate(@past_organized_events, remote: true, param_name: 'previousTripsPaginator')) %>");
