<% provide(:title, "Funds") %>

<div class="manage-trips-container">
  <div class="flex-container border-bottom">
    <h4 class="custom-label">FUNDS</h4>
    <div class="trip-btn">
      <%= link_to "Upcoming Trips", "#", class: "btn-custom upcoming-btn active", "data-trip-collapse" => "upcoming" %>
      <%= link_to "Previous Trips", "#", class: "btn-custom", "data-trip-collapse" => "previous" %>
    </div>
  </div>
  <div class="collapsible-container upcoming show">
    <div id="upcomingTripsLists">
      <%= render "upcoming_trips_lists" %>
    </div>

    <div id="upcomingTripsPaginator">
      <%= paginate @upcoming_organized_events, remote: true, param_name: 'upcomingTripsPaginator' %>
    </div>
  </div>

  <div class="collapsible-container previous">
    <div id="previousTripsLists">
      <%= render "previous_trips_lists" %>
    </div>

    <div id="previousTripsPaginator">
      <%= paginate @past_organized_events, remote: true, param_name: 'previousTripsPaginator' %>
    </div>
  </div>

</div>
