<% if mobile_device? %>
  $('#joinerLists').html('<%= escape_javascript(render partial: "joiner_lists.mobile.erb") %>');
<% else %>
  $("#joinerLists").html("<%= escape_javascript(render("joiner_lists")) %>");
<% end %>
$("#paginator").html("<%= escape_javascript(paginate(@organized_event_joiners, remote: true)) %>");
