<% provide(:title, "Joiner List") %>

<div class="manage-trips-container joiners-page">
  <div class="collapsible-joiner-list">
    <div id="joinerLists">
      <%= render "joiner_lists" %>
    </div>

    <div id="paginator">
      <%= paginate @organized_event_joiners, remote: true %>
    </div>
  </div>
  <div class="collapsible-container add-joiner">
    <div class="flex-container joiner">
      <h4 class="trip-header">INVITE JOINERS</h4>
      <span class="ion-close-round close-collapsible has-tip" data-tooltip aria-haspopup="true" title="Close"></span>
    </div>
    <div class="form-container">
      <%= form_tag organizer_invite_joiner_via_email_path, class: "invite-joiner-form", id: "inviteJoinerForm", remote: true do %>
        <div class="joiner-details-container">
          <div class="inline-input">
            <%= label_tag :id, "Trip to join" %>
            <%= select_tag :id, options_from_collection_for_select(@upcoming_events,:id, :name) %>
          </div>
          <div class="inline-input">
            <%= label_tag :full_name, "Full Name" %>
            <%= text_field_tag :full_name, nil, placeholder: "Type name" %>
          </div>
          <div class="inline-input">
            <%= label_tag :Email, "Email" %>
            <span><%= text_field_tag :email, nil, placeholder: "Enter Email Address", class: "mobile" %></span>
          </div>
          <div class="action-btn">
            <%= submit_tag "INVITE",class: "submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="invite-joiner-notif reveal" data-sucess-notif="" data-reveal>
  <div class="invite-joiner">
    <span class="ion-close-round" data-close aria-label="Close modal"></span>
    <h3 class='header'>INVITATION SENT</h3>
    <p class="name" data-full-name=""></p>
    <p>Successfully Invited!</p>
    <button data-close aria-label="Close modal" class="btn">OK</button>
  </div>
</div>
