<% provide(:title, "Payments") %>

<div class="manage-trips-container">
  <div id="paymentsLists">
      <%= render "payments_lists" %>
    </div>

    <div id="paginator">
      <%= paginate @organized_event_joiners, remote: true %>
    </div>
</div>
