<% provide(:title, "Payments") %>

<div class="manage-trips-container">
  <div class="managetrips-nav">
    <h4 class="header custom-icon payment">PAYMENTS</h4>
    <%= render "nav_mobile" %>
  </div>
  <div id="paymentsLists">
      <%= render "payments_lists" %>
  </div>
</div>
