<% if mobile_device? %>
  $('#paymentsLists').html('<%= escape_javascript(render partial: "payments_lists.mobile.erb") %>');
<% else %>
  $("#paymentsLists").html("<%= escape_javascript(render("payments_lists")) %>");
<% end %>
$("#paginator").html("<%= escape_javascript(paginate(@organized_event_joiners, remote: true)) %>");
