<% provide(:title, "Organized Trips") %>

<div class="manage-trips-container trips-page">
  <div id="organizerTrips">
    <%= render "organizer_trips" %>
  </div>

  <div id="paginator">
    <%= paginate @organized_events, remote: true %>
  </div>
</div>

<div class="reveal form-container" id="CancelTripForm" data-reveal>
  <div class="custom-form">
    <!-- Update form path through Jquery -->
    <%= form_tag '', method: :put, class: "cancelTripForm", "data-path" => organizer_trip_cancel_path(:slug) do %>
      <div class="inline-input">
        <%= label_tag :reason, "REASON" %>
        <%= text_field_tag :reason %>
      </div>
      <div class="submit-btn">
        <%= submit_tag "CANCEL TRIP" %>
      </div>
    <% end %>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
