<% if mobile_device? %>
  $('#organizerTrips').html('<%= escape_javascript(render partial: "organizer_trips.mobile.erb") %>');
<% else %>
  $("#organizerTrips").html("<%= escape_javascript(render("organizer_trips")) %>");
<% end %>
$("#paginator").html("<%= escape_javascript(paginate(@organized_events, remote: true)) %>");
