$("#eventJoiners").html("<%= j(render("event_joiner_list")) %>");
$("#eventWaitlists").html("<%= j(render("event_joiner_waitlist")) %>");
$("#paginatorJoiner").html("<%= j(paginate(@event_joiners, remote: true, param_name: 'paginator_joiner')) %>");
$("#paginator").html("<%= j(paginate(@event_waitlists, remote: true, param_name: 'paginator')) %>");
