<% provide(:title, "Events Waitlists") %>

<div class="manage-trips-container waitlists-page">
  <div id="manageJoiners">
    <h4 class="header">
      <%= link_to @event.name, trip_view_path(@event), class: "event-link" %>
    </h4>

    <h4 class="header">
      Joiners
    </h4>

    <div class="flex-container trips">
      <div class="trip-details-container">
        <div id="eventJoiners">
          <%= render "event_joiner_list" %>
        </div>
        <br>
        <div id="paginatorJoiner">
          <%= paginate @event_joiners, remote: true, param_name: 'paginator_joiner' %>
        </div>
      </div>
    </div>

    <h4 class="header">
     Waitlists
    </h4>

    <div class="flex-container trips">
      <div class="trip-details-container">
        <div id="eventWaitlists">
          <%= render "event_joiner_waitlist" %>
        </div>
        <br>
        <div id="paginator">
          <%= paginate @event_waitlists, remote: true, param_name: 'paginator' %>
        </div>
      </div>
    </div>

  </div>
</div>
