<div class="trips-with-filters">
  <div class="title-container">
    <p><%= generate_title(type) %></p>
    <p class="right">
      <%= generate_button_for(type) unless events.blank? %>
    </p>
  </div>
</div>
<% if events.blank? %>
  <div class="event-container trips">
    No trips found.
  </div>
<% end %>
<div class="event-container trips event-page">
  <% (1..paginated_events_count(events)).each do |i| %>
    <div class="event-full-info">
      <% if event = events[i-1]%>
        <%= link_to trip_view_path(event) do %>
          <div class="event-bg-container-front" style="background-image:url(<%= event.cover_photo_url(:large) %>)">
            <%= image_tag "gradient.png", class: "mask" %>
            <div class="details-wrapper">
              <p class="departure-date"><%= event.travel_dates.upcase %></p>
              <div class="trip-title-container">
                <h1 class="title"><%= event.name %></h1>
              </div>
              <%= brand_sponsor_logo(event) %>
            </div>
          </div>
          <%= render 'event/event_details', event: event %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
