<% provide(:title, "Apply for a job") %>

<div class="apply-for-a-job-container">
  <div class="row">
    <h1>Apply for a job</h1>
    <p>Full-time, part-time, intern, volunteer. Sometimes. we don't even know what we're looking for. Tell us what you want to do with and for us, and what do you think you can tangibly do to help us reach our vision of changing the face of travel here in the Philippines and the world.</p>
    <p>Send your applications to <a href="mailto:join@tripkada.com" class="mail">join@tripkada.com</a>, with your answer and your updated resume, and we'll do our best to get in touch with you.</p>
    <p>Please understand that we get a lot of applications, so if we don't find that we're not meant to be, you won't get a response. It's not you, it's. It's hard to respond to everyone. :)</p>
  </div>
</div>
