<% provide(:title, "Be a trip organizer") %>

<div class="organiser-form-container">
  <div class="row">
    <h1>Be a trip organizer</h1>
    <p><span>Trip</span><span>kada</span> provides a curated platform for trip organizers, whether from travel agencies, tour operators, and yes, informal and independent joining trip organizers, who want to open their trips to joiners</p>
    <p>We're about building our community of travelers, and if you think you have what it takes to join our pool of Trip Organizers, and post your own trips on Tripkada, please do fill up the form below. We'll review it, and contact you as soon as we can.</p>
    <%= form_tag become_a_trip_organizer_path, class: "organiser-form" do %>
     <div class="medium-6 columns">
      <%= text_field_tag :first_name, nil, placeholder: "Firstname", value: current_user&.first_name, required: true %>
     </div>
     <div class="medium-6 columns">
      <%= text_field_tag :last_name, nil, placeholder: "Lastname", value: current_user&.last_name, required: true %>
     </div>
     <div class="medium-12 columns">
      <%= text_field_tag :mobile, nil, placeholder: "Cellphone Number", value: current_user&.mobile, required: true %>
      <%= email_field_tag :email, nil, placeholder: "E-mail Address", value: current_user&.email, required: true %>
      <%= text_field_tag :fb_page, nil, placeholder: "Facebook Page, If any" %>
      <%= text_field_tag :website, nil, placeholder: "Website, If any" %>
      <%= text_area_tag :destination, nil,placeholder: "Destinations covered:", rows: 3 %>
      <%= text_area_tag :itinerary, nil,placeholder: "Sample trip itinerary:", rows: 3 %>
      <%= generate_organizer_application_form_submit_btn %>
     </div>
  <% end %>
  </div>
</div>
<script>
  window.onload = function () {
    <% unless user_signed_in? %>
      $('#loginModal').foundation('toggle')
    <% end %>
  }
</script>
