<% provide(:title, "Collaborate on project") %>

<div class="collaborate-container"> 
  <div class="row">
    <h1>Collaborate on projects</h1>
    <p>We love to dream up new ways to engage travel-lovers and promote sustainable and responsible travel to our community. From parties, to meet ups, to different themes of trips, and conferences. If you think you have a great idea, and you think we can collaborate with you and bring it to life, we want to hear your idead.</p>
    <p>Right now, we host bi-monthly travel meetups open to everyone, voluntourism trips, and themed annual events. Our newest collaborator, Make A Difference Travel, asked us to help create Social Tourism Summit to gather students, the academe, and professionals and talk about social entrepreneurship in travel. We loved the idea, and now we're planning for it.</p>
    <p>Got an idea? Email us, and we'll make sure to get in touch with you as soon as we can!</p>
  </div>
</div>
