<% provide(:title, "How it works") %>

<div class="how-it-works-container">
  <div class="row">
    <h1>How it works</h1>
    <p>Tripkada is made possible by it's community of travelers who organize trips independently. Trip organizers do not work for tripkada, unless specified. They are curated and given special access to your organizer app, trainings and events that we hope will help them to provide great experiences for their joiners</p>
   </div>
   <div class="flex-display">
    <div class="img-column">
      <%= image_tag "phone.png" %>
    </div>
    <div class="text-column">
      <p>Log into Tripkada and find a stream of available trips for the weekend. Check what fits what you feel like doing, whether it's to hike up a mountain, surf at the beach, or just plain bum somewhere with a great view.</p>
    </div>
   </div>
   <div class="flex-display">
    <div class="img-column">
      <%= image_tag "phone.png" %>
    </div>
    <div class="text-column">
      <p>Pick your trip, and join it by paying the downpayment of PHP 500-800 through the different payment options. simple choose what's convenient for you</p>
    </div>
   </div>
   <div class="flex-display">
    <div class="img-column">
      <%= image_tag "phone.png" %>
    </div>
    <div class="text-column">
      <p>Wait for your confimation and reminders, and get ready for your next epic weekend!</p>
    </div>
  </div>
</div>
