<% provide(:title, "Home") %>

<% content_for :opengraphs do %>
  <meta name="google-site-verification" content="OXwjFNmPp9GxJ36XQVP2nO49aX7IpPUQai1Xb12k39U" />
  <meta property="fb:app_id" content="<%= ENV['FB_APP_ID'] %>" />
  <meta property="og:title" content="Tripkada" />
  <meta property="og:description" content="Join trips planned by travelers like you.Learn more Now!." />
  <meta name="description" content="Join trips planned by travelers like you.Learn more Now!." />
  <meta property="og:image" content="<%= asset_url "tripkada-og-logo.png"  %>" />
<% end%>

<div class="home-container">

  <div class="header-grp">
    <h1>Join Trips</h1>
    <h1>PLANNED BY</h1>
    <h1>TRAVELERS</h1>
    <h1>like you</h1>
  </div>

  <div class="bottom-grp">
    <div class="search-container">
      <%= form_tag trips_path, method: :get do %>
        <div class="form-field">
          <%= select_tag :destination_id, options_from_collection_for_select(@destinations, "id", "name"), prompt: "Where do you want to go?" %>
        </div>
        <div class="form-field">
          <%= select_tag :category_id, options_from_collection_for_select(@categories, "id", "name"), prompt: "Activities" %>
        </div>
        <div class="form-field">
          <%= submit_tag "Search", class: "search-button" %>
        </div>
      <% end %>
    </div>
    <ul class="downloads">
      <li>
        <span>DOWNLOAD THE APP</span>
        <%= link_to image_tag("store_google_white.png"), "https://play.google.com/store/apps/details?id=ph.fliptrip.tripkada.joiner", target: "_blank" %></li>
      <li>
        <span>DOWNLOAD THE APP</span>
        <%= link_to image_tag("Appstore_white.png"),  "https://itunes.apple.com/ph/app/tripkada-trip-pooling-app/id1333012684?mt=8", target: "_blank"  %>
      </li>
    </ul>
  </div>

</div>
<%= render "trips", events: @featured_events, type: "featured" %>
<%= render "trips", events: @upcoming_events, type: "upcoming" %>
<%= render "trips", events: @this_months_events, type: "trips_this_month" %>
<%= content_for :page_javascripts do %>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-82268743-1', 'auto');
 ga('send', 'pageview');

</script>
<% end %>
