<% provide(:title, "Questions") %>

<div class="questions-form-container">
  <div class="row">
    <h1>Questions</h1>
    <p class="center">Got something on your mind? We'd love to chat! How can we help you?</p>
    <%= form_tag questions_path, method: :post, class: "organiser-form" do %>
     <div class="medium-6 columns">
      <%= text_field_tag :fname, nil, placeholder: "Firstname" %>
     </div>
     <div class="medium-6 columns">
      <%= text_field_tag :lname, nil, placeholder: "Lastname" %>
     </div>
     <div class="medium-12 columns">
      <%= text_field_tag :number, nil, placeholder: "Cellphone Number" %>
      <%= text_field_tag :email, nil, placeholder: "E-mail Address" %>
      <%= text_area_tag :message, nil, placeholder: "Message", rows: 3 %>
      <%= button_tag "SUBMIT" %>
     </div>
  <% end %>
  </div>
</div>
