<% provide(:title, "Trip requests") %>

<div class="trip-requests-form-container">
  <div class="row">
    <h1>Trip requests</h1>
    <p>Maybe you can't find what you're looking for, or you want something different or private. Fear not! Our travel experts are here to your rescue. Just let us know what you have in mind. how long you want to travel for, and how much you're willing to spend. We'll take care of it, and do our best to make sure you have the best experience possible.</p>
    <%= form_tag trip_requests_path, method: :post, class: "organiser-form" do %>
     <div class="medium-6 columns">
      <%= text_field_tag :fname, generate_user_info(:first_name), placeholder: "Firstname" %>
     </div>
     <div class="medium-6 columns">
      <%= text_field_tag :lname, generate_user_info(:last_name), placeholder: "Lastname" %>
     </div>
     <div class="medium-6 columns">
      <%= text_field_tag :number, generate_user_info(:mobile), placeholder: "Cellphone Number" %>
     </div>
     <div class="medium-6 columns">
      <%= email_field_tag :email, generate_user_info(:email), placeholder: "E-mail Address",type: "email", required: true%>
    </div>
     <div class="medium-12 columns">
      <%= text_area_tag :itinerary, params[:event], placeholder: "Not sure where? Tell us what you want to do", rows: 3 %>
      <%= text_field_tag :start_end_at, nil, placeholder: "When would you like to go? Departing, Returning" %>
      <%= text_area_tag :budget, nil, placeholder: "How much are you willing to spend on your accomodation?", rows: 3 %>
      <%= text_area_tag :pax, nil, placeholder: "How many people are in your group? or are you traveling solo?", rows: 2 %>
      <%= text_field_tag :address, nil, placeholder: "Where are you based?" %>
      <%= hidden_field_tag :platform, identify_user_platform %>
      <%= button_tag "SUBMIT" %>
     </div>
  <% end %>
  </div>
</div>
