<% provide(:title, "Who we are") %>

<div class="who-we-are-container">
  <ul class="flex-display">
    <li class="img-column">
      <%= image_tag "phone.png" %>
    </li>
    <li class="text-column">
      <h1>Who we are</h1>
      <p><span>Tripkada</span> is a mobile app where travellers can join trips organised by fellow travellers. think uberpooling for trips = trip-pooling. Instead of paying for an entire package, users can simply book a slot on a trip and join other travellers, split the bill, meet new friends, and tick things off their bucket list for less.</p>
      <p>Trips are organised and led by Tripkada's curated community of travellers. And because the entire cost of the trip is split among everyone in the group, daytrips can go for 750-2500, while weekend trips can cost anywhere from 1500-3500 (depending on the destinations and inclusions).</p>
      <p>Tripkada was launched to the public on Google Play on August 10, 2016 by adventure travel company, Fliptrip.ph, which specialises in connecting travellers to local communities in off-the-beaten-path destinations in the philippines.</p>
    </li>
  </ul>
</div>
