<% provide(:title, "Mailerlite") %>
<div class="header">
  <h1>MAILERLITE</h1>
</div>

<%= form_tag(mailerlite_new_group_path) do %>
  <ul class="inline-flex-form-group">
    <li>
      <%= label_tag(:name, "Name") %>
      <%= text_field_tag :name  %>
    </li>
    <li><%= submit_tag "Create New Group", class: "button", data: {
      disable_with: "Submitting..." } %></li>
  </ul>
<% end %>

<table class="payment-table">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Subscribers</th>
    <th>Date Created</th>
    <th class="actions-header">Actions</th>
  </tr>
  </thead>

  <tbody>
    <% @groups.each.with_index(1) do |group, i| %>
      <tr>
        <td><%= i %></td>
        <td><%= group[:name] %></td>
        <td><%= group[:total] %></td>
        <td><%= parse_month_day_year group[:date_created] %></td>
        <td class="actions">
          <button data-link=<%= "#{mailerlite_import_subscribers_path(id: group[:id])}" %> class="button primary small actions__show-import-modal-btn" data-open="importMailerliteSubscribers">
            Import Subscribers
          </button>
          <button data-link=<%= "#{mailerlite_delete_group_path(id: group[:id])}" %> class="button alert small actions__show-delete-group-confirmation-modal-btn" data-open="confirmDeleteGroupModal">
            Delete Group
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="reveal import-subscribers-modal" id="importMailerliteSubscribers" data-reveal>
  <header>
    <button class="close-button" data-close aria-label="Close modal" type="button">&times;</button>
    <div class="import-subscribers-modal__title">IMPORT SUBSCRIBERS</div>
  </header>
  <div class="row">
    <div class="large-12 columns">
      <hr>
      <%= form_tag "", id: "import-subscribers-modal__form" do %>
        <h5 class="import-subscribers-modal__label">Segment by Booking Count</h5>
        <% @segment_options_booking_count.each do |option| %>
          <%= radio_button_tag "options", option %>
          <%= label_tag "options", option.titleize , class: "import-subscribers-modal__label" %>
        <% end %>
        <hr>
        <h5 class="import-subscribers-modal__label">Segment by Last Booking Duration</h5>
        <% @segment_options_booking_duration.each do |option| %>
          <%= radio_button_tag "options", option %>
          <%= label_tag "options", option.titleize, class: "import-subscribers-modal__label" %>
        <% end %>
        <div class="large-12 columns">
          <%= submit_tag "IMPORT", class: "import-subscribers-modal__btn", data: {
            disable_with: "Submitting..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="reveal custom-modal-with-header tiny delete-trip-modal" id="confirmDeleteGroupModal" data-reveal>
  <h5>DELETE</h5>
  <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
  <p>Are you sure you want to delete this Group?</p>
  <%= button_to "", method: :delete, id: "delete-group-confirmation-form", class: "delete-btn", data: { disable_with: "Processing request...." } do %>
    <span class="delete-btn__icon trash-event ion-trash-b"></span> CONFIRM
  <% end %>
</div>
