<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY!</p>
        <p class="info info--with-margin">Trip Organizer 
          <span class="highlight-bold"><%= @organizer.full_name %></span> 
          canceled his/her trip
          <span class="highlight-bold"><%= @event.name.titleize %></span>
        </p>
        <p class="info info--with-margin">
          for this coming
          <span class="highlight-bold"><%= @event.start_month_day_year %></span>
        </p>
      </header>
      <div class="content-container">
        <div class="details details--default-width">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">TRIP DETAILS</h3>
            <p>Trip Name: <span class="highlight-text highlight-bold"><%= @event.name.titleize %></span></p>
            <p>Trip Organizer: <span class="highlight-text highlight-bold"><%= @event.owner.decorate.full_name %></span></p>
            <p>Meeting Place: <span class="highlight-text highlight-bold"><%= @event.meeting_place %></span></p>
            <p>Date Canceled: <span class="highlight-text highlight-text--red highlight-bold"><%= month_day_year_format @event.deleted_at %></span></p>
          </div>
          <div class="trip-info">
            <h3 class="highlight-text trip-label">Trip Date</h3>
            <p>Start: <span class="highlight-text highlight-bold"><%= @event.start_month_day_year %></span></p>
            <p>End: <span class="highlight-text highlight-bold"><%= @event.end_month_day_year %></span></p>
          </div>
          <div class="trip-info">
            <h3 class="highlight-text trip-label">No. of Pax</h3>
            <p>Min: <span class="highlight-text highlight-bold"><%= @event.min_pax %></span></p>
            <p>Max: <span class="highlight-text highlight-bold"><%= @event.max_pax %></span></p>
          </div>
          <div class="trip-info">
            <h3 class="highlight-text trip-label">Rate and Downpaymen Rate With Fee</h3>
            <p>Rate With Fee: <span class="highlight-text highlight-bold"><%= currency_format(@event.rate_with_fee, "P") %></span></p>
            <p>Downpayment Rate With Fee: <span class="highlight-text highlight-bold"><%= currency_format(@event.downpayment_rate_with_fee, "P") %></span></p>
          </div>
          <div class="trip-info">
            <h3 class="highlight-text trip-label">Members</h3>
            <% @memberships.each do |membership| %>
             <p>Member Name: <span class="highlight-text highlight-bold"><%= membership.member.decorate.full_name %></span></p>
             <p>Membership Date: <span class="highlight-text highlight-bold"><%= membership.decorate.join_date_short %></span></p>
             <p>Payment Mode: <span class="highlight-text highlight-bold"><%= membership.payment.try(:mode) %></span></p>
             <hr/>
            <% end %>
          </div>
        </div>
       </div>
    </div>
    <%= render 'shared/mailer/footer' %>
  </body>
</html>
