<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h2>Invalid Request Logs - <%= month_day_format_2 @timestamp %></h2>
  <p>Please see attached file for logs.</p>
</body>
</html>
