<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY!</p>
        <p class="info info--with-margin">Tripkada User
          <span class="highlight-bold"><%= @user.full_name %></span> 
          successfully completed photo verification
        </p>
      </header>
      <div class="content-container invite-joiner">
        <div class="details details--default-width">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">DETAILS</h3>
            <p>Name: <span class="highlight-text highlight-bold"><%= @user.full_name %></span></p>
            <p>Membership Date: <span class="highlight-text highlight-bold"><%= month_day_year_format @user.created_at %></span></p>
          </div>
          <div class="trip-info">
            <h3 class="highlight-text trip-label">JOINED TRIPS</h3>
            <% @user.joined_events.each do |event| %>
              <p>Trip Name: <span class="highlight-text highlight-bold"><%= event.name.titleize %></span></p>
              <p>Trip Date: <span class="highlight-text highlight-bold"><%= event.start_month_day_year %></span></p>
              <hr/>
            <% end %>
          </div>
          <div class="trip-info">
            <h3 class="highlight-text trip-label">VERIFICATION PHOTOS</h3>
            <% attachments.each do |attachment| %>
              <%= image_tag attachments[attachment.filename].url, class: "verification-photo" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/mailer/footer' %>
  </body>
</html>
