<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY!</p>
        <p class="info">Congratulations!
          <span class="highlight-bold">
            <%= @requester.full_name %>
          </span>
         requests a different trip date for the Trip
        </p>
        <p>
          <span class="highlight-text highlight-bold">
            <%= @event_name %>
          </span>
        </p>
      </header>
      <div class="content-container">
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">TRIP REQUEST DETAILS</h3>
            <p>TRIP NAME: <span class="highlight-text highlight-bold"><%= @event_name %></span></p>
            <p>REQUESTED START DATE: <span class="highlight-text highlight-bold"><%= date_time_format @requested_start_date %></span></p>
            <p>REQUESTED END DATE: <span class="highlight-text highlight-bold"><%= date_time_format @requested_end_date %></span></p>
            <p>REQUESTED PAX: <span class="highlight-text highlight-bold"><%= @requested_pax %></span></p>
          </div>
          <div class="trip-info">
            <p>If you have any questions to the Trip Requester,</p>
            <p>You can contact him/her by call/text via <span class="highlight-text"><%= @requester.mobile %></span></p>
            <p>Or you can email him/her via <span class="highlight-text"><%= @requester.email %></span></p>
          </div>
        </div>
        <div class="details">
          <div class="trip-info">
            <h3 class="highlight-text">IMPORTANT REMINDER</h3>
            <p>Don’t forget to share your travels and use the hashtag <span class="highlight-hashtag">#Tripkada</span>, to spread some</p>
            <p>FOMO-inducing good vibes!</p>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/mailer/footer" %>
  </body>
</html>
