<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag("notification_mailer") %>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo"></div>
      <p class="name">Tripkada</p>
    </div>
    <div class="email-wrapper">
      <header class="confirmation">
        <p class="greetings">MABUHAY!</p>
        <p class="info info--with-margin">Trip Organizer 
          <span class="highlight-bold"><%= @organizer.full_name %></span> 
          received a review from
          <span class="highlight-bold"><%= @reviewer.full_name %></span>
        </p>
      </header>
      <div class="content-container">
        <div class="details details--default-width">
          <div class="trip-info">
            <h3 class="highlight-text trip-label">REVIEW DETAILS</h3>
            <p>Message: <span class="highlight-text highlight-bold"><%= @review.message.titleize %></span></p>
            <p>Rating: <span class="highlight-text highlight-bold"><%= @review.rating %></span></p>
            <p>Review Date: <span class="highlight-text highlight-bold"><%= month_day_year_format @review.created_at %></span></p>
            <p>Platform: <span class="highlight-text highlight-bold"><%= @review.platform&.titleize %></span></p>
          </div>
        </div>
        <div class="details">
          <div class="info-bottom">
            <div class="info">
              <p>You may check out more of your trip details on the attached file and via the Trip</p>
              <p>Page on this link: <a href="https://www.tripkada.com/trips" class="trips">TRIP PAGE</a></p>
            </div>
            <div class="info">
              <p>For any further questions, suggestions, and/or concerns, please feel free to</p>
              <p>contact #Tripkada. You may reach us via the email (join@tripkada.com) or via </p>
              <p>call/text (+63 977 256 5410 or +63 999 601 1444). You also check out our FAQ</p>
              <p>FAQ for more details.</p>
            </div>
            <div class="info">
              <p>With that, maraming salamat for traveling with Tripkada! Happy travels!</p>
            </div>
            <div class="info">
              <p>#Tripkada</p>
            </div>
          </div>
        </div>
       </div>
    </div>
    <%= render 'shared/mailer/footer' %>
  </body>
</html>
