<div class="header">
  <p class="payment-label">PAYMENT</p>
  <p>BANK DEPOSIT</p>
  <p>Go to any branch of your chosen bank from the options below. Fill up a cash deposit slip with the following details:</p>
</div>
<div class="banks-container">
  <div class="bank">
    <%= image_tag "bdo.png" %>
    <p><span>Account Number:</span><span>007 410 035 568</span></p>
    <p><span>Account Name:</span><span>Margaret M. Cuenca</span></p>
    <p><span>Type of Account:</span><span>Peso Savings</span></p>
    <p><span>Currency:</span><span>Peso</span></p>
  </div>
  <div class="bank">
    <%= image_tag "bpi.png" %>
    <p><span>Account Number:</span><span>1929 2193 99</span></p>
    <p><span>Account Name:</span><span>Margaret M. Cuenca</span></p>
    <p><span>Type of Account:</span><span>Peso Savings</span></p>
    <p><span>Currency:</span><span>Peso</span></p>
  </div>
</div>
