<div class="label-and-submit-container">
  <a data-open="<%= dummy_view %>" class="link-proof-payment"> PROOF OF PAYMENT <span class="ion-ios-camera">Upload photo</span></a>
  <%= link_to 'SUBMIT', '#', class: 'submit-join-btn', 'data-open' => dummy_view %>
</div>
<div class='reveal fb-login-modal custom-modal-with-header' id='FBLogin' data-reveal>
  <header>
    <span>FACEBOOK LOGIN REQUIRED</span>
    <button class="close-button" data-close aria-label="Close modal" type="button"></button>
  </header>
  <p>To proceed on joining the trip, login with your Facebook account</p>
  <%= link_to '<span class="ion-social-facebook"></span> LOGIN WITH FACEBOOK'.html_safe, user_facebook_omniauth_authorize_path(role: "joiner", url: request.url), class: "fb-login" %>
  <%= link_to 'Terms and Conditions', '#' %>
</div>
  