<div class="filter">
  <%= render "event/filter/date" %>
  <%= render "event/filter/price" %>
  <%= render "event/filter/activity" %>
  <%= render "event/filter/destination" %>
  <%= render "event/filter/cost_range" %>
  <%= render "event/filter/no_of_days" %>
</div>
<%= render "event/filter/sub_view_with_javascript" %>
