<div class="filter dropdown-pane" id="filter-dropdown" data-dropdown data-close-on-click="true">
  <div class="flex-filter-container">
    <div class="left">
      <%= render "event/filter/date" %>
      <%= render "event/filter/activity" %>
    </div>
    <div class="right">
      <%= render "event/filter/price" %>
      <%= render "event/filter/destination" %>
      <%= render "event/filter/no_of_days" %>
      <%= render "event/filter/cost_range" %>
    </div>
  </div>
</div>
<%= render "event/filter/sub_view_with_javascript" %>
