<% if @events.blank? %>
  <div class="event-container trips">
    No results found.
  </div>
<% end %>
<div class="event-container trips event-page" id="filteredEventsContainer">
  <%= render 'paginated_filtered_upcoming'%>
</div>
<div class="pagination-links" id="paginationLinks">
  <%= paginate @events, remote: true, params: {controller: 'event', action: 'paginated_page', format: "js" } %>
</div>
<%= render "shared/pagination_loader" %>
