<%= simple_form_for @event, url: @action, method: @method, html: { class: "event-form disable-enter-submit", multipart: true } do |f| %>
  <%= f.input :event_id, as: :hidden, input_html: { value: @original_event.id } if valid_for_duplicate(@original_event, @event) %>
  <div class="input">
    <div class="focus-photo <%= "#{'toggle-focus-hover' if @original_event.photos.blank? }" %>" style="background-image:url('<%= "#{@original_event.cover_photo_url(:large)}" %>')">
      <div>
        <label class="ion-ios-camera" for="photo0"></label>
        <button type="button" class="ion-trash-b" onclick="event_removeURL(this)"></button>
      </div>
    </div>
    <%= generate_input_file_tag_for(@original_event) %>
  </div>
<% if current_user.admin? %>
<div class="input">
  <p class="brand-logo-label">Brand Logo</p>
  <%= brand_sponsor_logo_uploader(current_user, @original_event) %>
</div>
<% end %>
  <%= f.input :name %>
  <!-- Date TimePicker Angular JS -->
  <div ng-app = 'angular.circular.datetimepicker'>
    <circulartimepicker model="data.date" trip_start="<%= complete_date_format @event.start_at %>" trip_end="<%= complete_date_format @event.end_at %>"></circulartimepicker>
  </div>
  <%= f.input :description, input_html: { rows: 3 } %>
  <%= f.input :categories, input_html: { value: @event.categories.map(&:name).join(";") }, as: :hidden %>
  <%= render "event/form/tags_picker", fields: category_fields %>
  <%= f.input :destinations, input_html: { value: @event.destinations.map(&:name).join(";") }, as: :hidden %>
  <%= render "event/form/tags_picker", fields: destination_fields %>
  <div class="input">
    <label for="event_meeting_place">Meeting place</label>
    <div class="map-input-container">
      <input id="event_meeting_place" class="controls" type="text" name="event[meeting_place]" placeholder="Search for meeting place" value="<%= @event.meeting_place %>" data-coordinates='<%= "#{@event.lat};#{@event.lng}" %>' required>
      <div id="map"></div>
    </div>
  </div>
  <%= f.input :tags, input_html: { class: "enable-tagsInput" } %>
  <%= f.input :rate %>
  <%= f.input :downpayment_rate %>
  <%= f.input :min_pax %>
  <%= f.input :max_pax %>
  <%= f.input :highlights, input_html: { class: "enable-tagsInput" } %>
  <%= f.input :inclusions, as: :hidden %>
  <div class="input">
    <label>Inclusion</label>
    <div class="tags-picker-container">
      <div class="tags <%= 'block' unless @event.inclusion_lists.blank? %>" id="inclusionsContainer">
        <% @event.inclusion_lists.each do |i| %>
          <span class="tag"><%= i %><a title="Removing inclusion" data-remove="inclusions">x</a></span>
        <% end %>
      </div>
      <div class="picker">
        <span class="ion-ios-plus-empty" data-open="inclusionsModal"></span>
        <div class="reveal custom-modal-with-header tags-picker" id="inclusionsModal" data-reveal>
          <header>
            <span>Inclusions</span>
            <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
          </header>
          <ul>
            <% inclusions.each do |i| %>
              <li data-tag-category="inclusions" class="<%= 'picked' if @event.inclusion_lists.include?(i) %>"><%= i %></li>
            <% end %>
          </ul>
          <div class="text-container">
            <%= text_field_tag :custom_inclusion, nil, placeholder: "Type", "data-submit-input" => "" %>
            <button class="ion-ios-plus-empty" type="button" data-create-tag="inclusions"></button>
          </div>
          <div class="btn-container">
            <button class="btn-close" data-close="" aria-label="Close modal" type="button">DONE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input">
    <label>Itinerary</label>
    <ul id="ItineraryContainer">
      <% @event.itineraries.each_with_index do |it, i| %>
        <li>
          <span>Day <%= i + 1 %>:</span>
          <%= text_area_tag "event[itineraries_description][]", it.description, rows: 2, placeholder: "Looking for your quiet retreat! We have the secret spot for you" %>
        </li>
      <% end %>
      <li>
        <span>Day <%= @event.itineraries.count + 1 %>:</span>
        <%= text_area_tag "event[itineraries_description][]", nil, rows: 2, placeholder: "Looking for your quiet retreat! We have the secret spot for you" %>
      </li>
    </ul>
    <button onclick="addNewItinerary(this);" class="ion-ios-plus-empty add-new-itinerary-button" type="button"></button>
  </div>
  <%= f.input :things_to_bring, as: :hidden %>
  <div class="input">
    <label>Things to bring</label>
    <div class="tags-picker-container">
      <div class="tags <%= 'block' unless @event.things_to_bring_lists.blank? %>" id="things_to_bringContainer">
        <% @event.things_to_bring_lists.each do |i| %>
          <span class="tag"><%= i %><a title="Removing inclusion" data-remove="things_to_bring">x</a></span>
        <% end %>
      </div>
      <div class="picker">
        <span class="ion-ios-plus-empty" data-open="thingsModal"></span>
        <div class="reveal custom-modal-with-header tags-picker" id="thingsModal" data-reveal>
          <header>
            <span>Things to bring</span>
            <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
          </header>
          <ul>
            <% things.each do |i| %>
              <li data-tag-category="things_to_bring" class="<%= 'picked' if @event.things_to_bring_lists.include?(i) %>"><%= i %></li>
            <% end %>
          </ul>
          <div class="text-container">
            <%= text_field_tag :custom_thing, nil, placeholder: "Type", "data-submit-input" => "" %>
            <button class="ion-ios-plus-empty" type="button" data-create-tag="things_to_bring"></button>
          </div>
          <div class="btn-container">
            <button class="btn-close" data-close="" aria-label="Close modal" type="button">DONE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input">
    <label></label>
    <%= f.button :submit, @event.new_record? ? "CREATE" : "UPDATE", data: { disable_with: "Submitting..." } %>
  </div>
<% end %>
