<div class="header">
  <p class="payment-label">PAYMENT</p>
</div>
<div class="banks-container">
  <div class="bank paymaya">
    <%= image_tag "paymaya.png" %>
    <p>Go to any 7Eleven branch and proceed to their CLIQQ Machine. Select E-MONEY, then select PAYMAYA.</p>
    <p>Enter the following number, and the amount due. Print out the receipt, then proceed to the counter for payment</p>
    <p><span>Account Number:</span><span>0999 6011 444</span></p>
  </div>
</div>
