<%= form_tag join_path, method: :post, multipart: true do %>
  <%= hidden_field_tag :code, params[:code] %>
  <%= hidden_field_tag :mode, params[:mode] %>
  <label for="payment_photos">Proof of payment <span class="ion-ios-camera upload-photo-btn"></span><span>Upload photo</span></label>
  <%= file_field_tag :payment_photos %>
  <%= submit_tag "SUBMIT", data: { disable_with: "Submitting..." } %>
<% end %>
