<% @reviews.decorate.each do |r| %>
  <div class="review-list">
    <div class="reviewer" style="background-image:url(<%= r.reviewer.avatar %>)"></div>
    <div class="review-details">
      <span><%= month_day_year_format r.created_at %></span>
      <p><%= r.message %></p>
      <div class="rating" data-rating="<%= r.rating %>"></div>
      <p class="name"><%= r.reviewer.full_name %></p>
    </div>
  </div>
<% end %>
