<%= render "event/myevents_links"%>
<div class="row event-container">
  <% @events.each do |event| %>
    <div class="medium-4 large-3 columns">
      <div class="event-bg-container" style="background-image:url(<%= event.cover_photo_url(:medium) %>)" data-redirect="<%= trip_view_url(event) %>">
        <%= image_tag "gradient.png", class: "mask" %>
        <div>
          <div class="details-wrapper">
            <div><p class="departure-date"><%= event.travel_dates.upcase %></p></div>
            <div class="trip-title-container">
              <h1 class="title"><%= event.name %></h1>
            </div>
          </div>
        </div>
        <div class="notice-avatar-container">
          <div class="notice">
            <p><span class="ion-android-alarm-clock"></span><span><%= (event.start_at.to_date - DateTime.now.to_date).to_i %></span> Days left</p>
          </div>
          <div class="joiner-avatar-container">
            <ul class="joiner">
              <% event.first_three_members.each do |u| %>
                <li><div style="background-image: url(<%= avatar_url_for(u) %>)"></div></li>
              <% end %>
              <li>
                <div class="reveal custom-modal-with-header event-member-list tiny" id="membersOfTrip<%= event.slug %>" data-reveal>
                  <header>
                    <span>Joiner</span>
                    <button class="close-button" data-close aria-label="Close modal" type="button"></button>
                  </header>
                  <ul>
                    <% event.valid_memberships.each do |membership| %>
                      <li>
                        <div class="avatar" style="background-image: url(<%= membership.member.avatar_url(:thumb) %>)"></div>
                        <div class="name-and-status">
                          <p><%= membership.member.full_name %></p>
                          <%= status_with_icon membership %>
                        </div>
                        <span class="ion-chatbox"></span>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
            </ul>
            <p class="slots-left">
              <%= content_tag(:span, event.slots_left) + " slots left!" %>
            </p>
          </div>
        </div>
        <div class="share-btn">
          <section data-share-trip="<%= trip_view_url(event) %>">
            <span class='ion-android-share-alt'></span>
          </section>
        </div>
      </div>
    </div>
  <% end %>
</div>
