<% provide(:title, "#{@event.name}") %>
<%= javascript_include_tag("invite_joiner") %>
<%= javascript_tag "facebook_pixel_track.checkout(#{@event.downpayment_rate}, '#{@event.slug}')" %>
<%= checkout_progress %>
<div class="slider-container">
  <div class="events-slider" data-slick='{"dots": false}'>
    <% @event.photos. each do |photo| %>
      <div class="event-container" style="background-image: url(<%= photo.image_url(:xxlarge) %>)"><%= image_tag "gradient.png", class: "mask" %></div>
    <% end %>
  </div>
  <div class="event-details">
    <div class="details">
      <p><%= @event.travel_dates.upcase %></p>
      <h3><%= @event.name %></h3>
    </div>
  </div>
</div>
<div class="bottom-details">
  <div class="profile-details">
    <%= link_to profile_path(@event.owner.slug), title: "Go to #{@event.owner.full_name}'s profile", class: "profile-link" do %>
      <div style="background-image:url(<%= @event.owner.avatar_url(:medium) %>)"></div>
      <p class="full-name"><%= @event.owner.full_name %></p>
    <% end %>
    <div class="rating" data-rating="<%= @event.owner.total_rating %>"></div>
  </div>
</div>
<div class="travel-info-container">
  <div class="details">
    <p class="info checkout-page">
      <span class="text">To reserve your slot to join this trip,</span>
      <span class="inline-text">
        <span>PAY ONLY THE REQUIRED DOWNPAYMENT</span>
        <span>specified.</span>
      </span>
    </p>
    <p class="price">
      <span>PRICE</span>
      <span>P <%= currency_format @event.rate_with_fee %>/ Person</span>
    </p>
    <p class="downpayment">
      <span>REQUIRED DOWNPAYMENT</span>
      <span>P <%= currency_format @event.downpayment_rate_with_fee %>/ Person</span>
    </p>
  </div>
</div>
<%= form_tag payment_details_path, method: :get,  class: "checkout-form", "data-trip-url" => join_using_promo_code_path(@event), "data-token" => form_authenticity_token do %>
  <div class="cost">
    <p>Trip Cost<span>P <%= @event.rate %>/ Person</span></p>
  </div>
  <div class="booking-fee">
    <p>Booking Fee<span>P <%= @booking_fee %></span></p>
  </div>
  <div class="booking-code-container">
    <p>Promo Code</p>
    <i><%= text_field_tag :code, nil, placeholder: "Enter promo code", autocomplete: "off", onkeyup: "validateCode(this,#{@event.rate_with_fee}, #{@event.downpayment_rate_with_fee});" %></i>
  </div>
  <%= hidden_field_tag :mode %>
  <p id="less">Less <span id="bookingCodeValue">P 0</span></p>
  <div class="add-joiner-wrapper">
    <div class="add-joiner-container">
      <p class="add-joiner">ADD JOINER</p>
      <a data-open="addJoinerModal" title="Add Joiner" class="add-joiner-modal" data-joiner-count=""><span class="ion-plus"></span></a>
    </div>
  </div>
  <div class="payment">
    <p class="total">Total: <span id="totalRate">P <%= @event.rate_with_fee %></span></p>
    <p class="downpayment">Downpayment Required <span id="requiredDownpayment">P <%= currency_format @event.downpayment_rate_with_fee %></span></p>
  </div>
  <button class="payment-modal" data-open="paymentGateway" type="button">PROCEED TO PAYMENT</button>
  <div class="reveal payment-modal new" id="paymentGateway" data-reveal>
    <div class="flex-wrapper">
      <header>
        <button class="close-button ion-android-close" data-close aria-label="Close modal" type="button"></button>
        <h6 class="title">Payment</h6>
      </header>
      <p class="note">Reserve your slot now! Simply pick one of the payment options below:</p>
      <div class="two-col-container payment-container">
        <%= link_to image_tag("dragonpay-logo.png"), dragonpay_path(@event), "data-dragonpay-checkout" => "" %>
        <p class="text has-centered-text has-15px-right-margin">Online Payment</p>
      </div>
      <div class="two-col-container payment-container">
        <%= link_to image_tag("paypal-logo.png", class: "img-paypal"), paypal_transaction_path(event_id: @event.id), method: :post, "data-paypal-checkout" => "" %>
        <p class="text has-centered-text">Pay with your credit card or debit card easily</p>
      </div>
      <div class="two-col-container banks" onclick = "checkoutUsing('bank','<%= payment_details_path %>')">
        <div class="flex-images-container has-20px-left-margin">
          <p>Bank Deposit</p>
          <div class="flex-image has-no-margin-top">
            <%= image_tag "bdo.png" %>
            <%= image_tag "bpi.png", class: "img-bpi" %>
          </div>
        </div>
        <p class="text last has-centered-text banks">Deposit over-the-counter or via online bank transfer</p>
      </div>
    </div>
  </div>
<% end %>
<div class="reveal invite-joiner-container add-joiner" id="addJoinerModal" data-reveal>
  <%= form_tag "#", id: 'addJoinerForm', data: { downpayment_with_fee: @event.downpayment_rate_with_fee, rate_with_fee: @event.rate_with_fee, joiner_email: current_user&.email } do %>
    <header>
      <h5>Add Joiner</h5>
      <button class="close-button" data-close aria-label="Close modal" type="button"></button>
      <%= button_tag "CLEAR", type: 'button', class: "clear", id: "clearFields" %>
    </header>
    <div class="joiner-input-wrapper">
      <div class="input-wrapper">
        <div class="input-header">
          <p>Joiner 1</p>
        </div>
        <div class="input-container">
          <%= label_tag :name_1, 'Name' %>
          <%= text_field_tag :name_1, nil, placeholder: "Type name here", required: true %>
        </div>
        <div class="input-container">
          <%= label_tag :email_1, 'Email' %>
          <%= text_field_tag :email_1, nil, placeholder: "Type email here", required: true, autocomplete: :off, type: 'email', data: { email_for: "invitee" } %>
        </div>
      </div>
    </div>
    <div class="add-fields-container">
      <a data-add-field="" title="Add More Joiners" class="add-fields-btn"><span class="ion-plus"></span></a>
    </div>
    <div class="submit-container">
      <%= submit_tag "SUBMIT", class: "submit", "data-close-joiner-modal" => "" %>
    </div>
  <% end %>
</div>
<script>
  <% if has_completed_data_of(current_user) %>
    var form = $("#editDetailModal")
    $(document).ready(function(){$(form).foundation('open')});
    $(form).data("close-on-click", false)
    $("#proceed_checkout").val(true)
  <% end %>
</script>
