<% provide(:title, "Update trip #{@event.name}") %>
<%= render partial: "form" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&libraries=places&callback=initAutocomplete" async defer></script>
