<% provide(:title, "Trips") %>
<div class="events-slider mobile">
  <% @newest_upcoming_events.each do |event| %>
    <div class="event-container mobile" style="background-image:url(<%= event.cover_photo_url(:xlarge) %>)">
      <%= image_tag "gradient.png", class: "mask" %>
      <div class="wrapper-bottom">
        <div class="flex-column">
          <p class="departure"><%= event.travel_dates.upcase %></p>
          <%= link_to content_tag(:h2, event.name, class: "title"), trip_view_path(event) %>
          <div class="joiner-container">
            <%= link_to trip_view_path(event), "data-page-redirect" => "", class: "slots-and-members" do %>
              <div class="price-desc">
                <p><span>₱  <%= number_to_currency(event.rate_with_fee,  unit: "") %></span> / Person</p>
              </div>
              <ul class="joiner">
                <% event.first_three_members.each do |u| %>
                  <li>
                     <div style="background-image: url(<%= avatar_url_for(u) %>)"></div>
                  </li>
                <% end %>
              </ul>
              <p class="slots-left">
                <%= content_tag(:span, event.slots_left) + " slots left!" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row event-container trips-page-mobile">
  <div class="trips-with-filters">
    <div class="filters-container">
      <button class="filter-btn" data-toggle="filter">
        FILTERS
        <span class="ion-arrow-down-b filter-icon"></span>
      </button>
      <%= render "filter" %>
    </div>
  </div>
  <%= form_tag trips_path, method: :get, class: "search_form", remote: true do %>
    <%= text_field_tag :search_trips, nil, placeholder: "Search Trips..", autocomplete: :off %>
  <% end %>
  <div class="title-header-container">
    <h3 class="title-header">TRIPS</h3>
  </div>
  <div class="ajax-event">
    <%= render "filtered_upcoming" %>
  </div>
  <div class="event-loading small-12 columns"><%= image_tag("tripkada-loader.gif")%></div>
</div>
<%= yield :filter_javascript %>
