<% provide(:title, "Trips") %>
<div class="events-slider">
  <% @newest_upcoming_events.each do |event| %>
    <div class="event-container" style="background-image:url(<%= event.cover_photo_url(:xxlarge) %>)">
      <%= image_tag "gradient.png", class: "mask" %>
      <div class="flex-column bottom">
        <p class="departure"><%= event.travel_dates.upcase %></p>
        <%= link_to content_tag(:h2, event.name, class: "title"), trip_view_path(event) %>
        <div class="price-and-joiners">
          <div class="price-desc">
            <p><span>₱  <%= number_to_currency(event.rate_with_fee,  unit: "") %></span> / Person</p>
          </div>
          <div class="joiner-container">
            <%= link_to trip_view_path(event), "data-page-redirect" => "", class: "slots-and-members" do %>
              <ul class="joiner">
                <% event.first_three_members.each do |u| %>
                  <li>
                    <div style="background-image: url(<%= avatar_url_for(u) %>)"></div>
                  </li>
                <% end %>
              </ul>
              <p class="slots-left"><span><%= event.slots_left %></span> Slots Left!</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="event-wrapper">
  <div class="trips-with-filters">
    <div>
      <p class="event-label">Trips</p>
    </div>
    <div class="filters-container">
      <%= form_tag trips_path, method: :get, class: "search_form", remote: true do %>
        <%= text_field_tag :search_trips, nil, placeholder: "Search Trips..", autocomplete: :off %>
      <% end %>
      <button class="filter-btn" type="button" data-toggle="filter-dropdown">
        Filters
        <span class="ion-ios-settings-strong filter-icon"></span>
      </button>
      <%= render "filter" %>
    </div>
  </div>
  <div class="ajax-event">
    <%= render "filtered_upcoming" %>
  </div>
  <div class="event-loading"><%= image_tag("tripkada-loader.gif")%></div>
</div>
<%= yield :filter_javascript %>
