$('.paginated-members').append('<%= escape_javascript(render partial: "paginated_members", locals: {members: @valid_members}) %>');
$('#paginationLinks').html("<%= escape_javascript(paginate @valid_members.object, remote: true, params: {controller: 'event', action: 'joiners', slug: @event.slug, format: "js" }) %>")
ready = true;
