<% provide(:title, "My Trips") %>

<%= render "event/my_events_links"%>
<div class="row event-container trips-page-mobile">
  <%= render generate_my_trips_page(@events) %>
</div>
<div class="pagination-links" id="paginationLinks">
  <%= paginate @events, remote: true, params: {controller: 'event', action: 'my_trips', format: "js" } %>
</div>
<%= render "shared/pagination_loader" %>
