<% provide(:title, "My Trips") %>

<%= render "event/my_events_links"%>
<div class="event-container my-trips trips event-page" id="filteredEventsContainer">
  <%= render generate_my_trips_page(@events) %>
</div>
<div class="pagination-links" id="paginationLinks">
  <%= paginate @events, remote: true, params: {controller: 'event', action: 'my_trips', format: "js"} %>
</div>
<%= render "shared/pagination_loader" %>
