requestOnce = true;
$(".pagination-event-loading").hide();
$('.event-container').append('<%= escape_javascript (render partial: "paginated_my_trips#{".mobile.erb" if mobile_device?}") %>');
$('#paginationLinks').html("<%= escape_javascript(paginate @events, remote: true, params: {controller: 'event', action: 'my_trips', format: 'js' }) %>")
