<% provide(:title, "Trip Page") %>
<%= javascript_include_tag "facebook-optin" %>

<% content_for :opengraphs do %>
  <meta property="fb:app_id" content="<%= ENV['FB_APP_ID'] %>" />
  <meta property="og:title" content="<%= @event.name %>" />
  <meta property="og:description" content="<%= truncated_custom_description(@event.description) %>" />
  <meta name="description" content="<%= truncated_custom_description(@event.description) %>" />
  <meta property="og:image" content="<%= generate_opengraph_image_url(@event.og_event_photo_url) unless @event.photos.blank? %>" />
<% end%>
<div class="slider-container <%= 'offset-mobile' if current_user_is_owner_of_event? @event%>">
  <div class="events-slider">
    <% @event.photos.each do |photo| %>
      <div class="event-container" style="background-image: url(<%= photo.image_url(:xlarge) %>)"><%= image_tag "gradient.png", class: "mask slider-mask" %></div>
    <% end %>
  </div>
  <%= image_tag "share.png", "data-share-trip" => trip_view_url(@event), class: "share" %>
  <div class="event-details">
    <div class="details">
      <p class="trip-date"><%= @event.travel_dates.upcase %></p>
      <h3 class="trip-name"><%= @event.name %></h3>
    </div>
    <% unless current_user_is_owner_of_event? @event %>
    <div class='price-container'>
      <%= generate_booking_button_for @event %>
      <%= render partial: 'shared/edit_profile_form', locals: { reveal_id: 'bookEditDetailModal' } if user_signed_in? %>
    </div>
    <% end %>
  </div>
</div>

<div class="event-owner">
  <div class="profile-wrapper">
    <div class="profile-details">
      <%= link_to profile_path(@event.owner.slug), title: "Go to #{@event.owner.full_name}'s profile", class: "profile-link" do %>
        <div style="background-image:url(<%= @event.owner.avatar_url(:medium) %>)"></div>
      <% end %>
      <p class="full-name"><%= link_to @event.owner.full_name, profile_path(@event.owner.slug)  %></p>
      <div class="rating" data-rating="<%= @event.owner.total_rating %>"></div>
    </div>
    <p class="description"><%= @event.description %></p>
    <%= brand_sponsor_logo(@event) %>
  </div>
</div>

<div class="travel-info-container">
  <div class="details">
    <p class="departure">
      <span>START</span>
      <span><%= day_format @event.start_at.localtime %> <%= month_day_year_format @event.start_at.localtime %> <%= time_format @event.start_at.localtime %>
      </span>
    </p>
    <p class="arrival">
      <span>END</span>
      <span class=""><%= day_format @event.end_at.localtime %> <%= month_day_year_format @event.end_at.localtime %><%= time_format @event.end_at.localtime %>
      </span>
    </p>
    <p class="place">
      <span>MEETING PLACE</span>
      <span class="align-center"><%= @event.meeting_place %><a href="#" id="tripMeetingPlace" class="ion-android-pin popup-map-btn" data-open="popupMapModal" data-coordinates='<%= "#{@event.lat};#{@event.lng}" %>' data-popup-map-modal-btn="mobile" data-tooltip aria-haspopup="true" class="has-tip" title="Click To Toggle Map"></a></span>
    </p>
    <p class="price">
      <span>PRICE</span>
      <span>₱<%= currency_format @event.rate_with_fee %>/ Person</span>
    </p>
    <p class="downpayment">
      <span>REQUIRED DOWNPAYMENT</span>
      <span>₱<%= currency_format @event.downpayment_rate_with_fee %>/ Person</span>
    </p>
  </div>
</div>

<div class="members-container">
  <div class="join organizer">
    <div class="trip-members">
      <p class="whos-going f-left">Who's Going?</p>
      <p class="slots-left f-left"><%= @event.slots_left %> slots left!</p>
      <% if current_user_is_owner_of_event? @event %>
      <a data-open="ViewAllJoinerModal" title="View All Joiner" class="view-all f-right">View All </a>
      <div class="reveal view-all-joiners-container" id="ViewAllJoinerModal" data-reveal>
        <header>
          <h5>Joiners</h5>
          <button class="close-button" data-close aria-label="Close modal" type="button"></button>
        </header>
        <ul class="accordion joiners-container" data-accordion data-multi-expand="true">
          <% @valid_memberships.each do |membership| %>
          <li class="accordion-item joiner-info-container" data-accordion-item>
            <button class="accordion-title <%= "is-active" if @valid_memberships.first.member == membership.member %>" onclick="toggleSlideJoinerInfo(this)">
              <div class="accordion-button-container">
                <%= generate_facebook_link_for(membership.member) %>
                <div class="name-downpayment">
                  <p><%= membership.member.full_name %></p>
                  <span><%= status_with_icon membership %></span>
                </div>
                <a href="#" class="message-icon ion-ios-chatbubble-outline"></a>
              </div>
            </button>
            <div class="accordion-content joiner-panel" data-tab-content>
              <div class="joiner-booking-info">
                <p class="joiner-phone"><%= membership.member.mobile %></p>
                <p class="joiner-email"><%= membership.member.email %></p>
                <p class="joiner-booking-code"><span>Booking Code:</span> <%= membership.payment.promo_code.try(:code) %></p>
                <p class="joiner-balance"><span>Balance:</span> 0.00</p>
              </div>
              <div>
                <%= select_tag "status", options_for_select(payment_status_options,
                  "#{membership.payment.status}"),
                  {"data-payment-url" => payment_path(membership.payment.id), class: "select-status clear-select select-btn" } %>

                <%= check_box_tag "noshow_#{membership.event_membership.id}", 1,
                  membership.event_membership.no_show, onclick: "noShowAction(this, #{@event.id})", class: 'manage-trips-check-box accordion-no-show' %>
                  <label for="noshow_<%= membership.event_membership.id %>" class="no-show-btn manage-trips accordion-no-show">NO SHOW</label>

              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>

      <ul class="members">
        <% @valid_memberships.each do |m| %>
          <li>
            <%= generate_facebook_link_for(m.member) %>
          </li>
        <% end %>
        <section class="paginated-members"></section>
        <% if @valid_members_count > @members_per_page %>
          <a id="showMoreJoiners"
            data-members_per_page=<%= @members_per_page %>
          >
            <li class="more-joiners">
              <span class="more-joiners__icon ion-plus"></span>
              <p class="more-joiners__count"><%= @valid_members_count %></p>
            </li>
          </a>
        <% end %>
        <div class="pagination-links" id="paginationLinks">
          <%= paginate @valid_members.object, params: {controller: "event", action: "joiners", slug: @event.slug, format: "js"}, remote: true %>
        </div>
        <% if current_user_is_owner_of_event? @event %>
        <li class="add-btn">
          <a data-open="inviteJoinerModal" title="Invite Joiner"><span class="ion-plus"></span></a>
          <div class="reveal invite-joiner-container mobile" id="inviteJoinerModal" data-reveal>
            <header>
              <h5>Invite Joiner</h5>
              <button class="close-button" data-close aria-label="Close modal" type="button"></button>
            </header>
            <%= simple_form_for "", url: organizer_invite_joiner_via_email_path, remote: true, html: { multipart: true, class: "invite-joiner-form", id: "inviteJoinerForm" } do |f| %>
              <%= f.input :id, as: :hidden, :input_html => { value: @event.id } %>
              <%= f.input :full_name, placeholder: "Name" %>
              <%= f.input :email, placeholder: "Email" %>
              <div class="invite-buttons-container">
                <%= f.button :submit, "INVITE", class: "submit" %>
              </div>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
  </div>
</div>

<div class="details-container">
  <div class="event-details">
    <p>HIGHLIGHTS</p>
    <% @event.highlight_lists.each do |i| %>
      <div class="details-list">
          <%= i %>
      </div>
    <% end %>
  </div>
  <div class="event-details">
    <p>INCLUSIONS</p>
    <% @event.inclusion_lists.each do |i| %>
      <div class="details-list">
          <%= i %>
      </div>
    <% end %>
  </div>
  <div class="event-details">
    <p>WHAT TO BRING</p>
    <% @event.things_to_bring_lists.each do |i| %>
      <div class="details-list">
          <%= i %>
      </div>
    <% end %>
  </div>
</div>

<div class="event-itinerary-container">
  <div class="event-itinerary">
    <p>ITINERARY</p>
      <div class="itinerary-list">
        <% @event.itineraries.each_with_index do |i,index| %>
          <div class="details">
            <div class="day"><span>Day <%= index+1%></span></div>
            <div class="info">
              <%= i.description %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>

<% unless @reviews.blank? %>
<div class="reviews">
  <h1>Review</h1>
  <div id="reviews">
    <%= render 'reviews' %>
  </div>
  <div id="paginator">
    <%= link_to_next_page @reviews, "View more", remote: true, class: "next-reviewer" %>
  </div>
</div>
<% end %>

<% if current_user_is_owner_of_event? @event %>
<div class="trip-actions">
  <%= generate_duplicate_button_for(@event) %>
  <% if @event.is_upcoming? %>
    <%= link_to content_tag(:span, nil, class: 'edit-event ion-edit'), organizer_trip_edit_path(@event), title: 'Edit Event' %>
    <%= link_to content_tag(:span, nil, class: 'trash-event ion-trash-b'), '#', 'data-open' => 'confirmDelete', title: 'Delete Event' %>
    <div class="reveal custom-modal-with-header tiny delete-trip-modal" id="confirmDelete" data-reveal>
      <h5>DELETE</h5>
      <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
      <p>Are you sure you want to delete this trip?</p>
      <%= button_to organizer_trips_path(@event), method: :delete, class: "delete-btn", data: { disable_with: "Processing request...." } do %>
        <span class="delete-btn__icon trash-event ion-trash-b"></span> CONFIRM
      <% end %>
    </div>
  <% end %>
</div>

<div class="invite-joiner-notif reveal" data-sucess-notif="" data-reveal>
  <div class="invite-joiner">
    <span class="ion-close-round" data-close aria-label="Close modal"></span>
    <h3 class='header'>INVITATION SENT</h3>
    <p class="name" data-full-name=""></p>
    <p>Successfully Invited!</p>
    <button data-close aria-label="Close modal" class="btn">OK</button>
  </div>
</div>
<% end %>

<% if flash[:share_trip] %>
  <div class="cover">
    <div class="success-container">
      <span class="ion-close-round" onclick="closeShareTrip(this)"></span>
      <div class='content'>
        <%= generate_messenger_notif_content %>
        <% if @membership %>
        <!--
          data-ref format for every optin
          ref=param_1:value1/param_2:value_2/param_3:value_3
        -->
          <div class="fb-send-to-messenger" messenger_app_id="<%= generate_fb_app_id %>"
            page_id="<%= generate_fb_page_id %>"
            data-ref="checkout_notification_ref=page_id:<%= generate_fb_page_id %>/membership_id:<%=@membership.id%>"
            color="blue" size="large">
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:incomplete_info] %>
  <script>
    $(document).ready(function(){$('#bookEditDetailModal').foundation('open')});
  </script>
<% end %>
<% if !flash[:incomplete_info] && flash[:full_trip] %>
  <script>
    $(document).ready(function(){$('#waitlist-modal').foundation('open')});
  </script>
<% end %>

<div class="reveal popupMapModal map-modal-mobile" id="popupMapModal" data-reveal>
  <button class='close-button ion-android-close' data-close aria-label='Close modal' type='button'></button>
    <div id="popupMap" class="map-mobile"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&libraries=places" async defer></script>
