var previous_html = $("#reviews").html();
$("#reviews").html(previous_html+ "<%= escape_javascript(render("reviews")) %>" )
$('#paginator').html('<%= escape_javascript(link_to_next_page(@reviews, "load more", remote: true, class: "next-reviewer").to_s) %>');
