requestOnce = true;
<% if mobile_device? %>
  $('.ajax-event-container').append('<%= escape_javascript(render partial: "paginated_filtered_upcoming.mobile.erb") %>');
<% else %>
  $('.event-page').append('<%= escape_javascript(render partial: "paginated_filtered_upcoming") %>');
<% end %>
$('#paginationLinks').html("<%= escape_javascript(paginate @events, remote: true, params: {controller: 'event', action: 'paginated_page', format: "js" }) %>")
/* remove loader after updating the DOM */
$('#pagination-loader').removeClass("display-loader");
