<%= javascript_tag "facebook_pixel_track.add_payment_info('#{params[:mode]}')" %>
<%= checkout_progress %>
<div class="payment-proof-container">
  <% if (params[:mode] == "tagcash") %>
    <div class="tagcash-container">
      <div class="header">
        <p>PAYMENT</p>
      </div>
      <%= image_tag "tagcash-logo.png" %>
      <p>Consectetur blanditiis voluptatibus labore sapiente pariatur facilis aperiam quaerat. Doloremque est quidem sint commodi veniam! Aliquid ea culpa veritatis est explicabo Modi eaque quos fugiat magnam dicta? Blanditiis ratione quod!</p>
      <%= form_tag join_path, method: :post, multipart: true, id: "joinEventForm" do %>
        <%= hidden_field_tag :invited_joiner_names, params[:invited_joiner_names] %>
        <%= hidden_field_tag :invited_joiner_emails, params[:invited_joiner_emails] %>
        <%= hidden_field_tag :mode, params[:mode] %>
        <%= label_tag :amount %>
        <%= text_field_tag :amount, nil, placeholder: "PHP" %>
        <%= label_tag :notes %>
        <%= text_field_tag :notes, nil, placeholder: "Write notes here" %>
        <%= submit_tag "TRANSFER", data: { disable_with: "Transferring..." } %>
      <% end %>
    </div>
  <% else %>
    <%= render params[:mode] %>
    <%= form_tag join_path, method: :post, multipart: true, id: "joinEventForm" do %>
      <%= hidden_field_tag :invited_joiner_names, params[:invited_joiner_names] %>
      <%= hidden_field_tag :invited_joiner_emails, params[:invited_joiner_emails] %>
      <%= hidden_field_tag :code, params[:code] %>
      <%= hidden_field_tag :mode, params[:mode] %>
      <label for="payment_photos">Proof of payment <span class="ion-ios-camera upload-photo-btn"></span><span>Upload photo</span></label>
      <%= file_field_tag :payment_photos %>
      <%= submit_tag "SUBMIT", data: { disable_with: "Submitting..." } %>
    <% end %>
  <% end %>
</div>
