<div class="payment-proof-container">
<%= checkout_progress %>
  <%= render params[:mode] %>
  <%= form_tag join_path, method: :post, multipart: true, id: "joinEventForm" do %>
    <%= hidden_field_tag :invited_joiner_names, params[:invited_joiner_names] %>
    <%= hidden_field_tag :invited_joiner_emails, params[:invited_joiner_emails] %>
    <%= hidden_field_tag :code, params[:code] %>
    <%= hidden_field_tag :mode, params[:mode] %>
    <label for="payment_photos">Proof of payment <span class="ion-ios-camera upload-photo-btn"></span><span>Upload photo</span></label>
    <%= file_field_tag :payment_photos %>
    <%= submit_tag "SUBMIT", data: { disable_with: "Submitting..." } %>
  <% end %>
</div>
