<%= tabs_tag  builder: MenuTabBuilder, namespace: :organizer_sidenav, open_tabs: { class: "organizer-sidenav" } do |tab| %>
  <%= tab.overview 'Overview', manage_trips_path , class: "custom-icon overview" %>
  <%= tab.trips    'Trips', manage_trips_my_trips_path, class: "custom-icon trips" %>
  <%= tab.joiner   'Joiner', manage_trips_joiner_path, class: "custom-icon joiner" %>
  <%= tab.payments 'Payments', manage_trips_payments_path, class: "custom-icon payment" %>
  <%= tab.funds    'Funds', manage_trips_funds_path, class: "custom-icon funds" %>
<% end %>
