<div class="input">
  <label>Trip <%= fields[:title] %> </label>
  <div class="tags-picker-container">
    <div class="tags <%= 'block' unless fields[:associated_collection].blank? %>" id="<%= pluralize_downcase(fields[:title]) %>Container">
      <% fields[:associated_collection].each do |instance| %>
        <span class="tag"><%= instance.name %><a title="Removing <%= fields[:title] %>" data-remove="<%= pluralize_downcase(fields[:title]) %>">x</a></span>
      <% end %>
    </div>
    <div class="picker">
      <span data-open="<%= pluralize_downcase(fields[:title]) %>Modal">Select <%= fields[:title] %></span>
      <div class="reveal custom-modal-with-header tags-picker" id="<%= pluralize_downcase(fields[:title]) %>Modal" data-reveal>
        <header>
          <span><%= fields[:title].pluralize %></span>
          <button class="close-button" data-close="" aria-label="Close modal" type="button"></button>
        </header>
        <ul>
          <% fields[:association_collection].each do |instance| %>
            <li data-tag-category="<%= pluralize_downcase(fields[:title]) %>" class="<%= 'picked' if fields[:associated_collection].include?(instance) %>"><%= instance.name %></li>
          <% end %>
        </ul>
        <div class="btn-container">
          <button class="btn-close" data-close="" aria-label="Close modal" type="button">DONE</button>
        </div>
      </div>
    </div>
  </div>
</div>