<%= form_for(@notification) do |f| %>
  <div class="form-inputs">
      <h6>Notification Image</h6>
      <div class="photo-container <%= "has-image" if @notification.image.present? %>" id="photoContainer" style="background-image:url('<%= "#{@notification.image_url(:large) if @notification.image.present?}" %>')">
        <div class="photo-container__photo" id="photo">
          <label class="ion-ios-camera" for="custom_notification_message_image"></label>
          <button type="button" class="ion-trash-b photo-container__photo__remove" onclick="removePhotoURL(custom_notification_message_image, photoContainer)"></button>
          <%= f.file_field :image, class: "hide", onchange: "readPhotoURL(this, photoContainer)" %>
          <input type="hidden" name="image_file_name" value="<%= @notification.image_file_name if @notification.image.present? %>">
        </div>
      </div>
  </div>

  <div class="form-inputs">
    <%= f.label :message %>
    <%= f.text_area :message, placeholder: "Message", class:"message-box" %>
  </div>

  <div class="form-inputs">
    <%= f.label :created_by %>
    <%= f.text_field :created_by, placeholder: "Created by" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", class: "button" %>
  </div>
<% end %>
