<% if @notifications.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
<table class="destination-list">
  <thead>
    <tr>
      <th>Message</th>
      <th>Created By</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notif| %>
      <tr>
        <td class="message"><%= notif.message %></td>
        <td><%= notif.created_by %></td>
        <td class="btn-group">
          <div class="button-group margin-0">
            <%= link_to icon('pencil'), edit_custom_notification_message_path(notif), class: "button success" %>
            <%= link_to icon('trash'), custom_notification_message_path(notif), method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
            <%= link_to "#", class: "button success send_notification", data: { "message_id" => notif.id, open: "notificationReceiverModal", link: deliver_notification_path(notif) } do %>
              <span class="ion-android-send"></span>
              Send Notification
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class="reveal import-subscribers-modal" id="notificationReceiverModal" data-reveal>
  <header>
    <button class="close-button" data-close aria-label="Close modal" type="button">&times;</button>
    <div class="import-subscribers-modal__title">NOTIFICATION  RECEPIENTS</div>
  </header>
  <div class="row">
    <div class="large-12 columns">
      <hr>
      <%= form_tag "", id: "sendNotificationForm" do %>
        <h5 class="import-subscribers-modal__label">Segment by Booking Count</h5>
        <% @segment_options_booking_count.each do |option| %>
          <%= radio_button_tag "options", option %>
          <%= label_tag "options", option.titleize , class: "import-subscribers-modal__label" %>
        <% end %>
        <hr>
        <h5 class="import-subscribers-modal__label">Segment by Last Booking Duration</h5>
        <% @segment_options_booking_duration.each do |option| %>
          <%= radio_button_tag "options", option %>
          <%= label_tag "options", option.titleize, class: "import-subscribers-modal__label" %>
        <% end %>
        <hr>
        <%= radio_button_tag "options", "joiner", checked: true %>
        <%= label_tag "options", "Joiners", class: "import-subscribers-modal__label" %>
        <%= radio_button_tag "options", "joiner_and_organizer", checked: true %>
        <%= label_tag "options", "Organizers", class: "import-subscribers-modal__label" %>
        <%= radio_button_tag "options", "all", checked: true %>
        <%= label_tag "options", "All User", class: "import-subscribers-modal__label" %>
        <div class="large-12 columns">
          <%= submit_tag "Send Notification", class: "import-subscribers-modal__btn", data: {
            disable_with: "Submitting..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
