<% provide(:title, "Update Notification") %>

<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, custom_notification_messages_path %>
  <h1>EDIT Notification</h1>
</div>

<%= render 'form' %>
