<% provide(:title, "Notifications") %>

<div class="header">
  <h1>NOTIFICATIONS</h1>
  <%= form_tag custom_notification_messages_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>

<div id="notificationLists">
  <%= render "notifications" %>
</div>

<div id="paginator">
  <%= paginate @notifications, remote: true %>
</div>

<%= link_to 'ADD NOTIFICATION', new_custom_notification_message_path, class: "destination-btn new" %>
