<div class="notification notification--<%= type %>" id="notification">
 <span class="notification__icon ion-<%= icon %>"></span>
 <p class="notification__message"><%= message %></p>
 <button class="close-button notification__close-btn" aria-label="Close
 Notification" type="button">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
