<% if @referral_incentives.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
    <table class="payment-table">
      <thead>
      <tr>
        <th></th>
        <th>Value</th>
        <th>Created by</th>
        <th>Created at</th>
      </tr>
      </thead>

      <tbody>
        <% @referral_incentives.each_with_index do |incentive, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= incentive.value %></td>
            <td><%= incentive.created_by %></td>
            <td><%= month_day_year_format incentive.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
