<div class="header">
  <h1>REFERRAL INCENTIVES</h1>
  <%= form_tag referral_incentives_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>

<%= simple_form_for(@referral_incentive) do |f| %>
  <%= f.error_notification %>
  <ul class="inline-flex-form-group">
    <li><%= f.input :value %></li>
    <li><%= f.input :created_by, input_html: { :autocomplete => "off" } %></li>
    <li><%= f.button :submit,  "Update Incentive", class: "button" %></li>
  </ul>
<% end %>

<div id="referralIncentiveLists">
  <%= render "referral_incentives" %>
</div>

<div id="paginator">
  <%= paginate @referral_incentives, remote: true %>
</div>
