<% if @payments.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
  <table class="payment-table">
    <thead>
      <tr>
        <th></th>
        <th>Event</th>
        <th>Event Date</th>
        <th>Payer</th>
        <th>Mobile</th>
        <th>Payment Mode</th>
        <th>Payment Proof</th>
        <th>Amount Paid</th>
        <th>Payment Made</th>
        <th>Date of Payment</th>
        <th>Promo Code</th>
        <th>Device Platform</th>
        <th>Transaction ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.decorate.each_with_index do |payment, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="<%= payment.event.name%>"><%= link_to payment.event_truncated_name, get_event_path(payment.event) %></span></td>
          <td><%= month_day_year_format(payment.event.start_at.localtime) %></td>
          <td><%= payment.member.full_name %></td>
          <td><%= payment.member.mobile %></td>
          <td><%= payment.mode %></td>
          <td>
            <% payment.payment_photos.each do |p| %>
              <%= link_to image_tag(p.image.url(:thumb)), p.image.url(:xlarge), "data-lightbox" => "image-#{payment.member.uid}" %>
            <% end %>
          </td>
          <td id="amount_paid_<%= payment.id %>" class="amount_paid_container" data-max-value="<%= payment.event_membership.event.rate %>" ><span><%= payment.amount_paid %></span></td>
          <td><%= payment.made %></td>
          <td><%= month_day_year_format(payment.created_at) %></td>
          <td>
            <%= payment.promo_code_in_words %>
          </td>
          <td class="center"><%= payment.device_platform %></td>
          <td><%= payment.transaction_id %></td>
          <td>
            <%= select_tag "status", options_for_select(payment_status_options, "#{payment.status}"), {"data-payment-url" => payment_path(payment.id), class: "clear-select" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
