<% provide(:title, "Payments") %>
<div class="header">
  <h1>PAYMENTS</h1>
  <%= form_tag payments_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off %>
  <% end %>
</div>
<div id="paymentLists">
  <%= render "payments" %>
</div>
<div id="paginator">
  <%= paginate @payments, remote: true %>
</div>
<%= link_to 'EXPORT ALL', export_all_payments_path(format: :csv), class: "promo-code-btn new" %>
<%= link_to 'CHECK EXPIRED PAYMENTS', mark_expired_payments_path, class: "promo-code-btn new",  data: { disable_with: "Checking Dragonpay Payments....." } %>
