<footer class="main-footer">
  <div class="messenger">
    <div class="messenger__footer_links">
      <%=render_navigation(context: :footer, expand_all: true) %>
    </div>
    <div class="messenger__media-grp">
      <p>Explore wih us through:</p>
      <ul class="messenger__links">
        <li><%= link_to icon("facebook"),  "#" %></li>
        <li><%= link_to icon("twitter"),  "#" %></li>
        <li><%= link_to icon("instagram"),  "#" %></li>
      </ul>
      <p class="copy"><%= icon "copyright" %> 2016 Tripkada, Part of FlipTrip Travels, Inc.</p>
    </div>
  </div>
</footer>
