<nav class="top-nav">
  <div class="messenger">
    <div class="logo-col">
      <%=tabs_tag do |tab| %>
        <%=tab.home "#{image_tag('tripkada-logo-new-2.png', class: 'logo')}".html_safe, "#" %>
      <% end %>
    </div>
    <%=link_to image_tag( "download.png"), "https://play.google.com/store/apps/details?id=ph.fliptrip.tripkada.joiner", target: "_blank", class: "download-btn" %>
  </div>
</nav>
