$(function(){
  $(document).find(".amount_paid_container").on('click','span', function() {
    var parent_td = $(this).parent();
    var value = $(this).html();
    var max_value = parent_td.attr("data-max-value");
    input = $('<input/>').attr({ type: 'number', name: 'payment[amount_paid]', class: 'amount_paid', step: '0.01', min: 0, max: max_value})
    parent_td.html(input);
    parent_td.show();
    parent_td.find('input').val(value);
    parent_td.find('input').focus();
  });

  $(document).on('keyup','.amount_paid',function(e){
    var value = $(this).val();
    var max_value = $(this).attr('max');
    if (parseFloat(value) > parseFloat(max_value)) { $(this).val(max_value); }

    if (e.keyCode == 13) {
      var parent_td = $(this).parent();
      var payment_id = parent_td.attr('id').split('_')[2];
      $.ajax({
          type: 'PUT',
          dataType: "json",
          url: "/admin/payments/"+payment_id+"",
          data: {payment: { amount_paid: value }},
          success: function(data) {
            parent_td.html("<span>"+value+"</span>");
          }
      });
    }
  });

  $(document).on('focusout','.amount_paid',function(e){
    var parent_td = $(this).parent();
    var value = $(this).val();
    var payment_id = parent_td.attr('id').split('_')[2];
    $.ajax({
        type: 'PUT',
        dataType: "json",
        url: "/admin/payments/"+payment_id+"",
        data: {payment: { amount_paid: value }},
        success: function(data) {
          parent_td.html("<span>"+value+"</span>");
        }
    });
  });

  $("#q").keyup(function() {
    $(this).closest("form").submit();
  });

  // append on page ready
  var s = document.createElement("script");
  s.type = "text/javascript";
  s.async = true;
  s.src = "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js";
  $("head").append(s);

  var cssLink = $("<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css'>");
  $("head").append(cssLink);

});

function featureAction(e){
  var checkboxId = $(e).attr("id");
  var idSplitted = checkboxId.split("_");
  var id = idSplitted[1];
  $.ajax({
    type: 'PUT',
    dataType: "json",
    url: "<%= Rails.application.routes.url_helpers.make_featured_path %>",
    data: { id: id, checked: e.checked },
    success: function(data) {
      popupNotification("success", data.message)
    },
    error: function(xhr) {
      popupNotification("alert", xhr.statusText)
    }
  });
}

$(document).on('click', function(event) {
  if (!$(event.target).closest('.user-info-body').length) {
    $('.user-info-modal').addClass('hide');
  }
});
