multipleEventSliderParams = {
  lazyLoad: 'ondemand',
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 1,
  infinite: false,
  nextArrow: '<button class="slick-next"/>',
  prevArrow: '<button class="slick-prev"/>',
  responsive: [
    {
      breakpoint: 3000,
      settings: {
        slidesToShow: 6,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 1920,
      settings: {
        slidesToShow: 6,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 1800,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 1680,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 1440,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 1366,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    }
  ]
}

$(function(){
  $('.rating').raty({
    readOnly: true,
    starType: 'i',
    half: false,
    halfShow: false,
    starHalf: 'ion-android-star-half',
    starOff: 'ion-android-star off',
    starOn: 'ion-android-star',
    score: function(){
      return $(this).attr('data-rating');
    }
  });

  $('.rating-input').raty({
    starType: 'i',
    score: '1',
    half: false,
    halfShow: false,
    precision: true,
    hints: ['bad', 'neutral', 'good', 'great', 'fantastic'],
    starHalf: 'ion-android-star-half',
    starOff: 'ion-android-star-outline',
    starOn: 'ion-android-star',
    scoreName: 'review[rating]',
    click: function(rating, evt) {
      $('.rating-form').raty('score', rating);
    }
  });

  $('#new_review').on('submit', function(e) {
    var score = $('.rating-input').raty('score')
    e.preventDefault();
    if (!score || score < 1 ) {
      warning_msg = "<p class='rating-message'>Rating is required!, Mimimum rating star is 1</p>"
      if($('.rating-message').length == 0) {
        $(this).append(warning_msg);
      }
      return;
    }
  });

  $('.events-slider').slick({
    infinite: true,
    autoplay: true,
    autoplaySpeed: 3000,
    fade: true,
    cssEase: 'linear',
    dots: true,
    nextArrow: '<button class="slick-next"/>',
    prevArrow: '<button class="slick-prev"/>'
  });

  $('.multiple-event-slider, .multiple-instagram-photos-slider').slick(multipleEventSliderParams);

  $(".multiple-instagram-photos-slider-mobile").slick({
    dots: true,
    slidesPerRow: 3,
    rows: 2,
    lazyLoad: 'ondemand',
    speed: 300,
    infinite: false,
    arrows: false
  });

  $(".landing-page__wrapper__content__container--organizer-slider").slick({
    lazyLoad: 'ondemand',
    speed: 300,
    slidesToShow: 3,
    slidesToScroll: 1,
    infinite: false,
    nextArrow: '<button class="slick-next"/>',
    prevArrow: '<button class="slick-prev"/>',
    responsive: [
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });

  $(".landing-page__wrapper__content__container__destinations-slider").slick({
    infinite: true,
    autoplay: true,
    slidesToShow: 3,
    autoplaySpeed: 3000,
    arrows: false,
    dots: true,
    centerMode: true,
    lazyLoad: 'ondemand',
    cssEase: 'linear',
    responsive: [
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2
        }
      }
    ]
  });
});

