function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}

$(document).keyup(function(e) {
  if (e.keyCode == 27 && $('.pop-up-download').hasClass('show')) { // escape key maps to keycode `27`
    closePopUpDownload();
  }
});

function closePopUpDownload(){
  document.cookie = "pop_up_download=false; expires=0; path=/";
  $(".pop-up-download").removeClass('show');
  setTimeout(function(){
    $("#popUpDownloadContainer").fadeOut("fast",function(){
      $(this).remove();
    })
  }, 1000);
};

function closeShareTrip(e){
  $(e.parentElement).fadeOut(function(){
    this.parentElement.remove();
  })
}

function isMobile(){
  return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
}

var facebook_pixel_track = {
  view_content: function(trip, type) {
    fbq('track', 'ViewContent', { content_name: trip, content_type: type });
  },
  checkout: function(downpayment, trip) {
    fbq('track', 'InitiateCheckout', { value: downpayment, currency: 'PHP', content_name: trip });
  },
  add_payment_info: function(category) {
    fbq('track', 'AddPaymentInfo', { content_category: category });
  },
  purchase: function(downpayment, trip) {
    fbq('track', 'Purchase', { value: downpayment, currency: 'PHP', content_name: trip });
  },
  lead: function(trip, category) {
    fbq('track', 'Lead', { content_name: trip, content_category: category });
  }
}

$(function(){
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: <%= ENV['FB_APP_ID'] %>+"", //'1630788203915202'
      version: 'v2.7' // or v2.1, v2.2, v2.3, ...
    });
  });

  $("[data-page-redirect]").on("click",function(){
    window.location.href = this.href;
    return false;
  });

  $("[data-share-trip]").on("click", function(){
    FB.ui({
      method: 'share',
      href: this.getAttribute("data-share-trip"),
    }, function(response){});
    return false;
  });

  $("#user_country").on("change", function(){
    $.ajax({
      type: "GET",
      dataType: "json",
      data: { country: this.value },
      url: "/admin/users/cities",
      success: function(data){
        var select = document.getElementById("user_city")
        select.innerHTML = '';
        for(var i = 0; i < data.length; i++){
          var opt = document.createElement('option');
          opt.value = data[i];
          opt.innerHTML = data[i];
          select.appendChild(opt);
        }
      }
    });
  });

  $(document).on("change", "*#option",function(){
    select_box = this;
    trip_slug = $(this).data('trip-slug');
    path = $('.cancelTripForm').attr('data-path');
    form_path = path.replace('slug', trip_slug);
    option = $(this).val();
    if(option == "cancel"){
      // Update From CancelTripForm URL
      $('.cancelTripForm').attr('action', form_path);
      $('#CancelTripForm').foundation('open');
      $('.close-button, .reveal-overlay').on("click", function(){
        $(select_box).val('no');
      });
    }
  });

  $(document).on('click', '[data-link-collapse]',function(){
    $(".collapsible-joiner-list").hide();
    $("."+this.getAttribute('data-link-collapse')+".collapsible-container").addClass("show");
    return false;
  });

  $('*[data-trip-collapse]').on('click',function(){
    $('*[data-trip-collapse]').removeClass("active")
    $(this).addClass("active");
    $('*.collapsible-container').removeClass("show active")
    $("."+this.getAttribute('data-trip-collapse')+".collapsible-container").addClass("show");
    return false;
  });

  $(document).on("click", '.close-collapsible',function(){
    $(".collapsible-container").removeClass("show");
    $(".collapsible-joiner-list").show();
  });

  $('#inviteJoinerForm').on('ajax:complete', function(e, data, status, xhr){
    var parsedData = JSON.parse(data.responseText);
    if(parsedData.type){
      $('[data-sucess-notif]').foundation('open');
      $('[data-full-name]').html(parsedData.receiver);
      $(this).reset();
    }else{
      $('#inviteJoinerModal').foundation('close');
      popupNotification("alert", parsedData.details.split(','));
    }
  });

  // Validate Numbers in input field
  function validateNumber(event) {
    var key = window.event ? event.keyCode : event.which;
    if (event.keyCode === 8 || event.keyCode === 46) {
        return true;
    } else if ( key < 48 || key > 57 ) {
        return false;
    } else {
        return true;
    }
  };
  $('[data-default-value]').keypress(validateNumber);

  // Prevent Toggle Keyboard in Mobile Browsers
  $('input[readonly]').on('focus', function() {
    $(this).trigger('blur');
  });

  // Trigger Toaster Notification on Form Submit
  $('.event-form').on('submit', function(){
    popupNotification("info", "Processing Request...Please Wait");
  });

  $("[data-redirect]").on("click", function(){
    window.location = this.getAttribute("data-redirect");
  });
});
