$(function() {
  var doneTypingInterval = 1000;
  var timer;

  $("#user_email").on("keyup", function() {
    clearTimeout(timer);
    var email = $(this).val();
    var container = $(this).closest(".form-field");
    $(container).removeClass("valid invalid")
    $(container).addClass("spinner")
    timer = setTimeout(function() {
      if(email){
        // Check if user email valid
        $.ajax({
          type: 'GET',
          url: "<%= Rails.application.routes.url_helpers.invitee_validate_email_path %>",
          data: { email: email },
          success: function(data) {
            if(data.valid_email) {
              $(container).removeClass("spinner")
              $(container).addClass("valid")
            }else{
              $(container).removeClass("spinner")
              $(container).addClass("invalid")
            }
          },
          error: function(xhr) {
            console.log(xhr.responseText)
          }
        });
      }
    }, doneTypingInterval);
  })
})
