var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
  };
})();

function validatePaymentMode(value, rate , downpayment) {
  var mode

  if(value >= rate){
    mode =  "free_trip"
  }else if(value >= downpayment){
    mode = "free_downpayment"
  }else{
    mode = ""
  }

  return mode;
}

function freeRateAndDownpaymentEligibility(value, rate, downpayment){
  parsed_value = parseFloat(value);
  parsed_downpayment = parseFloat(downpayment);
  parsed_rate = parseFloat(rate);
  mode = validatePaymentMode(parsed_value, parsed_rate, parsed_downpayment);
  if (parsed_value >= parsed_downpayment){
    unsetFreeTripLink();
    if($('.free-trip-notif').length == 0) setFreeTripLink(mode);
  }else{
    unsetFreeTripLink();
  }
}

function validateCode(e, rate, downpayment){
  var ajaxValidateCode = function(){
    var bookingCodeContainer = $(".booking-code-container");
    var bookingCodeValue = document.getElementById("bookingCodeValue");
    var pTagTotal = $("p.total").children()[0];
    var downpaymentContainer = $('#requiredDownpayment');

    if (e.value.length >= 1) {
      $.ajax({
        type: "POST",
        dataType: "json",
        data: { code: e.value },
        url: "<%= Rails.application.routes.url_helpers.validate_promo_code_path %>",
        success: function(data){
          if( data['response']){
            bookingCodeContainer.removeClass("deactivated");
            bookingCodeContainer.addClass("activated");
            bookingCodeValue.innerHTML = "- P "+data['value'];
            sessionStorage.promoCodeValue = data['value'];
            var promoCodeValue = data['value']
            if (sessionStorage.rateWithInvitedJoiners){
              totalRate = sessionStorage.rateWithInvitedJoiners;
              totalDownpayment = sessionStorage.downpaymentRateWithInvitedJoiners;
              pTagTotal.innerHTML = "P " +(totalRate - promoCodeValue);
              freeRateAndDownpaymentEligibility(promoCodeValue, totalRate, totalDownpayment)
              if (totalRate == totalDownpayment) $(downpaymentContainer).html("P " +(totalDownpayment - promoCodeValue))
            }else{
              pTagTotal.innerHTML = "P "+(rate - promoCodeValue);
              if (rate == downpayment) $(downpaymentContainer).html("P " +(downpayment - promoCodeValue))

              freeRateAndDownpaymentEligibility(promoCodeValue, rate, downpayment)
            }
          }else{
            bookingCodeContainer.removeClass("activated");
            bookingCodeContainer.addClass("deactivated");
            bookingCodeValue.innerHTML = "0";
            updateTotalRate(pTagTotal, rate);
            unsetFreeTripLink();
          }
        },
        error:function (xhr, ajaxOptions, thrownError){
          if(xhr.status==404) {
            bookingCodeContainer.removeClass("activated");
            bookingCodeContainer.addClass("deactivated");
            bookingCodeValue.innerHTML = "0";
            updateTotalRate(pTagTotal, rate);
            sessionStorage.removeItem("promoCodeValue");
          }
        }
      })
    }else{
      $(".booking-code-container").removeClass("activated deactivated");
      document.getElementById("bookingCodeValue").innerHTML = "0"
      updateTotalRate(pTagTotal, rate);
      updateTotalDownpaymentRate(downpaymentContainer, downpayment);
      sessionStorage.removeItem("promoCodeValue");
      unsetFreeTripLink();
    }
  }
  delay(ajaxValidateCode, 1000 );
};

function setFreeTripLink(mode){
  var form = $('.checkout-form');
  var code = $('#code').val();
  var url = $(form).data('trip-url');
  var token = $(form).data('token');
  var text = mode.split("_").join(" ");
  var template = JST['views/event/join_using_promo_code'](
    {
      url: url, token: token, code: code, mode: mode, text: text
    }
  );
  var paymentContainer = $('.payment');
  var modalBtn = $('.payment-modal');

  $(form).append(template);
  $(paymentContainer).addClass('payment--hide');
  $(modalBtn).addClass('payment-modal--hide');
  $('#less').addClass('hide');
}

function unsetFreeTripLink(){
  var paymentContainer = $('.payment');
  var modalBtn = $('.payment-modal');

  $('.free-trip-notif').remove();
  $(paymentContainer).removeClass('payment--hide');
  $(modalBtn).removeClass('payment-modal--hide');
  $('#less').removeClass('hide');
}

function updateTotalRate(tag, rate){
  if (sessionStorage.rateWithInvitedJoiners){
    tag.innerHTML = "P "+sessionStorage.rateWithInvitedJoiners;
  }else{
    tag.innerHTML = "P "+rate
  }
}

function updateTotalDownpaymentRate(tag, downpaymentRate){
  if (sessionStorage.downpaymentRateWithInvitedJoiners){
    tag.html("P " + sessionStorage.downpaymentRateWithInvitedJoiners);
  }else{
    tag.html("P " + downpaymentRate)
  }
}

function checkoutUsing(mode,url){
  $("#mode").val(mode);
  window.location.href = url+"?code="+$("#code").val()+"&mode="+mode+"&invited_joiner_names="+sessionStorage.names+"&invited_joiner_emails="+sessionStorage.emails;
  sessionStorage.clear();
}

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $(input.previousElementSibling).addClass('has-image');
      input.previousElementSibling.style.backgroundImage = "url('"+e.target.result+"')";
      input.nextSibling.value = '';
    }
    reader.readAsDataURL(input.files[0]);
  }
  if (input.nextElementSibling.getAttribute("name") == "event[photo_ids][]") {
    input.nextElementSibling.value = '';
    input.nextElementSibling.setAttribute("value",'');
  }
}

function toggleSlideJoinerInfo(button) {
  $(button).next('div').slideToggle();
  $(button).toggleClass('is-active');
}

function noShowAction(e, eventId){
  var checkboxId = $(e).attr("id");
  var idSplitted = checkboxId.split("_");
  var id = idSplitted[1];

  $.ajax({
    type: 'PUT',
    url: "<%= Rails.application.routes.url_helpers.trip_no_show_path %>",
    data: { event_id: eventId, id: id, no_show: e.checked },
    success: function(data) {
      popupNotification("success", "Successfully updated no show status");
    },
    error: function(data) {
      popupNotification("alert", "Failed to Update");
    }
  });
}

var requestOnce = true;
var ready = true
$(function(){
  $(window).unload(function(){
    sessionStorage.removeItem("rateWithInvitedJoiners");
    sessionStorage.removeItem("downpaymentRateWithInvitedJoiners");
    sessionStorage.removeItem("promoCodeValue")
    sessionStorage.removeItem("names")
    sessionStorage.removeItem("emails")
  });
  $('#joinEventForm').on('submit', function(){
    sessionStorage.clear();
  });
// render preview of payments photo
  $("#payment_photos").on('change', function(e){
    var files = e.target.files;
    var reader = new FileReader();
    reader.onload = function(file) {
      $(e.target).prev()[0].style.backgroundImage = 'url('+file.target.result+')'
      $(e.target).prev().addClass('has-image');
    }
    reader.readAsDataURL(files[0]);
  });

  //https://stackoverflow.com/a/21561584
  $(window).on('scroll', function(){
    var elTop = $('#filteredEventsContainer').offset().top,
        elHeight = $('#filteredEventsContainer').outerHeight(),
        winHeight = $(window).height(),
        winScroll = $(this).scrollTop();
    $("#testContainer").html((elTop+elHeight-winHeight)+" is greater than "+winScroll+"; "+elTop+";"+elHeight+";"+winHeight);
    if (winScroll > (elTop+elHeight-winHeight)){
      /*Create Log When User Reach Bottom Page - Use For Debugging*/
      var paginationLink = document.getElementById('paginationLinks');
      if (paginationLink){
        /* ensure paginationlink exist to prevent undefined querySelector error*/
        /* return null after last pagination link button */
        var paginationNextButton = paginationLink.querySelector("a[rel=next]");
      }
      if($('.event.loading')){
        $(this).hide();
      }
      var paginationEventLoading = document.getElementById("pagination-loader");
      if ( paginationNextButton && requestOnce ){
        requestOnce = false;
        addClass(paginationEventLoading, "display-loader")
        paginationNextButton.click();
      }
    }
  });
  $('#showMoreJoiners').on('click', function() {
    var members_count = $('.more-joiners').text();
    var members_per_page = $(this).data("members_per_page");
    var count = members_count - members_per_page;
    var paginationLink = document.getElementById('paginationLinks');
    if(count <= 0){$(this).hide()}
    if (paginationLink) {
      var nextPage = paginationLink.querySelector("a[rel=next]");
    }
    if(nextPage && ready) {
      nextPage.click();
      $('.more-joiners__count').text(count);
      ready = false;
    }
  });
});

function event_readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $(input).parent().addClass('has-image');

      $(input).parent().css("background-image", "url('"+e.target.result+"')");
      $(input).parent().attr('onClick', 'make_photo_focus(this);');
      $(input).parent().parent().prev().css("background-image", "url('"+e.target.result+"')");
      $(input).parent().parent().prev().removeClass('toggle-focus-hover');

      label_for = $(input).prev().find("label");
      $(input).parent().parent().prev().find("div").find("label").attr('for',label_for.attr('for'));
    }
    reader.readAsDataURL(input.files[0]);
  }
}

function readPhotoURL(input, container) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $(container).addClass('has-image');

      $(container).css("background-image", "url('"+e.target.result+"')");
      $(container).removeClass('toggle-focus-hover');
      $(input).next().val("");
    }
    reader.readAsDataURL(input.files[0]);
  }
}

function removePhotoURL(fileUploader, photoContainer) {
  $(fileUploader).val("");
  $(fileUploader).next().val("");
  $(photoContainer).css(
    "background-image", "url('')"
  ).removeClass('has-image').addClass('toggle-focus-hover');
}

function make_photo_focus(input) {
  bg = $(input).css('background-image');
  $(input).parent().prev().css('background-image', bg);
  $(input).parent().prev().removeClass('toggle-focus-hover');

  label_for = $(input).find("div").find("label");
  $(input).parent().prev().find("div").find("label").attr('for',label_for.attr('for'));
}

function event_removeURL(button) {
  div = $(button).parent().parent();
  div.removeClass('has-image');
  div.addClass('toggle-focus-hover');
  div.css("background-image", "url('')");

  label_for = $(button).prev().attr('for');

  input_file = div.next().find("li input[id='"+label_for+"']");
  input_file.val("");
  input_file.next().val("");
  input_file.parent().css("background-image", "url('')");
  input_file.parent().removeClass('has-image');
}

function addNewItinerary(e){
  var days = $("#ItineraryContainer").children('li').length + 1;
  var content = '<li>'+
                  '<span>Day '+ days +':</span>'+
                  '<textarea name="event[itineraries_description][]" id="event_itineraries_'+days+'" rows="2" placeholder="Looking for your quiet retreat! We have the secret spot for you"></textarea>'+
                '</li>'
  $("#ItineraryContainer").append(content);
}

function createTagElement(e, tag, category){
  var span = document.createElement("span");
  var anchor = document.createElement("a");
  var tagName = tag;
  var tagsContainer = document.getElementById(category+"Container");
  var tagsChildren = tagsContainer.children;
  var input = document.getElementById("event_"+category);
  var clickers = $('[data-tag-category="'+category+'"]')

  function addTagsToInput(){
    var inputValue = [];
    for (var i = 0; i < tagsChildren.length; i++){
      inputValue.push(tagsChildren[i].textContent.slice(0,-1))
    }
    input.value = inputValue.join(";");
  }

  function removeClass(){
    for (var i = 0; i < clickers.length; i++){
      if (clickers[i].innerHTML == tagName){ $(clickers[i]).removeClass("picked") }
    }
  }

  if(!tag || input.value.split(";").includes(tagName)){ return false }

  anchor.title = "Removing inclusion";
  anchor.appendChild(document.createTextNode("x"));
  span.className = "tag";
  span.appendChild(document.createTextNode(tagName));
  span.appendChild(anchor);
  if(e.tagName == "LI") { $(e).addClass("picked") }
  anchor.onclick = function(){
    $(this.parentElement).remove();
    if(tagsContainer.childElementCount == 0){ $(tagsContainer).removeClass("block") }
    removeClass();
    addTagsToInput();
  };
  $(tagsContainer).addClass("block");
  tagsContainer.appendChild(span);
  addTagsToInput();
}

function initAutocomplete() {
  var coordinates = document.getElementById("event_meeting_place").getAttribute("data-coordinates").split(";")
  var defaultLatLng = {lat: parseFloat(coordinates[0] || "14.603057"), lng: parseFloat(coordinates[1] || "121.091960") };
  var map = new google.maps.Map(document.getElementById('map'), {
    center: defaultLatLng,
    zoom: 13,
    mapTypeId: 'roadmap'
  });
  var input = document.getElementById('event_meeting_place');
  var searchBox = new google.maps.places.SearchBox(input);
  //i commented this out to remove input field inside map canvas
  //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

  map.addListener('bounds_changed', function() {
    searchBox.setBounds(map.getBounds());
  });

  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
  });

  var marker;
  var markers = [];
  var geocoder = new google.maps.Geocoder();

  marker = new google.maps.Marker({
    position: defaultLatLng,
    map: map
  });

  function clearMarker(){
    markers.forEach(function(marker) {
      marker.setMap(null);
    });
  }

  function placeMarker(location) {
      clearMarker();
      if(marker){
          marker.setPosition(location);
      }else{
          marker = new google.maps.Marker({
              position: location,
              map: map
          });
      }
      getAddress(location);
  }

  function getAddress(latLng) {
    geocoder.geocode( {'latLng': latLng},
    function(results, status) {
      if(status == google.maps.GeocoderStatus.OK) {
        if(results[0]) {
          document.getElementById("event_meeting_place").value = results[0].formatted_address;
        }
        else {
          document.getElementById("event_meeting_place").value = "No results";
        }
      }
      else {
        document.getElementById("event_meeting_place").value = "Unable to find location";
      }
    });
  }

  searchBox.addListener('places_changed', function() {
    var places = searchBox.getPlaces();

    if (places.length == 0) {
      return;
    }
    clearMarker();
    var bounds = new google.maps.LatLngBounds();
    places.forEach(function(place) {
      if (!place.geometry) {
        console.log("Returned place contains no geometry");
        return;
      }
      markers.push(new google.maps.Marker({
        map: map,
        title: place.name,
        position: place.geometry.location
      }));

      if (place.geometry.viewport) {
        bounds.union(place.geometry.viewport);
      } else {
        bounds.extend(place.geometry.location);
      }
    });
    map.fitBounds(bounds);
  });

}

$(function(){
  $("form.checkout-form").on("keypress", function (e) {
    if (e.keyCode == 13) {
      return false;
    }
  });

  $('.enable-tagsInput').tagsInput({
    width: 'auto',
    delimiter: [';',',']
  });

  $('#email-tags').tagsInput({
    width: 'auto',
    delimiter: [';']
  });

  $('[data-tag-category]').on("click", function(){
    createTagElement(this, this.innerHTML, this.getAttribute("data-tag-category"));
  });

  $('[data-tag-destination]').on("click", function(){
    createTagElement(this, this.innerHTML, this.getAttribute("data-tag-destination"));
  });

  $('[data-create-tag]').on("click", function(){
    createTagElement(this, this.previousSibling.previousSibling.value, this.getAttribute("data-create-tag"));
    this.previousSibling.previousSibling.value = '';
  })

  $('[data-submit-input]').on("keyup", function(e){
    if (e.keyCode == 13) {
      createTagElement(this, this.value, this.nextElementSibling.getAttribute("data-create-tag"));
      this.value = '';
    }
  });

  $("[data-remove]").on("click", function(){
    var category = this.getAttribute('data-remove');
    var tagName = this.parentElement.innerText.slice(0,-1);
    var tagsContainer = document.getElementById(category+"Container");
    var tagsChildren = tagsContainer.children;
    var input = document.getElementById("event_"+category);
    var clickers = $('[data-tag-category="'+category+'"]')
    var inputValue = [];

    $(this.parentElement).remove();

    for (var i = 0; i < tagsChildren.length; i++){
      inputValue.push(tagsChildren[i].textContent.slice(0,-1))
    }
    input.value = inputValue.join(";");

    for (var i = 0; i < clickers.length; i++){
      if (clickers[i].innerHTML == tagName){ $(clickers[i]).removeClass("picked") }
    }

    if(tagsContainer.childElementCount == 0){ $(tagsContainer).removeClass("block") }
  });

  $('.disable-enter-submit').on('keyup keypress', function(e) {
    if (e.target.tagName.toLowerCase() == "textarea") { return true }
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
      e.preventDefault();
      return false;
    }
  });
  // Toggle Filters
  $('.filter-btn').click(function(){
    //mobile
    if ( isMobile() ) { $('.filter').toggle() }
    $(this).find("span").toggleClass("ion-arrow-down-b ion-arrow-up-b");
  });

  // Initialize Map andTrigger Resize
  $('[data-popup-map-modal-btn]').on('click', function() {
    var coordinates = document.getElementById("tripMeetingPlace").getAttribute("data-coordinates").split(";")
    var meetingPlaceLatLng = {lat: parseFloat(coordinates[0]), lng: parseFloat(coordinates[1]) };
    var map = new google.maps.Map(document.getElementById('popupMap'), {
      center: meetingPlaceLatLng,
      zoom: 13,
      mapTypeId: 'roadmap'
    });

    var marker = new google.maps.Marker({
      position: meetingPlaceLatLng,
      map: map
    });
    setTimeout(function(){
      google.maps.event.trigger(popupMap, 'resize');
      map.panTo(marker.getPosition());
    }, 1000);
  });
  // Append PromoCode in url
  $('[data-paypal-checkout]').on('click', function(e){
    $(this).attr('href', function() {
      return this.href+"&code="+$("#code").val()+"&invited_joiner_names="+sessionStorage.names+"&invited_joiner_emails="+sessionStorage.emails;
    });
    sessionStorage.clear();
  });
  // Checkout using dragonpay
  $('[data-dragonpay-checkout]').on('click', function(){
    $(this).attr('href', function() {
      return this.href+"?code="+$("#code").val()+"&invited_joiner_names="+sessionStorage.names+"&invited_joiner_emails="+sessionStorage.emails;
    });
    sessionStorage.clear();
  });

  $(document).on('open.zf.reveal', '#paymentGateway[data-reveal]', function() {
    $(".progress-container .progress:nth-child(2), .progress-container .progress:nth-child(2) p").addClass("active");
  });

  $(document).on('closed.zf.reveal', '#paymentGateway[data-reveal]', function() {
    $(".progress-container .progress:nth-child(2), .progress-container .progress:nth-child(2) p").removeClass("active");
  });

  var doneTypingInterval = 1000;
  var timer;

  $(document).on("keyup", "*[data-email-for='invitee']", function() {
    clearTimeout(timer);
    var email = $(this).val();
    var joiner_email = $("#addJoinerForm").data("joiner-email")
    var el = $(this);
    var label = $(el).prev()
    var emails = []
    $(el).next("span").remove()
    $(label).removeClass("valid invalid")
    $(label).addClass("spinner")
    timer = setTimeout(function() {
      if(email){
        // Check if joiner emails is used for invited joiner's email
        if(email == joiner_email){
          var error_message = "Your Own email " + email +
                              " cannot be used for invited joiners email"
          generateEmailValidationError(label, el, error_message)
          return false
        }
        // Check for duplicate email
        $("*[data-email-for='invitee']").each(function() {
          emails.push($(this).val())
        })
        var duplicate_emails = find_duplicate_in_array(emails)
        if(duplicate_emails.length > 0){
          var error_message = "Please Avoid Duplicate Email " +
                              duplicate_emails.toString()
          generateEmailValidationError(label, el, error_message)
        }else{
          // request for email validation
          $.ajax({
            type: 'GET',
            url: "<%= Rails.application.routes.url_helpers.invitee_validate_email_path %>",
            data: { email: email },
            success: function(data) {
              if(data.valid_email) {
                $(label).removeClass("spinner")
                $(label).addClass("valid")
              }else{
                generateEmailValidationError(label, el, data.message)
              }
            },
            error: function(xhr) {
              console.log(xhr.responseText)
            }
          });
        }
      }
      $(label).removeClass("spinner")
    }, doneTypingInterval);
  })

  function generateEmailValidationError(container, input, message) {
    $(container).removeClass("spinner")
    $(container).addClass("invalid")
    $(input).after(
      $("<span/>").text(message)
      .addClass("input-container input-container__warning-notif")
    )
  }

  function find_duplicate_in_array(arr) {
    // https://stackoverflow.com/a/840808
    var i,
    len=arr.length,
    result = []

    for (i=0; i<len -1; i++) {
      if(arr[i + 1] == arr[i]) {
        result.push(arr[i])
      }
    }
    return result;
  }

  $("[data-select]").on("change", function(){
    var action = this.value;
    if (action == "approved")
      action = "approve";
    else if (action == "denied")
      action = "deny";

    var waitlistId = $(this).data("waitlist-id");
    var eventId = $(this).data("event-id");
    var prev_val = $(this).data("current-status");
    $.ajax({
      type: "POST",
      url: ("<%= Rails.application.routes.url_helpers.update_waitlist_path %>"),
      data: { waitlist_id: waitlistId, waitlist_action: action, id: eventId },
      beforeSend: function() {
        $("#waitlist-dropdown").attr("disabled", true);
      },
      success: function(data){
        popupNotification("success", data.message);
      },
      error: function(xhr) {
        var data = xhr.responseJSON;
        popupNotification("alert", data.message);
        $("#waitlist-dropdown").val(prev_val);
      },
      complete: function(data) {
        $("#waitlist-dropdown").attr("disabled", false);
      }
    });
  });
});

function toggleFilterInfo(button) {
  $(button).next('div').toggle( "fast" );
}

function ajaxEventFilter() {
  $('.ajax-event').html("");
  $(".event-loading").fadeIn('slow');
  var queryString = "";

  //month
  var startDate = $(":input.month-select.start").val();
  var endDate = $(":input.month-select.end").val();
  if(startDate) { queryString += ('&start_date=' + startDate); }
  if(endDate) { queryString += ('&end_date=' + endDate); }

  //price
  var price = $(":input.price-select option:selected").val();
  if(price) { queryString += ('&price=' + price); }
  //days
  var daysRange = $(":input.days-range").val();
  days = daysRange.split("-");
  minDays = parseInt(days[0].match(/\d+/));
  maxDays = parseInt(days[1].match(/\d+/));
  queryString += ('&min_days=' + minDays);
  queryString += ('&max_days=' + maxDays);

  //activity
  $(":input.category-chkbox:checked").each(function(){
    queryString += ('&category_ids[]=' + $(this).val());
  });

  //destination
  $(":input.destination-chkbox:checked").each(function(){
    queryString += ('&destination_ids[]=' + $(this).val());
  });

  //costs
  var costsRange = $(":input.costs-range").val();
  costs = costsRange.split("-");
  minCost = parseInt(costs[0].match(/\d+/));
  maxCost = parseInt(costs[1].match(/\d+/));
  queryString += ('&min_cost=' + minCost);
  queryString += ('&max_cost=' + maxCost);

  window.history.pushState("Tripkada", "Events", ( /[\?#].*|$/, "?" + queryString ));

  $.ajax({
    type: "GET",
    url: ("/trips.js?" + queryString),
    beforeSend: function () {
      $('.ajax-event').html("");
      $(".event-loading").fadeIn('slow');
    },
    success: function(){
      $('.multiple-event-slider').slick(multipleEventSliderParams);
      $(".event-loading").hide();
    },
    error: function(){
      alert("Error!");
    }
  });
}

$(function() {
  var typingTimer;
  var doneTypingInterval = 1000;
  var $input = $('#search_trips');
  $input.on('keyup',function() {
     var search = $(this)
     clearTimeout(typingTimer)
     typingTimer = setTimeout(function () {
        $(search).closest("form").submit()
     }, doneTypingInterval)
  })
});

$(function closeWhenClickedOutsidePopUp() {
  $(document).on('click', function(event) {
    if (!$(event.target).closest('#shareTrips').length) {
      $('#shareTripsOverlay').hide();
    }
  });
});
