$(function(){
  var notificationAlertContainers = $("#notification-count, #span-number-of-notifications, #notification-count-main");
  var notificationDropdown = $(".notification-alert-dropdown");

  <% if defined?(PusherFake) %>
    var instance = <%= PusherFake.javascript %>;
  <% else %>
    window.pusher = new Pusher('<%= ENV.fetch("PUSHER_KEY") %>', {
      wsHost: '<%= ENV.fetch("PUSHER_WS_HOST") %>',
      wsPort: '<%= ENV.fetch("PUSHER_WS_PORT") %>',
      wssPort: '<%= ENV.fetch("PUSHER_WSS_PORT") %>',
      enabledTransports: ['wss', 'ws', 'flash']
    });
    $.get('<%= Rails.application.routes.url_helpers.users_uid_path %>', function(result){
      if(result.signed_in){
        var reminder = pusher.subscribe("notification-"+result.uid);
        reminder.bind("update_users_notification", function(data){
          if (data.notification_count>0) {
            var strCount = data.notification_count > 99 ? "99+" : data.notification_count
            notificationAlertContainers.show();
            notificationDropdown.addClass("new-notif");
            $('#notification-count a span, #span-number-of-notifications, #notification-count-main a').html(strCount);
          }
          else {
            notificationAlertContainers.hide();
            notificationDropdown.removeClass("new-notif");
          }
        });
      }
    });
  <% end %>
});
