  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Invalid KOALA api call</title>
  </head>
  <body>
    <p>Provider: <%= @provider %></p>
    <p>Token: <%= @token %></p>
    <p>Error Message: <%= @error_message %></p>
    <% if @provider == "facebook" %>
      <a href="https://developers.facebook.com/tools/debug/accesstoken?q=<%= @token %>">Validate token here.</a>
    <% end %>
  </body>
  </html>
