<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Paypal Payment</h1>
  <h2>Payment : <%= @payment.id %> | Status : <%= @payment.state %></h2>
  <p><%= @payment.to_hash %></p>
  <h2>Event</h2>
  <p><%= @event.name %></p>
  <h2>Error Message</h2>
  <p><%= @error_message %></p>
  <h2>Params</h2>
  <p><%= @params %></p>
</body>
</html>
