<div class="features__container features__container--relative">
  <button class="button alert tiny remove-features-btn">X</button>
  <div class="features__container__input features__container__input--align-top">
    <label for="app_version[features_attributes][<%= counter %>][title]">Title</label>
    <input type="text" required="true"
    name="app_version[features_attributes][<%= counter %>][title]">
  </div>
  <div class="features__container__input">
    <label for="app_version[features_attributes][<%= counter %>][details]">Details</label>
    <textarea required="true" class="features__container__input__details"
    name="app_version[features_attributes][<%= counter %>][details]"
    
    class="features-tags"></textarea>
  </div>
</div>
