<div class="filter-name">
  <div class="title blue">Activity</div>
  <ul class="menu">
    <div class="filter-info">
      <% @categories.each do |category| %>
      <li>
        <input type="checkbox" class= "category-chkbox" name="category_ids[]" value="<%=category.id%>" id="category_id_<%=category.id%>" <%= "checked" if @params_category_ids.include?("#{category.id}") %> >
        <label for="category_id_<%=category.id%>">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span><%=category.name%></span>
        </label>
      </li>
      <% end %>
    </div>
  </ul>
</div>