<div class="filter-name">
  <div class="title-container">
    <div class="title blue">Cost range</div>
    <input type="text" id="amount" class="costs-range" readonly>
  </div>
  <ul class="menu filter-info-container">
    <div class="filter-info overflow-filter">
      <div id="slider-range-cost"></div>
      <div class="ranges-span-container"><span><%= @min_cost %></span><span><%= @max_cost %></span></div>
    </div>
  </ul>
</div>
