<div class="filter-name months">
  <div class="title blue">Months</div>
  <div class="filter-info flex-filter-info">
    <div>
      <input type="text" id="start_month" name="start_month" readonly class="datePicker month-select start" value="<%=@first_upcoming_event.digit_start_date%>"/>
    </div>
    <span class="blue">to</span>
    <div>
      <input type="text" id="end_month" name="end_month" readonly class="datePicker month-select end" value="<%= date_picker_format_filter 2.years.from_now %>" />
    </div>
  </div>
</div>
