<div class="filter-name">
  <div class="title blue">Destinations</div>
  <ul class="menu">
    <div class="filter-info">
      <% @destinations.each do |destination| %>
      <li>
        <input type="checkbox" class= "destination-chkbox" name="destination_ids[]" value="<%=destination.id%>" id="destination_id_<%=destination.id%>" <%= "checked" if @params_destination_ids.include?("#{destination.id}") %> >
        <label for="destination_id_<%=destination.id%>">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span><%=destination.name%></span>
        </label>
      </li>
      <% end %>
    </div>
  </ul>
</div>