<div class="filter-name">
  <div class="title-container flex-filter-title-container">
    <div class="title blue">No. of days</div>
    <input type="text" id="amount-days" class="days-range" readonly>
  </div>
  <ul class="menu filter-info-container">
    <div class="filter-info overflow-filter">

      <div id="slider-range-days"></div>
      <div class="ranges-span-container"><span><%= @min_days %></span><span><%= @max_days %></span></div>
    </div>
  </ul>
</div>