<div class="filter-name">
  <div class="title blue">Price</div>
  <div class="filter-info">
    <select class="price-select" name="price">
      <option value="" selected>None</option>
      <option value="low">Low to High</option>
      <option value="high">High to Low</option>
    </select>
  </div>
</div>