<% content_for :filter_javascript do %>
  <script type='text/javascript'>
     $( function() {
        //Initial hide loading
        $(".event-loading").hide();

        //Categories
        $('.category-chkbox').on('change', function(e) {
          ajaxEventFilter();
        });

        //Costs range
        var costStartPos = $( "#slider-range-cost" ).slider({
          range: true,
          min: <%= @min_cost %>,
          step: 1000,
          max: <%= @max_cost %>,
          values: [ <%= @params_min_cost %>, <%= @params_max_cost %> ],
          slide: function( event, ranges ) {
            if ( ( ranges.values[ 0 ]) >= ranges.values[ 1 ] ) {
              return false;
            }
            else
            {
              $( "#amount" ).val( "P " + ranges.values[ 0 ] + " - P " + ranges.values[ 1 ] );
            }
          }
        });

        costEndPos = '';
        $("#slider-range-cost").on("slidestop", function(event, ui) {
            costEndPos = ui.value;
            if (costStartPos != costEndPos) {
              ajaxEventFilter();
            }
            costStartPos = costEndPos;
        });
        $( "#amount" ).val( "P " + $( "#slider-range-cost" ).slider( "values", 0 ) + " - P " + $( "#slider-range-cost" ).slider( "values", 1 ) );

        //Destinations
        $('.destination-chkbox').on('change', function(e) {
          ajaxEventFilter();
        });

        //Month range
        $('.month-select').on('change', function(e) {
          if ( $(":input.start").val().length > 0 && $(":input.end").val().length > 0 ) ajaxEventFilter();
        });
        
        //Date Picker
        var startDate = "<%= @first_upcoming_event&.digit_start_date %>"

        $(".datePicker").datepicker({
          format: 'mm/dd/yyyy',
          startDate: startDate,
          autoHide: true
        });

        //Days range
        var startPos = $( "#slider-range-days" ).slider({
          range: true,
          min: <%= @min_days %>,
          step: 1,
          max: <%= @max_days %>,
          values: [ <%= @params_min_days %>, <%= @params_max_days %> ],
          slide: function( event, ranges ) {
            if ( ( ranges.values[ 0 ]) >= ranges.values[ 1 ] ) {
              return false;
            }
            else
            {
              $( "#amount-days" ).val( ranges.values[ 0 ] + " - " + ranges.values[ 1 ]);
            }
          }
        });

        endPos = '';
        $("#slider-range-days").on("slidestop", function(event, ui) {
            endPos = ui.value;
            if (startPos != endPos) {
              ajaxEventFilter();
            }
            startPos = endpos;
        });

        $( "#amount-days" ).val( $( "#slider-range-days" ).slider( "values", 0 ) + " - " + $( "#slider-range-days" ).slider( "values", 1 ));
        
        //Price

        $('.price-select').on('change', function(e) {
          ajaxEventFilter();
        });
    } );
  </script>
<% end %>
