<% generate_page_title(title: "Organizer Public Landing Page") %>
<%= generate_stylesheet_content(stylesheet: "organizer/landing_page") %>

<div class="landing-page">
  <div class="landing-page__wrapper landing-page__wrapper--top landing-page__wrapper--live-your-passion landing-page__wrapper--flex">
    <section>
      <div class="landing-page__wrapper__content landing-page__wrapper__content--column-flex landing-page__wrapper__content--no-padding">
        <div class="landing-page__wrapper__content__container">
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--single-col">
            <h3 class="landing-page__wrapper__content__container__details__header-copy landing-page__wrapper__content__container__details__header-copy--bold">
              LIVE YOUR PASSION
            </h3>
            <h3 class="landing-page__wrapper__content__container__details__header-copy landing-page__wrapper__content__container__details__header-copy--bold">
              WITH TRAVELLERS LIKE YOU
            </h3>
            <div class="landing-page__wrapper__content__container__details__text-container">
              <p class="landing-page__wrapper__content__container__details__text-container__copy">
                Create trips around places you love and the things you’re love to do. 
              </p>
              <p class="landing-page__wrapper__content__container__details__text-container__copy">
                Travel for free, and earn on your spare time.
              </p>
            </div>
          <%= generate_link_organizer_application(label: "BE AN ORGANIZER") %>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="landing-page__wrapper landing-page__wrapper--no-padding">
    <section>
      <div class="landing-page__wrapper__header">
        <h5 class="landing-page__wrapper__header__copy landing-page__wrapper__header__copy--staff">
         Our community of organizers is made up of passionate travelers who loved to share their experiences with other travelers by creating and leading trips.
        </h5>
      </div>
    </section>
  </div>
  <div class="landing-page__wrapper landing-page__wrapper--top landing-page__wrapper--tripkada-staff">
  </div>
  <div class="landing-page__wrapper landing-page__wrapper--fit-in-view">
    <section>
      <div class="landing-page__wrapper__header">
        <h5 class="landing-page__wrapper__header__copy landing-page__wrapper__header__copy--blue">
         See how organizers share their passions through their trips 
        </h5>
      </div>
      <div class="landing-page__wrapper__content landing-page__wrapper__content--row-flex landing-page__wrapper__content--viewport-width-fit">
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--column-flex landing-page__wrapper__content__container--organizer-slider landing-page__wrapper__content__container--with-top-bottom-margin">
          <div class="landing-page__wrapper__content__container--organizer-slider__image-container">
            <%= image_tag("landing-page-slider1.svg", class: "landing-page__wrapper__content__container--organizer-slider__image-container__image") %>
          </div>
          <div class="landing-page__wrapper__content__container--organizer-slider__image-container">
            <%= image_tag("landing-page-slider2.svg", class: "landing-page__wrapper__content__container--organizer-slider__image-container__image") %>
          </div>
          <div class="landing-page__wrapper__content__container--organizer-slider__image-container">
            <%= image_tag("landing-page-slider3.svg", class: "landing-page__wrapper__content__container--organizer-slider__image-container__image") %>
          </div>
        </div>
      </div>
      <div class="landing-page__wrapper__content landing-page__wrapper__content--row-flex landing-page__wrapper__content--no-padding landing-page__wrapper__content--viewport-width-fit">
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--column-flex landing-page__wrapper__content__container--gray-background landing-page__wrapper__content__container--with-top-bottom-padding">
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--single-col landing-page__wrapper__content__container__details--destinations-copy">
            <h3 class="landing-page__wrapper__content__container__details__header-copy landing-page__wrapper__content__container__details__header-copy--bold landing-page__wrapper__content__container__details__header-copy--blue-font">
              What do you like to do?
            </h3>
            <div class="landing-page__wrapper__content__container__details__text-container">
              <p class="landing-page__wrapper__content__container__details__text-container__copy landing-page__wrapper__content__container__details__text-container__copy--black-font">
                You can go up the mountains, head to the beach, dabble in crafts, and food trip to your heart’s content. Some like to do outreach programs, some like to create wellness programs. It’s up to you!
              </p>
            </div>
          <%= generate_link_organizer_application(label: "EXPLORE MORE") %>
          </div>
          <div class="landing-page__wrapper__content__container__destinations-slider">
            <div class="landing-page__wrapper__content__container__destinations-slider__image-container">
              <%= destination_photo(image: "organizer-landing-page-mountain.svg", label: "Mountains") %>
            </div>
            <div class="landing-page__wrapper__content__container__destinations-slider__image-container">
              <%= destination_photo(image: "organizer-landing-page-beach.svg", label: "Beach") %>
            </div>
            <div class="landing-page__wrapper__content__container__destinations-slider__image-container">
              <%= destination_photo(image: "organizer-landing-page-food.svg", label: "Foods") %>
            </div>
            <div class="landing-page__wrapper__content__container__destinations-slider__image-container">
              <%= destination_photo(image: "organizer-landing-page-crafts.svg", label: "Craft") %>
            </div>
            <div class="landing-page__wrapper__content__container__destinations-slider__image-container">
              <%= destination_photo(image: "organizer-landing-page-people.svg", label: "People") %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="landing-page__wrapper">
    <section>
      <div class="landing-page__wrapper__content landing-page__wrapper__content--viewport-fit landing-page__wrapper__content--column-flex">
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--auto-width">
        <%= image_tag("tripkada-mobile-landing-page.png", class: "landing-page__wrapper__content__container__image landing-page__wrapper__content__container__image--align-right") %>
        </div>
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--two-col">
          <div class="landing-page__wrapper__content__container__details">
            <h3 class="landing-page__wrapper__content__container__details__header-copy">CREATE MEANINGFUL EXPERIENCES</h3>
            <h3 class="landing-page__wrapper__content__container__details__header-copy">BY TRAVELING FOR A CAUSE</h3>
          </div>
          <div class="landing-page__wrapper__content__container__details">
            <p>
              You can do something to help, no matter who you are or where you come from. We believe that we can build communities through travel together.
            </p>
            <p>
              Organize a trip to bring help and joy to people you know can use them, and share your cause with your fellow travelers.</p>
          </div>
        <div class="landing-page__wrapper__content__container__join-btn-container">
          <%= generate_link_organizer_application(label: "JOIN US") %>
        </div>
        </div>
      </div>
      <div class="landing-page__wrapper__header">
        <h5 class="landing-page__wrapper__header__copy landing-page__wrapper__header__copy--blue">Why become a Tripkada Organizer?</h5>
      </div>
    </section>
  </div>
  <div class="landing-page__wrapper landing-page__wrapper--fit-in-view landing-page__wrapper--white-font landing-page__wrapper--blue-background">
    <section>
      <div class="landing-page__wrapper__header">
        <h5 class="landing-page__wrapper__header__copy">We work together</h5>
      </div>
      <div class="landing-page__wrapper__content landing-page__wrapper__content--row-flex landing-page__wrapper__content--with-top-margin">
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--column-flex">
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--three-col">
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <%= image_tag("organizer-feature-dashboard.png", class: "landing-page__wrapper__content__container__details--three-col__features-container__image") %>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <h5 class="landing-page__wrapper__content__container__details--three-col__features-container__label">
                Easy Automated Dashboard
              </h5>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <p class="landing-page__wrapper__content__container__details--three-col__features-container__copy">
                Create and manage your trips and clients all in one place using your phone or your laptop. Never get lost with your bookings again!
              </p>
            </div>
          </div>
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--three-col">
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <%= image_tag("organizer-feature-profile.png", class: "landing-page__wrapper__content__container__details--three-col__features-container__image") %>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <h5 class="landing-page__wrapper__content__container__details--three-col__features-container__label">
                Personal Public Profile
              </h5>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <p class="landing-page__wrapper__content__container__details--three-col__features-container__copy">
                Create and manage your trips and clients all in one place using your phone or your laptop. Never get lost with your bookings again!
              </p>
            </div>
          </div>
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--three-col">
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <%= image_tag("organizer-feature-customer-service.png", class: "landing-page__wrapper__content__container__details--three-col__features-container__image") %>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <h5 class="landing-page__wrapper__content__container__details--three-col__features-container__label">
                Quality 24/7 Customer Service
              </h5>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <p class="landing-page__wrapper__content__container__details--three-col__features-container__copy">
                Handle your customer inquiries and comments after they’ve confirmed and paid for their booking with you. In the meantime, we’ve got you covered all day and night!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-page__wrapper__content landing-page__wrapper__content--row-flex landing-page__wrapper__content--with-top-margin">
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--column-flex">
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--three-col">
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <%= image_tag("organizer-feature-partnership.png", class: "landing-page__wrapper__content__container__details--three-col__features-container__image") %>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <h5 class="landing-page__wrapper__content__container__details--three-col__features-container__label">
                Collaborative Partnerships
              </h5>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <p class="landing-page__wrapper__content__container__details--three-col__features-container__copy">
                Got an idea for a project, event, or program? Share them with us, and we’ll help you connect and work with people and companies that share the vision!
              </p>
            </div>
          </div>
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--three-col">
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <%= image_tag("organizer-feature-incentives.png", class: "landing-page__wrapper__content__container__details--three-col__features-container__image") %>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <h5 class="landing-page__wrapper__content__container__details--three-col__features-container__label">
                Performance Incentives
              </h5>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <p class="landing-page__wrapper__content__container__details--three-col__features-container__copy">
                Great work never goes unnoticed. Earn incentives for jobs well done as you travel and share more of your trips and experiences on Tripkada!
              </p>
            </div>
          </div>
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--three-col">
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <%= image_tag("organizer-feature-payment.png", class: "landing-page__wrapper__content__container__details--three-col__features-container__image") %>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <h5 class="landing-page__wrapper__content__container__details--three-col__features-container__label">
                Convenient Payment Options
              </h5>
            </div>
            <div class="landing-page__wrapper__content__container__details--three-col__features-container">
              <p class="landing-page__wrapper__content__container__details--three-col__features-container__copy">
                Accept payments online via credit and debit cards, online bank transfers, in cash over-the-counter at selected banks and any 7Eleven store, and through bitcoin.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="landing-page__wrapper landing-page__wrapper--fit-in-view landing-page__wrapper--we-grow-together">
    <section>
      <div class="landing-page__wrapper__header">
        <h5 class="landing-page__wrapper__header__copy landing-page__wrapper__header__copy--blue">We grow together</h5>
      </div>
      <div class="landing-page__wrapper__content">
        <div class="landing-page__wrapper__content__container">
          <div class="landing-page__wrapper__content__container__body">
            <p class="landing-page__wrapper__content__container__details__body__copy">
              Tripkada was launched on August 10, 2017, and we have grown from having only 3 organizers to over 300 organizers that we work and collaborate with. Today, we see each other as a community of mentors and friends, and we invite you to join us! We believe that as you grow, we grow, and so we strive to make our platform and our programs according to what you need. Our doors are always open!
            </p>
            <p class="landing-page__wrapper__content__container__details__body__copy">
Access our community of users and followers for a more targeted reach; as well as our network of service and brand partner companies and organizations to earn commissions or get discounts on services.
            </p>
            <p class="landing-page__wrapper__content__container__details__body__copy">
Get promotional support from our team to help spread the word about your amazing trips on social media and other channels
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="landing-page__wrapper landing-page__wrapper--no-padding">
    <section>
      <div class="landing-page__wrapper__content landing-page__wrapper__content--column-flex landing-page__wrapper__content--no-padding">
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--two-col landing-page__wrapper__content__container--blue-background landing-page__wrapper__content__container--bottom">
          <div class="landing-page__wrapper__content__container__details landing-page__wrapper__content__container__details--single-col">
            <h5 class="landing-page__wrapper__content__container__details--single-col__header">
              We build together
            </h5>
            <p class="landing-page__wrapper__content__container__details--single-col__copy">
              Tripkada is founded on the belief that we can make a difference and build communities through travel. To us, our passion to travel is a
tool for development that we have the power to share with others. The communities we’ve helped along the way from the trips that our organizers create are countless. Let’s share this opportunity and build more communities together!
            </p>
          <%= generate_link_organizer_application(label: "BE AN ORGANIZER") %>
          </div>
        </div>
        <div class="landing-page__wrapper__content__container landing-page__wrapper__content__container--two-col landing-page__wrapper__content__container--we-build-together landing-page__wrapper__content__container--bottom">
        </div>
      </div>
    </section>
  </div>
</div>
