<% if @destinations.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
<table class="destination-list">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @destinations.decorate.each do |destination| %>
      <tr>
        <td><%= destination.name %></td>
        <td><%= validate_status_and_class(destination) %></td>
        <td>
          <div class="button-group margin-0">
            <%= link_to icon('file'), destination_path(destination), class: "button info" %>
            <%= link_to icon('pencil'), edit_destination_path(destination), class: "button success" %>
            <%= link_to icon('trash'), destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
