<%= simple_form_for(@destination) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.label :name, "Destination:", class: "input-label" %>
  <%= f.input :name, placeholder: "e.g. Surfing", label: false %>
  <p></p>
  <div class="activation">
  <p>Activate Destination</p>
    <div class="switch tiny">
      <%= f.check_box :active, checked: @destination.active?, id: "destinationAvailability", class: "switch-input" %>
      <label class="switch-paddle" for="destinationAvailability">
        <span class="show-for-sr">Activate the destination?</span>
        <span class="switch-active" aria-hidden="true">Yes</span>
        <span class="switch-inactive" aria-hidden="true">No</span>
      </label>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= f.button :submit, "Save", class: "button" %>
</div>
<% end %>
