<% provide(:title, "Destinations") %>

<div class="header">
  <h1>DESTINATIONS</h1>
  <%= form_tag destinations_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>

<div id="destinationLists">
  <%= render "destinations" %>
</div>

<div id="paginator">
  <%= paginate @destinations, remote: true %>
</div>

<%= link_to 'ADD DESTINATION', new_destination_path, class: "destination-btn new" %>