<% provide(:title, "New Destination") %>

<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, destinations_path %>
  <h1>NEW DESTINATION</h1>
</div>

<%= render 'form' %>
