<% provide(:title, "View Destination") %>

<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, destinations_path %>
  <h1>DESTINATIONS</h1>
</div>

<div class="destination-usage">
  <p>
    <span>Destination:</span>
    <span><%= @destination.name %></span>
  </p>
  <%= link_to 'Edit', edit_destination_path(@destination), class: "destination-btn edit" %> 

</div>