@import 'default-colors.scss';
@import 'default-mixin';

.hide { display: none }

.flex-kit{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;
}

.ionicon {
  display: inline-block;
  font-family: 'Ionicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//kaminari
nav.pagination {
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.clear-select {
  border: none;
  margin: 0;
  outline: none;
}
.pointer {
  cursor: pointer;
}
.no-border {
  border: none;
}
td div.avatar {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.margin-0 {
  margin: 0;
}

.admin-layout {
  margin: 1em auto;
}

.top-bar {
  background-color: $default-blue;
  padding: 0;
  box-shadow: 0 5px 25px 8px #545454;
  position: relative;
  .top-bar-left {
    ul {
      background-color: #ffffff;
    }
    .menu-text {
      font-weight: normal;
      color: $default-orange;
      font-size: 1.4em;
      letter-spacing: 2px;
      padding: 11px 25px;
      a {
        padding: 0;
      }
      img {
        width: 30px;
      }
    }
  }
  .top-bar-right {
    ul.dropdown.menu {
      background-color: transparent;
      .is-dropdown-submenu-parent > a {
        padding: 18px 20px 18px 0;
        margin-right: 34px;
        color: #ffffff;
        &:after {
          border-color: #ffffff transparent transparent;
        }
      }
    }
  }
}

.sidebar {
  margin: 0;
  list-style: none;
  li {
    margin: 1px 0;
    min-height: 85px;
    background-color: #26344b;
    position: relative;
    &.current {
      background-color: $default-blue;
      a,
      span {
        opacity: 1;
      }
    }
    a,
    span {
      color: #ffffff;
      text-align: center;
      opacity: 0.3;
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      img {
        display: block;
        margin: 0 auto 10px;
        width: 25px;
      }
    }
  }
}

.admin-layout {
  background-color: #eef1f5;
  margin: 0;
  max-width: 100%;
  min-height: calc(100% - 52px);
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  .sidebar {
    min-width: 180px;
    margin-right: 1em;
  }
  .item-container {
    width: 100%;
  }
}

#eventLists,
#userLists {
  ul {
    margin: 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    li {
      position: relative;
      line-height: normal;
      &:not(:last-child) {
        border-bottom: 1px solid #c1c1c1;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      select {
        margin: 0 7px 0 0;
        float: right;
        display: inline-block;
        width: 185px;
        height: auto;
        border: none;
        outline: none;
        padding: 5px 25px 5px 5px;
        background-image: none;
        border-left: 1px solid #c1c1c1;
      }
      span {
        border-right: 1px solid #c1c1c1;
        background-color: #f1f1f1;
        padding: 5px 10px;
        display: inline-block;
        margin-right: 25px;
        min-width: 48px;
        text-align: center;
        &.featured-container {
          position: absolute;
          right: 0px;
        }
      }
      p.blue-text {
        color: $default-blue;
        margin: 0;
        display: inline-block;
      }
    }
  }
}

.header {
  background-color: #d6d6d6;
  padding: 1em;
  margin-bottom: 1em;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .export-btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    .export-link {
      background-color: #ffffff;
      width: 100px;
      border-radius: 5px;
      text-align: center;
      .export-icon {
        font-size: 20px;
      }
      &:hover {
        background-color: #00a6e0;
        color: #ffffff;
      }
    }
  }
  a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  h1 {
    color: #26344b;
    font-size: 1.8em;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  form {
    display: inline-block;
    float: right;
    width: 300px;
    position: relative;
    &:after {
      content: '\f4a5';
      display: inline-block;
      font-family: 'Ionicons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 7px;
      font-size: 1.5em;
      color: #d6d6d6;
    }
    input[type='text'] {
      width: 100%;
      display: inline-block;
      margin: 5px 0;
      border-radius: 10px;
      height: auto;
      padding: 6px 5px 6px 30px;
      border-style: none;
      box-shadow: none;
      outline: none;
    }
  }
}

.trip-detail-container {
  background-color: #ffffff;
  strong {
    margin: 15px 1.7em 5px;
    display: inline-block;
    font-size: 1.5em;
  }
  .label.alert {
    width: 100%;
  }
  tbody tr:nth-child(even) {
    background-color: transparent;
  }
  .trip-detail {
    width: auto;
    display: block;
    margin: 0 2em 2em;
    tbody {
      border: none;
      tr td:first-of-type {
        width: 200px;
        color: $default-blue;
      }
      .trip-images {
        .image-container {
          padding: 0;
          width: 200px;
          .image {
            height: 150px;
          }
        }
      }
      tr td span {
        color: $default-blue;
      }
    }
  }
  .trip-members {
    thead {
      background: $default-blue;
      th {
        color: #ffffff;
        &:first-of-type {
          padding-left: 50px;
        }
        &:last-of-type {
          text-align: center;
        }
      }
    }
    tbody tr {
      border-right: 1px solid #c1c1c1;
      border-left: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      td {
        padding: 0 0.625rem;
        color: $default-blue;
        &:first-of-type {
          padding: 0;
        }
        &.downpayment {
          color: #ec5840;
        }
        &.has-20vw-width { width: 20vw }
        &.has-100px-width { width: 100px }
        &:last-of-type {
          text-align: center;
        }
        span {
          background-color: #f1f1f1;
          padding: 5px 10px;
          display: inline-block;
          margin-right: 25px;
          &.remove-btn {
            background-color: #ffffff;
            margin: 0;
          }
        }
      }
    }
  }
  .actions {
    text-align: center;
    .actions__edit-btn, .actions__delete-btn {
      width: 150px;
      border-radius: 30px;
      margin: 10px 30px;
    }
  }
}

.promo-code-list {
  thead {
    background: $default-blue;
    th {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
      }
      color: #ffffff;
      border-right: 1px solid #c1c1c1;
      border-top: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
    }
  }
  tbody tr {
    &:nth-child(even) {
      background-color: transparent;
    }
    td {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
      }
      border-right: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
      span {
        border-radius: 17px;
        min-width: 85px;
        text-align: center;
        font-size: 0.9em;
        padding: 6px 7px;
        &:after {
          display: inline-block;
          font-family: 'Ionicons';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: 7px;
        }
        &.success:after {
          content: '\f120';
        }
        &.alert:after {
          content: '\f128';
        }
      }
      .button-group .button {
        margin-right: 3px;
        margin-bottom: 0;
        padding: 6px;
        border-radius: 3px;
      }
    }
  }
}

.promo-code-btn {
  padding: 4px 7px;
  border-radius: 15px;
  &:after {
    display: inline-block;
    font-family: 'Ionicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
  }
  &.new {
    background-color: $default-blue;
    color: $default-white;
    &:after {
      content: '\f216';
    }
  }
  &.file {
    position: absolute;
    background-color: $default-blue;
    color: $default-white;
    height: 37px;
    margin-top: 8px;
    &:after {
      content: '\f216';
    }
  }
  &.import {
    position: absolute;
    background-color: $default-blue;
    color: #ffffff;
    &.new {
      padding: 7px 15px;
      display: initial;
      position: unset;
      margin-left: 10px;
    }
    &:after {
      content: '\f216';
    }
  }
  &.edit {
    background-color: #3adb76;
    color: #ffffff;
    margin: 0 0 0 30px;
    &:after {
      content: '\f2bf';
    }
  }
}

.promo-code-usage {
  background-color: #ffffff;
  padding: 1px 0;
  p {
    margin: 20px 30px;
    span {
      &:first-of-type {
        color: $default-blue;
        width: 180px;
        display: inline-block;
      }
    }
  }
  table {
    margin: 20px 0 0 0;
    thead {
      background-color: $default-blue;
      color: #ffffff;
      th {
        &:first-of-type {
          border-left: 1px solid #c1c1c1;
        }
        color: #ffffff;
        border-right: 1px solid #c1c1c1;
        border-top: 1px solid #c1c1c1;
        border-bottom: 1px solid #c1c1c1;
        padding: 5px 20px;
      }
    }
    tbody tr {
      &:nth-child(even) {
        background-color: transparent;
      }
      td {
        &:first-of-type {
          border-left: 1px solid #c1c1c1;
        }
        border-right: 1px solid #c1c1c1;
        border-bottom: 1px solid #c1c1c1;
        padding: 5px 20px;
      }
    }
  }
}

.edit_promo_code,
.new_promo_code {
  background-color: #ffffff;
  padding: 35px 100px;
  label.input-label {
    display: inline-block;
    vertical-align: middle;
    color: $default-blue;
    min-width: 50px;
  }
  div.input {
    display: inline-block;
    vertical-align: middle;
  }
  div.activation {
    margin-top: 15px;
    p,
    .switch {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      color: $default-blue;
      margin-right: 10px;
    }
  }
  .form-actions .btn.button {
    background-color: #3adb76;
    width: 160px;
    border-radius: 30px;
    padding: 5px 10px;
    margin-top: 20px;
  }
}

.payment-table {
  thead {
    background-color: $default-blue;
    color: #ffffff;
    th {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
      }
      color: #ffffff;
      border-right: 1px solid #c1c1c1;
      border-top: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
    }
    .actions-header{ text-align: center }
  }
  tbody tr {
    &:nth-child(even) {
      background-color: transparent;
    }
    td {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
        text-align: center;
        background-color: #f1f1f1;
      }
      border-right: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
      > .booking-count {
        margin: 0;
        display: flex;
        justify-content: space-between;
        .booking-count__content {
          color: $default-blue;
        }
      }
    }
    .actions{
      text-align: center;
      .actions__show-import-modal-btn,
      .actions__show-delete-group-confirmation-modal-btn{
        margin: 0;
        border-radius: 30px;
        min-width: 128px;
      }
    }
  }
}

.category-list {
  thead {
    background: $default-blue;
    th {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
      }
      color: #ffffff;
      border-right: 1px solid #c1c1c1;
      border-top: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
    }
  }
  tbody tr {
    &:nth-child(even) {
      background-color: transparent;
    }
    td {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
      }
      border-right: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
      span {
        border-radius: 17px;
        min-width: 85px;
        text-align: center;
        font-size: 0.9em;
        padding: 6px 7px;
        &:after {
          @extend .ionicon;
          margin-left: 7px;
        }
        &.success:after {
          content: '\f120';
        }
        &.alert:after {
          content: '\f128';
        }
      }
      .button-group .button {
        margin-right: 3px;
        margin-bottom: 0;
        padding: 6px;
        border-radius: 3px;
      }
    }
  }
}

.category-btn {
  padding: 4px 7px;
  border-radius: 15px;
  &:after {
    @extend .ionicon;
    margin-left: 10px;
  }
  &.new {
    background-color: $default-blue;
    color: #ffffff;
    &:after {
      content: '\f216';
    }
  }
  &.edit {
    background-color: #3adb76;
    color: #ffffff;
    margin: 0 0 0 30px;
    &:after {
      content: '\f2bf';
    }
  }
}

.category-usage {
  background-color: #ffffff;
  padding: 1px 0px 30px 0px;
  p {
    margin: 20px 30px;
    span {
      &:first-of-type {
        color: $default-blue;
        width: 180px;
        display: inline-block;
      }
    }
  }
}

.edit_category,
.new_category {
  background-color: #ffffff;
  padding: 35px 100px;
  label.input-label {
    display: inline-block;
    vertical-align: middle;
    color: $default-blue;
    min-width: 50px;
  }
  div.input {
    display: inline-block;
    vertical-align: middle;
  }
  div.activation {
    margin-top: 15px;
    p,
    .switch {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      color: $default-blue;
      margin-right: 10px;
    }
  }
  .form-actions .btn.button {
    background-color: #3adb76;
    width: 160px;
    border-radius: 30px;
    padding: 5px 10px;
    margin-top: 20px;
  }
}

.destination-list {
  thead {
    background: $default-blue;
    th {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
      }
      color: #ffffff;
      border-right: 1px solid #c1c1c1;
      border-top: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
    }
  }
  tbody tr {
    &:nth-child(even) {
      background-color: transparent;
    }
    td {
      &:first-of-type {
        border-left: 1px solid #c1c1c1;
      }
      &.message{
        white-space: pre-line;
        width: 40vw;
      }
      &.btn-group{ text-align: center }
      border-right: 1px solid #c1c1c1;
      border-bottom: 1px solid #c1c1c1;
      padding: 5px 20px;
      span {
        border-radius: 17px;
        min-width: 85px;
        text-align: center;
        font-size: 0.9em;
        padding: 6px 7px;
        &:after {
          @extend .ionicon;
          margin-left: 7px;
        }
        &.success:after {
          content: '\f120';
        }
        &.alert:after {
          content: '\f128';
        }
      }
      .button-group .button {
        margin-right: 3px;
        margin-bottom: 0;
        padding: 6px;
        border-radius: 3px;
      }
    }
  }
}

.destination-btn {
  padding: 4px 7px;
  border-radius: 15px;
  &:after {
    @extend .ionicon;
    margin-left: 10px;
  }
  &.new {
    background-color: $default-blue;
    color: #ffffff;
    &:after {
      content: '\f216';
    }
  }
  &.edit {
    background-color: #3adb76;
    color: #ffffff;
    margin: 0 0 0 30px;
    &:after {
      content: '\f2bf';
    }
  }
}

.destination-usage {
  background-color: #ffffff;
  padding: 1px 0px 30px 0px;
  p {
    margin: 20px 30px;
    span {
      &:first-of-type {
        color: $default-blue;
        width: 180px;
        display: inline-block;
      }
    }
  }
}

.edit_destination,
.new_destination {
  background-color: #ffffff;
  padding: 35px 100px;
  label.input-label {
    display: inline-block;
    vertical-align: middle;
    color: $default-blue;
    min-width: 50px;
  }
  div.input {
    display: inline-block;
    vertical-align: middle;
  }
  div.activation {
    margin-top: 15px;
    p,
    .switch {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      color: $default-blue;
      margin-right: 10px;
    }
  }
  .form-actions .btn.button {
    background-color: #3adb76;
    width: 160px;
    border-radius: 30px;
    padding: 5px 10px;
    margin-top: 20px;
  }
}

.inline-flex-form-group {
  @extend .flex-kit;
  margin: 0;
  list-style: none;
  align-items: center;
  li > .button {
    background-color: #3adb76;
    width: 160px;
    border-radius: 30px;
    margin: 5px 20px 0;
    outline: none;
  }
  li:not(:last-of-type) {
    flex: auto;
  }
}

.flex-container-bottom {
  @extend .flex-kit;
  margin: 0;
  list-style: none;
  li > .button {
    background-color: $default-green-btn;
    width: 160px;
    border-radius: 30px;
    margin: 5px 20px 0;
    outline: none;
  }
}

.features-wrapper {
  .features__container {
    @extend .flex-kit;
    border: 1px solid $default-light-gray;
    margin-bottom: 20px;
    &--relative{
      position: relative;
    }
    .remove-features-btn{
      @include set_position(
        $position: absolute,
        $top: 5px,
        $right: 5px
      )
    }
    .features__container__input{
      width: 38vw;
      overflow-y: unset;
      margin: 10px;
      &--align-top{
        margin-top: -50px;
      }
      .features__container__input__details{
        min-height: 100px;
      }
    }
  }
}

.app-version-details{
  display: block;
  width: 100%;
  min-height: 600px;
  padding: 30px 15px;
  background-color: $default-white;
  .app-version-details__label{
    font-weight: bold;
  }
  .app-version-details__features{
    .app-version-details__features__label{
      font-weight: bold;
    }
  }
}

.import-subscribers-modal {
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  .import-subscribers-modal__title, .import-subscribers-modal__label {
    font-size: 16px;
  }
  .import-subscribers-modal__btn {
    background-color: $default-green-btn;
    width: 160px;
    border-radius: 30px;
    margin: 20px 0;
    outline: none;
    color: $default-white;
    width: 200px;
    padding: 10px;
  }
}

.message-box {
  min-height: 100px;
}

.form-inputs .photo-container {
  height: 200px;
  width: 400px;
  margin-bottom: 10px;
  @include background_style;
  .photo-container__photo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    float: left;
    position: relative;
    label {
      margin: 0;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5em;
      color: $default-white;
      width: auto;
      &:before {
        display: block;
        line-height: 230px;
        width: 540px;
      }
    }
    .photo-container__photo__remove {
      display: none;
      outline: none;
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $default-white;
      border-radius: 50%;
      font-size: 15px;
      width: 25px;
      height: 25px;
    }
  }
  &.has-image{
    .photo-container__photo { display: none }
    &:hover {
      .photo-container__photo, .photo-container__photo .photo-container__photo__remove {
        display: block
      }
    }
  }
}
.upload-file-btn {
    border: 1px solid #bfbfbf;
    text-align: center;
    padding: 10px;
    color: #5f5f5f;
    font-size: 0.9rem;
    border-radius: 15px;
    margin: 0 auto;
    cursor: pointer;
    @include background_style;
    &:before {
      font-size: 3em;
      vertical-align: middle;
      margin: 1.2vw auto;
      opacity: 0.7;
    }
  }
.remove-file-text {
  input[type='file'] {
    width: 26%;
  }
}
.label_import{
  margin-top: 15px;
  display: initial;
}
.user-info-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transform: scale(1.1);
  transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
}

.user-info-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $default-white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: .5rem;

  header {
    background-color: transparent;

    .title {
      color: $default-blue;
      font-weight: bold;
      font-size: 27px;
      margin: 20px;
      text-align: center;
    }
  }

  .details {
    text-align: center;
    font-size: 12px;
    color: $default-gray;
  }
}
