@import 'default-colors.scss';

*{ margin: 0 }

.custom-error-wrapper{
  .custom-error-container{
    min-height: 100vh;
    background-image: asset-url('bg-404.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    .custom-error-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.mobile{
        transform: translate(-50%, -50%);
      }
      .tripkada-logo-container{
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
        .logo-tripkada{
          height: 80px;
        }
        .tripkada-text{
          color: #FFFFFF;
          font-size: 28px;
         }
      }
      .error-container{
        text-align: center;
        width: 100%;
        .logo-404{
          height: 60px;
          margin-bottom: 10px;
        }
        .error-description{
          margin: 0;
          color: $default-white;
          .home-link{
            color: $default-blue;
            text-decoration: none;
          }
        }
      }
    }
  }
}
