$default-button-font-size: 12px;
$default-button-icon-size: 15px;
$default-font-size-web: 16px;
$default-font-size-mobile: 14px;
$default-label-web: 25px;
$default-label-mobile: 16px;
$default-label-book-trip-web: 22px;
$default-label-price-web: 14px;
