@mixin transform($attr) {
  -webkit-transform: $attr;
  -moz-transform: $attr;
  -ms-transform: $attr;
  transform: $attr;
}
@mixin transition($attr) {
  -webkit-transition: $attr;
  -moz-transition: $attr;
  -ms-transition: $attr;
  transition: $attr;
}
@mixin set-position($position: static, $top: auto, $left: auto, $bottom: auto, $right: auto) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}
@mixin background-style($size: cover, $position: center center, $repeat:no-repeat, $img: "") {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
  background-image: asset-url($img);
}
@mixin default_page_padding {
  padding: 0 45px;
}

@mixin default_page_padding-mobile {
  padding: 0 10px;
}
