@import 'default-colors.scss';
@import 'default-font-sizes.scss';
@font-face {
  font-family: 'Super Rad';
  src: font-url('Super-Rad.otf');
}

.event-container {
  padding: 0px 40px;
  &.trips {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &.my-trips {
    min-height: calc(100% - 300px);
  }
  > p {
    color: $default-blue;
  }
  .columns:last-child:not(:first-child) {
    float: left;
  }
  .columns {
    overflow: hidden;
    padding: 0px 0px 40px 0px;
    outline: none;
  }
}
// V2 start
.event-container .event-full-info {
  width: 29vw;
  margin-bottom: 30px;

  .event-bg-container-front {
    height: 25vw;
    padding: 15px;
    background-size: cover;
    background-position: center center;
    position: relative;
    cursor: pointer;
    img.mask {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: black;
      opacity: 0.2;
    }
    &:hover {
      .mask {
        opacity: 0.1;
      }
    }
    .details-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .departure-date {
        color: $default-white;
        white-space: pre-line;
        font-size: $default-font-size-web;
        line-height: 25px;
        text-align: center;
        width: 100%;
        font-size: 15px;
        font-weight: 400;
      }
      .trip-title-container {
        height: 60px;
        whit-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        .title {
          color: $default-white;
          line-height: normal;
          font-size: $default-label-web;
          display: block;
          font-weight: 500;
        }
        a {
          word-break: break-word;
        }
      }
      .brand-sponsor{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
        .brand-sponsor__container{
          text-align: center;
          .brand-sponsor__container__text{
            color: $default-white;
            font-size: 0.7rem;
            margin-bottom: 5px;
          }
          .brand-sponsor__container__logo{
            height: 10vh;
            width: 10vw;
          }
        }
      }
    }
  }

  .notice-avatar-container {
    .joiner-avatar-container {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .joiner {
        margin: 0px;
        display: flex;
        li:first-of-type {
          margin-left: 0px;
        }
        li {
          display: inline-block;
          vertical-align: middle;
          margin-left: -20px;
          div {
            background-size: cover;
            background-position: center center;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            border: 1px solid $default-gray;
          }
        }
      }
      .slots-left {
        color: $default-gray;
        font-size: $default-font-size-web;
        margin: 0px 20px;
      }
      .notice {
        display: inline-block;
        background-color: $default-white;
        padding: 5px;
        border-radius: 35px;
        width: 55%;
        &.reactivate {
          background-color: $default-blue;
          p {
            color: $default-gray;
          }
        }
        p,
        a {
          color: $default-orange-text;
          margin: 0;
          font-size: $default-font-size-web;
          text-align: center;
          span {
            font-weight: normal;
            display: inline-block;
            &:first-of-type {
              margin-right: 10px;
            }
          }
        }
        &.rate {
          background-color: transparent;
          border: 2px solid $default-gray;
          width: auto;
          min-width: 160px;
          p {
            color: $default-gray;
          }
        }
      }
    }
    // V2 END
    .trip-title-container {
      .title {
        color: $default-gray;
        line-height: normal;
        font-size: $default-font-size-web;
        font-weight: bold;
      }
      a {
        word-break: break-word;
      }
    }
  }
}
.event-wrapper {
  &.main {
    margin-top: -50px;
  }
  .event-label {
    color: $default-blue;
    margin: 15px 30px;
    font-size: $default-label-web;
  }

  .trips-with-filters {
    display: flex;
    position: relative;
    div:first-of-type {
      > p {
        color: $default-blue;
        margin: 50px 40px;
      }
    }
    .title-container {
      color: $default-blue;
      display: flex;
      > p {
        font-family: 'Super Rad', sans-serif;
        font-size: 23px;
      }
      p.right {
        position: absolute;
        right: 0px;
        a.more {
          color: $default-green;
        }
        a.button {
          color: $default-white;
          background-color: $default-orange;
          font-size: $default-button-font-size;
          border: none;
          border-radius: 35px;
          padding: 9px 0px;
          height: 30px;
          width: 12rem;
          outline: none;
        }
      }
    }
  }
}
