@import 'default-colors.scss';
@import 'default-font-sizes.scss';
@import 'event-grids.scss';
@import 'default-mixin.scss';
@import 'global.scss';
@import 'ionic-icon.scss';

* {
  font-family: 'Roboto', sans-serif;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
}
.hide {
  display: none
}

.top-nav {
  width: 100%;
  height: 100px;
  z-index: 1001;
  background-color: #ffffff;
  border-bottom: 1px solid $default-light-gray;
  display: flex;
  padding: 10px 0;
  .logo-col {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 45px;
    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 7px;
        border-bottom: 2px solid transparent;
        &:first-of-type {
          margin: 0 20px 0 0;
        }
        &.current {
          color: $default-blue;
          border-color: $default-blue;
        }
        a {
          span {
            display: inline-block;
            vertical-align: middle;
            font-size: 1.5em;
            line-height: normal;
            margin-left: 5px;
            color: $default-orange;
          }
          .logo {
            height: 55px;
            width: auto;
          }
        }
      }
    }
    .download-btn {
      display: inline-block;
    }
    .user-logout {
      color: #a0a0a0;
      div {
        height: 40px;
        width: 40px;
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
    header {
      background-color: $default-blue;
      clear: both;
      text-align: center;
      h4 {
        padding: 12px;
        color: #ffffff;
        line-height: normal;
        font-size: 1.5em;
        margin: 0;
      }
      a {
        background-color: #33caff;
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        width: 135px;
        padding: 5px;
        font-size: 13px;
        margin: 0 2px;
        &.active {
          background-color: #ffffff;
          color: $default-blue;
        }
      }
    }
  }
  .header-link-col {
    ul {
      li {
        a.user-logout {
          div {
            height: 40px;
            width: 40px;
            background-size: cover;
            background-position: center center;
            border-radius: 100%;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
          }
          &:after {
            border-color: $default-gray transparent transparent;
          }
          &:hover:after {
            border-color: $default-orange transparent transparent;
          }
        }
      }
    }
  }
}

.progress-container {
  width: 100%;
  position: absolute;
  top: 100px;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  .progress {
    height: 50px;
    margin-bottom: 0px;
    padding-top: 12px;
    color: $default-white;
    background: transparent;
    text-align: center;
    position: relative;
    &.active {
      background: $default-blue;
      &:not(:last-child):after {
        content: '';
        border-left: 1.5em solid $default-blue; /* This width determines the arrows length */
        border-top: 19pt solid transparent; /* This width has to be 50% of 'line-height + padding-top + padding-bottom' */
        border-bottom: 19pt solid transparent; /* Same for this width */
        width: 0;
        height: 0;
        position: absolute;
        right: -1.5em; /* This has to be the same value as 'border-left's width */
        top: 0;
      }
    }
    p {
      &.active {
        &:before {
          content: '';
          display: inline-block;
          width: 12px;
          height: 12px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: $default-green;
          margin-right: 30px;
        }
      }
    }
  }
}

.events-slider.slick-slider {
  position: relative;
  top: 0;
  height: calc(100% - 100px); //100px is the height of navbar
  min-height: 270px;
  overflow: hidden;
  &:hover {
    .slick-arrow.slick-next {
      right: 30px;
    }
    .slick-arrow.slick-prev {
      left: 30px;
    }
  }
  &:after {
    content: '';
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    //background-color: #FFFFFF;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    color: $default-white;
    outline: none;
    z-index: 1;
    font-size: 2em;
    @extend .fa-attr;
    @include transform(translateY(-50%));
    @include transition(all 0.3s ease-in-out);
    &.slick-next {
      right: -50px;
      &:before {
        content: '\f054';
      }
    }
    &.slick-prev {
      left: -50px;
      &:before {
        content: '\f053';
      }
    }
  }
  &.align-arrow {
    .slick-arrow {
      top: 45%;
    }
  }
  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }
  .event-container {
    background-size: cover;
    background-position: 50% 50%;
    padding: 50px 20px 82px;
    img.mask {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: black;
      opacity: 0.1;
    }
    .layer {
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .flex-column {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 18px;
      &.bottom {
        align-items: flex-start;
        position: absolute;
        bottom: 70px;
        margin-left: 15px;
      }
      .price-and-joiners {
        display: flex;
        align-items: center;
      }
      .departure {
        color: #ffffff;
        font-size: $default-font-size-web;
        padding: 10px;
        line-height: 30px;
        text-align: center;
        border-radius: 10px;
        display: inline-block;
        margin: 0;
        white-space: pre-line;
      }
      a {
        outline: none;
        .title {
          color: #ffffff;
          line-height: normal;
          margin: 10px 0 0 10px;
          outline: none;
        }
      }
      .price-desc {
        margin-right: 20px;
        p {
          color: #ffffff;
          font-size: $default-font-size-web;
          &:first-child {
            display: inline-block;
            vertical-align: middle;
            border: 2px solid #ffffff;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: $default-font-size-web;
            line-height: normal;
            span {
              font-weight: bold;
            }
          }
          &:nth-of-type(2) {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1em;
            font-size: $default-font-size-web;
            span {
              font-weight: bold;
            }
          }
          &:last-child {
            margin: 0;
            font-size: $default-font-size-web;
            font-weight: bold;
          }
        }
      }
      .joiner-container {
        .slots-and-members {
          min-width: 440px;
          display: block;
          position: relative;
          z-index: 1;
          .slots-left {
            margin: 0;
            font-size: $default-font-size-web;
            color: #ffffff;
            display: inline-block;
            padding: 25px;
            vertical-align: middle;
            line-height: normal;
            span {
              font-weight: bold;
            }
          }
          .joiner {
            list-style: none;
            margin: 0;
            display: inline-block;
            vertical-align: middle;
            li {
              display: inline-block;
              vertical-align: middle;
              margin: 0;
              margin-right: -20px;
              div {
                background-size: cover;
                background-position: center center;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                border: 2px solid #ffffff;
              }
            }
          }
        }
        > p {
          color: #ffffff;
          text-align: center;
          margin: 0;
          font-size: 1.1em;
          padding: 10px;
          span {
            font-weight: bold;
            font-style: italic;
            margin-right: 10px;
          }
        }
      }
    }
    &.organizer {
      &.my-trips {
        padding: 145px 20px 115px;
      }
      .flex-column {
        justify-content: flex-start;
        .joiner-container .slots-and-members {
          min-width: 516px;
        }
        &.bottom {
          justify-content: space-between;
          bottom: 115px;
        }
      }
      &.history {
        .flex-column.bottom {
          bottom: 75px;
          .joiner-container {
            margin: 0;
            .slots-and-members {
              min-width: 0;
              max-width: 516px;
              padding: 0 10px;
              li {
                margin: 5px;
              }
            }
          }
          .reactivate {
            background-color: $default-orange;
            color: #ffffff;
            line-height: normal;
            padding: 10px 20px;
            border-radius: 30px;
            &:before {
              margin-right: 10px;
            }
          }
        }
      }
      .notice {
        background-color: $default-white;
        position: absolute;
        bottom: 55px;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        p {
          color: #ffffff;
          margin: 0;
          span {
            font-size: 1.5em;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 10px 15px;
    list-style: none;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      background-color: $default-white;
      margin: 0 5px;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      outline: none;
      color: transparent;
      &.slick-active {
        background-color: $default-blue;
      }
      button {
        outline: none;
        line-height: 0;
      }
    }
  }
}

.event-slider.slick-slider {
  position: relative;
  top: 0;
  height: 29vw;
  overflow: hidden;
  &:hover {
    .slick-arrow.slick-next-triangle {
      right: 30px;
    }
    .slick-arrow.slick-prev-triangle {
      left: 30px;
    }
  }
  &:after {
    content: '';
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    //background-color: #FFFFFF;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    color: $default-white;
    outline: none;
    z-index: 1;
    font-size: 2em;
    @extend .fa-attr;
    @include transform(translateY(-50%));
    @include transition(all 0.3s ease-in-out);
    &.slick-next-triangle {
      right: -50px;
      &:before {
        content: '\f363';
        @extend .ionicon;
      }
    }
    &.slick-prev-triangle {
      left: -50px;
      &:before {
        content: '\f361';
        @extend .ionicon;
      }
    }
  }
  &.align-arrow {
    .slick-arrow {
      top: 45%;
    }
  }
  .slick-list,
  .slick-track,
  .slick-slide {
    height: 100%;
  }
  .event-container {
    background-size: cover;
    background-position: 50% 50%;
    padding: 50px 20px 82px;
    img.mask {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: black;
      opacity: 0.1;
    }
    .layer {
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 10px 15px;
    list-style: none;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      background-color: $default-white;
      margin: 0 5px;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      outline: none;
      color: transparent;
      &.slick-active {
        background-color: $default-blue;
      }
      button {
        outline: none;
        line-height: 0;
      }
    }
  }
}

.slider-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 270px;
  .events-slider.slick-slider {
    height: 100%;
  }
  .title-details {
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    bottom: 20px;
    cursor: pointer;
    p.date {
      margin-left: 30px;
    }
    h1 {
      margin-left: 30px;
    }
  }
  img.share {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 2vw;
    cursor: pointer;
    z-index: 1;
  }
  .event-details {
    color: $default-white;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    font-size: $default-font-size-web;
    width: 100%;
    .details {
      margin-left: 50px;
      > p {
        margin-bottom: 10px;
        &.trip-date {
          font-size: 21px;
        }
        &.trip-name {
          font-size: 39px;
        }
      }
    }
    .price-container {
      position: relative;
      background-color: $default-orange;
      font-size: 1rem;
      text-align: center;
      width: 300px;
      border-radius: 15px;
      margin-right: 50px;
      height: 100px;
      display: flex;
      align-items: center;
      .price {
        width: 100%;
        font-size: $default-label-price-web;
        margin: 0;
      }
      .join-btn {
        color: #ffffff;
        margin: 0;
        font-size: $default-label-book-trip-web;
        line-height: normal;
        font-weight: bold;
        white-space: nowrap;
        width: 100%;
        display: block;
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          top: -5px;
          left: -5px;
          right: -5px;
          bottom: -5px;
        }
      }
    }
  }
}
.pagination-event-loading {
  padding: 0 30px;
  text-align: center;
  display: none;
  img {
    width: 150px;
  }
}
.pagination-links {
  display: none;
}
.no-more-event {
  padding: 0 30px;
  display: none;
}
.bottom-details {
  position: relative;
  bottom: 0;
  background-color: #ffffff;

  .event-details {
    p {
      margin: 0;
      color: $default-gray;
    }
  }
  .profile-details {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    a.profile-link {
      display: flex;
      div:first-child {
        display: inline-block;
        background-size: cover;
        background-position: center center;
        height: 70px;
        width: 70px;
        border-radius: 100%;
      }
      .full-name {
        font-size: $default-font-size-web;
        margin: 22px 20px 0 20px;
        display: inline-block;
        color: $default-blue;
        white-space: nowrap;
      }
      .rating {
        display: inline-block;
        font-weight: bold;
        color: $default-gray;
        width: 100px;
        .fa-star {
          color: $default-light-gray;
          font-size: 14px;
        }
      }
    }
    >.rating { width: 150px }
    >.brand-sponsor{
      width: 100%;
      .brand-sponsor__container{
        float: right;
        display: flex;
        align-items: center;
        .brand-sponsor__container__text{
          color: $default-blue;
          margin: 0 20px 0 0;
        }
        .brand-sponsor__container__logo{
          width: 18vw;
          height: 18vh;
        }
      }
    }
  }
  .payment-rate-details {
    p {
      text-align: right;
      &:first-of-type {
        color: $default-orange;
        font-size: 1.2em;
      }
    }
  }
  .description {
    font-size: $default-font-size-web;
    display: flex;
    color: $default-gray;
    border-bottom: 1px solid $default-light-gray;
    padding-bottom: 3vw;
  }
}

.main-footer.base {
  background-color: $default-white;
  color: #000000;
  .menu li a {
    color: #000000;
    &:hover {
      color: #000000;
    }
  }

  div.social-links-grp {
    width: 130px;
    text-align: center;
    p {
      margin: 0;
      font-size: 12px;
    }
  }
}

footer {
  height: 50px;
  background-color: $default-blue;
  div {
    .menu {
      margin-bottom: 12px;
      a {
        padding: 0;
        padding-right: 12px;
        font-size: 14px;
        color: $default-white;
        &:hover {
          color: $default-white;
        }
      }
    }
    p {
      text-align: left;
      width: 100%;
    }
  }
}

.bottom-details,
.travel-info-container,
.members-container,
.highlights-inclusions-container,
.event-itinerary-container {
  width: 100%;
  padding: 0px 50px;
}
.travel-info-container {
  margin-top: 2vw;
  .details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $default-light-gray;
    p {
      display: flex;
      flex-flow: column;
      font-size: $default-font-size-web;
      margin-right: 20px;
      width: 300px;
      &.checkout-page {
        width: 600px;
      }
      span {
        font-size: $default-font-size-web;
        min-width: 150px;
        color: $default-gray;
        .popup-map-btn {
          color: $default-green;
          padding: 10px;
          font-size: 18px;
          outline: none;
        }
        &:first-of-type {
          color: $default-blue;
          margin-bottom: 1vw;
          font-size: $default-font-size-web;
        }
        &.align-center {
          margin-top: -5px;
        }
      }
    }
    .info {
      font-size: $default-font-size-web;
      color: $default-gray;
      .text {
        margin-bottom: 10px;
        color: $default-gray;
      }
    }
    .price,
    .downpayment {
      font-size: $default-font-size-web;
      width: 300px;
    }
  }
}

.members-container {
  display: flex;
  font-size: $default-font-size-web;
  .join {
    display: flex;
    flex-flow: column;
    padding: 20px 0;
    border-bottom: 1px solid $default-light-gray;
    position: relative;
    width: 100%;
    .header {
      display: flex;
      flex-flow: row;
      span {
        color: $default-blue;
        &:last-of-type {
          color: $default-green;
          margin-left: 1vw;
        }
      }
    }
    .trip-members {
      width: 100%;
      p.whos-going {
        text-transform: uppercase;
        color: $default-blue;
        font-size: $default-font-size-web;
        margin-bottom: 10px;
        line-height: normal;
        margin-right: 25px;
      }

      p.slots-left {
        color: $default-light-green;
        font-size: $default-font-size-web;
        margin-bottom: 10px;
        line-height: normal;
      }

      a.view-all {
        color: $default-light-green;
        font-size: $default-font-size-web;
        margin-bottom: 10px;
        line-height: normal;
      }
    }

    .members {
      width: 100%;
      margin: 0;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 1vw;
        color: #ffffff;
        float: left;
        &.add-btn {
          background-color: $default-orange;
          display: block;
          /*  hide joiner btn. functionality not implemented yet */
        }
        &:first-child {
          margin-left: 0;
        }
        &.more-joiners{
          background-color: $default-blue;
          text-align: center;
          padding: 10px;
          margin: 1vw;
          .more-joiners__icon{
            font-size: 1.5rem;
            margin-top: 15px;
          }
          .more-joiners__count{
            margin-top: -10px;
            font-size: 14px;
          }
        }
        div {
          border-radius: 100%;
          background-size: cover;
          background-position: center center;
          border: 0px solid #ffffff;
          height: 70px;
          width: 70px;
          cursor: pointer;
        }
        &:last-child {
          border-radius: 100%;
          height: 70px;
          width: 70px;
          position: relative;
        }
        a {
          color: $default-white;
          line-height: normal;
          span {
            &:before {
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
              left: 50%;
              font-size: 2.5rem;
            }
          }
          &.add-btn-icon {
            &:before {
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
              left: 50%;
              font-size: 2.5rem;
            }
          }
        }
      }
    }
    .slots {
      color: $default-white;
      margin: 0 0 0 10px;
      display: inline-block;
      vertical-align: middle;
      span {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    .join-btn {
      background-color: $default-orange;
      color: $default-white;
      padding: 20px 120px;
      display: inline-block;
      margin: 0;
      border-radius: 50px;
      text-transform: uppercase;
      font-size: 2em;
      line-height: normal;
      font-weight: bold;
      border: 2px solid $default-white;
      white-space: nowrap;
      &:hover {
        color: $default-white;
      }
    }
  }
}

.details-container {
  padding: 0 40px;
  display: flex;
  margin-top: 15px;
  .highlights-inclusions {
    border-bottom: 1px solid $default-light-gray;
    font-size: $default-font-size-web;
    border-collapse: inherit;
    .header {
      color: $default-blue;
      th {
        font-weight: normal;
        min-width: 300px;
        &:nth-of-type(3) {
          width: 200px;
        }
      }
    }
    .content {
      color: $default-gray;
    }
    th {
      background-color: $default-white;
    }
    tr:nth-of-type(even) {
      background-color: transparent;
    }
  }
}

.trip-actions {
  width: 100%;
  text-align: center;
  padding: 30px;
  a {
    span {
      box-shadow: 0px 10px 10px $default-light-gray;
      border-radius: 100%;
      background-color: $default-gray;
      color: #ffffff;
      height: 80px;
      width: 80px;
      margin: 0px 25px;
      font-size: 40px;
      vertical-align: middle;
      display: inline-block;
      &.reactivate-event {
        background-color: $default-blue;
      }
      &.duplicate-event {
        background-color: $default-orange;
      }
      &.edit-event {
        background-color: $default-light-green;
      }
      &.trash-event {
        background-color: $default-gray;
      }
      position: relative;

      &:hover {
        box-shadow: 0 10px 22px rgba(0, 0, 0, 0.6);
        transition: opacity 0.3s ease-in-out;
      }

      &:before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
      }
    }
  }
}

.event-itinerary-container {
  display: flex;
  padding: 40px;
  margin-bottom: 20px;
  .event-itinerary {
    display: flex;
    border-bottom: 1px solid $default-light-gray;
    flex-flow: column;
    width: 100%;
    > p {
      color: $default-blue;
      font-size: $default-font-size-web;
      margin: 0;
    }
    h5 {
      color: $default-blue;
    }
    .itinerary-list {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 20px;
      display: flex;
      flex-flow: column;
      padding: 20px 0;
      .details {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        color: $default-gray;
        font-size: $default-font-size-web;
        padding: 10px 0;
        .day {
          font-weight: bold;
          min-width: 50px;
          margin-top: 20px;
        }
        .info {
          white-space: pre-line;
          font-size: $default-font-size-web;
          margin-left: 5vw;
          white-space: pre-line;
        }
      }
    }
  }
}

.reviews {
  h1 {
    margin: 1.2em 1em;
    text-align: center;
    color: #00a6e0;
    font-size: 1.4em;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
  }
  .review-list {
    display: flex;
    padding: 25px;
    border-top: 2px solid $default-light-gray;
    &:last-of-type {
      border-bottom: 2px solid $default-light-gray;
      margin-bottom: 20px;
    }
    .reviewer {
      display: inline-block;
      height: 70px;
      width: 70px;
      border-radius: 100%;
      border: 2px solid $default-blue;
      background-position: center center;
      background-size: cover;
      margin: 0 25px 25px 0;
    }
    .review-details {
      p:first-of-type {
        color: $default-gray;
      }
      span,
      .name {
        color: $default-blue;
      }
      .rating {
        color: $default-darker-blue;
      }
    }
  }
  #paginator {
    text-align: center;
    .next-reviewer {
      color: $default-orange;
      font-size: 1em;
      line-height: normal;
      margin: 20px;
      display: block;
    }
  }
}

.reveal.custom-modal-with-header {
  border-radius: 5px;
  padding: 0;
  border: none;
  width: 40%;
  outline: none;
  header {
    background-color: $default-blue;
    color: #ffffff;
    padding: 20px 15px;
    line-height: normal;
    button.close-button {
      outline: none;
      color: #ffffff;
      opacity: 0.8;
      top: 14px;
      &:after {
        content: '\f2d7';
        @extend .ionicon;
      }
    }
  }
}

.payment-modal {
  outline: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $default-light-gray;
  overflow: hidden;
  &.new {
    height: 550px;
    width: 700px;
    border-radius: 15px;
  }
  .flex-wrapper {
    header {
      background-color: transparent;
      .close-button {
        color: $default-light-gray;
        font-size: 1.6rem;
        outline: none;
      }
      .title {
        color: $default-blue;
        font-weight: bold;
        font-size: $default-label-book-trip-web;
        margin: 20px;
      }
    }
    .note {
      text-align: center;
      font-size: $default-font-size-web;
      color: $default-gray;
    }
    .two-col-container {
      display: flex;
      justify-content: space-around;
      .text {
        align-self: center;
        width: 300px;
        text-align: initial;
        color: $default-gray;
        margin: 0;
        &.has-centered-text {
          text-align: center;
        }
        &.has-15px-right-margin {
          margin-right: 15px;
        }
        &.third {
          width: 315px;
        }
        &.last {
          width: 320px;
          margin-top: 45px;
        }
        span {
          color: $default-blue;
        }
      }
      a {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -53px;
          right: -460px;
        }
      }
      &.payment-container {
        border-top: 2px solid $default-light-gray;
        height: 125px;
        img {
          width: 200px;
          max-width: auto;
          margin: 15px 0;
          margin-left: 50px;
          &.img-paypal { width: 170px }
        }
      }
      &.tagcash {
        border-top: 2px solid #b7b7b7;
        img {
          width: 150px;
          max-width: auto;
          margin: 15px 0;
        }
      }
      &.paymaya {
        cursor: pointer;
        border-top: 2px solid #b7b7b7;
        text-align: center;
        img {
          height: 50px;
          width: 180px;
          margin: 20px 0;
        }
      }
      &.banks {
        cursor: pointer;
        border-top: 2px solid #b7b7b7;
        .flex-images-container {
          width: 200px;
          > p {
            color: $default-gray;
            margin: 20px 0;
            font-size: $default-font-size-web;
            margin-left: 30px;
            margin-bottom: 10px;
          }
          &.has-20px-left-margin { margin-left: 20px; }
          .flex-image {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            img {
              height: 30px;
              width: 70px;
              cursor: pointer;
              margin-top: 5px;
              margin-left: 30px;
              &.img-bpi {
                margin-top: 0px;
                height: 40px;
                width: 80px;
              }
            }
            &.has-no-margin-top { margin-top: 0px; }
          }
        }
      }
    }
  }
}

.reveal.waitlist-modal {
  text-align: center;
  color: $default-gray;
  width: 350px;
  border-radius: 10px;
  header {
    background: transparent;
    button.close-button {
      color: $default-gray;
    }
  }
  p {
    padding: 40px 40px;
    margin: 0;
    font-size: 0.9rem;
  }
  .waitlist-join-btn,
  .waitlist-request-private-btn {
    display: block;
    width: 250px;
    height: 45px;
    border-radius: 50px;
    color: $default-white;
    background: $default-orange;
    padding-top: 10px;
    margin: 20px auto;
  }
}

.reveal.fb-login-modal {
  text-align: center;
  color: $default-gray;
  width: 350px;
  border-radius: 10px;
  p {
    margin: 0;
    font-size: 0.9rem;
  }
  .login-header {
    background-color: $default-white;
    color: $default-blue;
    font-weight: bold;
    button.close-button {
      color: $default-gray;
      opacity: 0.8;
      top: 14px;
      font-size: 1.2rem;
      &:after {
        content: '';
      }
    }
  }
  .fb-login {
    background-color: $default-white;
    border-radius: 5px;
    border-radius: 35px;
    border: 2px solid $default-gray;
    padding: 7px;
    width: 300px;
    display: block;
    text-align: center;
    margin: 0 auto 40px;
    span {
      color: $default-white;
      background-color: $default-light-gray;
      padding: 0 4px 0 8px;
      border-radius: 2px;
      margin-right: 10px;
      &.text {
        background-color: $default-white;
        color: $default-gray;
        font-size: 0.8rem;
      }
    }
    &.mobile {
      padding: 10px 0;
    }
  }
  a:last-of-type {
    margin: 35px 0;
    display: inline-block;
  }
}

.reveal.invite-joiner-container {
  border-radius: 15px;
  padding: 30px 15px;
  width: 450px;
  margin: 20px auto;
  outline: none;
  &.add-joiner {
    overflow-y: scroll;
    max-height: 80%;
    padding: 30px 15px 30px 30px;
    &::-webkit-scrollbar {
      width: 14px;
      height: 18px;
    }
    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      background-color: #0ae;
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
        inset 1px 1px 0px rgba(0, 0, 0, 0.05);
      background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.5, transparent),
        to(transparent)
      );
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    header {
      h5 {
        color: $default-blue;
      }
      .clear {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        padding: 5px;
        border-radius: 5px;
        float: right;
        outline: none;
        &:hover {
          color: #fff;
          background-color: #c82333;
          border-color: #bd2130;
        }
      }
    }
    .joiner-input-wrapper .input-wrapper {
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .input-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > p {
          color: $default-blue;
          font-size: 1rem;
          margin: 0;
        }
        a {
          span {
            font-size: 30px;
            color: $default-light-gray;
          }
          &:hover {
            span {
              color: #a94442;
            }
          }
        }
      }
      .input-container {
        margin: 10px 0;
        position: relative;
        label {
          color: $default-blue;
          position: relative;

          &::after {
            @extend %ionicon;
            font-size: 1.5em;
            position: absolute;
            right: 6px;
            top: 35px;
          }

          &.spinner::after {
            @extend %icon-spinner;
          }

          &.valid::after {
            @extend %icon-valid;
          }

          &.invalid::after {
            @extend %icon-invalid;
          }
        }
        input {
          color: $default-gray;
          border-bottom: 1px solid $default-light-gray;
          margin: 0;
        }
        &__warning-notif {
          color: $default-red;
          font-size: 0.7rem;
        }
      }
    }
    .add-fields-container {
      text-align: center;
      padding: 30px 0;
      border-bottom: 1px solid $default-light-gray;
      .add-fields-btn {
        background: $default-blue;
        padding: 5px 12px;
        text-align: center;
        border-radius: 100%;
        font-size: 30px;
        color: $default-white;
      }
    }
    .submit-container {
      text-align: center;
      margin-top: 25px;
      .submit {
        width: 180px;
        padding: 10px 35px;
        border-radius: 30px;
        font-size: 0.8em;
        background-color: $default-blue;
        border: 2px solid $default-blue;
        color: $default-white;
        margin-right: 10px;
        outline: none;
        &:hover {
          border: 2px solid $default-blue;
          background-color: $default-white;
          color: $default-blue;
        }
      }
    }
  }
  &.mobile {
    height: 300px;
    min-height: 300px;
  }
  header {
    text-align: center;
    color: $default-orange;
    h5 {
      font-weight: bold;
    }
    button.close-button {
      color: $default-gray;
      opacity: 0.8;
      top: 6px;
      &:after {
        content: '\f2d7';
        @extend .ionicon;
      }
    }
  }

  p {
    font-size: 0.8em;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
    text-align: justify;
    color: $default-gray;
  }

  label {
    abbr[title] {
      display: none;
    }
    color: $default-orange;
  }
  input {
    border: 0px;
    border-bottom: 2px solid $default-light-gray;
    box-shadow: none;
    padding: 0px;
  }

  .invite-buttons-container {
    margin-top: 25px;
    text-align: center;
    input[type='submit'] {
      width: 180px;
      padding: 10px 35px;
      border-radius: 30px;
      font-size: 0.8em;
      background-color: $default-orange;
      border: 2px solid $default-orange;
      color: $default-white;
      margin-right: 10px;
      outline: none;
      &:hover {
        border: 2px solid $default-orange;
        background-color: $default-white;
        color: $default-orange;
      }
    }
  }
}

.reveal.view-all-joiners-container {
  border-radius: 15px;
  padding: 30px 15px;
  width: 450px;
  margin: 20px auto;
  header {
    text-align: center;
    color: $default-orange;
    h5 {
      font-weight: bold;
    }
    button.close-button {
      color: $default-gray;
      opacity: 0.8;
      top: 6px;
      &:after {
        content: '\f2d7';
        @extend .ionicon;
      }
    }
  }

  .joiners-container {
    li {
      border-top: 2px solid $default-light-gray;
      padding: 30px 0px;
      align-items: center;
      button {
        width: 100%;
        border: 0px;
        padding: 0px;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
        &:before {
          @extend .ionicon;
          content: '\f123';
          color: $default-light-gray;
          font-size: 1.5em;
          position: absolute;
          right: 0px;
        }

        .accordion-button-container {
          display: flex;
          align-items: center;
          div:last-of-type {
            display: block;
          }
          > div {
            border-radius: 100%;
            background-size: cover;
            background-position: center center;
            border: 2px solid $default-white;
            height: 60px;
            width: 60px;
            cursor: pointer;
          }
          a:first-of-type {
            div {
              border-radius: 100%;
              background-size: cover;
              background-position: center center;
              border: 2px solid $default-white;
              height: 60px;
              width: 60px;
              cursor: pointer;
            }
          }
          .name-downpayment {
            flex-grow: 1;
            text-align: left;
            padding-left: 70px;
            p {
              margin: 0px 0px;
              color: black;
              font-size: 1.2em;
            }
            span {
              color: $default-orange;
              font-size: 0.9em;
            }
          }
          .message-icon {
            margin-right: 55px;
            &:before {
              font-size: 2.5em;
              color: $default-orange;
              font-weight: bold;
            }
          }
        }
      }

      .accordion-content.joiner-panel {
        border: 0px;
        padding: 0px;
        .joiner-booking-info {
          padding-left: 130px;
          p {
            font-size: 0.8em;
            margin: 0px;
            color: $default-gray;
          }
          p.joiner-phone {
            &:before {
              color: $default-orange;
              @extend .ionicon;
              margin-right: 10px;
              content: '\f1fa';
            }
          }
          p.joiner-email {
            &:before {
              @extend .ionicon;
              content: '\f132';
              color: $default-orange;
              margin-right: 10px;
            }
          }
          p > span {
            color: $default-orange;
          }
        }
        div:last-of-type {
          margin-top: 25px;
          text-align: center;
          @extend .flex;
          flex-direction: column;
          .select-btn, .no-show-btn {
            width: 180px;
            border: 2px solid $default-orange;
          }
          .select-btn {
            color: $default-gray;
            border-radius: 30px;
            text-indent: 50px;
            font-size: 0.9rem;
            outline: none;
            &:after { color: $default-white }
          }
          .no-show-btn { margin: 0 }
          a {
            padding: 10px 35px;
            border-radius: 30px;
            font-size: 0.8em;
          }
          a:first-of-type {
            background-color: $default-orange;
            border: 2px solid $default-orange;
            color: $default-white;
            margin-right: 10px;
            &:hover {
              border: 2px solid $default-orange;
              background-color: $default-white;
              color: $default-orange;
            }
          }
          a:last-of-type {
            border: 2px solid $default-light-gray;
            color: $default-gray;
            margin-left: 10px;
            &:hover {
              border: 2px solid $default-orange;
              color: $default-orange;
            }
          }
        }
      }
      .is-active {
        &:before {
          @extend .ionicon;
          content: '\f126' !important;
        }
      }
    }
  }
}

.reveal.event-member-list {
  header {
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      position: relative;
      padding: 5px 10px;
      border-bottom: 1px solid #6b6b6b;
      div.avatar {
        background-size: cover;
        height: 50px;
        width: 50px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 100%;
        border: 1px solid $default-blue;
      }
      div.name-and-status {
        padding: 0 15px;
        display: inline-block;
        vertical-align: middle;
        p {
          margin: 0;
          line-height: normal;
        }
        p {
          &.fullpayment {
            color: #3adb76;
            span.icon {
              background-color: #3adb76;
            }
          }
          &.downpayment {
            color: $default-orange;
            span.icon {
              background-color: $default-orange;
              transform: rotate(90deg);
            }
          }
          span {
            font-size: 11px;
            display: inline-block;
            vertical-align: middle;
            &.icon {
              border-radius: 100%;
              width: 15px;
              height: 15px;
              margin-right: 8px;
              position: relative;
              &:before {
                color: #ffffff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: normal;
              }
            }
          }
        }
      }
      span.ion-chatbox {
        color: $default-blue;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        font-size: 1.5em;
      }
    }
  }
}

form.checkout-form {
  max-width: 300px;
  margin: 4em auto 3em;
  font-size: 0.9rem;
  .hide {
    display: none;
  }
  p {
    margin-top: 10px;
    margin-bottom: 0;
    span {
      color: $default-gray;
      margin-bottom: 10px;
    }
  }
  .cost,
  .booking-fee {
    border-bottom: 1px solid $default-light-gray;
  }
  div.booking-code-container {
    position: relative;
    margin-bottom: 12px;
    &.align:after {
      padding-bottom: 20px;
    }
    > p {
      color: $default-blue;
      margin-bottom: 0;
    }
    &:after {
      @extend .ionicon;
      position: absolute;
      top: 75%;
      transform: translateY(-50%);
      right: 6px;
      font-size: 1.5em;
    }
    &.activated:after {
      content: '\f120';
      color: $default-blue;
    }
    &.deactivated:after {
      content: '\f128';
      color: #ec5840;
    }
    input[type='text'] {
      margin: 0;
      color: $default-gray;
      background: transparent;
      border: none;
      border-bottom: 1px solid $default-gray;
      box-shadow: none;
    }
    &:after {
      padding-bottom: 10px;
    }
  }
  .add-joiner-wrapper {
    .add-joiner-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $default-light-gray;
      margin: 0;
      padding-top: 10px;
      > p {
        color: $default-blue;
        margin-bottom: 0;
      }
      .add-joiner {
        margin: 0;
      }
      .add-joiner-modal {
        background: $default-blue;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 100%;
        font-size: 20px;
        color: $default-white;
        outline: none;
      }
    }
    .joiner-count-right {
      text-align: end;
      display: block;
      font-size: 1rem;
      color: $default-gray;
    }
  }
  p {
    display: flex;
    justify-content: space-between;
    span {
      width: 60%;
    }
  }
  .payment {
    &--hide {
      display: none;
    }
    margin-bottom: 40px;
    border-bottom: 1px solid $default-gray;
    .total {
      color: $default-blue;
      font-weight: bold;
      font-size: 1.3em;
      padding-top: 15px;
      border-top: 1px solid $default-light-gray;
      > span {
        color: $default-blue;
      }
    }
    .downpayment {
      margin-bottom: 15px;
    }
  }
  button.payment-modal {
    &--hide {
      display: none;
    }
    width: 300px;
    color: #ffffff;
    background-color: $default-blue;
    border: none;
    border-radius: 35px;
    padding: 11px 57px;
    font-size: $default-font-size-web;
  }
}

div.share-trip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 9;
  padding: 30px;
  span.ion-close-round {
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    line-height: normal;
    cursor: pointer;
  }
  span.logo-container {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 100%;
    padding: 25px;
    width: 130px;
    height: 130px;
    margin: 35px auto;
  }
  h3 {
    text-align: center;
    color: #ffffff;
  }
  p {
    text-align: center;
    color: #ffffff;
    margin: 0;
    line-height: normal;
  }
  a {
    background-color: $default-orange;
    color: #ffffff;
    width: 290px;
    display: block;
    margin: 0 auto 0;
    text-align: center;
    padding: 15px;
    border-radius: 35px;
    font-size: 1.2em;
  }
}

div.share-trip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  z-index: 9;
  padding: 30px;
  span.ion-close-round {
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    line-height: normal;
    cursor: pointer;
  }
  span.logo-container {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 100%;
    padding: 25px;
    width: 130px;
    height: 130px;
    margin: 35px auto;
  }
  h3 {
    text-align: center;
    color: #ffffff;
  }
  p {
    text-align: center;
    color: #ffffff;
    margin: 0;
    line-height: normal;
  }
  a {
    background-color: $default-orange;
    color: #ffffff;
    width: 290px;
    display: block;
    margin: 0 auto 0;
    text-align: center;
    padding: 15px;
    border-radius: 35px;
    font-size: 1.2em;
  }
}

.payment-proof-container {
  text-align: center;
  margin-top: 70px;
  min-height: calc(100% - 50px);
  > p {
    margin: 50px 0;
  }
  input[type='file'] {
    display: none;
  }
  form {
    width: 400px;
    margin: 0 auto;
    label {
      display: block;
      background-color: $default-white;
      border: 1px solid $default-light-gray;
      text-align: center;
      padding: 19px;
      color: $default-gray;
      font-size: 0.9rem;
      border-radius: 15px;
      margin: 0 auto;
      cursor: pointer;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      span {
        display: block;
        &:before {
          font-size: 3em;
          vertical-align: middle;
          margin: 1.2vw auto;
          opacity: 0.7;
        }
        &.upload-photo-btn {
          display: block;
          &:before {
            font-size: 3em;
            vertical-align: middle;
            margin: 1.2vw auto;
            opacity: 0.7;
          }
        }
      }
      &.has-image {
        color: black;
      }
    }
    input[type='submit'] {
      background-color: $default-blue;
      margin: 40px 0;
      border: none;
      color: #ffffff;
      border-radius: 35px;
      padding: 0.7rem;
      width: 240px;
      font-size: 0.8rem;
    }
  }
  .header {
    margin-bottom: 3vw;
    font-size: $default-font-size-web;
    color: $default-gray;
    p {
      margin-bottom: 1px;
      font-size: $default-font-size-web;
      &:first-of-type {
        color: $default-blue;
        margin-bottom: 3vw;
      }
      &:nth-of-type(2n) {
        font-weight: bold;
        font-size: $default-font-size-web;
      }
      &.payment-label {
        font-size: $default-label-web;
      }
    }
  }
  .banks-container {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin-bottom: 60px;
    .bank {
      img {
        height: 4vw;
        margin-bottom: 2vw;
      }
      p {
        font-size: $default-font-size-web;
        text-align: left;
        margin-bottom: 5px;
        line-height: normal;
        span {
          color: $default-gray;
          &:first-of-type {
            width: 140px;
            display: inline-block;
          }
          &:last-of-type {
            color: $default-blue;
            font-weight: bold;
          }
        }
      }
      &.paymaya {
        img {
          height: 4vw;
          margin-bottom: 2vw;
        }
        p {
          color: $default-gray;
          text-align: center;
          max-width: 900px;
          &:last-of-type {
            margin: 30px 0 0;
            span {
              &:first-of-type {
                color: $default-blue;
                font-size: 1.1em;
                width: auto;
                margin-right: 20px;
              }
              &:last-of-type {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }

  .label-and-submit-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    .link-proof-payment {
      display: block;
      line-height: 1.8;
      background-color: $default-blue;
      text-align: center;
      padding: 19px;
      color: #ffffff;
      font-size: 1.2em;
      border-radius: 5px;
      margin: 0 auto;
      cursor: pointer;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      span {
        display: block;
        &:before {
          font-size: 2em;
          vertical-align: middle;
          margin-right: 12px;
          opacity: 0.5;
        }
      }
    }

    .submit-join-btn {
      display: block;
      line-height: normal;
      background-color: $default-orange;
      margin: 40px 0;
      border: none;
      color: #ffffff;
      border-radius: 5px;
      padding: 1em;
      width: 100%;
    }
  }
}

.event-form {
  max-width: 550px;
  margin: 100px auto 30px;
  div.event_description {
    textarea {
      padding: 0px;
      border: 0px;
      border-bottom: 2px solid $default-light-gray;
      box-shadow: none;
      color: $default-gray;
    }
  }
  div.input {
    padding: 0 5px;
    width: 100%;
    display: inline-block;
    margin-bottom: 16px;
    input {
      padding: 0px;
      border: 0px;
      border-bottom: 2px solid $default-light-gray;
      box-shadow: none;
      color: $default-gray;
    }
    &.hidden {
      margin: 0;
    }
    &.event_start_at,
    &.event_end_at {
      label {
        position: relative;
        &:after {
          @extend .ionicon;
          position: relative;
          font-size: 1.5em;
          margin-left: 10px;
          color: $default-light-green;
        }
      }
    }
    &.event_rate,
    &.event_downpayment_rate,
    &.event_min_pax,
    &.event_max_pax {
      width: 50%;
      position: relative;
      float: left;
    }

    &.event_rate,
    &.event_downpayment_rate {
      input {
        padding-left: 15px;
      }
    }

    &.event_start_at label:after,
    &.event_end_at label:after {
      content: '\f2d1';
    }
    &.event_rate:before,
    &.event_downpayment_rate:before {
      position: absolute;
      content: '₱';
      margin-right: 10px;
      top: 32px;
      color: $default-light-gray;
    }
    .brand-logo-label{
      color: $default-orange;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }
    .map-input-container {
      &:before {
        @extend .ionicon;
        content: '\f456';
        position: absolute;
        font-size: 1.5em;
        color: $default-orange;
      }
      width: 100%;
      input {
        width: 100%;
        margin-top: 7px;
        padding-left: 25px;
      }
      div#map {
        height: 400px;
      }
    }
    .focus-photo {
      height: 230px;
      width: 100%;
      margin: 0 0 1vw 0;
      padding: 0px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      div {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        float: left;
        position: relative;
        label {
          margin: 0;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2.5em;
          color: $default-white;
          width: auto;
          &:before {
            display: block;
            line-height: 230px;
            width: 540px;
          }
        }
        button {
          outline: none;
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: $default-white;
          border-radius: 50%;
          font-size: 15px;
          width: 25px;
          height: 25px;
        }
      }
      &:hover {
        div {
          display: block;
        }
      }
    }

    .toggle-focus-hover {
      div {
        display: block;
        button {
          display: none;
        }
      }
    }

    .file-picker-with-view {
      list-style: none;
      margin: 0;
      width: 100%;
      li {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 80px;
        width: 24%;
        margin: 0 0.5%;
        &:last-of-type {
          div {
            margin: 0;
          }
        }
        div {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          display: block;
          float: left;
          position: relative;
          label {
            margin: 0;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5em;
            color: $default-white;
            width: auto;
            &:before {
              display: block;
              line-height: 80px;
              width: 130px;
            }
          }
        }
        input {
          display: none;
        }
      }
      .has-image {
        div {
          display: none;
        }
        &:hover {
          div {
            display: block;
            label {
              display: none;
            }
          }
        }
      }
    }
    label {
      width: 160px;
      color: $default-orange;
      margin-right: 10px;
      abbr[title] {
        display: none;
      }
    }
    input,
    textarea {
      margin: 0;
    }
    div.tagsinput {
      width: 100% !important;
      border: 0px;
      min-height: 65px !important;
      height: auto !important;
      padding: 0px;
      #event_tags_addTag,
      #event_highlights_addTag {
        margin: 0px !important;
        border: 0px !important;
        input {
          width: 100%;
          padding: 10px 0px;
        }
      }

      span.tag {
        background-color: $default-light-gray;
        border: 0px;
        color: $default-white;
        border-radius: 30px;
        margin-right: 13px;
        a {
          background-color: $default-light-gray;
          padding: 0px;
          border-radius: 100%;
          font-size: 13px;
        }
      }
    }
    .tags-picker-container {
      width: 100%;
      .tags {
        width: 100%;
        display: none;
        &.block {
          display: block;
        }
        span.tag {
          background-color: $default-light-gray;
          border-radius: 25px;
          color: $default-white;
          padding: 3px 8px;
          font-size: 13px;
          display: inline-block;
          margin: 2px;
          a {
            font-weight: bold;
            text-decoration: none;
            font-size: 13px;
            color: $default-white;
            background-color: $default-light-gray;
            border-radius: 100%;
            margin-left: 5px;
          }
        }
      }
      .picker {
        width: 100%;
        margin-top: 10px;
        span {
          outline: none;
          color: $default-white;
          background-color: $default-light-gray;
          padding: 2px 25px;
          border-radius: 25px;
          cursor: pointer;
          font-size: 0.8em;
          &:before {
            position: relative;
            top: 5px;
            font-size: 25px;
          }
        }
      }
    }

    .add-new-itinerary-button {
      outline: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: $default-light-green;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      position: relative;
      &:before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        font-size: 2em;
        color: $default-white;
      }
    }
  }
  ul#ItineraryContainer {
    width: 100%;
    list-style: none;
    margin: 0;
    li {
      margin-bottom: 10px;
      display: flex;
      border-bottom: 2px solid $default-light-gray;
      span {
        width: 60px;
      }
      textarea {
        margin: 0;
        padding: 0px;
        border: 0px;
        box-shadow: none;
        min-height: 100px;
        color: $default-gray;
      }
    }
  }

  input[type='submit'] {
    outline: none;
    width: 100%;
    background-color: $default-orange;
    color: $default-white !important;
    border-style: none !important;
    border-bottom: 0px !important;
    border-radius: 25px;
    padding: 10px !important;
  }
}

.reveal.tags-picker {
  max-width: 300px;
  border-radius: 15px;
  header {
    text-align: center;
    background: transparent;
    color: $default-orange;
    button {
      &:after {
        color: $default-light-gray;
        font-size: 25px;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px 0;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    li {
      text-align: left !important;
      color: $default-gray;
      border: 0px;
      border-bottom: 1px solid $default-light-gray;
      width: 100%;
      margin: 3px;
      padding: 4px;
      line-height: normal;
      text-align: center;
      cursor: pointer;
      &.picked {
        &:after {
          content: '✔';
          color: $default-orange;
          float: right;
        }
      }
    }
  }
  .text-container {
    border: 1px solid $default-light-gray;
    margin: 5px 20px 15px;
    display: flex;
    padding: 5px;
    input {
      margin: 0;
      border: none;
      box-shadow: none;
      padding: 0;
      height: auto;
    }
    button {
      outline: none;
      background-color: $default-light-green;
      position: relative;
      border-radius: 100%;
      width: 34px;
      height: 30px;
      &:before {
        position: absolute;
        color: $default-white;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .btn-container {
    padding: 0 20px 13px;
    .btn-close {
      width: 100%;
      color: #ffffff;
      background-color: $default-orange;
      border-radius: 4px;
      padding: 8px;
      border-radius: 10px;
    }
  }
}

textarea.enable-tagsInput {
  + div.tagsinput {
    span.tag {
      background: transparent;
      border-radius: 8px;
      border-color: $default-blue;
      color: #888888;
      padding: 0 8px;
      span {
        vertical-align: middle;
      }
      a {
        color: #ffffff;
        background-color: #888888;
        padding: 0px 4px;
        border-radius: 100%;
      }
      + div {
        display: block;
        float: none;
        clear: both;
        border-top: 1px solid #ccc;
        margin-left: -5px;
        margin-right: -5px;
      }
    }
  }
}

.reveal.delete-trip-modal {
  text-align: center;
  border-radius: 15px;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 96% !important;
  max-width: 500px !important;
  .delete-btn {
    color: $default-gray;
    background-color: $default-white;
    padding: 0px;
    width: 100%;
    height: 50px;
    line-height: 30px;
    display: inline-block;
    border-radius: 25px;
    .delete-btn__icon {
      display: inline-block;
      vertical-align: middle;
      margin: 10px 0px;
      &:before {
        margin-right: 10px;
        font-size: 30px;
      }
    }
  }

  p {
    line-height: 1;
    text-rendering: optimizeLegibility;
    color: $default-white;
    margin: 50px 0px;
  }

  h5 {
    font-weight: bold;
    color: $default-white;
  }
  button.close-button {
    color: $default-gray;
    opacity: 0.8;
    top: 6px;
    &:after {
      content: '\f2d7';
      @extend .ionicon;
    }
  }
  button.remove-joiner {
    width: 100%;
    > a {
      padding: 7px;
    }
    &:before {
      color: #ffffff;
    }
  }
}

.organizer-bg-container {
  background-image: asset-url('organizer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100% - 76px);
  position: relative;
  div.logo-with-text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    img {
      width: 70px;
    }
    p {
      margin: 0;
      color: $default-orange;
      font-size: 2em;
    }
  }
  div.terms-and-login {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 230px;
    div.terms {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      display: block;
      margin: 0 auto;
      padding: 14px 16px;
      border-radius: 6px;
      header {
        text-align: center;
        color: $default-blue;
      }
      span {
        text-align: center;
        color: $default-orange;
        display: block;
      }
      .text-container {
        height: 130px;
        overflow: auto;
        p {
          color: #ffffff;
        }
      }
    }
    a.fb-login {
      color: #ffffff;
      background-color: #3b5998;
      padding: 5px;
      max-width: 400px;
      text-align: center;
      border-radius: 6px;
      display: block;
      margin: 30px auto 0;
      span {
        background-color: #ffffff;
        color: #3b5998;
        padding: 0 7px;
        border-radius: 2px;
        margin-right: 7px;
      }
    }
  }
}

.fa.fa-share-alt.share-btn {
  font-family: 'Roboto', sans-serif;
  background-color: $default-blue;
  color: #fff;
  font-size: 1.2em;
  width: 190px;
  text-align: center;
  margin: 25px auto;
  line-height: normal;
  display: block;
  border-radius: 20px;
  padding: 5px;
  &:before {
    font-family: FontAwesome;
    margin-right: 15px;
  }
}

.header-link-col {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 50px;
  a.download-btn {
    float: left;
    margin: 0 0 0 14px;
    img {
      width: 160px;
    }
  }
  ul.dropdown.menu {
    margin-top: auto;
    margin-bottom: auto;
  }
  .dropdown.menu {
    li {
      &.active a {
        color: $default-orange;
        background-color: transparent;
      }
      .is-submenu-parent {
        padding-right: 10px;
      }
      a {
        font-size: 14px;
        text-align: center;
        color: $default-gray;
        &:hover {
          color: $default-orange;
        }
      }
      ul {
        border: none;
        background-color: transparent;
        z-index: 2;
        .is-dropdown-submenu-item {
          border-top: 1px solid #ffffff;
          background-color: rgba(0, 0, 0, 0.7);
          &:first-of-type {
            border-top: 1px solid #ffffff;
          }
          &.active a {
            color: $default-orange;
          }
          &:hover {
            color: $default-orange;
          }
          a {
            color: $default-light-gray;
            &:hover {
              color: $default-orange;
            }
          }
        }
      }
    }
    li:nth-child(5) {
      a {
        margin-right: 15px;
      }
    }
    li.notification-alert {
      a {
        position: relative;
        width: 40px;
        height: 40px;
        background: #be0000;
        border-radius: 100%;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $default-white;
        }
      }
    }
    li.dropdown-arrow {
      a {
        &:after {
          border-color: $default-gray transparent transparent;
        }
        &:hover:after {
          border-color: #f18521 transparent transparent;
        }
      }
    }
  }
}

.ajax-event {
  position: relative;
  z-index: 1;
}
.event-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36vw;
  img {
    height: 39vh;
  }
}
div.empty-pages {
  padding: 50px 30px;
  min-height: calc(100% - 254px);
  div.image-empty-pages {
    width: 130px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: asset-url('no-trip.png');
    background-size: contain;
  }
  p {
    color: $default-gray;
  }
  a.btn-join-trip {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 45px;
    padding-top: 9px;
    background: $default-orange;
    border-radius: 20px;
    color: $default-white;
  }
}

.filters-container {

  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding-right: 30px;
  z-index: 3;
  .filter-btn {
    color: $default-gray;
    outline: none;
    display: block;
    width: 100px;
    line-height: 20px;
    .filter-icon {
      color: $default-gray;
      margin-left: 10px;
    }
  }

  .search_form{
    &:after {
      content: '\f4a5';
      font-family: 'Ionicons';
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      right: 133px;
      font-size: 1.5em;
      color: $default-light-gray;
    }
    input[type='text'] {
      width: 160px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      position: absolute;
      right: 0;
      margin: -16px 124px auto auto;
    }
    input[type='text']:focus {
      width: 30%;
    }
  }

  .btn-filter-search {
    font-size: 0.8em;
    padding: 5px;
    border-radius: 25px;
    background-color: $default-blue;
    color: $default-white;
    border: solid 2px;
    border-color: $default-blue;
    &:hover {
      border: solid 2px;
      background-color: transparent;
      color: $default-gray;
    }
  }

  .filter {
    position: absolute;
    background-color: $default-white;
    color: $default-gray;
    width: 720px;
    top: 50px;
    right: 70px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 2px 3px 10px $default-light-gray;

    .flex-filter-container {
      display: flex;
      .right {
        min-width: 200px;
      }
      .title {
        margin-bottom: 20px;
      }
      .blue {
        color: $default-blue;
      }

      .title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .title,
        input {
          margin-bottom: 0;
        }
        .days-range,
        .costs-range {
          width: 55%;
          color: $default-gray-v2;
          background-color: transparent;
          box-shadow: none;
          border: 0;
          text-align: right;
          font-size: 0.8em;
          padding: 0;
        }
      }
    }

    .filter-name {
      display: block;
      .filter-info-container {
        min-width: 0px;
        width: 100%;
        background-color: transparent;
        border: 0px;
      }
      .filter-info {
        margin-bottom: 20px;
        span {
          margin: 0 3px;
        }
        &.flex-filter-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 20px;
          .month-select {
            border-color: $default-blue;
            border-radius: 5px;
            margin: 0px;
            background-color: transparent;
            cursor: pointer;
            width: 200px;
          }
        }

        li {
          display: inline-block;
          width: 53%;
          margin-bottom: 10px;
          &:last-of-type {
            margin-bottom: 0px;
          }
          &:nth-child(even) {
            width: 30%;
          }
          input[type='checkbox'] {
            display: none;
          }
          input[type='checkbox']:checked + label {
            i.fa.fa-check {
              visibility: visible;
            }
          }
          label {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: baseline;
            margin: 0;
            color: $default-gray;
            span {
              width: 75%;
            }
            i.fa.fa-check {
              visibility: hidden;
              padding: 3px;
            }
          }
          label:before {
            content: '';
            position: absolute;
            border: solid 2px $default-light-gray;
            border-radius: 3px;
            width: 20px;
            height: 20px;
            margin-top: 2px;
          }
        }

        .ranges-span-container {
          margin-top: 5px;
          font-size: 0.7em;
          display: flex;
          justify-content: space-between;
          color: $default-light-gray;
          font-weight: bold;
        }

        //Cost Range and No of days Filter start
        #slider-range-cost,
        #slider-range-days {
          background-color: $default-gray-v2;
          background: $default-gray-v2;
          height: 0.3em;
        }
        //Cost Range and No of days Filter end

        //Jquery Slider start
        .ui-widget-header {
          background-color: $default-blue;
          background: $default-blue;
        }
        .ui-slider-handle {
          margin-left: -0.4em;
          outline: none;
          top: -0.3em;
          background: $default-blue;
          border-radius: 100%;
          width: 0.8em;
          height: 0.8em;
          &:hover {
            border: 1px solid $default-blue;
          }
        }
        //Jquery Slider end
      }
    }

    .accordion-pane {
      width: auto;
      min-width: 180px;
      background: transparent;
      background-color: transparent;
      border: 0px;
      padding: 0px;
      display: none;
      position: absolute;
      z-index: 2;
      .filter-info-container {
        margin: 0px 10px 0px 10px;
        .overflow-filter {
          max-height: 200px;
          overflow-y: auto;
        }
        .filter-info {
          padding: 10px;
          background: $default-white;
          border: solid 1px;
          border-top: 0px;
          border-color: $default-light-gray;

          select {
            margin: 0px;
            font-size: 0.8em;
          }

          .filter-ul {
            list-style-type: none;
            margin: 0px;
            font-size: 0.8em;
            label {
              color: $default-gray;
              flex-grow: 1;
              text-align: left;
            }
            li {
              border-bottom: solid 1px;
              margin-bottom: 10px;
              border-color: $default-light-gray;
              display: flex;
              align-items: center;
              justify-content: space-between;
              input {
                margin: 0px;
                justify-content: space-between;
              }
              &:last-of-type {
                margin-bottom: 0px;
              }
            }
          }

          .ranges-span-container {
            margin-top: 5px;
            font-size: 0.7em;
            display: flex;
            justify-content: space-between;
            color: $default-gray;
            font-weight: bold;
          }

          //Cost Range Filter start
          #slider-range-cost {
            background-color: $default-gray;
            background: $default-gray;
            height: 0.3em;
          }
          //Cost Range Filter end

          //No of days Filter start
          #slider-range-days {
            background-color: $default-gray;
            background: $default-gray;
            height: 0.3em;
          }
          //No of days Filter end

          //Jquery Slider start
          .ui-widget-header {
            background-color: $default-blue;
            background: $default-blue;
          }
          .ui-slider-handle {
            margin-left: -0.4em;
            outline: none;
            top: -0.3em;
            background: $default-blue;
            border-radius: 100%;
            width: 0.8em;
            height: 0.8em;
            &:hover {
              border: 1px solid $default-blue;
            }
          }
          //Jquery Slider end
        }
      }
    }
  }
}

.my-events-links-container {
  width: 100%;
  z-index: 8;
  background-color: $default-white;
  .my-events-links {
    position: relative;
    height: 70px;
    padding: 25px 40px;
    a {
      position: relative;
      margin-right: 100px;
      color: $default-gray;
      font-size: 1em;
      &:hover {
        color: $default-orange;
      }
      &.active {
        color: $default-orange;
        font-weight: bolder;
      }
    }
  }
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  .success-container {
    margin-top: -7px;
    @include background-style($img: 'success-bg.png');
    height: 582px;
    width: 388px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 9;
    span.ion-close-round {
      color: rgba(255, 255, 255, 0.4);
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 1.2em;
      line-height: normal;
      cursor: pointer;
      z-index: 1000;
    }
    .content {
      text-align: center;
      position: absolute;
      bottom: -60px;
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      h5 {
        text-align: center;
        color: $default-white;
        font-weight: bold;
        font-size: 0.95em;
      }
      p {
        font-size: 11px;
        text-align: center;
        color: $default-white;
        margin: 0 6px 0 6px;
        line-height: 1.5;
      }
      a {
        background-color: $default-orange;
        color: $default-white;
        width: 180px;
        display: block;
        margin: 20px auto;
        text-align: center;
        padding: 8px;
        border-radius: 35px;
        font-size: 0.65em;
        font-weight: bold;
      }

      .extend-container {
        padding: 45px 0 0 0;
        margin: -25px 0 -5px -10px;
        border-radius: 0 0 5px 5px;
        background-color: $extend-container-color;
        width: 388px;
      }

      .fb-send-to-messenger {
        width: 148px;
        margin: 20px auto 0;
      }
    }
  }
}

.tagcash-container {
  img {
    max-width: auto;
    width: 250px;
    margin-bottom: 3vw;
  }
  > p {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 3vw;
  }
  form label {
    text-align: left;
    padding: 0;
    border-style: none;
    font-size: 1.2em;
    color: #00a6e0;
  }
  form input[type='text'] {
    border-style: none;
    box-shadow: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
}

.datetimepicker {
  &.remove-padding {
    padding: 0;
  }
  padding: 0 5px;
  .input-grp {
    .input-label {
      color: $default-orange;
      font-size: 14px;
      margin-bottom: 10px;
      width: 93px;
      .calendar-icon {
        color: $default-green;
        outline: none;
        margin-left: 10px;
        font-size: 20px;
      }
    }
    .input-date {
      padding: 0px;
      outline: none;
      border: 0px;
      outline: none;
      border-bottom: 2px solid $default-light-gray;
      box-shadow: none;
      color: $default-gray;
      width: 100%;
      padding: 7px 0;
    }
    input[readonly] {
      background-color: $default-white;
      cursor: pointer;
    }
    color: $default-gray;
  }
}

.reveal.popupMapModal {
  height: 455px;
  width: 700px;
  outline: none;
  border-radius: 15px;
  &.map-modal-mobile {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .close-button {
    font-size: $default-label-web;
    outline: none;
    &:hover {
      color: $default-gray;
    }
  }
  #popupMap {
    height: 400px;
    margin-top: 20px;
    &.map-mobile {
      width: 100%;
      height: 85%;
    }
  }
}

.free-trip-notif {
  .free-trip-notif__copy {
    border-bottom: 1px solid $default-light-gray;
    border-top: 1px solid $default-light-gray;
    padding: 20px 0;
    margin: 20px 0;
    color: $default-blue;
  }
  .free-trip-notif__btn {
    color: #ffffff;
    background-color: $default-blue;
    border: none;
    border-radius: 35px;
    padding: 11px 113px;
    font-size: 16px;
    text-align: center;
  }
}
