@import 'default-colors.scss';
// Global Styles
.flex { 
  display: flex;
  align-items: center;
}

.whole-viewport { 
  @at-root #{&}-height { min-height: 100vh }
  @at-root #{&}-width { width: 100vw }
}

.half-viewport { min-height: 50vh }

.blue-background { background-color: $default-blue }

.centered-text { text-align: center }
