@import 'default-colors';
@import 'spinner';

.ionicon,
%ionicon {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-attr{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ICONS
.icon-spinner,
%icon-spinner {
  @extend %spinner-animation;
  color: $default-green;
  content: '\f29c';
}

.icon-valid,
%icon-valid {
  color: $default-green;
  content: '\f375';
}

.icon-invalid,
%icon-invalid {
  color: $default-red;
  content: '\f405';
}
