@import 'default-colors.scss';
@import 'default-font-sizes.scss';
@import 'event-grids.scss';
@import 'default-mixin.scss';
@import 'ionic-icon';

$default-max-width: 1370px;

.ionicon {
  display: inline-block;
  font-family: 'Ionicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.download-app-btn {
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 2px;
  border: solid;
  background-color: $default-orange;
  border-color: $default-orange;
  padding: 8px 1px 4px 2px;
  font-size: 11px;
  color: $default-white;
  margin-top: 5px;
  &--mobile {
    margin-left: 15px;
    padding-left: 6px;
  }
  @at-root #{&}__apple_icon {
    border: solid;
    border-color: $default-white;
    border-width: 1px;
    padding: 0px 6px 2px 5px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 2px;
    bottom: 2px;
    color: white;
  }
  @at-root #{&}__playstore_icon {
    background-image: asset-url('playstore.png');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid;
    border-color: $default-white;
    border-width: 1px;
    color: transparent;
    padding: 0px 2px 2px 4px;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 5px;
    bottom: 2px;
  }
  &--mobile-trips {
    margin-bottom: 29px;
    margin-top: 15px;
    padding: 0px 1px 5px 4px;
  }
  &__center {
    text-align: center;
  }
}

@mixin dynamic-container($img) {
  background-image: $img;
  margin: -90px 0 0;
  min-height: calc(100% - 110px);
  padding: 10% 25px 5%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .row {
    max-width: 55rem;
  }
  .flex-display {
    display: flex;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
    .img-column {
      width: 24%;
    }
    .text-column {
      width: 72%;
    }
  }
}

body:before {
  content: '.';
  display: block;
  font-size: 0px;
}

@font-face {
  font-family: 'SpiffyMcGeeLite';
  src: font-url('Spiffy-McGee-Lite.otf') format('opentype');
}
@font-face {
  font-family: 'BasicTitle';
  src: font-url('basictitlefont.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas';
  src: font-url('BEBAS.TTF') format('truetype');
}
@font-face {
  font-family: 'ShorelinesScriptBold';
  src: font-url('Shorelines-Script-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Rissa';
  src: font-url('RissaTypeface.ttf') format('truetype');
}

.display-loader{
  display: block;
}

.reveal.custom-settings-modal-with-header {
  border-radius: 10px;
  width: 400px;
  height: auto;
  padding: 10px;
  border: none;
  outline: none;
  text-align: center;
  margin: 0 auto;
  header {
    h5.registration {
      text-align: center;
      color: $default-blue;
      font-size: 18px;
      font-weight: bold;
    }
    font-size: 12px;
    p.fields {
      font-size: 12px;
      color: $default-red;
    }
  }
  div.registration-form {
    .messenger-container {
      background-color: #1585cf;
      margin-bottom: 2px;
      padding-bottom: 2px;
      .messenger-text {
        margin: 1.3em 23px 4px;
        color: $default_white;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
      }
      .messenger-button {
        margin: auto auto 10px 111px;
      }
      .messenger-button-mobile {
        margin: auto auto 10px 55px;
      }
    }

    .form-field {
      input {
        text-align: center;
        color: $default-black;
        font-size: 12px;
        border-style: none none solid none;
        height: 35px;
        margin-bottom: 2px;
        box-shadow: none;
        outline: none;
        &.date-input {
          width: 100%;
          box-shadow: none;
          background-color: $default-white;
          border-bottom: 1px solid $default-light-gray;
          cursor: text;
        }
        &::placeholder {
          color: $default-light-gray;
        }
      }
      select {
        text-indent: 10px;
        text-align: center;
        text-align-last: center;
        color: $default-black;
        font-size: 12px;
        border-style: none none solid none;
        height: 30px;
        margin-bottom: 2px;
        outline: none;
        padding-top: 2px;
      }
      &.with-icon {
        width: 100%;
        position: relative;
        @extend .ionicon;
        &.calendar:after {
          content: '\f117';
          color: $default-light-gray;
          position: absolute;
          top: 6px;
          right: 6px;
        }
        input {
          font-family: Roboto;
        }
      }
    }
    input[type='checkbox'].custom-circle-check-box {
      display: none;
      + label {
        margin: 1.3em 0;
        color: $default-light-gray;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        &:before {
          content: '';
          height: 15px;
          width: 15px;
          border-radius: 100%;
          border: 1px solid $default-blue;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      &:checked + label:before {
        background-color: $default-orange;
      }
    }
    input.button {
      margin-top: 10px;
      position: relative;
      top: 4px;
      box-shadow: none;
    }
  }
  p.submit {
    margin: 0;
    input {
      padding: 5px;
      border-radius: 30px;
      background-color: #1585cf;
      width: 200px;
      color: $default-white;
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 15px;
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
  .registration-form .form-field {
    position: relative;

    &::after {
      @extend %ionicon;
      font-size: 1.5em;
      position: absolute;
      right: 10px;
      top: 5px;
      z-index: 999;
    }

    &.spinner::after {
      @extend %icon-spinner;
    }

    &.valid::after {
      @extend %icon-valid;
    }

    &.invalid::after {
      @extend %icon-invalid;
    }
  }
}

.reveal.referral-modal-with-header {
  &.mobile {
    width: 85vw;
    min-height: 0px;
  }
  border-radius: 10px;
  width: 400px;
  height: auto;
  padding: 0px;
  border: none;
  outline: none;
  margin: 0 auto;
  header {
    padding: 10px 0;
    .title {
      padding-top: 15px;
      text-align: center;
      color: $default-blue;
      font-size: 14px;
      font-weight: bold;
    }
    button.close-button {
      outline: none;
      color: $default-light-gray;
      opacity: 0.8;
      font-size: inherit;
      &:after {
        content: '\f2d7';
        @extend .ionicon;
      }
    }
  }
  ul.tabs {
    border: none;
    display: flex;
    justify-content: center;
    font-size: 14px;
    li.tabs-title {
      a {
        color: $default-gray;
        background-color: transparent;
        padding: 0.25rem 1.5rem;
      }
      &.is-active {
        a {
          color: $default-orange;
          font-weight: bold;
        }
      }
    }
  }
  .tabs-content {
    border: none;
    color: $default-gray;
    .tabs-panel {
      padding: 0;
      padding-top: 1rem;
      .referral-image {
        .referral-image-label {
          @include set-position($position: absolute, $top: 150px, $right: 80px);
          text-align: center;
          &--mobile {
            @include set-position($position: absolute, $top: 130px, $right: 30px);
          }
          .referral-image-label__text {
            font-family: 'Kavoon', cursive;
            color: $default-white;
            margin: 0 auto;
            &--big {
              font-size: 28px;
              position: relative;
              top: -5px;
            }
          }
        }
      }
    }
    img {
      display: block;
      margin: auto;
      width: 100%;
      &.credits {
        padding: 1.5rem;
        width: 50%;
      }
    }
    .invite-container {
      margin: 0 0.5rem;
      p.small {
        margin-top: 1rem;
        font-size: 12px;
      }
      label {
        color: $default-blue;
        font-size: 12px;
      }
      .tagsinput {
        min-height: 0;
        height: auto;
        color: $default-light-gray;
        font-size: 12px;
        font-style: italic;
        border-style: none none solid none;
        padding: 0;
        box-shadow: none;
        outline: none;
        margin-bottom: 30px;
        > div input {
          width: 150px;
        }
      }
    }
    .button-container {
      text-align: center;
      left: 0;
      right: 0;
      bottom: 42%;
      padding: 20px;
      .content {
        font-size: 14px;
        color: $default-blue;
        margin-bottom: 5px;
      }
      input[type='submit'] {
        border-width: 0;
        line-height: inherit;
      }
      a,
      input[type='submit'] {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 10px;

        background-color: $default-blue;
        color: $default-white;
        border-radius: 35px;
        width: 55%;

        font-size: 12px;
        text-align: center;
        font-weight: normal;
        span {
          display: inline-block;
          vertical-align: middle;
          @include set-position($position: relative, $left: 20px);
          float: left;
        }
      }
      .button-container .content {
        .bold {
          font-weight: bold;
        }
      }

      hr {
        margin: 10px 0;
        &.hr-text {
          position: relative;
          border: 0;
          color: black;
          text-align: center;
          height: 1.5em;
          font-size: 12px;
          &:before {
            content: '';
            opacity: 0.25;
            background: $default-light-gray;
            @include set-position($position: absolute, $left: 0, $top: 50%);
            width: 100%;
            height: 1px;
          }
          &:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            color: #000000;
            padding: 0 0.5em;
            background-color: $default-white;
          }
        }
      }
    }
  }
}

.tripkada-login {
  z-index: 999;
  margin: 95px auto 100px auto;
  border: none;
  outline: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;

  &--flex {
    width: 50%;
    align-self: flex-start;
    @at-root #{&}__copy {
      padding-top: 30px;
      &--login { margin-top: 10px }
      @at-root #{&}__link {
        margin-top: 20px;
        &--margin-less { margin: 0 }
      }
    }
  }

  &__header {
    font-size: 15px;
    font-weight: bold;
    color: $default-light-gray;
    margin: 25px auto 30px auto;
  }

  &__footer {
    display: inline-block;
    font-weight: bold;
    font-size: 10.5px;
    padding-right: 3px;
    color: $default-light-gray;
  }

  &__link-text {
    font-size: 10.5px;
    color: $default-blue;
    margin: 15px auto 20px auto;
  }

  &__login-line {
    display: flex;
    padding: 0px 50px 0px 50px;
    font-size: 11.5px;
    color: $default-light-gray;
    margin: 5px auto;
  }

  &__signup-line {
    display: flex;
    padding: 29px 50px 0px 50px;
    margin: 5px auto 30px auto;
    font-size: 11.5px;
    color: $default-light-gray;
  }

  &__line-style {
    width: 100%;
    margin: 0.65rem auto;
  }

  &__login-joiner {
    margin-bottom: 2px;
    border-radius: 30px;
    border: 3px solid $default-fb-color;
    width: 322px;
    padding: 9px 40px 9px 30px;
    font-size: 10.5px;
    font-weight: bold;
    color: $default-white;
    height: 58px;
    background-color: $default-fb-color;
    &:hover{
      text-decoration: none;
      color: $default-white;
    }
    span.ion-social-facebook {
      position: relative;
      color: $default-white;
      background-color: $default-fb-color;
      padding: 1px 3px 0px 15px;
      font-size: 15px;
      border-radius: 3px;
      margin-right: 5px;
      bottom: -2px;
    }
  }

  &__modal_image {
    @include background-style($img: 'Login.png');
    width: 294px;
    height: auto;
  }

  &__login-organizer {
    margin: 10px auto 10px auto;
    width: 190px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 30px;
    padding: 8px 50px 8px 50px;
    background-color: $default-orange;
    border: 3px solid $default-orange;
    color: $default-white;
     &:hover{
     text-decoration: none;
     color: $default-white;
     }
  }
}

.reveal.tripkada-modal {
  width: 585px;
  height: 263px;
}

.reveal.login-modal {
  width: 370px;
  height: 530px;
}

.main-nav {
  z-index: 1;
  position: relative;
  margin: 20px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-grp {
    display: inline-block;
    text-align: center;
    img {
      height: 70px;
      width: auto;
    }
    span {
      display: block;
      font-size: 1.7em;
      color: $default-white;
    }
  }
  .dropdown.menu {
    li {
      &.active a {
        color: $default-blue;
        background-color: transparent;
      }
      a {
        font-size: 14px;
        color: $default-white;
        &:after {
          border-color: $default-white transparent transparent;
        }
      }
      ul {
        border: none;
        background-color: transparent;
        .is-dropdown-submenu-item {
          border-left: 1px solid $default-white;
          border-right: 1px solid $default-white;
          border-bottom: 1px solid $default-white;
          &:first-of-type {
            border-top: 1px solid $default-white;
          }
          background-color: rgba(0, 0, 0, 0.3);
          &.active a {
            color: $default-blue;
          }
          a {
            color: $default-orange;
            &:hover {
              color: $default-blue;
            }
          }
        }
      }
    }
    li:nth-child(5) {
      a {
        margin-right: 15px;
      }
    }
  }
}

.notification-alert {
  a {
    position: relative;
    width: 40px;
    height: 40px;
    background: #be0000;
    border-radius: 100%;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $default-white;
    }
  }
}

#span-number-of-notifications {
  background: #be0000;
  border-radius: 100%;
  width: 25px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 12px;
  text-align: center;
  color: $default-white;
  top: 3px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding-top: 8px;
}

.main-footer {
  background-color: #ffffff;
  color: black;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  clear: left;
  p {
    &.copy {
      margin: 0;
      font-size: 12px;
    }
  }
  .menu a {
    color: black;
  }
  .menu li {
    border-right: 1px solid black;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  .menu li:first-of-type {
    padding-left: 0px;
  }
  .menu li:last-of-type {
    border-right: 0px;
  }
  .menu a.active {
    background-color: transparent;
    color: $default-blue;
  }
  .menu a:hover {
    color: $default-blue;
  }
  div.social-links-grp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p {
      margin: 0;
      font-size: 12px;
      text-align: right;
    }
    .links {
      list-style: none;
      text-align: right;
      margin: 0;
      width: 220px;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px;
        a {
          display: inline-block;
          height: 30px;
          width: 30px;
          background-color: #000000;
          color: #ffffff;
          border-radius: 100%;
          position: relative;
          .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

.home-container {
  @include dynamic-container(asset-url('home-bg.png'));
  margin-bottom: 50px;
  min-height: calc(100% + 16px);
  .header-grp {
    text-align: center;
    color: $default-white;
    h1 {
      margin: 0;
      &:first-of-type {
        font-family: SpiffyMcGeeLite;
        line-height: 85px;
      }
      &:nth-of-type(2) {
        font-family: BasicTitle;
        line-height: 25px;
        font-weight: bold;
      }
      &:nth-of-type(3) {
        font-family: Bebas;
        line-height: 45px;
      }
      &:nth-of-type(4) {
        font-family: ShorelinesScriptBold;
        line-height: normal;
      }
    }
  }

  .bottom-grp {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    color: #ffffff;
    .search-container {
      margin-bottom: 10px;
      .form-field {
        display: inline-block;
        width: 18vw;
        min-width: 250px;
        margin: 0px 8px;
        &:last-child {
          width: 7vw;
        }
        .search-button {
          background: $default-orange;
          height: 40px;
          width: 100%;
          border: 0px;
          border-radius: 2px;
        }
      }
    }

    .downloads {
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
        text-align: center;
        margin: 0 60px;
        span {
          display: block;
          font-size: 14px;
        }
        a {
          display: inline-block;
          width: 140px;
        }
      }
    }
  }
}

.who-we-are-container {
  @include dynamic-container(asset-url('about-bg-2.jpg'));
  .flex-display {
    .text-column {
      h1 {
        text-align: center;
        font-family: Rissa;
        color: $default-white;
        font-size: 4em;
        &:after,
        &:before {
          content: '';
          width: 50px;
          border: 1px solid $default-white;
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px;
        }
      }
      p {
        color: $default-white;
        span {
          color: $default-orange;
        }
      }
    }
  }
}

.how-it-works-container {
  @include dynamic-container(asset-url('about-bg.jpg'));
  h1 {
    text-align: center;
    font-family: Rissa;
    color: $default-white;
    font-size: 4em;
    &:after,
    &:before {
      content: '';
      width: 50px;
      border: 1px solid $default-white;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  p {
    color: $default-white;
  }
}

.privacy-policy-container {
  @include dynamic-container(asset-url('about-bg.jpg'));
  h1 {
    text-align: center;
    font-family: Rissa;
    color: $default-white;
    font-size: 4em;
    &:after,
    &:before {
      content: '';
      width: 50px;
      border: 1px solid $default-white;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  h6 {
    color: $default-white;
    font-weight: bold;
    font-style: italic;
  }
  li {
    margin-left: 30px;
  }
  .p-container {
    color: $default-white;
    border-bottom: 1px solid;
    padding: 30px 0;
    p {
      word-wrap: break-word;
    }
  }

  .p-contacting-us {
    color: $default-white;
    padding: 30px 0;
    span {
      color: $default-blue;
    }
  }
}

.collaborate-container {
  @include dynamic-container(asset-url('join_us_collab.jpg'));
}
.apply-for-a-job-container {
  @include dynamic-container(asset-url('apply_for_a_job.jpg'));
}
.collaborate-container,
.apply-for-a-job-container {
  h1 {
    text-align: center;
    font-family: Rissa;
    color: $default-white;
    font-size: 4em;
    &:after,
    &:before {
      content: '';
      width: 50px;
      border: 1px solid $default-white;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  p {
    color: $default-white;
    a.mail {
      color: $default-orange;
    }
  }
}

.organiser-form-container {
  @include dynamic-container(asset-url('join_us_form.jpg'));
}
.trip-requests-form-container {
  @include dynamic-container(asset-url('trip_request.jpg'));
}
.questions-form-container {
  @include dynamic-container(asset-url('questions_form.jpg'));
}
.organiser-form-container,
.trip-requests-form-container,
.questions-form-container {
  form.organiser-form {
    max-width: 500px;
    margin: 0 auto;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    input,
    textarea {
      border-radius: 3px;
      box-shadow: none;
      border-style: none;
      border: none;
      color: $default-orange;
      background-color: rgba(255, 255, 255, 0.75);
    }
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $default-orange;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: $default-orange;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: $default-orange;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: $default-orange;
    }
    button {
      background-color: #cecece;
      padding: 6px 15px;
      line-height: normal;
      border-radius: 3px;
      margin: 0 auto;
      display: inherit;
      color: $default-blue;
    }
  }
  h1 {
    text-align: center;
    font-family: Rissa;
    color: $default-white;
    font-size: 4em;
    &:after,
    &:before {
      content: '';
      width: 50px;
      border: 1px solid $default-white;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
  }
  p {
    color: $default-white;
    &.center {
      text-align: center;
    }
  }
}

.pop-up-download-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(138, 138, 138, 0.28);
  z-index: 9999999;
  .pop-up-download {
    position: absolute;
    right: 10px;
    bottom: -330px;
    padding: 20px;
    min-width: 590px;
    background-image: asset-url('pop_up_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s ease-in-out;
    &.show {
      bottom: 10px;
    }
    header {
      margin-bottom: 1em;
      img {
        width: 70px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
      }
      h1 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        color: $default-orange;
        line-height: normal;
      }
    }
    p {
      color: $default-white;
      margin: 0;
      font-size: 17px;
    }
    a {
      display: inline-block;
      width: 200px;
      margin-top: 1em;
    }
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .loader {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: asset-url('tripkada-loader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 250px;
  }
  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: $default-white;
    z-index: 1000;
    &.section-left {
      left: 0;
    }
    &.section-right {
      right: 0;
    }
  }
}

.loaded {
  .loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
    .loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .section-left {
      -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(-100%); /* IE 9 */
      transform: translateX(-100%);

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .section-right {
      -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(100%); /* IE 9 */
      transform: translateX(100%);

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

.datepicker-container {
  z-index: 1007 !important;
  .datepicker-panel ul {
    font-size: 15px;
  }
}

.trips-container {
  .title-container {
    color: $default-blue;
    margin: 15px 30px;
    font-size: $default-label-web;
    display: flex;
    p.right {
      position: absolute;
      right: 5px;
      a.more {
        color: $default-green;
      }
      a.button {
        color: #ffffff;
        background-color: $default-orange;
        font-size: 12px;
        border: none;
        border-radius: 35px;
        padding: 9px 0px;
        height: 30px;
        width: 16em;
        outline: none;
      }
    }
  }
}
