@import "default-colors.scss";

.f-left{ float: left }
.f-right{ float: right }
.center{ text-align: center }
.border-bottom{ border-bottom: 1px solid $default-light-gray }
.remove-border{ border: none; }
.bold{ font-weight: bold; }
.set-font-size{ font-size: 0.9rem; }

.wrapper{
  color: $default-gray;
  display: flex;
  margin: 40px 50px 0 50px;
  min-height: calc(100% - 187px);
  .organizer-sidenav{
    margin-right: 30px;
    margin-left: 0;
    height: 302px;
    min-width: 200px;
    list-style: none;
    border: 1px solid $default-light-gray;
    border-radius: 10px;
    .custom-icon{
      background-repeat: no-repeat;
      background-position: 10% center;
      background-size: 25px;
      text-align: center;
      &.overview{ background-image: asset-url('overview.png') }
      &.trips{ background-image: asset-url('trips.png') }
      &.joiner{ background-image: asset-url('joiner-orange.png') }
      &.payment{ background-image: asset-url('payment.png') }
      &.funds{ background-image: asset-url('funds.png') }
    }
    li{
      border-bottom: 1px solid $default-light-gray;
      line-height: normal;
      cursor: pointer;
      height: 60px;
      &:last-of-type{
        border-bottom: none;
        width: 100%;
      }
      &.current{
        background-color: $hover-gray;
        a{ color: $default-gray; }
      }
      &:first-of-type.current{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
      &:last-of-type.current{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:before{
        font-size: 2em;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        color: $default-orange;
      }
      a{
        display: block;
        line-height: 60px;
        color: $default-gray;
        font-size: 15px;
      }
    }
  }
  .manage-trips-container{
    width: 100%;
    margin-bottom: 20px;
    &.trips-page, &.joiners-page{
      min-width: 900px;
      max-width: 100%;
    }
    .header{
      padding: 13px 0;
      color: $default-orange;
      border-bottom: 1px solid $default-light-gray;
      margin: 0;
      >.event-link{ color: $default-orange; }
    }
    .trip-btn{
      width: 75%;
      padding: 15px 0;
      .btn-custom{
        font-size: 0.9rem;
        border-radius: 4px;
        padding: 8px 15px;
        color: $default-gray;
        background-color: $default-white;
        &:first-of-type{ margin-right: 10px; }
        &.active{
          color: $default-white;
          background-color: $default-orange;
        }
      }
    }
    .greetings{
      padding: 15px 0;
      margin-bottom: 0;
    }
    .add-btn{
      display: block;
      background-color: $default-orange;
      height: 50px;
      width: 50px;
      border-radius: 100%;
      outline: none;
      >span{
        color: $default-white;
        font-size: 32px;
      }
    }
    .flex-container{
      display: flex;
      justify-content: space-between;
      .custom-label{
        padding: 13px 0;
        color: $default-orange;
      }
      &.overview{
        height: 400px;
      }
      &.trips{ flex-direction: column }
      &.joiner{
        height: 62px;
        border-bottom: 1px solid $default-light-gray;
        .trip-header{
          color: $default-orange;
          margin-bottom: 0;
          align-self: center
         }
      }
      &.empty{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        height: 70vh;
        .image-container{
          background-image: asset-url('empty-page.png');
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 15vw;
          width: 15vw;
        }
        .greetings-content{
          margin-top: 40px;
          .content{
            color: $default-gray;
            text-align: center;
            padding: 0;
            line-height: 60px;
            margin: 0;
            &:last-of-type{ margin-bottom: 40px }
            &.greetings{
              color: $default-gray;
              font-weight: bold;
              font-size: 20px;
            }
          }
          .link{
            color: #FFFFFF;
            background-color: $default-orange;
            padding: 15px 60px;
            width: 18vw;
            border-radius: 35px;
            outline: none;
            text-align: center;
          }
        }
      }
      .inline-content{
        display: inline-block;
        width: 45%;
        .label-with-icon{
          color: $default-blue;
          border-bottom: 1px solid $default-blue;
          padding-bottom: 10px;
          margin: 0;
          &.plain{
            border-bottom: none;
          }
          span{
            font-size: 25px;
            margin-right: 10px;
          }
        }
        .details-wrapper{
          overflow-y: auto;
          height: 310px;
          &.bordered{
            border: 1px solid $default-blue;
            height: auto;
            padding: 15px 0;
            overflow: hidden;
          }
          .details{
            display: flex;
            border-bottom: 1px solid $default-light-gray;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;
            padding: 10px 0;
            min-height: 60px;
            .date{
              color: $default-orange;
              margin: 0;
            }
            .name{
              width: 80%;
              margin: 0;
              &.center{
                align-self: center;
              }
            }
            .avatar{
              background-size: cover;
              background-position: center center;
              height: 40px;
              width: 40px;
              border-radius: 100%;
              border: 1px solid $default-gray;
            }
          }
        }
      }
      .trip-details-container{
        width: 100%;
        margin-bottom: 20px;
        .trip-label{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $default-light-gray;
          .title{
            color: $default-blue;
            font-size: 0.9rem;
            width: 200px;
            padding: 12px 0;
            margin-bottom: 0;
            &.no-show{ text-align: center;}
            &.indent-label{ text-indent: 20px; }
            &.joiner{
              width: 150px;
              &:nth-of-type(4){ width: 200px; }
              &:last-of-type{
                text-align: center;
              }
              &:nth-of-type(5), &:last-of-type{ text-align: center }
            }
            &.payment{
              width: 200px;
            }
            &.waitlist:not(:first-child){
              width: 150px;
              &.date{
                text-align: center;
              }
              &.action{
                text-align: center;
              }
            }
          }
        }
        .title_blank_space{
          font-size: 0.9rem;
          width: 80px;
          padding: 12px 0;
          margin-bottom: 0;
        }
        .manage-trips-email{
            font-size: 0.9rem;
            width: 250px;
            margin-bottom: 0;
            text-align: left;
            margin-right: 30px;
        }
        .email-content{
          color: $default-gray;
          margin-right: 30px;
        }
        .trip-details{
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $default-light-gray;
          >p{
            color: $default-blue;
            margin-top: 10px;
            min-height: 35px;
            width: 200px;
            margin-bottom: 0;
            &.date, &.destination{ color: $default-gray;}
            &.no-show{ text-align: center;}
            &.joiner{ text-indent: 20px; }
            &.waitlist {
              a.zero-waitlist{ color: $default-gray }
            }
            &.action{
              span:nth-child(1){
                &.active{ color: #CC6666; }
              }
              span:nth-last-of-type(1){
                &.active{ color: $default-green; }
              }
              color: $default-gray;
            }
            &.on-going{ color: $default-green; }
            &.canceled{ color: red; }
            &.done{ color: $default-gray; }
            &.options{
              select{
                font-size: 0.9rem;
                color: $default-blue;
                border: none;
                outline: none;
                padding-top: 0;
                height: 35px;
              }
              &.reason{ font-size: 0.9rem; }
            }
            &.details{
              font-size: 0.9rem;
              color: $default-gray;
              width: 150px;
              &:first-of-type{ color: $default-blue; }
              &:nth-of-type(4){ width: 200px; }
              &:nth-of-type(5), &:last-of-type{ text-align: center }
              &.payment{
                width: 200px;
                &:nth-of-type(3){ text-align: center }
              }
            }
          }
          &.waitlist{
            p.date, p.action{ text-align: center; }
            p.date{
              padding-left: 50px;
            }
            p.action{
              padding-left: 50px;
              .button.small{
                width: 90px;
                border-radius: 5px;
                &.off-button{ background-color: $default-light-gray; }
                &.approve{ margin-right: 5px; }
              }
            }
          }
          .avatar{
            margin-top: 8px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 20px;
            background-size: cover;
            background-position: center center;
            height: 40px;
            width: 40px;
            min-width: 40px;
            border-radius: 100%;
            border: 1px solid $default-gray;
          }
        }
      }
      &:last-of-type{ margin-bottom: 50px }
    }
    .collapsible-container{
      display: none;
      &.show{ display: block }
      >p{ margin-top: 30px; }
      .close-collapsible{
        align-self: center;
        margin-right: 10px;
        font-size: 1.1rem;
        border-bottom: none;
        color: $default-light-gray;
        &:hover{ color: $default-gray }
      }
      .funds-details-container{
        width: 100%;
        margin-bottom: 20px;
        .trip-label{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $default-light-gray;
          .title{
            color: $default-blue;
            font-size: 0.9rem;
            width: 200px;
            padding: 10px 0;
            margin-bottom: 0;
            &:first-of-type{ width: 400px; }
          }
        }
        .funds-details{
          width: 100%;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $default-light-gray;
          >p{
            color: $default-blue;
            padding: 10px 0;
            width: 200px;
            margin-bottom: 0;
            &.name{ width: 400px; }
            &.date, &.destination{ color: $default-gray; }
          }
        }
      }
      .form-container{
        margin: 50px 0;
        .invite-joiner-form{
          display: flex;
          justify-content: center;
          .profile-photo-container{
            width: 200px;
            input[type="file"]{ display: none; }
            >span{
              margin-top: 10px;
              color: $default-orange;
              font-size: 0.9rem;
            }
          }
          .joiner-details-container{
            width: 400px;
            margin-bottom: 40px;
            .inline-input{
              label{ color: $default-orange; }
              input[type="text"]{
                padding: 0;
                color: $default-gray;
                background: transparent;
                border: none;
                border-bottom: 1px solid $default-light-gray;
                box-shadow: none;
                height: 30px;
                font-size: 0.9rem;
                &.mobile{
                  float: right;
                }
              }
              select{
                height: 35px;
                color: $default-gray;
                border: none;
                border-bottom: 1px solid $default-light-gray;
                color: $default-light-gray;
                font-size: 0.9rem;
                outline: none;
                padding-left: 0;
              }
              .text{
                font-size: 0.9rem;
                display: inline-block;
                margin-top: 4px;
                font-weight: bold;
              }
            }
            .action-btn{
              text-align: center;
              margin-top: 50px;
              .submit{
                background-color: $default-orange;
                border: none;
                color: #FFFFFF;
                border-radius: 35px;
                padding: 0.7rem;
                width: 240px;
                font-size: 0.8rem;
                outline: none;
                &.add{
                  margin-top: 20px;
                  background-color: $default-white;
                  color: $default-orange;
                  border: 1px solid $default-orange;
                }
              }
            }
          }
        }
      }
    }
  }
}

.reveal.form-container{
  border-radius: 10px;
  outline: none;
  width: 400px;
  .close-button{
    top: 0;
    outline: none;
    span{font-size: 1.5rem;}
  }
  .custom-form{
    padding: 0 20px;
    .submit-btn{
      text-align: center;
      width: 100%;
      input[type="submit"]{
        color: $default-white;
        background-color: $default-blue;
        border: none;
        border-radius: 35px;
        padding: 5px;
        width: 200px;
        outline: none;
      }
    }
    .inline-input{
      label{
        color: $default-blue;
        text-align: center;
        margin-bottom: 10px;
      }
      input[type="text"]{
        border-radius: 5px;
        color: $default-gray;
        font-size: 0.9rem;
      }
    }
  }
}

.invite-joiner-notif{
  background-color: transparent;
  border: none;
  outline: none;
  .invite-joiner{
    position: fixed;
    height: 230px;
    width: 300px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $default-white;
    border-radius: 20px;
    text-align: center;
    span.ion-close-round{
      color: $default-gray;
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1rem;
      line-height: normal;
      cursor: pointer;
    }
    .header{
      color: $default-orange-text;
      font-size: 1rem;
      text-align: center;
      font-weight: bold;
      margin: 30px 0;
    }
    p{
      color: $default-gray;
      font-size: 0.9rem;
      &.name{
        color: $default-orange-text;
        font-size: 1.2rem;
      }
    }
    button{
      background-color: $default-orange;
      text-align: center;
      color: $default-white;
      width: 250px;
      padding: 12px;
      border-radius: 35px;
      outline: none;
    }
  }
}
//kaminari
nav.pagination{
  span{
    display: inline-block;
    vertical-align: middle;
  }
}

input[type="checkbox"].manage-trips-check-box {
  position: absolute;
  visibility:hidden;
  + label.manage-trips {
    position: relative;
    padding: 2px 20px;
    font-size: 0.7em;
    border: 2px solid $default-light-gray;
    border-radius: 30px;
    font-size: 0.7em;
    color: $default-gray;
    &:before{
      content: '';
      border-radius: 30px;
    }
  }
  &:checked + label.manage-trips {
    background-color: $default-orange;
    border: 2px solid $default-orange;
    color: $default-white;
  }
}

.select-status {
  width: 50%;
  &.has-70-percent-width { width: 70%; }
  text-transform: capitalize;
}

.accordion-no-show{
  padding: 8px 30px !important;
}
