@import 'default-colors.scss';
@import 'default-font-sizes.scss';
@import 'default-mixin.scss';

//declared to get height depends on its childrens
.ajax-event-container {
  overflow: hidden;
}

.update-details {
  height: 600px;
  width: 80vw;
  min-height: unset;
}

.ionicon {
  display: inline-block;
  font-family: 'Ionicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Roboto', sans-serif;
}

.pop-up-download-container .pop-up-download {
  left: 10px;
  min-width: 0;
}

.home-container,
.who-we-are-container,
.how-it-works-container,
.organiser-form-container,
.collaborate-container,
.trip-requests-form-container,
.questions-form-container,
.apply-for-a-job-container {
  margin: 13px 0;
  padding-top: 100px;
  min-height: calc(100% - 105px);
  .header-grp h1 {
    &:first-of-type,
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      line-height: normal;
    }
  }
  .bottom-grp {
    position: static;
    .downloads li {
      margin: 5px;
      a {
        width: 120px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .flex-display {
    flex-flow: row wrap;
    li,
    div {
      &.img-column {
        width: 40%;
        display: block;
        margin: 0 auto 15px;
      }
      &.text-column {
        width: 100%;
        h1 {
          font-size: 2em;
          &:before,
          &:after {
            width: 25px;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .flex-display li.text-column h1,
  .flex-display div.text-column h1,
  h1 {
    font-size: 2em;
    &:before,
    &:after {
      width: 25px;
      margin: 0 5px;
    }
  }
}

nav.mobile-nav {
  margin-bottom: -93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  div.logo {
    display: inline-block;
    a {
      display: inline-block;
      text-align: center;
      img {
        height: 50px;
      }
      span {
        font-size: 1.4em;
        display: block;
        color: $default-white;
      }
    }
  }
  div.toggle-nav {
    display: inline-block;
    a {
      font-size: 2em;
      line-height: normal;
      color: $default-white;
    }
  }
  .main-mobile {
    align-self: flex-start;
  }
}

.slider-container {
  height: 85vw;
  &.offset-mobile {
    .events-slider.slick-slider {
      padding: 0;
      height: calc(100% - 50px);
    }
    .event-details .details {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  img.share {
    top: 3vw;
    width: auto;
    height: 7vw;
    max-height: 32px;
    z-index: 10;
  }
  .title-details {
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    span {
      width: 100%;
      text-align: center;
      p.date {
        font-size: 5vw;
        margin: 0px;
      }
      h1 {
        font-size: 5.6vw;
        font-weight: 500;
        margin: 0px;
      }
    }
  }
  .bottom-details.checkout {
    display: block;
    .payment-rate-details p {
      text-align: left;
      &:first-of-type {
        font-size: 1.7em;
        margin: 15px 0 0;
      }
    }
  }
  .event-details {
    justify-content: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
    bottom: 10px;
    .details {
      position: absolute;
      top: 20%;
      text-align: center;
      align-self: center;
      font-size: $default-font-size-mobile;
      width: 100%;
      margin: 0;
      p,
      h3 {
        text-align: center;
      }
    }
    .price-container {
      width: 270px;
      align-self: center;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      padding: 40px 0;
      .price,
      .join-btn {
        width: 100%;
        top: 0;
      }
    }
  }
  .events-slider {
    padding-bottom: 50px;
    .slick-list,
    .slick-track {
      height: 90%;
    }
  }
  .events-slider.slick-slider { height: 105%; }
}

span.full-width-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  &.sub-nav {
    left: -100%;
  }
}

footer.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px 30px 10px;

  div.social-links-grp {
    justify-content: center;
    p {
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;
    }
    .links li {
      margin: 5px;
      a {
        height: 50px;
        width: 50px;
      }
    }
    .links {
      text-align: center;
      li a {
        font-size: 1.5em;
        height: 50px;
        width: 50px;
      }
    }
    width: 100%;
    margin-bottom: 20px;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    li {
      height: 20px;
      &:last-of-type > a {
        &:after {
          content: '';
        }
      }
    }
    a {
      padding: 0;
      padding-right: 6px;
      font-size: 14px;
      color: black;
      &:hover {
        color: $default-blue;
      }
    }
  }
  p.copy {
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
  }
}

//event pages
nav.top-nav {
  position: relative;
  display: flex;
  header {
    font-size: 1em;
    &.organizer {
      padding: 10px 10px 0 10px;
    }
  }
  .logo-col {
    margin-left: 10px;
    ul {
      li {
        font-size: 12px;
        &:first-of-type {
          margin: 0 7px;
        }
        a {
          .logo {
            height: 40px;
          }
        }
      }
      ul li {
        font-size: 13px;
      }
    }
    .download-btn {
      width: 120px;
      margin: auto 10px;
    }
  }
  .wrapper-nav {
    margin-right: 10px;
  }
  .download-btn {
    width: 120px;
    margin: 10px;
    padding: 15px 0;
  }
}

.ajax-event {
  position: relative;
  z-index: 1;
}
.event-loading {
  display: block;
  text-align: center;
  img {
    height: 100%;
  }
}

.row.event-grids .columns .event-bg-container {
  height: 200px;
  .flex-container {
    .title {
      font-size: 1.4em;
    }
  }
  .bottom-details {
    .price-and-downpayment {
      p {
        font-size: 11px;
        &.price {
          font-size: 11px;
          width: auto;
          display: inline-block;
        }
        &:last-of-type {
          display: block;
          width: auto;
          font-size: 9px;
        }
      }
    }
    .slots-and-deadline {
      min-width: 161px;
      div.slots-container {
        p.slots-left {
          font-size: 11px;
        }
        ul.joiner li {
          font-size: 10px;
          div {
            height: 15px;
            width: 15px;
          }
        }
      }
      > p {
        font-size: 9px;
        text-align: right;
      }
      &.organizer {
        min-width: 0;
      }
    }
    &.history ul.joiner li {
      font-size: 12px;
      div {
        width: 20px;
        height: 20px;
      }
    }
    .reactivate {
      padding: 4px 9px;
    }
  }
}

.layer {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event-owner,
.travel-info-container,
.members-container,
.highlights-inclusions-container,
.event-itinerary-container {
  width: 100%;
  padding: 0vw 5vw;
}

.event-owner {
  position: relative;
  display: flex;
  flex-direction: column;
  &.bottom-margin {
    margin-bottom: 20px;
  }
  .profile-wrapper {
    border-bottom: 1px solid $default-light-gray;
    display: flex;
    flex-direction: column;
    .profile-details {
      margin: 20px 0;
      display: flex;
      align-items: center;
      &.remove-top-margin {
        margin-top: 0;
      }
      a.profile-link {
        display: flex;
        div:first-child {
          display: inline-block;
          background-size: cover;
          background-position: center center;
          height: 20vw;
          width: 20vw;
          border-radius: 100%;
          &.owner {
            height: 60px;
            width: 60px;
            margin-bottom: 10px;
          }
        }
      }
      .full-name {
        font-size: $default-font-size-mobile;
        margin: 0 2vw 0 2vw;
        display: inline-block;
        color: $default-gray;
      }
      .rating {
        .fa-star {
          color: $default-light-gray;
          font-size: $default-font-size-mobile;
        }
      }
    }
    .description {
      color: $default-gray;
      font-size: $default-font-size-mobile;
    }
    .brand-sponsor{
      margin-bottom: 20px;
      .brand-sponsor__container{
        .brand-sponsor__container__text{
          color: $default-blue;
          font-size: $default-font-size-mobile;
          margin-bottom: 5px;
        }
        .brand-sponsor__container__logo{
          height: 15vh;
          width: 40vw;
        }
      }
    }
  }
}
.rating {
  display: block;
}
.travel-info-container {
  .travel-info {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 3vw 0vw;
    border-bottom: 2px solid $default-gray;
    div {
      float: left;
      width: 300px;
      margin-bottom: 10px;
      margin-right: 20px;
      h5 {
        color: $default-blue;
        white-space: nowrap;
        font-size: $default-font-size-mobile;
        &.checkout {
          font-size: $default-font-size-mobile;
        }
      }
      .rating {
        display: inline-block;
        font-weight: bold;
        color: $default-gray;
        font-size: $default-font-size-mobile;
        .fa-star {
          color: $default-light-gray;
          font-size: $default-font-size-mobile;
        }
      }
    }
    .description {
      font-size: $default-font-size-mobile;
      color: $default-gray;
    }
  }
  .details {
    flex-direction: column;
    > p {
      font-size: $default-font-size-mobile;
      span {
        &:last-of-type {
          font-weight: bold;
          font-size: $default-font-size-mobile;
        }
        .custom-text {
          font-size: $default-font-size-mobile;
        }
        .popup-map-btn {
          font-size: 16px;
        }
      }
      &.departure,
      &.arrival,
      &.place,
      &.price,
      &.downpayment {
        width: auto;
        span {
          font-size: $default-font-size-mobile;
        }
      }
    }
  }
}

.members-container {
  .overflow-container {
    .members {
      width: 100%;
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      li {
        display: inline-block;
        vertical-align: middle;
        color: $default-white;
        float: left;
        &:first-child {
          margin-left: 0;
        }
        div {
          border-radius: 100%;
          background-size: cover;
          background-position: center center;
          border: 2px solid #ffffff;
          cursor: pointer;
        }
        &:last-child {
          border-radius: 100%;
          border: 2px solid #ffffff;
          position: relative;
        }
        a {
          span {
            &:before {
              font-size: 5vw;
            }
          }
          &.add-btn-icon {
            &:before {
              font-size: 5vw;
            }
          }
        }
      }
    }
    .slots {
      color: $default-white;
      margin: 0 0 0 10px;
      display: inline-block;
      vertical-align: middle;
      span {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    .join-btn {
      background-color: $default-orange;
      color: $default-white;
      padding: 20px 120px;
      display: inline-block;
      margin: 0;
      border-radius: 50px;
      text-transform: uppercase;
      font-size: 2em;
      line-height: normal;
      font-weight: bold;
      border: 2px solid #ffffff;
      white-space: nowrap;
      &:hover { color: #ffffff;
      }
    }
  }
}

.highlights-inclusions-container {
  .highlights-inclusions {
    padding: 3vw 0;
    div {
      margin-bottom: 6vw;
      margin-right: 3vw;
      width: 325px;
      h5 {
        font-size: 1em;
      }
      span {
        font-size: 1em;
      }
    }
  }
}

.details-container {
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  .event-details {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid $default-light-gray;
    width: 100%;
    font-size: $default-font-size-mobile;
    p {
      margin-top: 10px;
      font-size: $default-font-size-mobile;
      color: $default-blue;
    }
    .details-list {
      width: 100%;
      font-size: $default-font-size-mobile;
      padding: 5px 0;
      font-weight: bold;
      color: $default-gray;
      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }
}

.event-itinerary-container {
  .event-itinerary {
    font-size: $default-font-size-mobile;
    border-bottom: none;
    > p {
      font-size: $default-font-size-mobile;
    }
    .itinerary-list {
      .details {
        .day,
        .info {
          font-size: $default-font-size-mobile;
        }
      }
    }
  }
}

.reveal.custom-modal-with-header {
  width: auto;
  min-height: auto;
  min-width: 260px;
  height: auto;
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  &.fb-login-modal {
    width: 300px;
    .login-header {
      padding: 20px;
      font-size: 0.9rem;
    }
    .fb-login {
      width: 250px;
      margin: 20px;
      font-size: $default-font-size-mobile;
    }
    .organizer {
      color: $default-gray;
      font-size: $default-font-size-mobile;
      margin-top: 0;
    }
  }
  header {
    padding: 20px 35px 20px 15px;
  }
  &.edit-details form {
    .field-with-label:first-of-type label {
      display: inline-block;
      width: 80px;
      margin: 0;
    }
    input[type='submit'] {
      width: 100%;
      margin: 15px 0 0;
    }
  }
}

.reveal.waitlist-modal {
  min-width: 300px;
}

.payment-proof-container {
  > p {
    margin: 0 0 30px;
  }
  form {
    width: 250px;
    label {
      font-size: 1rem;
      height: 200px;
      padding: 40px;
    }
    input[type='submit'] {
      font-size: 0.8rem;
    }
  }
  .header {
    p {
      font-size: $default-font-size-mobile;
      &:last-of-type {
        font-size: $default-font-size-mobile;
      }
      &:nth-of-type(2n) {
        font-size: $default-font-size-mobile;
        margin-top: 20px;
      }
      &.payment-label {
        font-size: $default-label-mobile;
      }
    }
  }
  .banks-container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .bank.paymaya img {
      height: 40px;
      margin: 0 0 20px;
    }
    .bank {
      align-self: center;
      margin-bottom: 20px;
      p {
        margin: 5px;
        font-size: 0.8rem;
        span:first-of-type {
          width: 115px;
        }
      }
      img {
        margin: 30px;
        height: 40px;
      }
    }
  }
}

div.share-trip {
  p {
    font-size: 11px;
  }
  a {
    width: 210px;
    padding: 7px;
  }
  span.ion-close-round {
    font-size: 1.2em;
  }
}

.trip-actions {
  width: 100%;
  text-align: center;
  padding: 11vw 5vw;
  a {
    span {
      box-shadow: 0px 10px 10px $default-light-gray;
      border-radius: 100%;
      background-color: $default-gray;
      color: #ffffff;
      height: 14vw;
      width: 14vw;
      margin: 0 6vw;
      font-size: 8vw;
      vertical-align: middle;
      display: inline-block;
      &.reactivate-event {
        background-color: $default-blue;
      }
      &.duplicate-event {
        background-color: $default-orange;
      }
      &.edit-event {
        background-color: $default-light-green;
      }
      &.trash-event {
        background-color: $default-gray;
      }
      position: relative;

      &:hover {
        box-shadow: 0 10px 22px rgba(0, 0, 0, 0.6);
        transition: opacity 0.3s ease-in-out;
      }

      &:before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
      }
    }
  }
}

.trip-actions {
  width: 100%;
  text-align: center;
  padding: 11vw 5vw;
  a {
    span {
      box-shadow: 0px 10px 10px $default-light-gray;
      border-radius: 100%;
      background-color: $default-gray;
      color: #ffffff;
      height: 14vw;
      width: 14vw;
      margin: 0 6vw;
      font-size: 8vw;
      vertical-align: middle;
      display: inline-block;
      &.reactivate-event {
        background-color: $default-blue;
      }
      &.duplicate-event {
        background-color: $default-orange;
      }
      &.edit-event {
        background-color: $default-light-green;
      }
      &.trash-event {
        background-color: $default-gray;
      }
      position: relative;

      &:hover {
        box-shadow: 0 10px 22px rgba(0, 0, 0, 0.6);
        transition: opacity 0.3s ease-in-out;
      }

      &:before {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
      }
    }
  }
}

.invite-joiner-container {
  height: auto;
  margin: 20px auto;
  p {
    font-size: 0.9em;
  }
  &.add-joiner-mobile {
    min-height: 450px;
    max-height: 500px;
    form header .close-button {
      font-size: 1.6rem;
    }
  }
}

.reveal.view-all-joiners-container {
  margin: 20px auto;
  height: auto;
}

.trips-with-filters {
  padding: 15px;
  .filter-btn {
    color: $default-gray;
    outline: none;
  }
  .filter-icon {
    color: $default-gray;
    margin-left: 10px;
  }
  .filters-container {
    .title {
      margin-bottom: 20px;
    }
    .blue {
      color: $default-blue;
    }

    flex-wrap: wrap;
    padding-right: 0px;
    justify-content: center;
    .filter {
      display: none;
      position: initial;
      box-shadow: none;
      height: auto;
      width: auto;
      .filter-info {
        span {
          font-size: 0.8em;
        }
        &.flex-filter-info {
          padding: 0px;
          .month-select {
            max-width: 130px;
          }
        }
        li {
          width: 100%;
          label span {
            margin-left: 15px;
            width: 100%;
            font-size: 1em;
          }
        }
      }
    }
    .flex-filter-title-container {
      display: flex;
      justify-content: space-between;
      input[type='text'] {
        width: auto;
        background-color: transparent;
        border: transparent;
        box-shadow: none;
        text-align: right;
        padding: 0px;
      }
    }
  }
}

.title-header-container {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid $default-light-gray;
  border-top: 1px solid $default-light-gray;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-header {
  margin: 20px;
  color: $default-blue;
}

.home-container {
  padding: 100px 0 0 0;
  font-size: $default-font-size-mobile;
  margin-bottom: -100px;
  .bottom-grp {
    padding-bottom: 50px;
    margin: 150px 0px;
    .search-container {
      margin: 0px 0px 50px;
      .form-field {
        width: 80vw;
        &:last-child {
          width: 80vw;
        }
        .search-button {
          background: $default-orange;
          height: 40px;
          width: 100%;
          border: 0px;
          border-radius: 2px;
        }
      }
    }
    .downloads li {
      display: block;
      margin: 0px 0px 10px;
    }
  }
}

.progress-container {
  .progress {
    width: calc(100%/3);
    p {
      &.active {
        &:before {
          margin-right: 15px;
        }
      }
    }
  }
}

/* ---------- default base Navigation ----------*/
.wrapper-nav {
  display: flex;
  margin-left: auto;
  .collapsible-container {
    margin-top: auto;
    margin-bottom: auto;
    background-color: $default-white;
    .toggle-btn {
      outline: none;
      &:after {
        background-color: $default-gray;
        box-shadow: 0 5px 0 $default-gray, 0 10px 0 $default-gray;
      }
    }
  }
  ul {
    display: flex;
    li {
      margin-top: auto;
      margin-bottom: auto;
      a {
        padding-left: 0px;
        div {
          height: 40px;
          width: 40px;
          background-size: cover;
          background-position: center center;
          border-radius: 100%;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
    li.notification-alert {
      a {
        padding-left: 16px;
      }
      &.hidden {
        display: none;
      }
    }
    &.menu-mobile {
      color: $default-gray;
      li.is-dropdown-submenu-parent {
        a {
          &:after {
            border-color: $default-gray transparent transparent;
          }
          &:hover {
            + .hide-mobile {
              display: block;
            }
          }
        }
        .hide-mobile {
          min-width: 100px;
          display: none;
          &:hover {
            display: block;
          }
          a {
            font-size: 0.9rem;
            color: $default-gray;
            &:hover {
              color: $default-orange;
            }
            text-align: center;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.reveal-overlay {
  .content-modal {
    position: fixed;
    border: 1px solid $default-gray;
    outline: none;
    width: 100%;
    height: auto;
    min-height: 0px;
    button {
      position: initial;
      float: right;
    }
    .dropdown {
      margin-top: 40px;
      font-size: $default-font-size-mobile;
      .dropdown-download-app {
        display: none;
      }
      > li,
      .is-dropdown-submenu-parent {
        display: block;
        &.is-active {
          display: block;
          a {
            &:after {
              border-color: $default-gray transparent transparent;
              -ms-transform: rotate(180deg); /* IE 9 */
              -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
              transform: rotate(180deg);
            }
          }
          > ul {
            display: block;
            position: relative;
          }
        }
        a {
          color: $default-gray;
          background-color: transparent;
          &.active {
            color: $default-orange;
          }
          &:after {
            border-color: $default-gray transparent transparent;
          }
        }
        .is-dropdown-submenu {
          border: none;
          margin-left: 20px;
          .is-submenu-item {
            border: none;
          }
          .notification-alert-dropdown {
            &.new-notif {
              background: #be0000;
            }
          }
        }
      }
    }
  }
}

.notification-alert-main {
  position: absolute;
  right: 40px;
  top: 9px;
  background: #be0000;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  a {
    color: $default-white;
  }
}

.row.event-container.trips-page-mobile {
  .search_form{
    margin: 0 42px 1rem;
    width: 80%;
  }
  .event-bg-container-front {
    .details-wrapper {
      .brand-sponsor{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
        .brand-sponsor__container{
          text-align: center;
          .brand-sponsor__container__text{
            color: $default-white;
            font-size: 13px;
            margin-bottom: 5px;
          }
          .brand-sponsor__container__logo{
            height: 10vh;
            width: 30vw;
          }
        }
      }
    }
  }
}

/*--------- Mobile Screen View --------*/
/*Portrait and landscape*/

@media only screen and (min-device-width: 320px) {
  .login-modal {
    max-width: 305px;
    min-height: 0px;
    margin: auto;
    height: auto;
  }
  .my-events-links-container {
    margin-top: 0;
    position: relative;
    text-align: center;
    height: 40px;
    overflow-x: hidden;
    .my-events-links {
      position: absolute;
      width: 100%;
      height: 0px;
      padding-top: 0px;
      a {
        left: 0;
        font-size: $default-font-size-mobile;
        position: relative;
        top: 1vw;
        margin: 0px 20px;
      }
    }
  }
  .row.event-container {
    padding: 0;
    min-height: 100%;
    margin-top: 0;
    > p {
      padding: 10px;
      margin-bottom: 0;
    }
    .columns {
      padding: 0;
    }
  }
  // CSS for V2 front Trips page START
  // adding this to not alter my trips view in mobile.
  .row.event-container.trips-page-mobile {
    .event-bg-container-front {
      height: 55vh;
      padding: 15px;
      background-size: cover;
      background-position: center center;
      position: relative;
      cursor: pointer;
      &:hover {
        .mask {
          opacity: 0.2;
        }
      }
      img.mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.1;
      }

      .details-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .departure-date {
          color: #ffffff;
          white-space: pre-line;
          font-size: $default-font-size-web;
          line-height: 25px;
          text-align: center;
          width: 100%;
        }
        .trip-title-container {
          text-align: center;
          .title {
            color: #ffffff;
            line-height: normal;
            font-size: $default-label-web;
            font-weight: bold;
            display: block;
          }
          a {
            word-break: break-word;
          }
        }
      }
    }

    .notice-avatar-container {
      .joiner-avatar-container {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        .joiner {
          margin: 0px;
          display: flex;
          li:first-of-type {
            margin-left: 0px;
          }
          li {
            display: inline-block;
            vertical-align: middle;
            margin-left: -20px;
            div {
              background-size: cover;
              background-position: center center;
              height: 40px;
              width: 40px;
              border-radius: 100%;
              border: 1px solid $default-gray;
            }
          }
        }
        .slots-left {
          color: $default-gray;
          font-size: $default-font-size-web;
          margin: 0px;
        }

        .notice {
          display: inline-block;
          background-color: $default-white;
          padding: 5px;
          border-radius: 35px;
          width: 55%;
          &.reactivate {
            background-color: $default-blue;
            p {
              color: $default-gray;
            }
          }
          p,
          a {
            color: $default-orange-text;
            margin: 0;
            font-size: $default-font-size-web;
            text-align: center;
            span {
              font-weight: normal;
              display: inline-block;
              &:first-of-type {
                margin-right: 10px;
              }
            }
          }
          &.rate {
            background-color: transparent;
            border: 2px solid $default-gray;
            width: 170px;
            p {
              color: $default-gray;
            }
          }
        }
      }
    }
  }
  // CSS for V2  END
  .invite-joiner-container {
    max-width: 305px;
    .invite-buttons-container#inviteButtonContainer {
      br {
        line-height: 50px;
      }
      input[type='submit'] {
        display: inline-block;
        margin: 0px;
      }
    }
  }

  .reveal.view-all-joiners-container#ViewAllJoinerModal {
    max-width: 305px;
    .joiners-container {
      .name-downpayment {
        padding-left: 5px;
        p {
          max-width: 150px;
        }
      }
      .message-icon {
        padding-right: 35px;
        margin-right: 0px;
      }
    }
    .accordion-content.joiner-panel {
      .joiner-booking-info {
        padding-left: 65px;
      }
      div:last-of-type {
        br {
          line-height: 50px;
        }
        a:first-of-type {
          width: 200px;
          display: inline-block;
          margin: 0px;
        }
        a:last-of-type {
          width: 200px;
          display: inline-block;
          margin: 0px;
        }
      }
    }
  }
}

.cover {
  .success-container {
    margin-top: 45px;
    @include background-style($position: top, $img: 'success-bg.png');
    height: 82%;
    width: 94%;
    border-radius: 5px;
    span.ion-close-round {
      font-size: 1.2rem;
    }
    .content {
      bottom: -15px;
      padding: 0 5px 0 5px;
      font-size: $default-font-size-mobile;
      margin-bottom: 15px;
      h5 {
        font-size: 1.1rem;
      }
      a {
        width: 180px;
        display: block;
        margin: 10px auto 10px auto;
        border-radius: 35px;
        font-size: 0.75em;
      }
      p {
        font-size: 11px;
        text-align: center;
        color: $default-white;
        margin: 0 11px;
        line-height: normal;
      }
      .fb-send-to-messenger {
          width: 100% !important;
          margin: 16px auto !important;
      }
    }
  }
}
.events-slider.mobile {
  height: 55vh;
  .slick-arrow {
    font-size: 5vw;
    top: 35%;
  }
  .event-container.mobile {
    padding: 10vw 0;
    .mask {
      top: 0;
      height: 100%;
    }

    .wrapper-bottom {
      position: absolute;
      width: 100%;
      bottom: 20%;
      .flex-column {
        font-size: 0.8rem;
        .departure {
          font-size: 0.8rem;
          margin: 0px;
          padding: 0px;
        }
        .title {
          font-weight: bold;
          margin: 0px;
        }
        .price-desc {
          align-self: center;
          margin-right: 10px;
          p {
            font-size: $default-font-size-mobile;
            padding: 8px;
            text-align: center;
          }
        }
        .joiner-container {
          align-self: center;
          margin-top: 20px;
          width: 100%;
          .slots-and-members {
            min-width: 0;
            display: flex;
            align-items: center;
            .joiner {
              margin: 0px 20px 0px 30px;
              text-align: center;
              li {
                &:first-of-type {
                  margin-left: -40px;
                }
                div {
                  height: 35px;
                  width: 35px;
                }
              }
            }
            .slots-left {
              padding: 0;
              font-size: $default-font-size-mobile;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.payment-modal {
  padding: 5px;
  border-radius: 15px;
  justify-content: center;
  margin: 0 auto;
  &.mobile {
    height: 530px;
    width: 300px;
    min-height: 470px;
    overflow: hidden;
  }
  .container {
    height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    .flex-wrapper {
      width: 100%;
      max-width: 350px;
      height: 400px;
      background: $default-white;
      border-radius: 15px;
      header {
        margin-top: 5px;
        .title {
          font-size: 16px;
        }
        .close-button {
          top: 15px;
          right: 15px;
          position: absolute;
          font-size: 1.4rem;
        }
      }
      .note {
        font-size: $default-font-size-mobile;
      }
      .two-col-container {
        a:after {
          left: 0;
          right: -180px;
        }
        &.paymaya {
          img {
            align-self: center;
            margin: 10px;
            height: 60px;
            width: 200px;
          }
        }
        &.banks {
          .flex-images-container {
            > p {
              font-size: $default-font-size-mobile;
              margin: 0;
              margin-bottom: 5px;
            }
            &.has-25px-margin-top { margin-top: 25px; }
            .flex-image {
              padding: 0;
              margin-top: 10px;
              img {
                margin-left: 5px;
                width: 75px;
                height: 30px;
              }
            }
          }
        }
        &.tagcash {
          height: 120px;
          img {
            margin: 20px 0 0 0;
          }
        }
        .note {
          font-size: $default-font-size-mobile;
        }
      }
    }
  }
}

.reveal.custom-settings-modal-with-header {
  width: 80vw;
  margin-bottom: 100px;
  header {
    h5.registration {
      font-size: 0.9rem;
    }
    .fields {
      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.event-form {
  div.input {
    .focus-photo {
      div {
        display: block;
        label {
          &:before {
            width: 370px;
          }
        }
        button {
          display: block;
        }
      }
    }
    .file-picker-with-view {
      li {
        div {
          label {
            &:before {
              width: 90px;
            }
          }
        }
      }
    }
  }
}
.trips-container {
  border-bottom: 1px solid $default-light-gray;
  padding-bottom: 20px;
  .title-container {
    p {
      margin: 0 auto;
    }
  }
  .event-container {
    p {
      text-align: center;
      a.button {
        color: #ffffff;
        background-color: $default-orange;
        font-size: 13px;
        border: none;
        border-radius: 35px;
        padding: 13px 0px;
        height: 40px;
        width: 16em;
        outline: none;
      }
    }
  }
}

/* ------------- iphone 4s -----------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .cover
  .success-container
  .content
  .fb-send-to-messenger {
      padding-left: 25vw;
  }
  .ajax-event .ajax-event-container {
    .small-12 a {
      .notice-avatar-container .joiner-avatar-container {
        div .slots-left {
          > span {
            font-size: 12px;
          }
        }
        .notice {
          &.rate {
            width: 125px;
          }
          > p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-container {
    .header-grp h1 {
      font-size: 2.5em;
    }
    .bottom-grp {
      p {
        font-size: 1.2em;
      }
      .downloads li a {
        width: 137px;
      }
    }
  }

  .ajax-event .ajax-event-container {
    .small-12 a {
      .notice-avatar-container .joiner-avatar-container {
        div .slots-left {
          > span {
            font-size: 16px;
          }
        }
        .notice {
          &.rate {
            width: 165px;
          }
          > p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* ----------- iPad ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .cover
  .success-container
  .content
  .fb-send-to-messenger {
      padding-left: 7.5em;
  }

  nav.mobile-nav {
    margin-bottom: -158px;
    padding: 30px;
    div.logo a {
      img {
        height: 50px;
      }
      span {
        font-size: 2em;
      }
    }
    div.toggle-nav a {
      font-size: 2.5em;
    }
  }
  span.full-width-mask.sub-nav {
    left: -200%;
  }

  .who-we-are-container,
  .how-it-works-container,
  .organiser-form-container,
  .collaborate-container {
    padding: 10% 35px 10%;
    min-height: calc(100% - 178px);
    padding-top: 150px;
    .header-grp h1 {
      font-size: 3em;
    }
    .bottom-grp {
      p:first-of-type {
        font-size: 2em;
        margin: 35px 0;
      }
      .downloads li a {
        width: 310px;
      }
    }
    .flex-display li.text-column h1,
    h1 {
      font-size: 4em;
      &:before,
      &:after {
        width: 70px;
        margin: 0 25px;
      }
    }
    p {
      font-size: 1.4em;
    }
  }
  .main-footer {
    div.social-links-grp {
      .links li {
        margin: 0 8px;
        a {
          height: 50px;
          width: 50px;
          .fa {
            font-size: 2em;
          }
        }
      }
      p {
        margin: 10px 0;
        font-size: 1.5em;
      }
    }
    p.copy {
      font-size: 1.1em;
      margin: 5px 0;
    }
  }
  .row.event-grids {
    min-height: calc(100% - 157px);
  }

  .reveal.view-all-joiners-container {
    max-width: 450px;
  }
  .invite-joiner-container {
    max-width: 450px;
  }
}

.event-form {
  margin: 0px auto 30px;
  .highlights-inclusions-container {
    .highlights-inclusions {
      div {
        max-width: 210px;
        min-width: 205px;
      }
    }
  }
}

// User Profile
.cover-photo {
  height: 12em;
}
.profile-details-mobile {
  margin-top: 12.5em;
  .details {
    text-align: center;
    margin-left: 0;
    p {
      color: $default-white;
      margin-bottom: 0;
    }
    .full-name {
      line-height: 1;
    }
    .email {
      font-size: 11px;
      margin-bottom: 10px;
    }
    .avatar {
      height: 7em;
      width: 7em;
      margin-bottom: 10px;
    }
  }
}
.reveal.profile_photo_modal {
  min-height: 0px;
  height: 0px;
}
.about-container {
  font-size: $default-font-size-web;
  line-height: 1.5;
  padding: 130px 30px 30px;
  z-index: 0;
  .stats {
    padding: 15px;
  }
  .additional-info{
    padding: 10px;
    .count {
      margin-right: 0px;
      &:nth-child(odd) {
        flex-grow: 1;
      }
      &:nth-child(even) {
        flex-shrink: 1;
      }
      &:nth-child(3) {
        margin-top: 5px;
        flex-basis: 100%;
      }
      img{
        width: 22px;
        height: 22px;
        margin-right: 10px;
      }
      div{
        font-size: $default-font-size-mobile;
      }
      a {
        margin: -11px -5px;
        display: inline-block;
        text-align: center;
        width: 100px;
        font-size: 0.8em;
        padding: 1px 0px;
        color: $default-blue;
        &.unfollow-button {
          background: $default-white;
          border: 1px solid $default-blue;
          border-radius: 20px;
          &:hover {
            background: $default-blue;
            color: $default-white;
          }
        }
        &.follow-button {
          background: $default-blue;
          border-radius: 20px;
          color: $default-white;
          &:hover {
            background: $default-white;
            border: 1px solid $default-blue;
            color: $default-blue;
          }
        }
        .icon {
          margin-right: 3px;
        }
      }
      span {
        color: #ffffff;
        height: 65px;
        width: 65px;
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0 35px;

        &.edit-profile {
          margin: 50px 35px;
          bottom: -5px;
          background-color: $default-green;
          border-radius: 100%;
          box-shadow: 1px 2px 7px #bfbfbf;
        }

        &:before {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
        }
      }
    }
  }

  .social-container {
    padding-top: 25px;
    text-align: center;
    .social-icons a {
      &:first-child i {
        margin-left: 0;
      }
      i {
        font-size: 20px;
        height: 30px;
        width: 30px;
        padding: 6px;
      }
    }
  }
}
.profile-form {
  .edit-user-details {
    margin: 25px;
    .edit-form {
      margin-top: 0px;
    }
  }
  .submit-btn {
    input[type='submit'] {
      width: 90%;
    }
  }
  .edit-profile {
    .avatar {
      width: 5.5em;
      height: 5.5em;
      span {
        bottom: -10px;
        left: 15px;
      }
    }
  }
}
.joined-events-container,
.upcoming-events-container,
.past-organized-events-container,
.photos-container,
.reviews-container {
  padding: 0;
  .event-container {
    min-width: 100%;
  }
  .joiner-container {
    margin: 0 10px 20px;
  }
  .no-trips {
    margin: auto;
    text-align: center;
  }
  .button.instagram{
    float: none;
  }
  p.all {
    margin: auto;
    a.button {
      color: $default-white;
      background-color: $default-orange;
      font-size: 15px;
      border: none;
      border-radius: 35px;
      padding: 13px;
      word-spacing: 5px;
      width: 16em;
      outline: none;
    }
  }
}
.title-container p {
  margin: 0 auto;
  text-align: center;
}
.photos-container {
  text-align: center;
  .file-picker-with-view {
    flex-wrap: wrap;
    justify-content: center;
    li {
      width: 30vw;
      height: 17vh;
      margin-right: 3px;
      margin-bottom: 3px;
    }
  }
  &.instagram{
    padding: 0px 10px;
  }
}

.reviews-container {
  .title-container p {
    margin: auto;
    padding: 30px 0 40px;
  }
  .reviews .review {
    display: block;
    padding: 15px;
    hr {
      padding: inherit;
    }
    .head {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .avatar {
        flex-shrink: 1;
        width: 4em;
        height: 4em;
        margin-right: 15px;
      }
      .details {
        flex-grow: 1;
        a {
          font-size: $default-label-mobile;
          color: $default-gray;
        }
        div {
          font-size: 0.8em;
          color: $default-light-gray;
          line-height: 1.1;
        }
      }
    }
    .body {
      padding: 30px 0 10px;
      .message {
        font-size: $default-font-size-mobile;
        color: $default-gray;
      }
    }
  }
  span.review-btn {
    height: 3.75em;
    width: 3.75em;
    right: -1.7em;
    bottom: 2.4em;
    &.mobile {
      bottom: -25px;
    }
  }
  p.all {
    text-align: center;
    a.more {
      color: $default-green;
    }
  }
}
.wrapper{
  margin: 0;
  .manage-trips-container{
    .header{
      padding: 13px 0px 13px 50px;
      border-bottom: 0;
      .custom-icon{
        background-repeat: no-repeat;
        background-position: 10% center;
        background-size: 25px;
        text-align: center;
        &.overview{ background-image: asset-url('overview.png') }
        &.trips{ background-image: asset-url('trips.png') }
        &.joiner{ background-image: asset-url('joiner-orange.png') }
        &.payment{ background-image: asset-url('payment.png') }
        &.funds{ background-image: asset-url('funds.png') }
      }
    }
    .trip-btn{
      width: 100%;
      margin: 3% 10% 3% 13%;
    }
    .greetings{
      color: $default-gray;
      font-size: 21px;
      padding: 30px 0px 0px 30px;
      &.joiner{
        padding: 0;
      }
    }
    .add-btn{
      margin: 2% 3% 0% auto;
    }
    .flex-container{
      margin: 15px 0px 0px 25px;
      &.add_joiner{
        height: 100px;
      }
      &.overview{
        margin-left: 5px;
      }
      &.joiner{
        height: 62px;
        margin-right: 14px;
        border-bottom: 0;
        .trip-header{
          font-size: 1.8rem;
         }
      }
      .inline-content{
        width: 100%;
        padding: 15px 25px 15px 25px;
      }
      .trip-details-container{
        border: 1px solid $default-light-gray;
        overflow-x: scroll;
        .trip-label{
          display: -webkit-box;
          padding: 10px 0px 10px 10px;
          .title{
            font-size: 1.1rem;
            width: 220px;
            &.joiner{
              width: 220px;
            }
          }
        }
        .trip-details{
          display: -webkit-box;
          padding: 5px 0px 0px 10px;
          >p{
            color: $default-blue;
            width: 220px;
            &.details{
              font-size: 1.1rem;
              width: 220px;
            }
          }
        }
      }
    }
    .collapsible-container{
      &.show{ overflow-y: scroll }
      .funds-details-container{
        margin-left: 25px;
        .trip-label{
          display: inline-flex;
          .title{
            font-size: 1.2rem;
            width: 250px;
          }
        }
        .funds-details{
          display: -webkit-box;
          >p{
            width: 250px;
            font-size: 1.2rem;
          }
        }
      }
      .form-container{
        margin: 50px 22px 0px 22px;
      }
    }
  }
}

.managetrips-nav {
  display: flex;
  margin-left: auto;
  margin: 0px 25px;
  border-bottom: 1px solid $default-light-gray;
  .custom-icon{
    @include background-style($position: 10% center, $size: 25px);
    text-align: center;
    &.overview{ background-image: asset-url('overview.png') }
    &.trips{ background-image: asset-url('trips.png') }
    &.joiner{ background-image: asset-url('joiner-orange.png') }
    &.payment{ background-image: asset-url('payment.png') }
    &.funds{ background-image: asset-url('funds.png') }
  }
  .collapsible-container {
    margin-top: auto;
    margin-bottom: auto;
    background-color: $default-white;
    .toggle-btn {
      outline: none;
      &:after {
        background-color: $default-gray;
        box-shadow: 0 5px 0 $default-gray, 0 10px 0 $default-gray;
      }
    }
  }
  ul {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
    li {
      margin-top: auto;
      margin-bottom: auto;
      a {
        padding-left: 0px;
        div {
          height: 40px;
          width: 40px;
          @include background-style($position: center, $size: cover);
          border-radius: 100%;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
    &.menu-mobile {
      color: $default-gray;
      li.is-dropdown-submenu-parent {
        a {
          &:after {
            border-color: $default-orange transparent transparent;
          }
          &:hover {
            + .hide-mobile { display: block }
          }
        }
        .hide-mobile {
          display: none;
          &:hover { display: block }
          a {
            font-size: 0.9rem;
            color: $default-gray;
            &:hover { color: $default-orange }
            text-align: center;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

/* ----------- iPad Pro ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .highlights-inclusions-container {
    .highlights-inclusions {
      div {
        width: 275px;
      }
    }
  }

  .reveal.view-all-joiners-container {
    max-width: 450px;
  }
  .invite-joiner-container {
    max-width: 450px;
  }
  .row.event-container.trips-page-mobile {
    .event-bg-container-front {
      .details-wrapper {
        .brand-sponsor{
          .brand-sponsor__container{
            .brand-sponsor__container__text{
              font-size: $default-label-web;
            }
            .brand-sponsor__container__logo{
              height: 100px;
              width: 200px;
            }
          }
        }
      }
    }
  }
}

.tripkada-login {
  margin: 30px auto 30px auto;
  border-radius: 10px;
  flex-direction: column-reverse;

  &--flex {
    width: 100%;
    height: 263px;
    align-self: flex-end;
  }

  &__header { text-align: center }

  &__footer {
    text-align: center;
    font-size: 11.5px;
  }

  &__link-text {
    text-align: center;
    font-size: 11.5px;
  }

  &__login-line {
    display: flex;
    padding-right: 40px;
    margin: 7px auto;
  }

  &__signup-line {
    display: flex;
    padding: 32px 28px 15px 30px;
    margin-bottom: 15px;
  }

  &__line-style { margin: 0.5rem auto }

  &__login-joiner {
    font-size: 12.5px;
    padding: 12px 40px 12px 30px;
  }

  &__modal_image {
    width: 100%;
    height: 50%;
    align-self: flex-start;
  }

  &__login-organizer {
    font-size: 12px;
    padding: 11px 56px 11px 56px;
  }
}

.reveal.tripkada-modal {
  width: 370px;
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen
and (min-device-width: 414px) and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .cover
  .success-container
  .content
  .fb-send-to-messenger {
    padding-left: 25vw;
  }
}
