@import "default-colors.scss";
@import "default-font-sizes.scss";
@import "event-grids.scss";

.ionicon{
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.messenger{
  padding-top: 10px;
  background: $default-messenger-gray;

  .messenger__container {
    background: $default-white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 0px 0px 10px 0px;
    padding: 10px 5px;
  }

  .messenger__container--flex {
    display: flex;
    align-items: center;
  }

  .messenger__bubble {
    background-color: $default-messenger-bubble-gray;
    padding: 10px;
    margin: 10px;
  }

  .messenger__bubble--top-right {
    border-top-right-radius: 18px;
  }

  .messenger__bubble--top-left {
    border-top-left-radius: 18px;
  }

  .messenger__bubble--bottom-right {
    border-bottom-right-radius: 18px;
  }

  .messenger__bubble--bottom-left {
    border-bottom-left-radius: 18px;
  }


  .messenger__filter_title_container {
    padding: 5px;
    li {
      width: 100%;
      border-bottom: 1px solid #D5D5D5;
      display: flex;
      padding: 8px;
      input[type=checkbox] { display: none; }
    }
    label { flex-grow: 2; }
    label > span {
      font-size: 15px;
    }
  }

  .messenger__filter_title {
    color: black;
    font-size: 15px;
    margin: 0px 0px 10px 0px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 4px 7px -5px rgba(0, 0, 0, 0.3), 0px 0px 0px rgba(0, 0, 0, 0);
    padding: 0px 0px 10px 0px;
  }

  .messenger__circle_box  {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid $default-messenger-blue;
  }

  .messenger__circle_box--uncheck {
    background-color: $default-messenger-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after{
      content: "\f122";
      @extend .ionicon;
      color: $default-white;
      font-size: $default-button-font-size;
    }
  }

  .messenger__filter_title--dropdown {
    &:after{
      content: "*";
      display: block;
      height: 55px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  .messenger__indicator {
    color: #C4C4C4;
    font-size: 12px;
    padding-left: 5px;
  }

  .messenger__input_text {
    margin: 0px;
  }

  .messenger__input_text--date {
    margin: 0px 5px;
    background: none;
    border: 0px;
    cursor: pointer;
  }

  .messenger__input_menu {
    list-style-type: none;
    margin: 0px;
    li {
      padding: 10px 0px;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);

      label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type="checkbox"] {
          display: none;
        }
      }
    }

    .input_menu_icon {
      flex-grow: 1;
      text-align: right;
      color: $default-messenger-blue;
      font-size: $default-label-book-trip-web;
    }
  }

  .messenger__selection_tabs {
    border: 1px solid $default-messenger-blue;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;

    input[type="radio"] {
      display: none;
    }
    label {
      width: 100%;
      text-align: center;
      margin: 0px;
      padding: 2px;
      color: $default-messenger-blue;
      font-size: $default-button-font-size;

      &:hover {
        background-color: $default-messenger-blue;
        color: $default-white;
      }
    }

    label.label_active {
      background-color: $default-messenger-blue;
      color: $default-white;
    }
  }

  .messenger__input_range {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    input[type=range] {
      -webkit-appearance: none;
      width: 100%;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: $default-messenger-blue;
      border-radius: 25px;
      border: 0px solid rgba(0, 0, 0, 0);
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 0px 0px 2px rgba(13, 13, 13, 0.3);
      border: 0px solid rgba(0, 0, 0, 0);
      height: 20px;
      width: 20px;
      border-radius: 50px;
      background: $default-white;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -10px;
      position: relative;
      z-index: 10;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: $default-messenger-blue;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
      background: $default-messenger-blue;
      border-radius: 25px;
      border: 0px solid rgba(0, 0, 0, 0);
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 0px 0px 2px rgba(13, 13, 13, 0.3);
      border: 0px solid rgba(0, 0, 0, 0);
      height: 20px;
      width: 20px;
      border-radius: 50px;
      background: $default-white;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: $default-messenger-blue;
      border: 0px solid rgba(0, 0, 0, 0);
      border-radius: 50px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-fill-upper {
      background: $default-messenger-blue;
      border: 0px solid rgba(0, 0, 0, 0);
      border-radius: 50px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    }
    input[type=range]::-ms-thumb {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 0px 0px 2px rgba(13, 13, 13, 0.3);
      border: 0px solid rgba(0, 0, 0, 0);
      height: 20px;
      width: 20px;
      border-radius: 50px;
      background: $default-white;
      cursor: pointer;
      height: 2px;
      position: relative;
      z-index: 10;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: $default-messenger-blue;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: $default-messenger-blue;
    }

    input[type='range']:nth-child(1)::-webkit-slider-thumb {
      margin-left: -12px;
    }

    input[type='range']:nth-child(2)::-webkit-slider-thumb {
      margin-left: 12px;
    }

    .rangeslider {
        position: relative;
        height: 100px;
        width: 90%;
        display: block;
    }
    .rangeslider input{
        position: absolute;
        top: 40px;
    }

    .rangeslider span{
        position: absolute;
        margin-top: 70px;
        font-size: 14px;
        color: #C4C4C4;
    }

    .rangeslider .right{
       position: relative;
       float: right;
    }

  }

  .messenger__bottom_buttons {
    padding: 5px;
  }

  .messenger__filter_submit {
    width: 100%;
    background-color: $default-messenger-blue;
    padding: 10px;
    border-radius: 3px;
    color: $default-white;
    text-align: center;

    span {
      margin-left: 10px;
    }
  }
}
