/*Stylesheet for html based Emails*/
/* Colors Are Different From Web*/

@import 'default-colors.scss';

.highlight-bold {
  font-weight: bold;
}
.highlight-text {
  color: $default-blue;
  font-weight: normal;
  &--red {
    color: $default-red;
  }
}
.highlight-hashtag {
  color: $default-orange;
}
.link {
  text-decoration: none;
  color: $default-blue;
}

body {
  font-family: arial, sans-serif;
}

.logo-container {
  .logo {
    background-image: asset-url('new-logo.png');
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-top: 30px;
  }
  .name {
    text-align: center;
    color: $default-orange;
    font-size: 1.6rem;
    margin: 15px 0;
  }
}
.email-wrapper {
  color: $text-gray;
  text-align: center;
  width: 100%;
  .confirmation {
    padding: 30px 0;
    text-align: center;
    background-color: $background-light-gray;
    margin: 0 auto;
    width: 700px;
    .greetings {
      font-size: 1.3rem;
      color: $text-gray;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .info {
      margin: 0;
      &--with-margin {
        margin: 10px;
      }
    }
  }
  .welcome-email {
    .greetings {
      font-size: 1.3rem;
      color: $text-gray;
      font-weight: bold;
      margin: 40px 20px;
      text-align: center;
    }
  }
  .cover-photo-container {
    text-align: center;
    margin: 0 auto;
    img {
      height: 300px;
      width: 700px;
    }
  }
  .content-container {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    max-width: 700px;
    &.invite-joiner {
      min-height: 500px;
    }
    .details {
      padding: 20px;
      border-bottom: 1px solid $default-light-gray;
      margin-bottom: 10px;
      &--default-width {
        width: 660px;
      }
      .trip-label {
        margin: 20px 0;
      }
      .trip-info {
        margin-bottom: 40px;
        p {
          margin: 5px 0;
        }
        .verification-photo{
          display: inline-block;
          width: 200px;
          height: 300px;
          margin: 10px;
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    .welcome-note {
      padding: 0 20px;
      margin-bottom: 40px;
      &.bottom {
        margin-bottom: 0;
        margin-top: 80px;
      }
    }
  }

  .info-bottom {
    background-color: $background-light-gray;
    padding: 20px;
    &--default-width {
      width: 660px;
    }
    .info {
      margin-bottom: 20px;
      p {
        margin: 5px 0;
        .trips {
          color: $text-gray;
          text-decoration: none;
        }
      }
      &:first-of-type {
        margin: 20px 0;
      }
      &:nth-of-type(2) {
        margin-bottom: 50px;
      }
    }
  }
  .email-footer {
    color: $text-gray;
    margin: 40px 20px;
  }
}
.footer {
  background-color: black;
  color: #ffffff;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 0 auto;
  width: 700px;
  .social-links-grp {
    text-align: center;
    p {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 12px;
      text-align: start;
    }
    .links {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px;
        a {
          display: inline-block;
          height: 30px;
          width: 30px;
          background-color: #ffffff;
          color: #000000;
          border-radius: 100%;
          position: relative;
          img {
            height: 20px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
