@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import "default-colors.scss";
@import "default-font-sizes.scss";
@import "default-mixin.scss";

.unread { background-color: $background-light-gray }

.my-notifications-container{
  width: 100%;
  min-height: calc(100% - 184px);
  z-index: 8;
  padding: 0 40px;
  background-color: $default-white;
  &.mobile{ padding: 0 15px }
  .notification-content-container{
    padding: 30px;
    .notification-details-container{
      h6{
        a{
          font-weight: bold;
          color: $default-blue;
        }
        span.notification-date{ margin-left: 30px; }
      }
      p{ padding-top: 30px; }
    }
  }
  .my-notifications {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    .notification-label{
      margin: 0;
      color: $default-blue;
      font-size: $default-label-web;
    }
  }
  .notifications-row {
    padding: 20px 10px;
    height: auto;
    display: flex;
    border-bottom: 1px solid $default-light-gray;
    &:first-of-type { padding-top: 10px }
    .notification-icon-container{
      position: relative;
      margin-right: 34px;
      &.mobile { margin-right: 20px}
      .notification-link{
        outline: none;
        .notification-image{
          height: 82px;
          width: 94px;
          border-radius: 5px;
          &.mobile { height: 71px}
        }
      }
    }
    .notification-link-container {
      width: 100%;
      .notification-link {
        outline: none;
        width: 100%;
        .notification-details-container{
          color: $default-gray;
          width: 100%;
          .notification-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            &.mobile{ display: block }
            .notification-date {
              color: $default-black;
              font-size: 13px;
              font-weight: bold;
              &.mobile { font-size: 14px }
            }
            .type-of-notification{
              color: $default-black;
              font-size: 14px;
              &.mobile { font-size: 16px}
              &.active{ font-weight: bold }
            }
          }
          p{
            font-size: 14px;
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
          }
        }
      }
    }
  }
  #paginator{
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
  }
}

.btn-accept-terms{
  display: block;
  background-color: $default-blue;
  color: $default-white;
  border-radius: 30px;
  text-align: center;
  width: 200px;
  height: 40px;
  margin-top: 100px;
  padding-top: 7px;
  &:hover{
    color: $default-white;
  }
}

.notification-modal {
  margin: 0 auto;
  width: 385px;
  min-height: unset;
  height: 562px;
  transform: translateY(3vh);
  border-radius: 8px;
  outline: none;
  @at-root #{&}__header { margin-bottom: 35px }
  @at-root #{&}__content {
    text-align: center;
    @at-root #{&}__image {
      @include background-style($size: cover);
      min-height: 230px;
      max-height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      @at-root #{&}__label {
        font-weight: bold;
        color: $default-white;
        padding: 0 10px;
      }
    }
    @at-root #{&}__organizer-avatar {
      height: 120px;
      width: 120px;
      display: inline-block;
      @include background-style;
      border-radius: 100%;
      margin-top: -55px;
    }
    @at-root #{&}__message {
      margin-top: 20px;
      min-height: 130px;
     .notification-modal__content__message__text {
       color: $default-gray;
       font-size: 14px;
       margin: auto 70px auto 70px;
     }
    }
    @at-root #{&}__link {
      background-color: $default-orange;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 220px;
      margin: 0 auto;
      @at-root #{&}__btn {
        color: $default-white;
      }
    }
  }
}
