.spinner-animation,
%spinner-animation {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.spin-animation {
  animation-timing-function: steps(8, start);
}
