@import "default-colors.scss";
@import "default-font-sizes.scss";
@import "event-grids.scss";
@import "default-mixin.scss";
@import "ionic-icon.scss";

.social-icons {
  i {
    color: $default-white;
    text-align: center;
    font-size: 17px;
    height: 27px;
    width: 27px;
    padding: 5px;
    border-radius: 3px;
  }
  a.facebook i { background-color: #4A5C9D; }
}
.rating {
  font-weight: bold;
  display: inline;
  .ion-android-star, .ion-android-star-half{
    order: 1;
    color: $default-gray;
    font-size: 15px;
  }
  .ion-android-star.off {
    color: $default-light-gray;
  }
}

.rating-input {
  background-color: $default-blue;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ion-android-star,
  .ion-android-star-outline,
  .ion-android-star-half {
    padding: 10px;
    order: 1;
    color:$default-white;
    font-size: 35px;
  }
}

.rating-message {
  color: $default-red;
  font-size: 0.9rem;
}

.submit-btn{
  text-align: center;
  width: 100%;
  input[type="submit"]{
    color: $default-white;
    background-color: $default-blue;
    border: none;
    border-radius: 35px;
    padding: 5px;
    width: inherit;
    outline: none;
  }
}

.avatar {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  height: 5.5em;
  width: 5.5em;
  border-radius: 100%;
}

hr { max-width: 94vw }
hr.review { margin: 25px auto 0; }

.cover-photo {
  background-size: cover;
  background-position: center center;
  height: 65vh;
  padding: 50px 20px 82px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img.mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: $default-blue;
    opacity: 0.2;
  }

  .full-name{
    min-width: 200px;
    font-size: 1.25em;
    color: #FFFFFF;
    white-space: nowrap;
  }

  p.cover-photo-label {
    display: none;
  }

  span {
    z-index: 2;
    color: #FFFFFF;
    height: 65px;
    width: 65px;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 35px;

    &.edit-profile {
      margin: -25px 35px;
      bottom: -5px;
      background-color: $default-green;
      border-radius: 100%;
      box-shadow: 1px 2px 7px #BFBFBF;
    }

    &:before {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }

  .profile-details {
    z-index: 2;
    margin: -25px 65px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: -25px;
    .details {
      margin-left: 20px;
      .full-name { display: inline-block; }
    }
  }
}

.about-container {
  z-index: 1;
  position: relative;
  color: $default-gray;
  font-size: 11px;
  line-height: 1.1;
  padding: 80px 35px 10px 175px;

  .additional-info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    width: 100%;
  }
  .count {
    display: flex;
    align-items: center;
    color: $default-light-gray;
    margin-right: 80px;
    img {
      width: 27px;
      height: 27px;
      margin-right: 10px;
    }
    div {
      font-size: $default-font-size-web;
      flex-shrink: 1;
    }
    &:nth-child(3){
      margin-right: 0px;
    }
  }
  p.bio{
    font-size: 17px;
    margin-top: 15px;
  }
}

.joined-events-container,
.upcoming-events-container,
.past-organized-events-container,
.photos-container,
.reviews-container {
  padding: 0 50px;
  padding-bottom: 50px;
  p {
    padding-top: 10px;
    color: $default-blue;
    font-size: 1.25em;
  }
  .empty-trips-container, .empty-photos-container{
    background: $background-light-gray;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
    img.no-trip-image, img.no-photos-image{
      width: 100px;
      height: 100px;
    }
    p.title{
      color: $default-black;
      font-size: $default-font-size-web;
    }
    p.message{
      color: $default-light-gray;
      font-size: $default-font-size-mobile;
    }
    a.empty-button{
      color: $default-white;
      background-color: $default-orange;
      font-size: $default-button-font-size;
      border: none;
      border-radius: 35px;
      height: 30px;
      width: 14em;
      outline: none;
      display: block;
      margin: 0 auto;
      padding: 7px 5px;
    }
  }
  .button.instagram{
    color: $default-white;
    font-size: $default-button-font-size;
    border: none;
    border-radius: 35px;
    height: 30px;
    width: 16em;
    outline: none;
    float: right;
    background-color: #cd486b;
    padding: 7px 5px;
    margin: -60px 0px;
    i.fa{
      font-size: $default-button-icon-size;
      padding: 0px 5px;
    }
  }
  .title-container {
    display: flex;
    p.right {
      margin-left: auto;
      a.more {
        color: $default-green;
      }
      a.button {
        color: $default-white;
        background-color: $default-orange;
        font-size: $default-button-font-size;
        border: none;
        border-radius: 35px;
        height: 30px;
        width: 16em;
        outline: none;
      }
    }
  }
}

.joined-events-container,
.upcoming-events-container,
.past-organized-events-container {
  display: flex;
  flex-flow: wrap;
  .title-container { flex-basis: 100%; }
  .event-container {
    width: 100%;
    padding: 0;
    &:nth-child(3n+1) { margin-right: 0px; }
    .image-container {
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
      padding: 50px 20px 82px;
      min-height: 50vh;
      img.mask{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: black;
        opacity: 0.2;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .departure {
        color: #FFFFFF;
        font-size: 12px;
        border-radius: 10px;
        display: inline-block;
        margin: 0;
        white-space: pre-line;
        padding-bottom: 5px;
      }
      a{
        outline: none;
        .title{
          font-size: $default-font-size-web;
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }
    .joiner-container{
      display: flex;
      align-items: baseline;
      .slots-and-members{
        display: block;
        position: relative;
        flex-grow: 1;
        width: inherit;
        z-index: 1;
        .joiner {
          list-style: none;
          margin: 0;
          display: inline-block;
          vertical-align: middle;
          li{
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            margin-right: -15px;
            div{
              background-size: cover;
              background-position: center center;
              height: 30px;
              width: 30px;
              border-radius: 100%;
              border: 1px solid #000000;
            }
          }
        }
        .slots-left{
          margin: 0;
          font-size: 12px;
          color: #000000;
          display: inline-block;
          padding: 20px 30px;
          vertical-align: middle;
          line-height: normal;
        }
      }
      > p{
        color: #000000;
        text-align: center;
        margin: 0;
        font-size: 1.1em;
        padding: 10px;
      }
      .price-desc{
        margin-bottom: 10px;
        p {
          display: inline-block;
          vertical-align: middle;
          font-size: $default-font-size-web;
          font-size: 12px;
          line-height: normal;
          color: #000000;
          border: 1px solid #000000;
          border-radius: 20px;
          padding: 5px 10px;
          margin: 0;
          white-space: nowrap;
        }
      }
    }
  }
}
.title-container{
  p {
    padding-top: 10px;
    color: $default-blue;
    font-size: 1.25em;
  }
}

.photos-container {
  @extend  .instagram-photos-container;
  .file-picker-with-view{
    list-style: none;
    margin: 0;
    width: 100%;
    display: inline-flex;
    li {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border: 1px solid $default-light-gray;
      height: 28vh;
      width: 16%;
      margin-right: 1em;
      &:last-of-type {
        margin-right: 0;
        div{ margin: 0; }
      }
      div{
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.2);
          display: block;
          float: left;
          position: relative;
          label{
            margin: 0;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5em;
            color: $default-white;
            width: auto;
            &:before{
              display: block;
              line-height: 80px;
              width: 130px;
            }
          }
        }
      input{ display: none }
    }
    .has-image{
      div{ display: none }
      &:hover{
        div{
          display: block;
          label{ display: none }
        }
      }
    }
  }
}

.reviews-container {
  position: relative;
  padding-bottom: 125px;
  &.all-reviews{ min-height: calc(100% - 240px); }
  .review {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    .content {
      width: 80%;
      flex-grow: 1;
      padding-left: 25px;
      p {
        color: $default-gray;
        padding: 0;
        &.name { margin-bottom: 0; }
        &.message  {
          font-size: $default-font-size-web;
          margin-top: 1em;
        }
      }
      a { color: $default-gray; }
      span {
        color: $default-light-gray;
        font-size: 14px;
      }
    }
  }
  p.no-reviews-text{
    float:right;
    margin: -60px 60px;
    color: $default-green;
    &.remove-margin{
      margin: -60px 0px;
    }
  }
  span.review-btn {
    color: $default-white;
    height: 50px;
    width: 50px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 1em;
    bottom: 8.5em;
    margin: 0 35px;
    box-shadow: 1px 2px 7px #BFBFBF;
    background-color: $default-green;
    border-radius: 100%;
    &:before {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}

.reveal.update-details.review-modal-with-header{
  border-radius: 10px;
  width: 400px;
  height: auto;
  padding: 10px 0px;
  border: none;
  outline: none;
  text-align: center;
  margin: 0 auto;
  header{
    h5.registration{
      text-align: center;
      color: #00A6E0;
      font-size: 18px;
      font-weight: bold;
    }
    p.fields{
      font-size: 12px;
      color: #BFBFBF;
    }
  }
  .review-form {
    .form-field{
      display: flex;
      justify-content: center;
      align-items: center;
      input, textarea {
        text-align: center;
        color: #BFBFBF;
        font-size: 12px;
        border-style: none none solid none;
        height: 35px;
        width: 85%;
        margin-top: 25px;
        margin-bottom: 2px;
        box-shadow: none;
        outline: none;
      }
    }
    .submit-btn{
      margin: 25px 0px;
      input[type="submit"]{
        height: 40px;
        width: 70%;
      }
    }
  }
}

.profile-form {
  #avatar, #cover_photo { display: none; }
  label{
    & > span:hover { opacity: 1; }
    cursor:pointer;
  }
  .profile-details {
    margin: -25px 0;
  }

  .edit-cover {
    font-size: 40px;
    opacity: .60;
  }

  .edit-profile {
    display: block;
    text-align: center;
    .avatar {
      position: relative;
      margin-top: 25px;
      width: 8.5em;
      height: 8.5em;
      span {
        color: $default-blue;
        left: 60px;
      }
    }
  }
  .edit-user-details {
    display: flex;
    justify-content: center;
    .edit-form {
      margin-top: 100px;
      width: 500px;
      font-size: $default-font-size-web;
      .form-field{
        input, select {
          color: $default-black;
          border-style: none none solid none;
          margin-bottom: 2px;
          outline: none;
          font-family: Roboto
        }
        input {
          height: 35px;
          box-shadow: none;
          &::placeholder{ color: $default-light-gray }
        }
        select {
          height: 30px;
          padding-top: 2px;
          background-size: 12px 8px;
        }
        label {
          color: $default-gray;
          padding-top: 5px;
        }
        &.with-icon{
          width: 100%;
          position: relative;
          @extend .ionicon;
          &.calendar:after{
            content: "\f117";
            color: #BFBFBF;
            position: absolute;
            bottom: 12px;
            right: 6px;
          }
        }
      }
    }
  }
  .submit-btn{
    margin: 50px 0px;
    input[type="submit"]{
      width: 16em;
      height: 30px;
    }
  }
}

.reveal.profile_photo_modal {
  text-align: center;
  padding: 0;
  border: 1px solid $default-white;
  overflow: visible;
  input, label {
    font-family: Roboto;
    font-size: 12px;
    color: $default-white;
    background-color: #000000;
    border: none;
    margin: 0;
    padding: 0.5rem;
  }
  .edit-container {
    background-color: #000000;
    padding: 10px;
    .edit-details {
      display: none;
      border: 1px solid $default-white;
      input {
        border-bottom: 1px solid $default-white;
        margin: 8px 5px 5px 15px;
        padding-right: 8px;
        width: 95%;
        box-shadow: none;
      }
      .buttons {
        background-color: $default-blue;
        text-align: right;
        font-size: 12px;
        button {
          padding: 15px;
          color: $default-white;
        }
      }
    }
  }
  div.with-icon {
    @extend .ionicon;
    width: 100%;
    text-align: center;
    position: relative;
    .dropdown-pane {
      top: 0 !important;
      right: 0 !important;
      left: auto !important;
      margin: 10px;
      padding: 0;
      width: auto;
      border-radius: 5px;
      font-weight: bold;
    }
    p.icon {
      cursor: pointer;
      color: $default-blue;
      font-size: 13px;
      margin: 20px;
      &::before {
        font-size: 20px;
        padding-right: 20px;
      }
      &.ion-trash-b::before { padding-right: 25px; }
    }
    .more {
      cursor: pointer;
      color: $default-white;
      position: absolute;
      top: 0px;
      right: 12px;
      font-size: 30px;
    }
    .close {
      cursor: pointer;
      position: absolute;
      top: -10px;
      right: 5px;
      color: $default-light-gray;
      font-size: 18px;
    }
  }
}
.instagram-photos-container{
  &.trips{
    margin-top: 0;
    min-height: 0;
  }
  >p{ color: $default-blue; }
  .columns:last-child:not(:first-child){ float: left}
  .columns{
    margin-right: 1em;
    overflow: hidden;
    padding: 0px 0px 40px 0px ;
    outline: none;
    .event-bg-container{
      height: 350px;
      padding: 15px;
      background-size: cover;
      background-position: center center;
      position: relative;
      cursor: pointer;
      &:hover{
        .mask{ opacity: 0.2; }
      }
      img.mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.1;
      }
      .details-wrapper{
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        .departure-date{
          color: #FFFFFF;
          white-space: pre-line;
          font-size: $default-font-size-web;
          margin-top: 50px;
          line-height: 25px;
          text-align: center;
          width: 100%;
        }
        .trip-title-container{
          text-align: center;
          .title{
            color: #FFFFFF;
            line-height: normal;
            font-size: $default-font-size-web;
            font-weight: bold;
            display: block;
            padding-top: 20px;
          }
          a{ word-break: break-word; }
        }
      }
      .notice-avatar-container{
        position: absolute;
        bottom: 42%;
        text-align: center;
        z-index: 1;
        left: 0;
        right: 0;
        .notice{
          display: inline-block;
          background-color: $default-white;
          padding: 5px 10px;
          border-radius: 35px;
          width: 55%;
          &.reactivate{
            background-color: #00A6E0;
            p { color: #FFFFFF }
          }
          p, a{
            color: $default-orange-text;
            margin: 0;
            font-size: $default-font-size-web;
            text-align: center;
            span{
              font-weight: normal;
              display: inline-block;
              &:first-of-type{
                margin-right: 10px;
              }
            }
          }
          &.rate{
            background-color: transparent;
            border: 2px solid $default-white;
            width: 200px;
            p{ color: $default-white; }
          }
        }
        .joiner-avatar-container{
          position: absolute;
          text-align: center;
          margin-top: 25px;
          width: 100%;
          .joiner{
            list-style: none;
            display: block;
            vertical-align: middle;
            margin: 0;
            width: 100%;
            li{
              display: inline-block;
              vertical-align: middle;
              margin-left: -20px;
              div{
                background-size: cover;
                background-position: center center;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                border: 1px solid $default-white;
              }
            }
          }
          .slots-left{
            color: $default-white;
            text-align: center;
            font-size: $default-font-size-web;
            line-height: 10px;
            margin-top: 20px;
          }
        }
      }
      .share-btn{
        position: absolute;
        bottom: 10px;
        section{
          cursor: pointer;
          background-color: $default-white;
          padding: 4px 10px;
          border-radius: 100%;
          color: #2e343d;
          width: 30px;
          height: 30px;
          span { margin-right: 5px }
        }
      }
    }
  }
  .multiple-instagram-photos-slider{
    .columns{
      min-height: 28vh;
      background-size: cover;
      background-position: 50% 50%;
    }
    &:after{
      content: "";
      display: block;
      height: 55px;
      width: 100%;
      position: absolute;
      bottom: 0;
      //background-color: #FFFFFF;
    }
    .slick-arrow{
      position: absolute;
      top: 48%;
      color: $default-light-gray;
      outline: none;
      z-index: 1;
      font-size: 1.5em;
      @extend .fa-attr;
      @include transform(translateY(-50%));
      @include transition(all 0.3s ease-in-out);
      &.slick-next{
        right: -30px;
        &:before{
          content: "\f054"
        }
      }
      &.slick-prev{
        left: -30px;
        &:before{
          content: "\f053";
        }
      }
      &.slick-disabled{ display: none !important }
      &:hover{ color: $default-gray; }
    }
    .slick-list, .slick-track, .slick-slide{
      height: 100%;
    }
  }
  .multiple-instagram-photos-slider-mobile{
    margin: 0;
    width: 100%;
    .instagram-photos{
      height: 16vh;
      width: 28vw !important;
      background-size: cover;
      background-position: 50% 50%;
      margin-right: 7px;
    }
    .slick-dots{
      background-color: #FFFFFF;
      position: relative;
      bottom: 0;
      width: 100%;
      padding: 15px 10px 15px;
      list-style: none;
      margin: 0;
      text-align: center;
      border-bottom: 1px solid $default-light-gray;
      li{
        border: 1px solid $default-gray;
        display: inline-block;
        background-color: $default-white;
        margin: 0 5px;
        border-radius: 100%;
        width: 14px;
        height: 14px;
        outline: none;
        color: transparent;
        &.slick-active { background-color: $default-blue }
        button{
          outline: none;
          line-height: 0;
        }
      }
    }
  }
}

.instagram-photos-slider.slick-slider{
  position: relative;
  top: 0;
  // height: 94vh;
  overflow: hidden;
  &:hover{
    .slick-arrow.slick-next{ right: 30px }
    .slick-arrow.slick-prev{ left: 30px }
  }
  &:after{
    content: "";
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    //background-color: #FFFFFF;
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    color: $default-white;
    outline: none;
    z-index: 1;
    font-size: 2em;
    @extend .fa-attr;
    @include transform(translateY(-50%));
    @include transition(all 0.3s ease-in-out);
    &.slick-next{
      right: -50px;
      &:before{
        content: "\f054"
      }
    }
    &.slick-prev{
      left: -50px;
      &:before{
        content: "\f053";
      }
    }
  }
  &.align-arrow{
    .slick-arrow{ top: 45%; }
  }
  .slick-list, .slick-track, .slick-slide{
    height: 100%;
  }
  .slick-dots{
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 10px 15px;
    list-style: none;
    margin: 0;
    text-align: center;
    li{
      border: 1px solid $default-gray;
      display: inline-block;
      background-color: $default-white;
      margin: 0 5px;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      outline: none;
      color: transparent;
      &.slick-active { background-color: $default-blue }
      button{
        outline: none;
        line-height: 0;
      }
    }
  }
}
.rating-follow-container{
  .rating{ display: inline; }
  a{
    margin: 0px 20px;
    display: inline-block;
    text-align: center;
    width: 100px;
    font-size: $default-font-size-web;
    padding: 1px 0px;
    color: $default-blue;
    &.unfollow-button{
      background: $default-white;
      border: 1px solid $default-blue;
      border-radius: 20px;
      &:hover{
        background: $default-blue;
        color: $default-white;
      }
    }
    &.follow-button{
      background: $default-blue;
      border-radius: 20px;
      color: $default-white;
      &:hover{
        background: $default-white;
        border: 1px solid $default-blue;
        color: $default-blue;
      }
    }
    .icon{ margin-right: 3px; }
  }
}
