<% if @booking_fees.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
    <table class="payment-table">
      <thead>
      <tr>
        <th></th>
        <th>Value</th>
        <th>Created by</th>
        <th>Created at</th>
      </tr>
      </thead>

      <tbody>
        <% @booking_fees.each_with_index do |booking_fee, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= booking_fee.value %></td>
            <td><%= booking_fee.created_by %></td>
            <td><%= month_day_year_format booking_fee.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
