<div class="header">
  <h1>BOOKING FEES</h1>
  <%= form_tag booking_fees_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>

<%= simple_form_for(@booking_fee) do |f| %>
  <%= f.error_notification %>
  <ul class="inline-flex-form-group">
    <li><%= f.input :value %></li>
    <li><%= f.input :created_by, input_html: { :autocomplete => "off" } %></li>
    <li><%= f.button :submit,  "Update booking fee", class: "button" %></li>
  </ul>
<% end %>

<div id="bookingFeeLists">
  <%= render "booking_fees" %>
</div>

<div id="paginator">
  <%= paginate @booking_fees, remote: true %>
</div>
