<% if @categories.blank? %>
  <span class="alert label">No found match.</span>
<% else %>
<table class="category-list">
  <thead>
    <tr>
      <th>Category</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.decorate.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= validate_status_and_class(category) %></td>
        <td>
          <div class="button-group margin-0">
            <%= link_to icon('file'), category_path(category), class: "button info" %>
            <%= link_to icon('pencil'), edit_category_path(category), class: "button success" %>
            <%= link_to icon('trash'), category, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
