<% provide(:title, "Categories") %>

<div class="header">
  <h1>CATEGORIES</h1>
  <%= form_tag categories_path, method: :get, remote: true do %>
    <%= text_field_tag :q, nil, placeholder: "Search", autocomplete: :off , "data-submit-form" => "" %>
  <% end %>
</div>

<div id="categoryLists">
  <%= render "categories" %>
</div>

<div id="paginator">
  <%= paginate @categories, remote: true %>
</div>

<%= link_to 'ADD CATEGORY', new_category_path, class: "category-btn new" %>