<% provide(:title, "New Category") %>

<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, categories_path %>
  <h1>NEW CATEGORY</h1>
</div>

<%= render 'form' %>
