<% provide(:title, "View Category") %>

<div class="header">
  <%= link_to "<span class='ion-chevron-left'></span> Back".html_safe, categories_path %>
  <h1>CATEGORIES</h1>
</div>

<div class="category-usage">
  <p>
    <span>Category:</span>
    <span><%= @category.name %></span>
  </p>
  <%= link_to 'Edit', edit_category_path(@category), class: "category-btn edit" %> 

</div>