<div class="notification-modal__content">
  <div class="notification-modal__content__image" style="background-image:url(<%= imageURL %>)">
  </div>
  <div class="notification-modal__content__message">
    <p class="notification-modal__content__message__text"><%= message %></p>
  </div>
</div>
