<div class="notification-modal__content">
  <div class="notification-modal__content__image" style="background-image:url(<%= imageURL %>)">
    <h5 class="notification-modal__content__image__label"><%= tripName %></h5>
  </div>
  <div class="notification-modal__content__organizer-avatar" style="background-image:url(<%= organizerAvatar %>)">
  </div>
  <div class="notification-modal__content__message">
    <p class="notification-modal__content__message__text"><%= message %></p>
    <br>
    <a href="<%= waitlistCheckoutURL %>"><%= waitlistCheckoutMessage %></a>
  </div>
  <div class="notification-modal__content__link">
    <a href="<%= tripURL%>" class="notification-modal__content__link__btn">Visit Trip Page</a>
  </div>
</div>
