<%= tabs_tag open_tabs: { class: "sidebar" } do |tab| %>
  <%= tab.events                    "#{image_tag('location White.png')} Events".html_safe,       admin_path %>
  <%= tab.booking_fees              "#{image_tag('banknote White.png')} Booking_fees".html_safe, booking_fees_path %>
  <%= tab.referral_incentives       "#{image_tag('banknote White.png')} Referral Incentives".html_safe, referral_incentives_path %>
  <%= tab.categories                "#{image_tag('tag White.png')} Categories".html_safe,        categories_path %>
  <%= tab.destinations              "#{image_tag('tag White.png')} Destinations".html_safe,      destinations_path %>
  <%= tab.users                     "#{image_tag('user White.png')} Users".html_safe,            users_path %>
  <%= tab.organizer_applicants      "#{image_tag('user White.png')} Request For Organizer".html_safe,            organizer_applicants_path %>
  <%= tab.promo_codes               "#{image_tag('tag White.png')} Promo Codes".html_safe,       promo_codes_path %>
  <%= tab.payments                  "#{image_tag('banknote White.png')} Payments".html_safe,     payments_path %>
  <%= tab.users_segmentation        "#{image_tag('segment.png')} Segments".html_safe,            user_segmentations_path %>
  <%= tab.app_versions              "#{image_tag('segment.png')} App Versions".html_safe,        app_versions_path %>
  <%= tab.notifications             "#{image_tag('user White.png')} Notifications".html_safe,    custom_notification_messages_path %>
  <%= tab.mailerlite                "#{image_tag('segment.png')} Mailerlite".html_safe,          mailerlite_groups_path %>
<% end %>
