<%# The "base" layout contains boilerplate common to *all* views. %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Api Tripkada <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->
    <%= yield(:opengraphs).blank? ? default_ogp : yield(:opengraphs) %>
    <%# CSS should go closest to the top of the document as possible. %>
    <%= stylesheet_link_tag("application", :media => "all") %>
    <%= stylesheet_link_tag("admin", :media => "all") %>
    <%= yield(:page_stylesheets) %>
    <%# JavaScript must be in head for Turbolinks to work. %>
    <%= javascript_include_tag("application", async: Rails.env.production? ) %>
    <%= javascript_include_tag("admin") %>
    <%= javascript_include_tag("update_payment_status") %>
    <%= yield(:page_javascripts) %>
    <%= yield(:head) %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%# Specifies the default name of home screen bookmark in iOS 6+ %>
    <meta name="API-web-application" content="Api Tripkada" />
    <%= csrf_meta_tags %>
    <title><%= custom_title_tag %></title>
  </head>
  <body>
    <%= render("shared/admin/nav") %>
    <div class="admin-layout">
      <div class="sidebar-container">
        <%= render("shared/admin/sidenav") %>
      </div>
      <div class="item-container">
        <%= yield %>
      </div>
    </div>
    <%= render("shared/admin/footer") %>
  </body>
</html>
