<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>
<%= render("shared/loader") %>
<%= render("shared/flash") %>
<%= render("shared/fb_customer_chat_plugin") %>
<%= yield %>
<% dynamic_layout controller_name, action_name %>
