<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<%= render("shared/loader") %>
<%= render("shared/flash") %>
<%= render("shared/fb_customer_chat_plugin") %>
<%= yield %>

<% parent_layout (%w(sessions home).include?(controller.controller_name) ? "main" : "base") %>
