<%# The "base" layout contains boilerplate common to *all* views. %>

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Api Tripkada <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

<%= yield(:opengraphs).blank? ? default_ogp : yield(:opengraphs) %>
<%# CSS should go closest to the top of the document as possible. %>
<%= stylesheet_link_tag("application", :media => "all") %>
<%= stylesheet_link_tag("notification") %>
<%= stylesheet_link_tag("media_query", :media => "all") %>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.css"/>
<%= yield(:page_stylesheets) %>

<%# JavaScript must be in head for Turbolinks to work. %>
<%= javascript_include_tag("application") %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js"></script>
<%= javascript_include_tag("base") %>
<%= javascript_include_tag("update_payment_status") %>
<%= yield(:page_javascripts) %>

<%= yield(:head) %>

<%= favicon_link_tag 'favicon.ico' %>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%# Specifies the default name of home screen bookmark in iOS 6+ %>
<meta name="API-web-application" content="Api Tripkada" />

<%= csrf_meta_tags %>

<title><%= custom_title_tag %></title>
<%= render "shared/fb_pixel" %>
<link rel="manifest" href="/manifest.json">
</head>
<body>

<%= render("shared/nav") %>

<%= yield %>

<%= render("shared/footer") %>

</body>
</html>
