<%# The "base" layout contains boilerplate common to *all* views. %>

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Api Tripkada <%= Rails.application.config.version %> (<%= l(Rails.application.config.version_time) %>) -->

<%# CSS should go closest to the top of the document as possible. %>
<%= stylesheet_link_tag("application", :media => "all") %>

<%# JavaScript must be in head for Turbolinks to work. %>
<%= javascript_include_async_tag("application") %>

<%= favicon_link_tag 'favicon.ico' %>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<%# Specifies the default name of home screen bookmark in iOS 6+ %>
<meta name="API-web-application" content="Api Tripkada" />

<%= csrf_meta_tags %>

<title><%= custom_title_tag %></title>
</head>
<body>

<%= yield %>

<%= render("shared/footer") %>

</body>
</html>
